Repository influxdata/telegraf, pull requests merged in 2018-08, with the labels that each got.

#4498 Keep leading whitespace for messages in syslog input
  plugins/inputs/syslog/README.md
  plugins/inputs/syslog/rfc5426_test.go
  plugins/inputs/syslog/syslog.go
Labels: bugfix

#4481 Preserve metric type when using filters in output plugins
  internal/models/running_output.go
Labels: bugfix

#4364 Support StatisticValues in cloudwatch output plugin (#4318)
  plugins/outputs/cloudwatch/README.md
  plugins/outputs/cloudwatch/cloudwatch.go
  plugins/outputs/cloudwatch/cloudwatch_test.go
Labels: area/aws, enhancement

#4431 Add ip restriction for the prometheus_client output
  etc/telegraf.conf
  plugins/outputs/prometheus_client/README.md
  plugins/outputs/prometheus_client/prometheus_client.go
Labels: area/prometheus

#3918 Add pgbouncer input plugin
  README.md
  docker-compose.yml
  plugins/inputs/all/all.go
  plugins/inputs/pgbouncer/README.md
  plugins/inputs/pgbouncer/pgbouncer.go
  plugins/inputs/pgbouncer/pgbouncer_test.go
  plugins/inputs/postgresql/postgresql.go
  plugins/inputs/postgresql/postgresql_test.go
  plugins/inputs/postgresql/service.go
  plugins/inputs/postgresql_extensible/postgresql_extensible.go
  plugins/inputs/postgresql_extensible/postgresql_extensible_test.go
Labels: new plugin

#4510 Use explicit zpool properties to fix parse error on FreeBSD 11.2
  plugins/inputs/zfs/zfs_freebsd.go
  plugins/inputs/zfs/zfs_freebsd_test.go
Labels: bugfix, platform/bsd

#4511 Fix error message if URL is unparseable in influxdb output
  plugins/outputs/influxdb/influxdb.go
Labels: area/influxdb, bugfix

#4547 Remove duplicate "Network Interface" Section
  etc/telegraf_windows.conf
Labels: area/win_perf_counters

#4521 Set version to unknown if not set
  cmd/telegraf/telegraf.go
Labels: area/packaging, bugfix

#2689 Add ActiveMQ input plugin
  README.md
  plugins/inputs/activemq/README.md
  plugins/inputs/activemq/activemq.go
  plugins/inputs/activemq/activemq_test.go
  plugins/inputs/all/all.go
Labels: enhancement, new plugin

#4402 Wavefront parser
  docs/DATA_FORMATS_INPUT.md
  plugins/outputs/wavefront/wavefront.go
  plugins/parsers/registry.go
  plugins/parsers/wavefront/element.go
  plugins/parsers/wavefront/parser.go
  plugins/parsers/wavefront/parser_test.go
  plugins/parsers/wavefront/scanner.go
  plugins/parsers/wavefront/token.go
Labels: new plugin

#4528 Rename processor
  README.md
  plugins/processors/all/all.go
  plugins/processors/rename/README.md
  plugins/processors/rename/rename.go
  plugins/processors/rename/rename_test.go
Labels: new plugin

#4546 added gopsutil meminfo fields to mem plugin
  Gopkg.lock
  Gopkg.toml
  plugins/inputs/mem/memory.go
  plugins/inputs/mem/memory_test.go
Labels: area/system, enhancement

#4534 Continue with batch if a metric is unserializable in InfluxDB UDP output
  plugins/outputs/influxdb/udp.go
  plugins/outputs/influxdb/udp_test.go
  plugins/serializers/influx/influx.go
  plugins/serializers/influx/influx_test.go
  plugins/serializers/influx/reader.go
Labels: bugfix

#4285 Doc how to parse telegraf logs
  plugins/inputs/logparser/README.md
Labels: area/logparser, documentation

#4565 Drop message batches in kafka output if too large
  internal/models/running_output.go
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/outputs/kafka/README.md
  plugins/outputs/kafka/kafka.go
Labels: area/kafka, bugfix

#3377 Performance tweaks for internal/buffer
  internal/buffer/buffer.go
  internal/buffer/buffer_test.go
Labels: performance

#4579 Add support for static and random routing keys in kafka output
  plugins/outputs/kafka/README.md
  plugins/outputs/kafka/kafka.go
  plugins/outputs/kafka/kafka_test.go
Labels: area/kafka, enhancement

#4539 Logfmt parser
  docs/DATA_FORMATS_INPUT.md
  plugins/parsers/logfmt/parser.go
  plugins/parsers/logfmt/parser_test.go
  plugins/parsers/registry.go
Labels: new plugin

#4551 Parser processor
  metric/builder.go
  plugins/processors/all/all.go
  plugins/processors/parser/README.md
  plugins/processors/parser/parser.go
  plugins/processors/parser/parser_test.go
Labels: new plugin

#4559 Add Icinga2 input plugin #2668
  README.md
  plugins/inputs/all/all.go
  plugins/inputs/icinga2/README.md
  plugins/inputs/icinga2/icinga2.go
  plugins/inputs/icinga2/icinga2_test.go
Labels: new plugin

#4351 Feature/1363: Additional configuration for JSON parser
  docs/DATA_FORMATS_INPUT.md
  internal/config/config.go
  internal/config/config_test.go
  plugins/inputs/exec/exec_test.go
  plugins/inputs/http/http_test.go
  plugins/inputs/httpjson/httpjson.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/kafka_consumer_legacy/kafka_consumer_legacy_test.go
  plugins/inputs/mqtt_consumer/mqtt_consumer_test.go
  plugins/inputs/nats_consumer/nats_consumer_test.go
  plugins/inputs/tcp_listener/tcp_listener_test.go
  plugins/inputs/udp_listener/udp_listener_test.go
  plugins/parsers/json/parser.go
  plugins/parsers/json/parser_test.go
  plugins/parsers/registry.go
Labels: enhancement

#4584 Fix burrow_group.offset calculation for Burrow plugin
  plugins/inputs/burrow/README.md
  plugins/inputs/burrow/burrow.go
  plugins/inputs/burrow/burrow_test.go
Labels: bugfix

#4550 Ping throws error during ping failure
  plugins/inputs/ping/README.md
  plugins/inputs/ping/ping.go
Labels: enhancement

#4571 Issue 4398 - Track forwarded records
  plugins/inputs/sqlserver/sqlserver.go
Labels: area/sqlserver, enhancement

#4585 Add Kibana input plugin
  plugins/inputs/all/all.go
  plugins/inputs/kibana/README.md
  plugins/inputs/kibana/kibana.go
  plugins/inputs/kibana/kibana_test.go
  plugins/inputs/kibana/testdata_test.go
Labels: new plugin

#4439 Feature/2108 - csv parser
  docs/DATA_FORMATS_INPUT.md
  internal/config/config.go
  plugins/parsers/csv/parser.go
  plugins/parsers/csv/parser_test.go
  plugins/parsers/registry.go
Labels: new plugin

#4598 Add read_buffer_size option to statsd input
  plugins/inputs/statsd/README.md
  plugins/inputs/statsd/statsd.go
Labels: area/statsd, enhancement

#4606 Close the channel if an error occurs in cgroup input
  plugins/inputs/cgroup/cgroup_linux.go
Labels: bugfix

#4605 Remove timeout deadline for udp syslog input.
  plugins/inputs/syslog/syslog.go
Labels: area/syslog, bugfix

#4608 Use the correct GOARM value in the armel package
  scripts/build.py
Labels: area/packaging, bugfix

#4609 Fix sending of basic auth credentials in http output
  plugins/outputs/http/http.go
  plugins/outputs/http/http_test.go
Labels: bugfix

#4338 Logparser divide by zero
  plugins/parsers/grok/parser.go
  plugins/parsers/grok/parser_test.go
Labels: area/logparser, bugfix
