Repository influxdata/telegraf, pull requests merged in 2019-12, with the labels that each got.

#6673 perf(inputs/influxdb_listener): benchmark serving writes
  plugins/inputs/influxdb_listener/influxdb_listener_test.go
  testutil/accumulator.go
Labels: area/influxdb, enhancement, performance

#6735 plugins/input: filecount: Support resolution of symlinks in directory tree
  plugins/inputs/filecount/README.md
  plugins/inputs/filecount/filecount.go
  plugins/inputs/filecount/filecount_test.go
Labels: enhancement

#6669 Add MongoDB uptime_ms
  plugins/inputs/mongodb/README.md
  plugins/inputs/mongodb/mongodb_data.go
  plugins/inputs/mongodb/mongodb_data_test.go
  plugins/inputs/mongodb/mongostat.go
Labels: area/mongodb, enhancement

#6731 #6729 - add node type tag to output
  plugins/inputs/mongodb/README.md
  plugins/inputs/mongodb/mongodb_data.go
  plugins/inputs/mongodb/mongodb_data_test.go
Labels: area/mongodb, enhancement

#4532 New plugin "systemd_units" for linux
  CHANGELOG.md
  plugins/inputs/all/all.go
  plugins/inputs/systemd_units/README.md
  plugins/inputs/systemd_units/systemd_units_linux.go
  plugins/inputs/systemd_units/systemd_units_linux_test.go
  plugins/inputs/systemd_units/systemd_units_notlinux.go
Labels: new plugin

#6742 Log mongodb oplog auth errors at debug level
  plugins/inputs/mongodb/mongodb_server.go
Labels: area/mongodb, bugfix

#6743 Fix ping skips remaining hosts after dns lookup error
  plugins/inputs/ping/ping.go
Labels: bugfix

#6744 Remove trailing underscore trimming from json flattener
  plugins/parsers/json/parser.go
  plugins/parsers/json/parser_test.go
Labels: bugfix

#6745 Accept any media type in the prometheus input
  plugins/inputs/prometheus/prometheus.go
Labels: bugfix

#6740 Add base64decode operation to string processor
  plugins/processors/strings/README.md
  plugins/processors/strings/strings.go
  plugins/processors/strings/strings_test.go
Labels: enhancement

#6746 Set message timestamp to the metric time in kafka output
  plugins/outputs/kafka/kafka.go
Labels: enhancement

#6751 Allow colons in the prometheus metric name
  plugins/serializers/prometheus/collection.go
  plugins/serializers/prometheus/convert.go
  plugins/serializers/prometheus/prometheus_test.go
Labels: area/prometheus, bugfix

#6756 Fix prometheus histogram and summary merging
  plugins/serializers/prometheus/collection.go
  plugins/serializers/prometheus/collection_test.go
Labels: area/prometheus, bugfix

#6732 #6730 - report page_faults for wired tiger system
  plugins/inputs/mongodb/mongodb_data.go
  plugins/inputs/mongodb/mongodb_data_test.go
Labels: area/mongodb, enhancement

#6767 Build packages with Go 1.13.5
  .circleci/config.yml
  CHANGELOG.md
  Makefile
  appveyor.yml
  scripts/ci-1.12.docker
  scripts/ci-1.13.docker
Labels: bugfix

#6769 Fix unix socket dial arguments in uwsgi input
  plugins/inputs/uwsgi/uwsgi.go
Labels: bugfix

#6780 Use actual database name in db creation failed log
  plugins/outputs/influxdb/influxdb.go
Labels: area/influxdb, bugfix

#6781 Replace colon chars in prometheus output labels with metric_version=1
  plugins/outputs/prometheus_client/prometheus_client_v1_test.go
  plugins/outputs/prometheus_client/v1/collector.go
  plugins/serializers/prometheus/prometheus_test.go
Labels: area/prometheus, bugfix

#6785 add documentation to SNMP trap plugin about listening on port < 1024
  plugins/inputs/snmp_trap/README.md
  plugins/inputs/snmp_trap/snmp_trap.go
Labels: area/snmp, documentation

#6773 csv: TrimLeadingSpace when TrimSpace is on
  plugins/parsers/csv/parser.go
  plugins/parsers/csv/parser_test.go
Labels: bugfix

#6790 MySQL - Option for collecting global variables
  plugins/inputs/mysql/README.md
  plugins/inputs/mysql/mysql.go
Labels: area/mysql, enhancement

#6793 Interpret SNMP v1 traps as described in RFC 2576 3.1
  plugins/inputs/snmp_trap/snmp_trap.go
  plugins/inputs/snmp_trap/snmp_trap_test.go
Labels: area/snmp, enhancement

#6797 Fix off by one bug in snmp trap v1 generic trap field
  plugins/inputs/snmp_trap/snmp_trap.go
Labels: area/snmp, bugfix

#6796 Added missing HTTP basic auth credentials for stats endpoint
  plugins/inputs/haproxy/README.md
Labels: documentation

#6794 Azure SQL Database Query Fix
  plugins/inputs/sqlserver/sqlserver.go
Labels: area/sqlserver, bugfix

#6798 Add use_sudo option to ipmi_sensor input
  plugins/inputs/ipmi_sensor/README.md
  plugins/inputs/ipmi_sensor/ipmi.go
Labels: enhancement

#6764 Kubernetes input plugin PodLabels
  plugins/inputs/kubernetes/README.md
  plugins/inputs/kubernetes/kubernetes.go
  plugins/inputs/kubernetes/kubernetes_pods.go
  plugins/inputs/kubernetes/kubernetes_test.go
Labels: area/k8s, enhancement

#6810 Sort alphabetically plugin lists
  cmd/telegraf/telegraf.go
Labels: enhancement

#6803 Convert snmp_trap_test.go to table test
  plugins/inputs/snmp_trap/snmp_trap.go
  plugins/inputs/snmp_trap/snmp_trap_test.go
Labels: area/snmp, bugfix

#6770 unbound: expose unbound-control config file option
  etc/telegraf.conf
  plugins/inputs/unbound/README.md
  plugins/inputs/unbound/unbound.go
  plugins/inputs/unbound/unbound_test.go
Labels: enhancement

#6508 Added a new nginx plus api endpoints
  plugins/inputs/nginx_plus_api/README.md
  plugins/inputs/nginx_plus_api/nginx_plus_api.go
  plugins/inputs/nginx_plus_api/nginx_plus_api_metrics.go
  plugins/inputs/nginx_plus_api/nginx_plus_api_metrics_test.go
  plugins/inputs/nginx_plus_api/nginx_plus_api_types.go
Labels: enhancement

#6823 Config fields for prometheus serializer missing at serializer config
  internal/config/config.go
Labels: area/prometheus, bugfix

#6806 Fix panic on connection loss with undelivered messages
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
Labels: area/mqtt, bugfix

#6802 Rewrite documentation for snmp input
  plugins/inputs/snmp/CONFIG-EXAMPLES.md
  plugins/inputs/snmp/DEBUGGING.md
  plugins/inputs/snmp/README.md
  plugins/inputs/snmp/snmp.go
  plugins/inputs/snmp/snmp_test.go
  plugins/inputs/snmp_trap/README.md
Labels: area/snmp, documentation

#6818 Input Sqlserver -binary hash converted to string
  plugins/inputs/sqlserver/sqlserver.go
Labels: area/sqlserver, bugfix

#6835 [Input: Diskio] Invalid diskinfo cache if the device Mtim has changed
  plugins/inputs/diskio/diskio_linux.go
Labels: bugfix
