Repository influxdata/telegraf, pull requests merged in 2020-08, with the labels that each got.

#7902 Update README.md
  plugins/inputs/influxdb/README.md
Labels: documentation

#7904 add additional metrics to clickhouse input plugin
  plugins/inputs/clickhouse/README.md
  plugins/inputs/clickhouse/clickhouse.go
  plugins/inputs/clickhouse/clickhouse_test.go
  plugins/inputs/clickhouse/dev/docker-compose.yml
  plugins/inputs/clickhouse/dev/part_log.xml
  plugins/inputs/clickhouse/dev/telegraf.conf
  plugins/inputs/clickhouse/dev/telegraf_ssl.conf
  plugins/inputs/clickhouse/dev/test_dictionary.xml
  plugins/inputs/clickhouse/dev/text_log.xml
  plugins/inputs/clickhouse/dev/zookeeper.xml
Labels: enhancement

#7881 Dynatrace output plugin
  .gitignore
  plugins/outputs/all/all.go
  plugins/outputs/dynatrace/README.md
  plugins/outputs/dynatrace/dynatrace.go
  plugins/outputs/dynatrace/dynatrace_test.go
Labels: new plugin

#7922 Proxmox plugin
  go.mod
  plugins/inputs/all/all.go
  plugins/inputs/proxmox/README.md
  plugins/inputs/proxmox/proxmox.go
  plugins/inputs/proxmox/proxmox_test.go
  plugins/inputs/proxmox/structs.go
Labels: new plugin

#7994 Dynatrace Plugin - Updated Documentation
  README.md
  plugins/outputs/dynatrace/README.md
Labels: documentation

#7965 Fix configuration.md formatting
  docs/CONFIGURATION.md
Labels: documentation

#7980 add example input/outputs to starlark examples
  plugins/processors/starlark/testdata/number_logic.star
  plugins/processors/starlark/testdata/ratio.star
  plugins/processors/starlark/testdata/rename.star
  plugins/processors/starlark/testdata/scale.star
Labels: documentation

#8020 improve the quality of starlark docs by executing them as tests
  plugins/processors/starlark/README.md
  plugins/processors/starlark/starlark_test.go
  plugins/processors/starlark/testdata/number_logic.star
  plugins/processors/starlark/testdata/pivot.star
  plugins/processors/starlark/testdata/ratio.star
  plugins/processors/starlark/testdata/rename.star
  plugins/processors/starlark/testdata/scale.star
  plugins/processors/starlark/testdata/value_filter.star
Labels: area/starlark, documentation, enhancement

#8026 Fixed issue 7878 (vSphere missing clustername)
  plugins/inputs/vsphere/endpoint.go
  plugins/inputs/vsphere/vsphere_test.go
  plugins/outputs/wavefront/wavefront.go
Labels: area/vsphere, bugfix

#8018 Add addTag debugg in ifname plugin
  plugins/processors/ifname/ifname.go
Labels: area/ifname

#8001 Create external plugins doc file and update contributing guide
  CONTRIBUTING.md
  docs/EXTERNAL_PLUGINS.md
Labels: documentation

#8025 Add set, and histogram reporting to aerospike telegraf plugin
  docker-compose.yml
  plugins/inputs/aerospike/README.md
  plugins/inputs/aerospike/aerospike.go
  plugins/inputs/aerospike/aerospike_test.go
Labels: area/aerospike, enhancement
