Repository influxdata/telegraf, pull requests merged in 2020-12, with the labels that each got.

#8276 Update grok package to support for field names containing '-' and '.'
  go.mod
  go.sum
  plugins/parsers/grok/parser_test.go
Labels: bugfix, ready to merge

#7778 Introduce a dedicated parser for prometheus
  docs/DATA_FORMATS_INPUT.md
  plugins/inputs/prometheus/parser.go
  plugins/inputs/prometheus/prometheus.go
  plugins/parsers/prometheus/README.md
  plugins/parsers/prometheus/common/helpers.go
  plugins/parsers/prometheus/parser.go
  plugins/parsers/prometheus/parser_test.go
  plugins/parsers/registry.go
Labels: area/prometheus, new plugin

#8389 Add node groups to opcua input plugin
  plugins/inputs/opcua/README.md
  plugins/inputs/opcua/opcua_client.go
  plugins/inputs/opcua/opcua_client_test.go
Labels: area/opcua

#8464 Add column measurement_db_type to output of all queries
  plugins/inputs/sqlserver/sqlserver.go
Labels: area/sqlserver, enhancement

#8462 sqlAzureMIRequests - remove duplicate column [session_db_name]
  plugins/inputs/sqlserver/azuresqlqueries.go
Labels: area/sqlserver, enhancement

#8368 Added tags for monitoring readable secondaries for Azure SQL DB
  plugins/inputs/sqlserver/azuresqlqueries.go
Labels: area/sqlserver

#8498 fixed network test
  plugins/inputs/http_response/http_response.go
  plugins/inputs/http_response/http_response_test.go
Labels: bugfix

#8254 Fix carbon2 tests
  plugins/serializers/carbon2/carbon2_test.go
Labels: bugfix, ready to merge

#8499 Adding support for new lines in influx line protocol fields.
  plugins/processors/execd/execd.go
  plugins/processors/execd/execd_test.go
Labels: bugfix

#8426 Add support to convert snmp hex strings to integers
  plugins/inputs/snmp/README.md
  plugins/inputs/snmp/snmp.go
  plugins/inputs/snmp/snmp_test.go
Labels: area/snmp, enhancement, ready to merge

#8379 SQL Server HA/DR Availability Group queries
  etc/telegraf.conf
  plugins/inputs/sqlserver/README.md
  plugins/inputs/sqlserver/sqlserver.go
  plugins/inputs/sqlserver/sqlserverqueries.go
Labels: area/sqlserver, enhancement

#8369 Added tags for monitoring readable secondaries for Azure SQL MI
  plugins/inputs/sqlserver/azuresqlqueries.go
Labels: area/sqlserver

#7345 Fix #7344: Add percentiles to the ping plugin
  plugins/inputs/ping/README.md
  plugins/inputs/ping/ping.go
  plugins/inputs/ping/ping_test.go
Labels: area/ping, enhancement, ready to merge

#8038 feat(plugins/input/jenkins): add build number field to jenkins_job measurement
  plugins/inputs/jenkins/README.md
  plugins/inputs/jenkins/jenkins.go
  plugins/inputs/jenkins/jenkins_test.go
Labels: enhancement, ready to merge

#8505 Fixed minor issue in datacenter name lookup code
  plugins/inputs/vsphere/endpoint.go
Labels: area/vsphere, bugfix, ready to merge

#8512 Update string parsing of allocatable cpu cores in kube_inventory
  plugins/inputs/kube_inventory/README.md
  plugins/inputs/kube_inventory/node.go
  plugins/inputs/kube_inventory/node_test.go
Labels: area/k8s, enhancement, ready to merge

#8488 New Intel PowerStat input plugin
  README.md
  plugins/inputs/all/all.go
  plugins/inputs/intel_powerstat/README.md
  plugins/inputs/intel_powerstat/dto.go
  plugins/inputs/intel_powerstat/file.go
  plugins/inputs/intel_powerstat/file_mock_test.go
  plugins/inputs/intel_powerstat/intel_powerstat.go
  plugins/inputs/intel_powerstat/intel_powerstat_notlinux.go
  plugins/inputs/intel_powerstat/intel_powerstat_test.go
  plugins/inputs/intel_powerstat/msr.go
  plugins/inputs/intel_powerstat/msr_mock_test.go
  plugins/inputs/intel_powerstat/msr_test.go
  plugins/inputs/intel_powerstat/rapl.go
  plugins/inputs/intel_powerstat/rapl_mock_test.go
  plugins/inputs/intel_powerstat/rapl_test.go
  plugins/inputs/intel_powerstat/unit_converter.go
Labels: new plugin, ready to merge

#8500 [inputs.github] Add query of pull-request statistics
  plugins/inputs/github/README.md
  plugins/inputs/github/github.go
Labels: enhancement, ready to merge

#8472 Fixing issue with missing metrics when pod has only pending containers
  plugins/inputs/kube_inventory/README.md
  plugins/inputs/kube_inventory/pod.go
  plugins/inputs/kube_inventory/pod_test.go
Labels: area/k8s, bugfix

#8528 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#6132 Add per user metrics to mysql input
  plugins/inputs/mysql/README.md
  plugins/inputs/mysql/mysql.go
Labels: area/mysql, enhancement, ready to merge

#8532 add boolean info to json parser readme
  plugins/parsers/json/README.md
Labels: area/json, documentation

#8573 Typo in INPUTS.md
  docs/INPUTS.md
Labels: documentation

#8360 Add prometheus remote write serializer
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/serializers/prometheusremotewrite/README.md
  plugins/serializers/prometheusremotewrite/prometheusremotewrite.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite_test.go
  plugins/serializers/registry.go
Labels: area/prometheus

#8562 fix issue with mqtt concurrent map write
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/inputs/mqtt_consumer/mqtt_consumer_test.go
Labels: area/mqtt, ready to merge

#8569 update inputs.influxdb readme
  plugins/inputs/influxdb/README.md
Labels: area/influxdb, documentation, ready to merge

#8579 Add wildcard tags json parser support
  plugins/parsers/json/README.md
  plugins/parsers/json/parser.go
  plugins/parsers/json/parser_test.go
Labels: area/json, enhancement

#8590 [ethtool] interface_up field added
  plugins/inputs/ethtool/README.md
  plugins/inputs/ethtool/ethtool.go
  plugins/inputs/ethtool/ethtool_linux.go
  plugins/inputs/ethtool/ethtool_test.go
Labels: enhancement

#6061 Add more verbose errors to influxdb output
  plugins/outputs/influxdb/http.go
Labels: area/influxdb, error handling

#8543 Add configurable number of 'most recent' date-stamped indices to gather in Elasticsearch input
  plugins/inputs/elasticsearch/README.md
  plugins/inputs/elasticsearch/elasticsearch.go
  plugins/inputs/elasticsearch/elasticsearch_test.go
  plugins/inputs/elasticsearch/testdata_test.go
Labels: area/elasticsearch, enhancement

#8524 Add hex_key parameter for IPMI input plugin connection
  plugins/inputs/ipmi_sensor/README.md
  plugins/inputs/ipmi_sensor/connection.go
  plugins/inputs/ipmi_sensor/connection_test.go
  plugins/inputs/ipmi_sensor/ipmi.go
  plugins/inputs/ipmi_sensor/ipmi_test.go
Labels: enhancement, ready to merge

#8502 [http_listener_v2] Stop() succeeds even if fails to start
  plugins/inputs/http_listener_v2/http_listener_v2.go
  plugins/inputs/http_listener_v2/http_listener_v2_test.go
Labels: bugfix, ready to merge

#8552 improve the error log message for snmp trap
  plugins/inputs/snmp_trap/snmp_trap.go
Labels: area/snmp, error handling, ready to merge

#8287 Add support for an inclusive job list in Jenkins plugin
  plugins/inputs/jenkins/README.md
  plugins/inputs/jenkins/jenkins.go
  plugins/inputs/jenkins/jenkins_test.go
Labels: enhancement, ready to merge

#6165 Provide method to include core count when reporting cpu_usage in procstat input
  plugins/inputs/procstat/README.md
  plugins/inputs/procstat/procstat.go
Labels: area/procstat, enhancement, ready to merge

#8541 Extended SNMPv3 Polling privProtocol Support
  internal/snmp/wrapper.go
  plugins/inputs/snmp/README.md
  plugins/inputs/snmp/snmp_test.go
Labels: area/snmp, enhancement, ready to merge

#8164 Fix spelling and clarify docs
  plugins/processors/topk/README.md
Labels: documentation

#7897 common/tls: Allow specifying SNI hostnames
  docs/TLS.md
  plugins/common/tls/config.go
  plugins/common/tls/config_test.go
  plugins/inputs/http_response/README.md
  plugins/inputs/http_response/http_response.go
  plugins/inputs/http_response/http_response_test.go
  plugins/inputs/x509_cert/README.md
  plugins/inputs/x509_cert/x509_cert.go
  plugins/inputs/x509_cert/x509_cert_test.go
Labels: enhancement, ready to merge

#8600 update intel powerstat readme
  plugins/inputs/intel_powerstat/README.md
Labels: documentation

#8055 outputs/http: add option to control idle connection timeout
  plugins/outputs/http/README.md
  plugins/outputs/http/http.go
Labels: enhancement, ready to merge
