Repository influxdata/telegraf, pull requests merged in 2020-01, with the labels that each got.

#6825 Fix race condition in logparser tests
  plugins/inputs/logparser/logparser_test.go
Labels: area/tail, bugfix

#6801 Show platform not supported warning only on plugin creation
  plugins/inputs/ethtool/ethtool.go
  plugins/inputs/ethtool/ethtool_notlinux.go
  plugins/inputs/synproxy/synproxy.go
  plugins/inputs/synproxy/synproxy_linux.go
  plugins/inputs/synproxy/synproxy_notlinux.go
  plugins/inputs/wireless/wireless.go
  plugins/inputs/wireless/wireless_notlinux.go
Labels: bugfix

#6350 Add kafka SASL version control to kafka_consumer
  plugins/common/kafka/sasl.go
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/zookeeper/README.md
  plugins/outputs/kafka/README.md
  plugins/outputs/kafka/kafka.go
Labels: area/kafka, enhancement

#6849 Update github.com/kardianos/service to 1.0.0
  Gopkg.lock
  Gopkg.toml
Labels: bugfix

#6819 Report rabbitmq_node measurement and return on gather error
  plugins/inputs/rabbitmq/rabbitmq.go
Labels: bugfix

#6856 Fix example error in doc
  plugins/processors/pivot/README.md
Labels: documentation

#6805 Update merge aggregator config file in README.md
  plugins/aggregators/merge/README.md
  plugins/aggregators/merge/merge.go
Labels: documentation

#6848 Use last path element as field key if path fully specified
  plugins/inputs/cisco_telemetry_gnmi/cisco_telemetry_gnmi.go
  plugins/inputs/cisco_telemetry_gnmi/cisco_telemetry_gnmi_test.go
Labels: bugfix

#6852 Add cardinality tips to FAQ and sqlserver input
  docs/FAQ.md
  plugins/inputs/sqlserver/README.md
Labels: area/sqlserver, documentation

#6869 Adding RBPEX stats collection, DBName for perfmon, proper type for resource stats
  plugins/inputs/sqlserver/sqlserver.go
Labels: area/sqlserver

#6733 #6725 - add latency stats to mongo input
  plugins/inputs/mongodb/README.md
  plugins/inputs/mongodb/mongodb_data.go
  plugins/inputs/mongodb/mongodb_data_test.go
  plugins/inputs/mongodb/mongostat.go
  plugins/inputs/mongodb/mongostat_test.go
Labels: area/mongodb, enhancement

#1923 Warp10
  README.md
  plugins/outputs/all/all.go
  plugins/outputs/warp10/README.md
  plugins/outputs/warp10/warp10.go
  plugins/outputs/warp10/warp10_test.go
Labels: enhancement, new plugin

#6891 Warn without error when processes input is started on Windows
  plugins/inputs/processes/README.md
  plugins/inputs/processes/processes.go
  plugins/inputs/processes/processes_notwindows.go
  plugins/inputs/processes/processes_windows.go
Labels: bugfix, platform/windows

#6893 skip all blocks except certificates, closes #6890
  CHANGELOG.md
  plugins/inputs/x509_cert/x509_cert.go
  plugins/inputs/x509_cert/x509_cert_test.go
Labels: bugfix

#6884 [inputs.vsphere] Added custom attributes for all resource types
  plugins/inputs/vsphere/endpoint.go
  plugins/inputs/vsphere/finder.go
Labels: area/vsphere, bugfix

#6886 Add date offset option to date processor
  CHANGELOG.md
  plugins/processors/date/README.md
  plugins/processors/date/date.go
  plugins/processors/date/date_test.go
Labels: enhancement

#6899 Support URL agent address form with udp in snmp input
  plugins/inputs/snmp/snmp.go
  plugins/inputs/snmp/snmp_test.go
Labels: area/snmp, bugfix

#6861 [inputs.vsphere] Deprecated force_discovery_on_init flag
  plugins/inputs/vsphere/endpoint.go
  plugins/inputs/vsphere/vsphere.go
Labels: area/vsphere

#6638 Record Device Fields Regardless of Attribute Flag
  plugins/inputs/smart/smart.go
Labels: area/smart, bugfix

#6902 change comment for config dns_lookup
  plugins/inputs/ntpq/README.md
Labels: documentation

#6908 Do not add invalid timestamps to kafka messages
  plugins/outputs/kafka/kafka.go
Labels: bugfix

#6910 Document workaround for truncated powershell scripts
  plugins/inputs/exec/README.md
Labels: area/exec, documentation

#6859 [inputs.vsphere] Exclude resources by inventory path
  plugins/inputs/vsphere/README.md
  plugins/inputs/vsphere/endpoint.go
  plugins/inputs/vsphere/finder.go
  plugins/inputs/vsphere/vsphere.go
  plugins/inputs/vsphere/vsphere_test.go
Labels: area/vsphere

#6631 Add a new input plugin for InfiniBand card/port statistics
  Gopkg.lock
  Gopkg.toml
  plugins/inputs/all/all.go
  plugins/inputs/infiniband/README.md
  plugins/inputs/infiniband/infiniband.go
  plugins/inputs/infiniband/infiniband_linux.go
  plugins/inputs/infiniband/infiniband_notlinux.go
  plugins/inputs/infiniband/infiniband_test.go
Labels: new plugin

#6912 Use Go modules for dependency management
  .circleci/config.yml
  Makefile
  README.md
  appveyor.yml
  go.mod
  go.sum
  plugins/inputs/syslog/syslog.go
  plugins/outputs/syslog/syslog.go
  plugins/outputs/syslog/syslog_mapper.go
  scripts/build.py
Labels: area/packaging

#6909 Hook up json_strict option with default of true
  internal/config/config.go
  internal/config/config_test.go
  plugins/parsers/json/README.md
Labels: area/json, bugfix

#6700 Allow a user defined field to be used as the graylog short_message
  plugins/outputs/graylog/README.md
  plugins/outputs/graylog/graylog.go
Labels: enhancement

#6917 Add server_name override for x509_cert plugin
  plugins/inputs/x509_cert/README.md
  plugins/inputs/x509_cert/x509_cert.go
Labels: enhancement

#6850 Add input plugin for monit
  plugins/inputs/all/all.go
  plugins/inputs/monit/README.md
  plugins/inputs/monit/monit.go
  plugins/inputs/monit/monit_test.go
  plugins/inputs/monit/testdata/response_invalidxml_1.xml
  plugins/inputs/monit/testdata/response_invalidxml_2.xml
  plugins/inputs/monit/testdata/response_invalidxml_3.xml
  plugins/inputs/monit/testdata/response_servicetype_0.xml
  plugins/inputs/monit/testdata/response_servicetype_1.xml
  plugins/inputs/monit/testdata/response_servicetype_2.xml
  plugins/inputs/monit/testdata/response_servicetype_3.xml
  plugins/inputs/monit/testdata/response_servicetype_4.xml
  plugins/inputs/monit/testdata/response_servicetype_5.xml
  plugins/inputs/monit/testdata/response_servicetype_6.xml
  plugins/inputs/monit/testdata/response_servicetype_7.xml
  plugins/inputs/monit/testdata/response_servicetype_8.xml
  plugins/inputs/monit/testdata/response_servicetype_8_failure.xml
  plugins/inputs/monit/testdata/response_servicetype_8_initializingmode.xml
  plugins/inputs/monit/testdata/response_servicetype_8_passivemode.xml
  plugins/inputs/monit/testdata/response_servicetype_8_pendingaction.xml
Labels: new plugin

#6921 Add udp internal metrics for the statsd input
  plugins/inputs/statsd/statsd.go
Labels: area/statsd, enhancement, performance

#6923 Kibana Input Plugin: added compatibility for all 6.X.X versions
  plugins/inputs/kibana/README.md
  plugins/inputs/kibana/kibana.go
  plugins/inputs/kibana/kibana_test.go
  plugins/inputs/kibana/testdata_test6_3.go
  plugins/inputs/kibana/testdata_test6_5.go
Labels: bugfix, enhancement

#6914 Add rs name tag branch
  plugins/inputs/mongodb/README.md
  plugins/inputs/mongodb/mongodb_data.go
  plugins/inputs/mongodb/mongodb_data_test.go
Labels: area/mongodb, enhancement

#6154 Modbus Input plugin
  go.mod
  go.sum
  plugins/inputs/all/all.go
  plugins/inputs/modbus/.README.md.swp
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/modbus_test.go
Labels: new plugin, vert/iot

#6960 Fix duplicate TrackingIDs returned
  metric/tracking.go
  metric/tracking_test.go
Labels: area/agent, bugfix
