Repository influxdata/telegraf, pull requests merged in 2020-10, with the labels that each got.

#8150 New input plugin for Intel RDT (Intel Resource Director Technology)
  README.md
  go.mod
  plugins/inputs/all/all.go
  plugins/inputs/intel_rdt/README.md
  plugins/inputs/intel_rdt/intel_rdt.go
  plugins/inputs/intel_rdt/intel_rdt_test.go
  plugins/inputs/intel_rdt/intel_rdt_windows.go
  plugins/inputs/intel_rdt/processes.go
  plugins/inputs/intel_rdt/publisher.go
  plugins/inputs/intel_rdt/publisher_test.go
Labels: new plugin

#8114 New input plugin for RAS (Reliability, Availability and Serviceability)
  README.md
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/all.go
  plugins/inputs/ras/README.md
  plugins/inputs/ras/ras.go
  plugins/inputs/ras/ras_test.go
  plugins/inputs/ras/ras_windows.go
Labels: new plugin

#8198 change influxdb port 9999 to 8086
  docs/CONFIGURATION.md
  plugins/inputs/influxdb_v2_listener/README.md
  plugins/inputs/influxdb_v2_listener/influxdb_v2_listener.go
  plugins/outputs/influxdb_v2/README.md
  plugins/outputs/influxdb_v2/influxdb.go
  plugins/outputs/influxdb_v2/influxdb_test.go
Labels: area/influxdb

#8082 Add agent host tag configuration option
  plugins/inputs/snmp/README.md
  plugins/inputs/snmp/snmp.go
  plugins/inputs/snmp/snmp_test.go
Labels: area/snmp

#8239 Add the Timestream Output Plugin
  config/aws/credentials.go
  go.mod
  go.sum
  plugins/outputs/all/all.go
  plugins/outputs/timestream/README.md
  plugins/outputs/timestream/timestream.go
  plugins/outputs/timestream/timestream_internal_test.go
  plugins/outputs/timestream/timestream_test.go
Labels: area/aws, new plugin

#8216 Fix win_eventlog timestamps
  plugins/inputs/win_eventlog/README.md
  plugins/inputs/win_eventlog/win_eventlog.go
Labels: bugfix

#8290 Fix wrong memory measurements of containers and vms
  plugins/inputs/proxmox/README.md
  plugins/inputs/proxmox/proxmox.go
  plugins/inputs/proxmox/proxmox_test.go
  plugins/inputs/proxmox/structs.go
Labels: bugfix

#8202 A new Logz.io output plugin
  README.md
  plugins/outputs/all/all.go
  plugins/outputs/logzio/README.md
  plugins/outputs/logzio/logzio.go
  plugins/outputs/logzio/logzio_test.go
Labels: new plugin
