Repository influxdata/telegraf, pull requests merged in 2021-01, with the labels that each got.

#8646 Open Hardware Monitor
  EXTERNAL_PLUGINS.md
Labels: external plugin, ready to merge

#8647 add Open Hardware Monitor as external plugin
  EXTERNAL_PLUGINS.md
Labels: documentation, external plugin

#8588 Input SNMP plugin - upgrade gosnmp library to version 1.29.0
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  internal/snmp/wrapper.go
  plugins/inputs/snmp/snmp.go
  plugins/inputs/snmp/snmp_test.go
Labels: area/snmp, enhancement, ready to merge

#8545 Using mime-type in prometheus parser to handle protocol-buffer responses
  plugins/inputs/prometheus/prometheus.go
  plugins/parsers/prometheus/parser.go
  plugins/parsers/prometheus/parser_test.go
Labels: area/prometheus, bugfix, ready to merge

#8391 Optimize SeriesGrouper & aggregators.merge
  metric/series_grouper.go
  metric/series_grouper_test.go
  plugins/aggregators/merge/merge.go
  plugins/aggregators/merge/merge_test.go
Labels: enhancement, ready to merge

#6653 Add Beat input plugin
  plugins/inputs/all/all.go
  plugins/inputs/beat/README.md
  plugins/inputs/beat/beat.go
  plugins/inputs/beat/beat6_info.json
  plugins/inputs/beat/beat6_stats.json
  plugins/inputs/beat/beat_test.go
Labels: area/elasticsearch, new plugin

#8602 Add timestamp column support to postgresql_extensible
  plugins/inputs/postgresql_extensible/README.md
  plugins/inputs/postgresql_extensible/postgresql_extensible.go
  plugins/inputs/postgresql_extensible/postgresql_extensible_test.go
Labels: area/postgresql, enhancement, ready to merge

#8674 update data formats output list
  docs/DATA_FORMATS_OUTPUT.md
Labels: documentation

#8658 Procstat input plugin should use the same timestamp in all metrics in the same Gather() cycle.
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/procstat_test.go
Labels: area/procstat, enhancement

#8609 Use the 'measurement' json field from the particle webhook event as the measurement name, or if it's blank, use the 'name' field of the event's json.
  plugins/inputs/webhooks/particle/particle_webhooks.go
  plugins/inputs/webhooks/particle/particle_webhooks_test.go
Labels: area/json, ready to merge

#8659 GNMI plugin should not take off the first character of field keys when no 'alias path' exists.
  plugins/inputs/gnmi/gnmi.go
Labels: area/gnmi, bugfix

#8678 Fix redis output type inconsistencies
  plugins/inputs/redis/redis.go
  plugins/inputs/redis/redis_test.go
Labels: area/redis, bugfix

#8683 update readme: prometheus remote write
  plugins/serializers/prometheusremotewrite/README.md
Labels: area/prometheus, documentation

#8616 Add Event Log support for Windows
  cmd/telegraf/telegraf_windows.go
  logger/event_logger.go
  logger/event_logger_test.go
Labels: area/windows, enhancement, platform/windows

#8720 fix: remove ambiguity on '\v' from line-protocol parser
  plugins/parsers/influx/machine.go
  plugins/parsers/influx/machine.go.rl
Labels: bugfix

#8335 Add setting to enable caching in ipmitool
  plugins/inputs/ipmi_sensor/README.md
  plugins/inputs/ipmi_sensor/ipmi.go
Labels: enhancement, ready to merge

#8741 fix x509 cert timeout issue
  plugins/inputs/x509_cert/x509_cert.go
  plugins/inputs/x509_cert/x509_cert_test.go
Labels: bugfix

#8679 Use go-ping for "native" execution in Ping plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/ping/ping.go
  plugins/inputs/ping/ping_test.go
Labels: area/ping, enhancement

#7967 Fix crash in lustre2 input plugin, when field name and value
  plugins/inputs/lustre2/lustre2.go
  plugins/inputs/lustre2/lustre2_test.go
Labels: bugfix, ready to merge

#7533 improve mntr regex to match user specific keys.
  plugins/inputs/zookeeper/zookeeper.go
Labels: bugfix, ready to merge

#8734 Add line to template docs about measurement
  docs/TEMPLATE_PATTERN.md
Labels: documentation, ready to merge

#8662 [outputs.influxdb_v2] add exponential backoff, and respect client error responses
  plugins/outputs/influxdb_v2/http.go
  plugins/outputs/influxdb_v2/http_internal_test.go
Labels: area/influxdb, enhancement, plugin/output, ready to merge

#8764 inputs.ping regression: Add back required "hostPinger" function for "exec" method
  plugins/inputs/ping/ping.go
  plugins/inputs/ping/ping_test.go
Labels: area/ping, bugfix, ready to merge
