Repository influxdata/telegraf, pull requests merged in 2021-02, with the labels that each got.

#8749 Add HTTP proxy setting to New Relic output plugin
  plugins/outputs/newrelic/README.md
  plugins/outputs/newrelic/newrelic.go
  plugins/outputs/newrelic/newrelic_test.go
Labels: enhancement, plugin/output, ready to merge

#8782 Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#8707 AWS EC2 metadata processor Using StreamingProcessor
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/common/parallel/ordered.go
  plugins/common/parallel/parallel.go
  plugins/common/parallel/parallel_test.go
  plugins/common/parallel/unordered.go
  plugins/processors/all/all.go
  plugins/processors/aws/ec2/README.md
  plugins/processors/aws/ec2/ec2.go
  plugins/processors/aws/ec2/ec2_test.go
  plugins/processors/ifname/ifname.go
  plugins/processors/reverse_dns/reversedns.go
Labels: new plugin, plugin/processor

#8496 Increase build verbosity with go mod download -x
  Makefile
Labels: enhancement

#8787 Update README for inputs.ping with correct cmd for native ping on Linux
  plugins/inputs/ping/README.md
Labels: bugfix, ready to merge

#8839 Fix percentile calculations and assign Deadline correctly
  plugins/inputs/ping/ping.go
  plugins/inputs/ping/ping_test.go
Labels: area/ping, bugfix, ready to merge

#8804 Expose v4/v6-only connection-schemes through GosnmpWrapper
  internal/snmp/wrapper.go
  plugins/inputs/snmp/README.md
  plugins/inputs/snmp/snmp.go
Labels: area/snmp, enhancement, plugin/input, ready to merge

#8775 Validate the response from InfluxDB after writing/creating a database to avoid json parsing panics/errors
  plugins/outputs/influxdb/http.go
  plugins/outputs/influxdb/http_test.go
Labels: bugfix, ready to merge

#8821 Fix reconnection issues mqtt
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/inputs/mqtt_consumer/mqtt_consumer_test.go
Labels: bugfix

#8803 Add default retry for load config via url
  config/config.go
  config/config_test.go
Labels: enhancement

#8846 update min Go version in Telegraf readme
  README.md
Labels: bugfix, documentation

#8824 inputs.x509_cert: Fix timeout issue
  plugins/inputs/x509_cert/x509_cert.go
Labels: bugfix, ready to merge

#8657 outputs/warp10: url encode comma in tags value
  plugins/outputs/warp10/warp10.go
  plugins/outputs/warp10/warp10_test.go
Labels: enhancement, ready to merge

#8179 Add support for datadog distributions metric
  etc/telegraf.conf
  plugins/inputs/statsd/README.md
  plugins/inputs/statsd/statsd.go
  plugins/inputs/statsd/statsd_test.go
Labels: area/statsd, enhancement, plugin/input, ready to merge

#8613 Support exclamation mark to create non-matching list in tail plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  internal/globpath/globpath.go
  internal/globpath/globpath_test.go
  internal/globpath/testdata/log[!.log
  plugins/inputs/phpfpm/phpfpm.go
  plugins/inputs/phpfpm/phpfpm_test.go
  plugins/inputs/tail/README.md
  plugins/inputs/tail/tail.go
Labels: area/tail, enhancement, ready to merge

#8813 added member_id as tag(as it is a unique value) for redfish plugin and added address of the server when the status is other than 200 for better debugging
  plugins/inputs/redfish/README.md
  plugins/inputs/redfish/redfish.go
  plugins/inputs/redfish/redfish_test.go
Labels: area/redfish, enhancement

#7316 plugins/filestat: Skip missing files
  plugins/inputs/filestat/filestat.go
  plugins/inputs/filestat/filestat_test.go
Labels: bugfix, ready to merge

#8594 Add quantile aggregator plugin
  go.mod
  go.sum
  plugins/aggregators/all/all.go
  plugins/aggregators/quantile/README.md
  plugins/aggregators/quantile/algorithms.go
  plugins/aggregators/quantile/quantile.go
  plugins/aggregators/quantile/quantile_test.go
Labels: new plugin, plugin/aggregator, ready to merge

#8798 Run revive linter in CI
  .circleci/config.yml
  .golangci.yml
  Makefile
Labels: enhancement, ready to merge

#8873 Fix mutex locking around ifname cache
  plugins/processors/ifname/ifname.go
Labels: bugfix, ready to merge

#8393 SQL Perfmon counters - synced queries from v2 to all db types
  plugins/inputs/sqlserver/azuresqlqueries.go
  plugins/inputs/sqlserver/sqlserverqueries.go
Labels: area/sqlserver, enhancement, ready to merge

#8897 add SMCIPMITool input to external plugin list
  EXTERNAL_PLUGINS.md
Labels: documentation, enhancement, external plugin

#8850 Support more snmpv3 authentication protocols
  internal/snmp/wrapper.go
  plugins/inputs/snmp/README.md
  plugins/inputs/snmp/snmp.go
Labels: area/snmp, enhancement, ready to merge

#6714 SignalFx Output
  README.md
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/outputs/all/all.go
  plugins/outputs/signalfx/README.md
  plugins/outputs/signalfx/signalfx.go
  plugins/outputs/signalfx/signalfx_test.go
Labels: new plugin, plugin/output, ready to merge

#8885 Fix statsd concurrency bug
  plugins/inputs/statsd/statsd.go
Labels: bugfix

#8785 Non systemd support with unittest
  plugins/inputs/diskio/diskio_linux.go
  plugins/inputs/diskio/diskio_linux_test.go
Labels: area/system, bugfix, plugin/input, ready to merge

#8628 fix: reading multiple holding registers in modbus input plugin
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/modbus_test.go
Labels: area/modbus, bugfix, ready to merge

#8910 Display error message on badly formatted config string array (eg. namepass)
  config/config.go
Labels: area/configuration, bugfix, ready to merge

#8915 Add HTTP Proxy to Cloudwatch input
  plugins/inputs/cloudwatch/README.md
  plugins/inputs/cloudwatch/cloudwatch.go
  plugins/inputs/cloudwatch/cloudwatch_test.go
Labels: enhancement

#8833 Bug Fix - SQL Server HADR queries for SQL Versions
  plugins/inputs/sqlserver/sqlserver_test.go
  plugins/inputs/sqlserver/sqlserverqueries.go
Labels: area/sqlserver, bugfix
