Repository influxdata/telegraf, pull requests merged in 2022-08, with the labels that each got.

#10851 fix: customizable cloudwatch batch size when querying aws
  plugins/inputs/cloudwatch/README.md
  plugins/inputs/cloudwatch/cloudwatch.go
  plugins/inputs/cloudwatch/cloudwatch_test.go
  plugins/inputs/cloudwatch/sample.conf
Labels: fix, area/aws, ready for final review, plugin/input

#11575 chore(inputs.ntpq): Cleanup existing plugin
  plugins/inputs/ntpq/ntpq.go
  plugins/inputs/ntpq/ntpq_test.go
  plugins/inputs/ntpq/testcases/bad_float_parse/expected.out
  plugins/inputs/ntpq/testcases/bad_float_parse/input.txt
  plugins/inputs/ntpq/testcases/bad_float_parse/telegraf.conf
  plugins/inputs/ntpq/testcases/bad_header/expected.out
  plugins/inputs/ntpq/testcases/bad_header/input.txt
  plugins/inputs/ntpq/testcases/bad_header/telegraf.conf
  plugins/inputs/ntpq/testcases/bad_int_parse/expected.out
  plugins/inputs/ntpq/testcases/bad_int_parse/input.txt
  plugins/inputs/ntpq/testcases/bad_int_parse/telegraf.conf
  plugins/inputs/ntpq/testcases/bad_when/expected.out
  plugins/inputs/ntpq/testcases/bad_when/input.txt
  plugins/inputs/ntpq/testcases/bad_when/telegraf.conf
  plugins/inputs/ntpq/testcases/days/expected.out
  plugins/inputs/ntpq/testcases/days/input.txt
  plugins/inputs/ntpq/testcases/days/telegraf.conf
  plugins/inputs/ntpq/testcases/failed/expected.err
  plugins/inputs/ntpq/testcases/failed/input.err
  plugins/inputs/ntpq/testcases/failed/input.txt
  plugins/inputs/ntpq/testcases/failed/telegraf.conf
  plugins/inputs/ntpq/testcases/hours/expected.out
  plugins/inputs/ntpq/testcases/hours/input.txt
  plugins/inputs/ntpq/testcases/hours/telegraf.conf
  plugins/inputs/ntpq/testcases/issue_2386/expected.out
  plugins/inputs/ntpq/testcases/issue_2386/input.txt
  plugins/inputs/ntpq/testcases/issue_2386/telegraf.conf
  plugins/inputs/ntpq/testcases/long_poll/expected.out
  plugins/inputs/ntpq/testcases/long_poll/input.txt
  plugins/inputs/ntpq/testcases/long_poll/telegraf.conf
  plugins/inputs/ntpq/testcases/minutes/expected.out
  plugins/inputs/ntpq/testcases/minutes/input.txt
  plugins/inputs/ntpq/testcases/minutes/telegraf.conf
  plugins/inputs/ntpq/testcases/missing_delay_column/expected.out
  plugins/inputs/ntpq/testcases/missing_delay_column/input.txt
  plugins/inputs/ntpq/testcases/missing_delay_column/telegraf.conf
  plugins/inputs/ntpq/testcases/multi/expected.out
  plugins/inputs/ntpq/testcases/multi/input.txt
  plugins/inputs/ntpq/testcases/multi/telegraf.conf
  plugins/inputs/ntpq/testcases/no_ref_id/expected.out
  plugins/inputs/ntpq/testcases/no_ref_id/input.txt
  plugins/inputs/ntpq/testcases/no_ref_id/telegraf.conf
  plugins/inputs/ntpq/testcases/single/expected.out
  plugins/inputs/ntpq/testcases/single/input.txt
  plugins/inputs/ntpq/testcases/single/telegraf.conf
  testutil/file.go
Labels: plugin/input, chore

#11560 fix(outputs.wavefront): update wavefront sdk and use non-deprecated APIs
  go.mod
  go.sum
  plugins/outputs/wavefront/README.md
  plugins/outputs/wavefront/sample.conf
  plugins/outputs/wavefront/wavefront.go
  plugins/outputs/wavefront/wavefront_test.go
Labels: fix, area/wavefront, ready for final review, plugin/output

#11576 fix(inputs): Linter issues
  .golangci.yml
  plugins/inputs/aliyuncms/aliyuncms_test.go
  plugins/inputs/aliyuncms/discovery.go
  plugins/inputs/docker/dev/telegraf.conf
  plugins/inputs/docker/docker_test.go
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/hddtemp/hddtemp.go
  plugins/inputs/internet_speed/internet_speed.go
  plugins/inputs/ipmi_sensor/ipmi_sensor_test.go
  plugins/inputs/jti_openconfig_telemetry/jti_openconfig_telemetry.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/kube_inventory/daemonset_test.go
  plugins/inputs/linux_sysctl_fs/linux_sysctl_fs.go
  plugins/inputs/lustre2/lustre2.go
  plugins/inputs/lvm/lvm_test.go
  plugins/inputs/phpfpm/child.go
  plugins/inputs/postgresql/postgresql.go
  plugins/inputs/prometheus/kubernetes.go
  plugins/inputs/snmp_legacy/snmp_legacy.go
  plugins/inputs/sql/drivers_sqlite.go
  plugins/inputs/sql/drivers_sqlite_other.go
  plugins/inputs/vsphere/client.go
  plugins/inputs/vsphere/vsphere_test.go
Labels: fix, plugin/input

#11573 test: fix opentelemetry test
  plugins/outputs/opentelemetry/opentelemetry_test.go
Labels: area/opentelemetry, ready for final review, plugin/output, test

#11599 chore: update github.com/harlow/kinesis-consumer
  go.mod
  go.sum
Labels: ready for final review, chore

#11593 feat(inputs.ntpq): Add option to specify command flags
  plugins/inputs/ntpq/README.md
  plugins/inputs/ntpq/ntpq.go
  plugins/inputs/ntpq/sample.conf
Labels: feat, ready for final review, plugin/input

#11572 feat: added "allow_reauth" config option for openstack client
  plugins/inputs/openstack/openstack.go
Labels: feat, ready for final review, plugin/input

#11592 feat(inputs.ntpq): Add possibility to query remote servers
  plugins/inputs/ntpq/README.md
  plugins/inputs/ntpq/ntpq.go
  plugins/inputs/ntpq/ntpq_test.go
  plugins/inputs/ntpq/sample.conf
  plugins/inputs/ntpq/testcases/bad_float_parse/expected.err
  plugins/inputs/ntpq/testcases/bad_int_parse/expected.err
  plugins/inputs/ntpq/testcases/bad_when/expected.err
  plugins/inputs/ntpq/testcases/servers/expected.out
  plugins/inputs/ntpq/testcases/servers/input_serverA.txt
  plugins/inputs/ntpq/testcases/servers/input_serverB.txt
  plugins/inputs/ntpq/testcases/servers/telegraf.conf
  plugins/inputs/ntpq/testcases/servers_one_fail/expected.err
  plugins/inputs/ntpq/testcases/servers_one_fail/expected.out
  plugins/inputs/ntpq/testcases/servers_one_fail/input_serverA.txt
  plugins/inputs/ntpq/testcases/servers_one_fail/input_serverB.txt
  plugins/inputs/ntpq/testcases/servers_one_fail/input_serverC.err
  plugins/inputs/ntpq/testcases/servers_one_fail/telegraf.conf
Labels: feat, plugin/input

#11577 fix(inputs.kube_inventory): send file location to enable token auto-refresh
  plugins/inputs/kube_inventory/README.md
  plugins/inputs/kube_inventory/client.go
  plugins/inputs/kube_inventory/client_test.go
  plugins/inputs/kube_inventory/kube_inventory.go
  plugins/inputs/kube_inventory/sample.conf
Labels: fix, ready for final review, plugin/input

#11595 fix(outputs): Linter issues
  plugins/outputs/amqp/amqp.go
  plugins/outputs/amqp/client.go
  plugins/outputs/cloudwatch/cloudwatch.go
  plugins/outputs/kafka/kafka.go
  plugins/outputs/kafka/kafka_test.go
  plugins/outputs/logzio/logzio.go
  plugins/outputs/opentelemetry/opentelemetry.go
  plugins/outputs/opentsdb/opentsdb.go
  plugins/outputs/opentsdb/opentsdb_http.go
  plugins/outputs/opentsdb/opentsdb_test.go
  plugins/outputs/prometheus_client/v1/collector.go
  plugins/outputs/stackdriver/stackdriver_test.go
  plugins/outputs/timestream/timestream.go
  plugins/outputs/timestream/timestream_test.go
Labels: fix, ready for final review, plugin/output

#11612 chore: Migrate all issue templates to yaml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/SUPPORT.yml
  .github/ISSUE_TEMPLATE/Support.md
Labels: chore

#11594 feat(inputs.ntpq): Allow to specify `reach` output format
  plugins/inputs/ntpq/README.md
  plugins/inputs/ntpq/ntpq.go
  plugins/inputs/ntpq/ntpq_test.go
  plugins/inputs/ntpq/sample.conf
  plugins/inputs/ntpq/testcases/single_reach_count/expected.out
  plugins/inputs/ntpq/testcases/single_reach_count/input.txt
  plugins/inputs/ntpq/testcases/single_reach_count/telegraf.conf
  plugins/inputs/ntpq/testcases/single_reach_decimal/expected.out
  plugins/inputs/ntpq/testcases/single_reach_decimal/input.txt
  plugins/inputs/ntpq/testcases/single_reach_decimal/telegraf.conf
  plugins/inputs/ntpq/testcases/single_reach_octal/expected.out
  plugins/inputs/ntpq/testcases/single_reach_octal/input.txt
  plugins/inputs/ntpq/testcases/single_reach_octal/telegraf.conf
  plugins/inputs/ntpq/testcases/single_reach_ratio/expected.out
  plugins/inputs/ntpq/testcases/single_reach_ratio/input.txt
  plugins/inputs/ntpq/testcases/single_reach_ratio/telegraf.conf
Labels: feat, ready for final review, plugin/input

#11617 chore: Fix support issue template
  .github/ISSUE_TEMPLATE/SUPPORT.yml
Labels: chore

#11619 feat: Add nsdp plugin
  EXTERNAL_PLUGINS.md
Labels: feat

#11620 docs: Add source tag best practices to the metric schema docs
  docs/developers/REVIEWS.md
Labels: docs

#11608 chore: Using Windows, add exe extension to tools
  .gitignore
  Makefile
  README.md
Labels: chore

#11621 chore: update to go1.18.5
  .circleci/config.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: security, chore

#11306 feat: Add starlark benchmark for tag-concatenation
  plugins/processors/starlark/starlark_test.go
  testutil/metric.go
Labels: feat, area/starlark, ready for final review

#11624 fix: Workaround for failing "go list -m all"
  go.mod
Labels: fix

#11538 feat: prometheus monitor_kubernetes_pods add setting to change namespace label name of the pod to avoid conflicts
  plugins/inputs/prometheus/README.md
  plugins/inputs/prometheus/kubernetes.go
  plugins/inputs/prometheus/kubernetes_test.go
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/prometheus/sample.conf
Labels: feat, area/prometheus, area/k8s, ready for final review, plugin/input

#11607 fix(parsers): Linter issues
  plugins/parsers/json_v2/parser_test.go
  plugins/parsers/wavefront/element.go
Labels: fix

#11613 fix(inputs.x509): Multiple sources with non-overlapping DNS entries.
  plugins/inputs/x509_cert/x509_cert.go
  plugins/inputs/x509_cert/x509_cert_test.go
Labels: fix, plugin/input

#11622 feat: add coralogix dialect to opentelemetry
  plugins/outputs/opentelemetry/README.md
  plugins/outputs/opentelemetry/opentelemetry.go
  plugins/outputs/opentelemetry/sample.conf
Labels: feat, area/opentelemetry, ready for final review, plugin/output

#11635 fix(inputs.mongodb): update version check for newer versions
  plugins/inputs/mongodb/mongodb_server.go
  plugins/inputs/mongodb/mongodb_server_test.go
  plugins/inputs/mongodb/mongodb_test.go
Labels: fix, area/mongodb, plugin/input

#11627 chore(parsers.json_v2): Cleanup test by reusing testutil function
  plugins/parsers/json_v2/parser_test.go
  plugins/parsers/json_v2/testdata/wrong_path/expected.err
Labels: area/json, ready for final review, plugin/parser, chore

#9015 feat: Supervisord input plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/all.go
  plugins/inputs/supervisor/README.md
  plugins/inputs/supervisor/sample.conf
  plugins/inputs/supervisor/supervisor.go
  plugins/inputs/supervisor/supervisor_test.go
  plugins/inputs/supervisor/testdata/supervisord.conf
Labels: feat, new plugin, ready for final review, plugin/input

#11636 chore(deps): Bump github.com/emicklei/go-restful from v2.9.5+incompatible to v3.8.0
  go.mod
  go.sum
Labels: ready for final review, chore

#11493 feat: Implement minimum TLS version for clients
  CHANGELOG.md
  plugins/common/tls/config.go
  plugins/common/tls/config_test.go
  plugins/common/tls/utils.go
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/sample.conf
  plugins/inputs/http/README.md
  plugins/inputs/http/sample.conf
  plugins/inputs/http_listener_v2/README.md
  plugins/inputs/http_listener_v2/sample.conf
  plugins/inputs/jti_openconfig_telemetry/README.md
  plugins/inputs/jti_openconfig_telemetry/sample.conf
Labels: feat, ready for final review

#11647 fix: Bump github.com/lxc/lxd to latest git to fix issue with glibc 2.36
  go.mod
  go.sum
Labels: fix, test

#11606 chore: Markdown fixes for inputs/[a-m]*
  plugins/inputs/aliyuncms/README.md
  plugins/inputs/aliyuncms/sample.conf
  plugins/inputs/azure_storage_queue/README.md
  plugins/inputs/bind/README.md
  plugins/inputs/ceph/README.md
  plugins/inputs/ceph/sample.conf
  plugins/inputs/clickhouse/README.md
  plugins/inputs/clickhouse/sample.conf
  plugins/inputs/cloud_pubsub_push/README.md
  plugins/inputs/cloud_pubsub_push/sample.conf
  plugins/inputs/cloudwatch/README.md
  plugins/inputs/cloudwatch/sample.conf
  plugins/inputs/cloudwatch_metric_streams/README.md
  plugins/inputs/cloudwatch_metric_streams/cloudwatch_metric_streams.go
  plugins/inputs/cloudwatch_metric_streams/sample.conf
  plugins/inputs/couchbase/README.md
  plugins/inputs/dpdk/README.md
  plugins/inputs/dpdk/sample.conf
  plugins/inputs/elasticsearch/README.md
  plugins/inputs/elasticsearch/sample.conf
  plugins/inputs/elasticsearch_query/README.md
  plugins/inputs/elasticsearch_query/sample.conf
  plugins/inputs/http_response/README.md
  plugins/inputs/http_response/sample.conf
  plugins/inputs/hugepages/README.md
  plugins/inputs/hugepages/sample.conf
  plugins/inputs/influxdb/README.md
  plugins/inputs/intel_powerstat/README.md
  plugins/inputs/intel_powerstat/sample.conf
  plugins/inputs/iptables/README.md
  plugins/inputs/iptables/sample.conf
  plugins/inputs/jolokia2/README.md
  plugins/inputs/jolokia2/jolokia2_agent/README.md
  plugins/inputs/jolokia2/jolokia2_proxy/README.md
  plugins/inputs/kapacitor/README.md
  plugins/inputs/kube_inventory/README.md
  plugins/inputs/kube_inventory/sample.conf
  plugins/inputs/mdstat/README.md
  plugins/inputs/memcached/README.md
  plugins/inputs/mock/README.md
  plugins/inputs/multifile/README.md
  plugins/inputs/mysql/README.md
  plugins/inputs/mysql/sample.conf
Labels: docs, chore

#11649 feat(outputs.amqp): Add proxy support
  plugins/outputs/amqp/README.md
  plugins/outputs/amqp/amqp.go
  plugins/outputs/amqp/client.go
  plugins/outputs/amqp/sample.conf
Labels: feat, plugin/output

#11557 feat(output plugin): Add new output plugin to support Apache IoTDB
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/outputs/all/all.go
  plugins/outputs/iotdb/README.md
  plugins/outputs/iotdb/iotdb.go
  plugins/outputs/iotdb/iotdb_test.go
  plugins/outputs/iotdb/sample.conf
Labels: feat, area/iot, ready for final review, plugin/output

#11658 docs(inputs.zookeeper): document use of prometheus plugin
  plugins/inputs/zookeeper/README.md
Labels: docs, ready for final review, plugin/input

#11618 chore: update circle-ci orbs
  .circleci/config.yml
  scripts/installgo_windows.sh
Labels: ready for final review, chore

#11662 docs: explain PowerShell 5 encoding
  docs/CONFIGURATION.md
Labels: docs

#11664 fix(inputs.sql): Sync build constraints for sqlite from output
  plugins/inputs/sql/drivers_sqlite.go
Labels: fix, plugin/input, area/sql

#11681 chore: Move aws credentials to plugins/common.
  plugins/common/aws/credentials.go
  plugins/inputs/cloudwatch/cloudwatch.go
  plugins/inputs/cloudwatch/cloudwatch_test.go
  plugins/inputs/kinesis_consumer/kinesis_consumer.go
  plugins/outputs/cloudwatch/cloudwatch.go
  plugins/outputs/cloudwatch_logs/cloudwatch_logs.go
  plugins/outputs/cloudwatch_logs/cloudwatch_logs_test.go
  plugins/outputs/http/http.go
  plugins/outputs/http/http_test.go
  plugins/outputs/kinesis/kinesis.go
  plugins/outputs/timestream/timestream.go
  plugins/outputs/timestream/timestream_test.go
Labels: chore

#11677 chore: only lint READMEs when changed
  .github/workflows/readme-linter.yml
Labels: ready for final review, chore

#11673 fix: prometheus input plugin run outside k8s cluster error
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/prometheus/kubernetes.go
Labels: fix, ready for final review

#11615 fix(agent): add flushBatch method
  agent/agent.go
Labels: fix, ready for final review

#11656 fix: refactor telegraf version
  Makefile
  cmd/telegraf/telegraf.go
  internal/internal.go
  internal/internal_test.go
  plugins/inputs/internal/internal_test.go
  plugins/outputs/opentelemetry/opentelemetry.go
Labels: fix, ready for final review

#11688 feat(inputs.sqlserver): Add db name to io stats for MI
  plugins/inputs/sqlserver/azuresqlmanagedqueries.go
  plugins/inputs/sqlserver/azuresqlmanagedqueries_test.go
Labels: feat, area/sqlserver, ready for final review, plugin/input

#11690 feat(serializers.prometheus): give option to reduce payload size by removing HELP from payload
  config/config.go
  plugins/serializers/prometheus/README.md
  plugins/serializers/prometheus/collection.go
  plugins/serializers/prometheus/prometheus.go
  plugins/serializers/prometheus/prometheus_test.go
  plugins/serializers/registry.go
Labels: feat, area/prometheus, plugin/serializer

#11704 docs: update ms sql dsn example
  docs/SQL_DRIVERS_INPUT.md
Labels: docs

#11705 chore: Update golangci-lint
  .github/workflows/golangci-lint.yml
Labels: ready for final review, dependencies, chore

#11524 feat: Tool to customize Telegraf builds
  .gitignore
  .golangci.yml
  Makefile
  cmd/telegraf/telegraf.go
  config/config.go
  docs/CUSTOMIZATION.md
  filter/filter.go
  internal/customized_no.go
  internal/customized_yes.go
  tools/custom_builder/README.md
  tools/custom_builder/config.go
  tools/custom_builder/main.go
  tools/custom_builder/packages.go
Labels: feat

#11426 feat(inputs.mqtt_consumer): Add incoming mqtt message size calculation
  plugins/inputs/internal/README.md
  plugins/inputs/mqtt_consumer/README.md
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/inputs/mqtt_consumer/mqtt_consumer_test.go
Labels: feat, area/mqtt, ready for final review, plugin/input

#10570 fix: use os-agnositc systemd detection, remove sysv in RPM packaging
  scripts/rpm/post-install.sh
  scripts/rpm/post-remove.sh
Labels: fix, ready for final review

#11701 fix(inputs.sqlserver): fixing wrong filtering for sqlAzureMIRequests and sqlAzureDBRequests
  plugins/inputs/sqlserver/azuresqldbqueries.go
  plugins/inputs/sqlserver/azuresqlmanagedqueries.go
Labels: fix, area/sqlserver, ready for final review, plugin/input

#8988 feat(inputs.linux_cpu): Add CPUFreq input plugin for Linux (v3)
  plugins/inputs/all/linux_cpu.go
  plugins/inputs/linux_cpu/README.md
  plugins/inputs/linux_cpu/linux_cpu.go
  plugins/inputs/linux_cpu/linux_cpu_nonlinux.go
  plugins/inputs/linux_cpu/linux_cpu_test.go
  plugins/inputs/linux_cpu/sample.conf
Labels: feat, new plugin, ready for final review, plugin/input

#11700 feat: Migrate to urfave/cli
  .golangci.yml
  Makefile
  cmd/telegraf/agent.conf
  cmd/telegraf/main.go
  cmd/telegraf/main_test.go
  cmd/telegraf/main_win_test.go
  cmd/telegraf/pprof.go
  cmd/telegraf/printer.go
  cmd/telegraf/telegraf.go
  cmd/telegraf/telegraf_posix.go
  cmd/telegraf/telegraf_windows.go
  config/config.go
  config/deprecation.go
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  internal/internal.go
  internal/usage.go
  internal/usage_windows.go
  plugins/inputs/influxdb/influxdb.go
  plugins/inputs/internal/README.md
  plugins/inputs/internal/internal.go
Labels: feat, refactor, size/l

#11672 feat(outputs.postgresql): add Postgresql output
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/outputs/all/postgresql.go
  plugins/outputs/postgresql/Dockerfile
  plugins/outputs/postgresql/README.md
  plugins/outputs/postgresql/columns.go
  plugins/outputs/postgresql/datatype_uint8.go
  plugins/outputs/postgresql/datatypes.go
  plugins/outputs/postgresql/postgresql.go
  plugins/outputs/postgresql/postgresql_bench_test.go
  plugins/outputs/postgresql/postgresql_test.go
  plugins/outputs/postgresql/sample.conf
  plugins/outputs/postgresql/sqltemplate/template.go
  plugins/outputs/postgresql/table_manager.go
  plugins/outputs/postgresql/table_manager_test.go
  plugins/outputs/postgresql/table_source.go
  plugins/outputs/postgresql/table_source_test.go
  plugins/outputs/postgresql/utils/column.go
  plugins/outputs/postgresql/utils/utils.go
Labels: feat, area/postgresql, ready for final review, plugin/output

#11713 chore: update github.com/Shopify/sarama from v1.35 to v1.36
  go.mod
  go.sum
Labels: chore

#11742 chore: Rename Telegraf receiver argument from a to t
  cmd/telegraf/telegraf.go
Labels: chore

#11723 fix(inputs.opcua): Assign node id correctly
  plugins/inputs/opcua/opcua.go
Labels: fix, area/opcua, ready for final review, plugin/input
