Repository influxdata/telegraf, pull requests merged in 2022-12, with the labels that each got.

#12312 docs: specify the time for nightly builds
  docs/NIGHTLIES.md
Labels: docs, ready for final review

#12292 feat(inputs.sqlserver): add metric available_physical_memory_kb in sqlserver_server_properties
  plugins/inputs/sqlserver/README.md
  plugins/inputs/sqlserver/sqlqueriesV2.go
  plugins/inputs/sqlserver/sqlserverqueries.go
Labels: feat, area/sqlserver, ready for final review, plugin/input

#12324 feat: add User-Agent header to http_response input plugin
  plugins/inputs/http_response/http_response.go
  plugins/inputs/http_response/http_response_test.go
Labels: feat, ready for final review

#12307 fix(inputs.zfs): Unbreak datasets stats gathering in case listsnaps is enabled on a zfs pool
  etc/telegraf.conf
  etc/telegraf_windows.conf
  plugins/inputs/zfs/README.md
  plugins/inputs/zfs/sample.conf
  plugins/inputs/zfs/zfs_freebsd.go
Labels: fix, ready for final review, plugin/input

#12319 feat(inputs.sqlserver): Introduce timeout for query execution
  plugins/inputs/sqlserver/README.md
  plugins/inputs/sqlserver/sample.conf
  plugins/inputs/sqlserver/sqlserver.go
Labels: feat, area/sqlserver, ready for final review, plugin/input

#12339 fix(inputs.modbus): Fix Windows COM-port path
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/modbus/sample_general_begin.conf
Labels: fix, area/modbus, ready for final review, plugin/input

#12302 feat(tls): allow setting renegotiation method
  plugins/common/tls/config.go
  plugins/inputs/http_response/README.md
  plugins/inputs/http_response/sample.conf
Labels: feat, ready for final review

#12340 feat(inputs.modbus): Add support for half-precision float (float16)
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/configuration.go
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/modbus/sample_register.conf
  plugins/inputs/modbus/sample_request.conf
  plugins/inputs/modbus/type_conversions.go
  plugins/inputs/modbus/type_conversions16.go
Labels: feat, area/modbus, ready for final review, plugin/input

#12342 feat(inputs.cgroups): dont abort on first error, stop error message spam
  plugins/inputs/cgroup/cgroup.go
  plugins/inputs/cgroup/cgroup_linux.go
  plugins/inputs/cgroup/cgroup_test.go
  plugins/inputs/cgroup/testdata/broken/malformed.file
  plugins/inputs/cgroup/testdata/broken/memory.limit_in_bytes
Labels: feat, area/system, ready for final review, plugin/input

#12259 fix(inputs.vsphere): Eliminated duplicate samples
  plugins/inputs/vsphere/README.md
  plugins/inputs/vsphere/endpoint.go
  plugins/inputs/vsphere/tscache.go
Labels: fix, area/vsphere, ready for final review, plugin/input

#12332 chore(outputs.wavefront): Reduce code duplication
  plugins/outputs/wavefront/wavefront.go
  plugins/outputs/wavefront/wavefront_test.go
  plugins/serializers/wavefront/replacers.go
  plugins/serializers/wavefront/wavefront.go
Labels: ready for final review

#12347 chore: update to go1.19.4
  .circleci/config.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore

#12309 chore(deps): Bump github.com/wavefrontHQ/wavefront-sdk-go from v0.10.4 to v0.11.0
  go.mod
  go.sum
Labels: area/wavefront, ready for final review, dependencies, chore

#12320 feat(parsers.grok): Add option to allow multiline messages
  plugins/parsers/grok/README.md
  plugins/parsers/grok/influx_patterns.go
  plugins/parsers/grok/parser.go
  plugins/parsers/grok/parser_test.go
  plugins/parsers/grok/testdata/test_multiline.log
  plugins/parsers/registry.go
Labels: feat, ready for final review, plugin/parser

#12358 feat(agent): Deprecate active usage of netsnmp translator
  cmd/telegraf/agent.conf
  config/config.go
  docs/CONFIGURATION.md
Labels: feat, area/snmp, area/agent, ready for final review

#12357 fix(processors.parser): Handle empty metric names correctly
  plugins/processors/parser/parser.go
Labels: fix, ready for final review, plugin/processor

#12323 fix(inputs.sql): Cast measurement_column to string
  plugins/inputs/sql/sql.go
Labels: fix, ready for final review, plugin/input, area/sql

#11232 feat: Secret-store implementation
  Makefile
  cmd/telegraf/cmd_secretstore.go
  cmd/telegraf/main.go
  cmd/telegraf/main_test.go
  cmd/telegraf/printer.go
  cmd/telegraf/telegraf.go
  config/config.go
  config/secret.go
  config/secret_test.go
  config/secret_with_mlock.go
  config/secret_without_mlock.go
  config/util.go
  docs/CONFIGURATION.md
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/http/http.go
  plugins/inputs/sql/sql.go
  plugins/inputs/sql/sql_test.go
  plugins/secretstores/all/all.go
  plugins/secretstores/all/jose.go
  plugins/secretstores/all/os.go
  plugins/secretstores/deprecations.go
  plugins/secretstores/jose/README.md
  plugins/secretstores/jose/jose.go
  plugins/secretstores/jose/jose_test.go
  plugins/secretstores/jose/sample.conf
  plugins/secretstores/os/README.md
  plugins/secretstores/os/os.go
  plugins/secretstores/os/os_darwin.go
  plugins/secretstores/os/os_linux.go
  plugins/secretstores/os/os_test.go
  plugins/secretstores/os/os_unsupported.go
  plugins/secretstores/os/os_windows.go
  plugins/secretstores/os/sample_darwin.conf
  plugins/secretstores/os/sample_linux.conf
  plugins/secretstores/os/sample_windows.conf
  plugins/secretstores/registry.go
  secretstore.go
  tools/custom_builder/main.go
Labels: feat, security, ready for final review

#12360 chore: Move host-endianness definition to `internal`
  internal/host_endianess_be.go
  internal/host_endianess_le.go
  plugins/parsers/binary/entry_test.go
  plugins/parsers/binary/host_endianess_be.go
  plugins/parsers/binary/host_endianess_le.go
  plugins/parsers/binary/parser.go
  plugins/parsers/binary/parser_test.go
Labels: chore

#12295 fix(inputs.filecount): revert library version
  go.mod
  go.sum
Labels: fix, ready for final review, plugin/input

#12362 chore: Fix linter findings for makezero (part2)
  plugins/aggregators/quantile/quantile.go
  plugins/aggregators/quantile/quantile_test.go
  plugins/common/jolokia2/client.go
  plugins/common/shim/processor_test.go
  plugins/common/starlark/builtins.go
  plugins/common/starlark/field_dict.go
  plugins/inputs/azure_monitor/azure_monitor.go
  plugins/inputs/azure_monitor/azure_monitor_test.go
  plugins/inputs/cloudwatch/cloudwatch.go
  plugins/inputs/redis_sentinel/redis_sentinel.go
  plugins/outputs/graylog/graylog.go
Labels: ready for final review, chore

#12330 fix(inputs.mongodb): Fix connection leak
  plugins/inputs/mongodb/mongodb.go
Labels: fix, area/mongodb, ready for final review, plugin/input

#12329 feat(inputs.smart): Add additional SMART metrics that indicate/predict device failure
  plugins/inputs/smart/smart.go
  plugins/inputs/smart/smart_test.go
Labels: feat, area/smart, ready for final review, plugin/input

#12301 feat(inputs.kubernetes): allow fetching kublet metrics remotely
  plugins/inputs/kubernetes/README.md
  plugins/inputs/kubernetes/kubernetes.go
  plugins/inputs/kubernetes/sample.conf
Labels: feat, ready for final review, plugin/input

#12284 fix(inputs.kube_inventory): change default token path, use in-cluster config by default
  etc/telegraf.conf
  etc/telegraf_windows.conf
  plugins/inputs/kube_inventory/README.md
  plugins/inputs/kube_inventory/client.go
  plugins/inputs/kube_inventory/kube_inventory.go
  plugins/inputs/kube_inventory/sample.conf
  plugins/inputs/kubernetes/README.md
  plugins/inputs/kubernetes/kubernetes.go
  plugins/inputs/kubernetes/sample.conf
Labels: fix, ready for final review, plugin/input

#12351 feat(inputs.sqlserver): add @@SERVICENAME and SERVERPROPERTY(''IsClustered'') in measurement sqlserver_server_properties
  plugins/inputs/sqlserver/sqlserverqueries.go
Labels: feat, area/sqlserver, ready for final review, plugin/input

#12108 feat(inputs.netflow): Add netflow plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/netflow.go
  plugins/inputs/netflow/README.md
  plugins/inputs/netflow/ipv4_options.csv
  plugins/inputs/netflow/layer4_protocol_numbers.csv
  plugins/inputs/netflow/netflow.go
  plugins/inputs/netflow/netflow_decoder.go
  plugins/inputs/netflow/netflow_test.go
  plugins/inputs/netflow/netflow_v5.go
  plugins/inputs/netflow/sample.conf
  plugins/inputs/netflow/testcases/ipfix_example/expected.out
  plugins/inputs/netflow/testcases/ipfix_example/ipfix_0.bin
  plugins/inputs/netflow/testcases/ipfix_example/ipfix_1.bin
  plugins/inputs/netflow/testcases/ipfix_example/ipfix_2.bin
  plugins/inputs/netflow/testcases/ipfix_example/ipfix_3.bin
  plugins/inputs/netflow/testcases/ipfix_example/ipfix_4.bin
  plugins/inputs/netflow/testcases/ipfix_example/ipfix_5.bin
  plugins/inputs/netflow/testcases/ipfix_example/ipfix_6.bin
  plugins/inputs/netflow/testcases/ipfix_example/telegraf.conf
  plugins/inputs/netflow/testcases/netflow_v5_example/expected.out
  plugins/inputs/netflow/testcases/netflow_v5_example/netflow_v5.bin
  plugins/inputs/netflow/testcases/netflow_v5_example/telegraf.conf
  plugins/inputs/netflow/testcases/netflow_v9_example/expected.out
  plugins/inputs/netflow/testcases/netflow_v9_example/netflow_v9.bin
  plugins/inputs/netflow/testcases/netflow_v9_example/telegraf.conf
  plugins/inputs/netflow/type_conversion.go
  plugins/inputs/netflow/type_conversion_test.go
Labels: feat, ready for final review, plugin/input

#12354 test(inputs.statsd): increase sleep + expiration on test
  plugins/inputs/statsd/statsd_test.go
Labels: area/statsd, plugin/input, test

#12372 chore: update OpenTelemetry v0.2.33 / v0.67.0
  go.mod
  go.sum
Labels: ready for final review, chore

#12371 chore: Fix linter findings for makezero (part3)
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/influxdb_listener/influxdb_listener_benchmark_test.go
  plugins/inputs/influxdb_v2_listener/influxdb_v2_listener_benchmark_test.go
  plugins/inputs/mysql/mysql.go
  plugins/inputs/opcua/read_client.go
  plugins/inputs/procstat/native_finder.go
  plugins/inputs/redis/redis.go
  plugins/inputs/redis_sentinel/redis_sentinel.go
  plugins/inputs/sql/sql_test.go
  plugins/inputs/stackdriver/stackdriver.go
  plugins/inputs/vsphere/endpoint.go
  plugins/inputs/vsphere/vsphere.go
  plugins/inputs/vsphere/vsphere_test.go
  plugins/inputs/zipkin/codec/codec.go
  plugins/inputs/zipkin/codec/jsonV1/jsonV1.go
Labels: ready for final review, chore

#12376 fix(common.opcua): parse additional_valid_status_codes as uint32
  plugins/common/opcua/client.go
  plugins/common/opcua/client_test.go
Labels: fix, area/opcua, ready for final review

#12247 fix(parsers.csv): Allow null-delimiters
  plugins/parsers/csv/README.md
  plugins/parsers/csv/parser.go
  plugins/parsers/csv/parser_test.go
Labels: fix, ready for final review, plugin/parser, area/csv

#9633 feat(inputs.powerdns_recursor): Support for new PowerDNS recursor control protocol
  plugins/inputs/powerdns_recursor/README.md
  plugins/inputs/powerdns_recursor/powerdns_recursor.go
  plugins/inputs/powerdns_recursor/powerdns_recursor_test.go
  plugins/inputs/powerdns_recursor/protocol_commons.go
  plugins/inputs/powerdns_recursor/protocol_v1.go
  plugins/inputs/powerdns_recursor/protocol_v2.go
  plugins/inputs/powerdns_recursor/protocol_v3.go
  plugins/inputs/powerdns_recursor/sample.conf
Labels: feat, ready for final review, plugin/input

#12385 chore(deps): Bump cloud.google.com/go/storage from 1.23.0 to 1.28.1
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#12394 docs: add bacnet to external plugins list
  EXTERNAL_PLUGINS.md
Labels: docs

#12401 fix(secretstores): Cleanup
  cmd/telegraf/printer.go
  config/secret.go
  plugins/inputs/http/http.go
  plugins/secretstores/jose/README.md
  plugins/secretstores/jose/jose.go
  plugins/secretstores/jose/jose_test.go
  plugins/secretstores/jose/sample.conf
  plugins/secretstores/os/README.md
  plugins/secretstores/os/os.go
  plugins/secretstores/os/os_darwin.go
  plugins/secretstores/os/os_linux.go
  plugins/secretstores/os/os_test.go
  plugins/secretstores/os/os_windows.go
Labels: fix, ready for final review, plugin/secretstores

#12390 test: always create test config for package testing
  tools/package_lxd_test/container.go
Labels: ready for final review, test

#12404 fix(inputs.x509_cert): Fix off-by-one when adding intermediates
  plugins/inputs/x509_cert/x509_cert.go
Labels: regression, fix, ready for final review, plugin/input

#12405 chore: do not start service on deb install
  scripts/deb/post-install.sh
  scripts/deb/pre-remove.sh
Labels: ready for final review, chore

#12399 fix(outputs.loki): return response body on error
  plugins/outputs/loki/loki.go
Labels: fix, plugin/output

#12406 chore(linter): Disable linter warning for Freeze() in starlark
  plugins/common/starlark/field_dict.go
  plugins/common/starlark/tag_dict.go
Labels: ready for final review, chore

#12386 fix(inputs.sqlserver): SqlRequests include sleeping sessions with open transactions
  plugins/inputs/sqlserver/README.md
  plugins/inputs/sqlserver/azuresqldbqueries.go
  plugins/inputs/sqlserver/azuresqlmanagedqueries.go
  plugins/inputs/sqlserver/sqlserverqueries.go
Labels: fix, area/sqlserver, ready for final review, plugin/input

#12387 fix(inputs.sqlserver): Add SPID filter for sqlserverqueries.go
  plugins/inputs/sqlserver/sqlserverqueries.go
Labels: fix, area/sqlserver, ready for final review, plugin/input

#12409 fix(inputs.mysql): Revert slices declarations with zero initial length
  plugins/inputs/mysql/mysql.go
Labels: area/mysql, fix, ready for final review, plugin/input

#12410 chore: Fix linter findings for makezero (part4)
  .golangci.yml
  plugins/common/opcua/input/input_client.go
  plugins/inputs/stackdriver/stackdriver.go
  plugins/inputs/zipkin/codec/thrift/thrift.go
  plugins/outputs/cloud_pubsub/cloud_pubsub.go
  plugins/outputs/cloud_pubsub/topic_stubbed.go
  plugins/outputs/cloudwatch/cloudwatch_test.go
  plugins/outputs/cratedb/cratedb.go
  plugins/outputs/datadog/datadog.go
  plugins/outputs/kinesis/kinesis_test.go
  plugins/outputs/opentsdb/opentsdb.go
  plugins/outputs/opentsdb/opentsdb_test.go
  plugins/outputs/postgresql/postgresql_bench_test.go
  plugins/outputs/postgresql/sqltemplate/template.go
  plugins/outputs/postgresql/table_manager.go
  plugins/outputs/postgresql/table_source.go
  plugins/serializers/influx/reader_test.go
Labels: ready for final review, chore
