Repository influxdata/telegraf, pull requests merged in 2022-11, with the labels that each got.

#12131 chore: Fix linter findings introduced in last PRs
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/opcua/opcua.go
  plugins/inputs/opentelemetry/grpc_services.go
  plugins/outputs/opentelemetry/opentelemetry.go
  plugins/outputs/opentelemetry/opentelemetry_test.go
  plugins/processors/parser/parser_test.go
Labels: ready for final review, chore

#12031 chore(inputs.socket_listener): Reorganize plugin code
  plugins/inputs/socket_listener/packet_listener.go
  plugins/inputs/socket_listener/socket_listener.go
  plugins/inputs/socket_listener/socket_listener_test.go
  plugins/inputs/socket_listener/stream_listener.go
Labels: ready for final review, plugin/input, chore

#12024 fix(serializers.splunkmetric): put event metric tag behind option
  config/config.go
  plugins/serializers/registry.go
  plugins/serializers/splunkmetric/README.md
  plugins/serializers/splunkmetric/splunkmetric.go
  plugins/serializers/splunkmetric/splunkmetric_test.go
Labels: fix, ready for final review, plugin/serializer

#12124 fix(inputs.directory_monitor): allow moving files across filesystems
  plugins/inputs/directory_monitor/directory_monitor.go
Labels: fix, ready for final review, plugin/input

#12142 chore: update to go v1.19.3
  .circleci/config.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: chore

#12147 fix(inputs.system): collect unique user count logged in
  plugins/inputs/system/README.md
  plugins/inputs/system/system.go
  plugins/inputs/system/system_test.go
Labels: fix, area/system, plugin/input

#12149 test(outputs.sql): wait for db dump file to exist
  plugins/outputs/sql/sql_test.go
Labels: plugin/output, area/sql, test

#12140 fix: inputs.gnmi add support for decimal_val as per gnmi v0.8.0
  go.mod
  go.sum
  plugins/inputs/gnmi/gnmi.go
Labels: fix, ready for final review

#12111 feat: Add exponential backoff when connecting or reconnecting and allow plugin to start without making initial connection
  plugins/common/kafka/config.go
  plugins/common/kafka/config_test.go
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/kafka_consumer/sample.conf
  plugins/outputs/kafka/kafka.go
Labels: feat, ready for final review

#12164 chore: Cleanup printer.go
  cmd/telegraf/printer.go
Labels: chore

#12168 docs(inputs.syslog): mention usage of tcp4/6
  plugins/inputs/syslog/README.md
  plugins/inputs/syslog/sample.conf
Labels: docs, area/syslog, plugin/input

#12175 chore: Enable tparallel linter
  .golangci.yml
  plugins/inputs/neptune_apex/neptune_apex_test.go
Labels: ready for final review, chore

#12169 chore: Enable asciicheck, asasalint, bidichk and exportloopref linters
  .golangci.yml
  plugins/outputs/cloudwatch_logs/cloudwatch_logs.go
  plugins/outputs/kafka/kafka.go
Labels: ready for final review, chore

#12153 chore: Use depguard instead of revive.imports-blacklist
  .golangci.yml
  plugins/common/logrus/hook.go
  plugins/common/shim/config.go
  plugins/common/shim/logger.go
  plugins/inputs/snmp/netsnmp.go
Labels: ready for final review, chore

#12170 feat(inputs.tomcat): add source tag
  plugins/inputs/tomcat/README.md
  plugins/inputs/tomcat/tomcat.go
  plugins/inputs/tomcat/tomcat_test.go
Labels: feat, plugin/input

#12156 fix(outputs.yandex_cloud_monitoring): catch int64 values
  plugins/outputs/yandex_cloud_monitoring/yandex_cloud_monitoring.go
  plugins/outputs/yandex_cloud_monitoring/yandex_cloud_monitoring_test.go
Labels: fix, ready for final review, plugin/output

#12189 test(outputs.sql): simplify clickhouse test
  plugins/outputs/sql/sql_test.go
Labels: plugin/output, area/sql, test

#12158 feat!: Disable [[outputs.influxdb]] in sample config
  cmd/telegraf/printer.go
Labels: feat, area/configuration

#12163 chore: Move influxdb_v2 to be first in sample config
  cmd/telegraf/printer.go
Labels: chore

#12160 fix(outputs.prometheus): expire during add
  plugins/outputs/prometheus_client/v1/collector.go
Labels: area/prometheus, fix, plugin/output

#12101 fix: Add support for opcua datetime values
  plugins/common/opcua/client.go
  plugins/common/opcua/input/input_client.go
  plugins/inputs/opcua/opcua_test.go
  plugins/inputs/opcua_listener/README.md
  plugins/inputs/opcua_listener/opcua_listener_test.go
  plugins/inputs/opcua_listener/sample.conf
Labels: fix, ready for final review

#12127 fix(agent): watch for changes in configuration files in config directories
  cmd/telegraf/telegraf.go
  config/config.go
  config/config_test.go
Labels: fix, area/agent, ready for final review

#12193 tests(inputs.opcua_listener): harden tests
  plugins/inputs/opcua/opcua_test.go
  plugins/inputs/opcua_listener/opcua_listener_test.go
Labels: ready for final review

#12171 fix(inputs.ping): Use -W on newer version of FreeBSD with ping6
  plugins/inputs/ping/ping_notwindows.go
Labels: fix, area/ping, ready for final review, plugin/input

#12179 chore: Wrap long lines in plugins/outputs
  plugins/outputs/application_insights/application_insights.go
  plugins/outputs/application_insights/application_insights_test.go
  plugins/outputs/azure_data_explorer/azure_data_explorer.go
  plugins/outputs/azure_data_explorer/azure_data_explorer_test.go
  plugins/outputs/cloudwatch_logs/cloudwatch_logs.go
  plugins/outputs/cloudwatch_logs/cloudwatch_logs_test.go
  plugins/outputs/elasticsearch/elasticsearch.go
  plugins/outputs/graphite/graphite.go
  plugins/outputs/http/http_test.go
  plugins/outputs/kafka/kafka.go
  plugins/outputs/newrelic/newrelic_test.go
  plugins/outputs/postgresql/postgresql.go
  plugins/outputs/postgresql/sqltemplate/template.go
  plugins/outputs/riemann_legacy/riemann_legacy.go
  plugins/outputs/stackdriver/stackdriver_test.go
  plugins/outputs/stomp/stomp.go
  plugins/outputs/syslog/syslog_mapper_test.go
  plugins/outputs/timestream/timestream.go
  plugins/outputs/timestream/timestream_internal_test.go
  plugins/outputs/timestream/timestream_test.go
  plugins/outputs/wavefront/wavefront.go
  plugins/outputs/wavefront/wavefront_test.go
Labels: ready for final review, chore

#12191 chore: log errors when adding to quantile aggregator
  plugins/aggregators/quantile/quantile.go
  plugins/aggregators/quantile/quantile_test.go
Labels: ready for final review, chore

#12181 chore: Wrap long lines in plugins/processors
  plugins/processors/enum/enum_test.go
  plugins/processors/parser/parser_test.go
  plugins/processors/regex/regex_test.go
  plugins/processors/template/template_test.go
Labels: ready for final review, chore

#12182 chore: Wrap long lines in plugins/common
  plugins/common/aws/credentials.go
  plugins/common/opcua/opcua_util.go
  plugins/common/shim/example/cmd/main.go
Labels: ready for final review, chore

#12185 chore: Wrap long lines in plugins/inputs/[a-d]*
  plugins/inputs/aerospike/aerospike.go
  plugins/inputs/aliyuncms/discovery.go
  plugins/inputs/apache/apache_test.go
  plugins/inputs/azure_storage_queue/azure_storage_queue.go
  plugins/inputs/bond/bond_test.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt_test.go
  plugins/inputs/clickhouse/clickhouse.go
  plugins/inputs/cloud_pubsub_push/cloud_pubsub_push_test.go
  plugins/inputs/cloudwatch/cloudwatch_test.go
  plugins/inputs/cloudwatch_metric_streams/cloudwatch_metric_streams_test.go
  plugins/inputs/cloudwatch_metric_streams/testdata/record.json
  plugins/inputs/cloudwatch_metric_streams/testdata/records.json
  plugins/inputs/couchbase/couchbase_test.go
  plugins/inputs/couchbase/testdata/bucket_response.json
  plugins/inputs/couchbase/testdata/bucket_stats_response.json
  plugins/inputs/couchbase/testdata/bucket_stats_response_with_missing.json
  plugins/inputs/couchbase/testdata/node_bucket_stats_response.json
  plugins/inputs/couchbase/testdata/pools_default_response.json
  plugins/inputs/couchbase/testdata/pools_response.json
  plugins/inputs/directory_monitor/directory_monitor_test.go
  plugins/inputs/dmcache/dmcache_linux_test.go
  plugins/inputs/docker/docker_testdata.go
  plugins/inputs/dovecot/dovecot_test.go
Labels: ready for final review, chore

#12183 chore: Wrap long lines in plugins/aggregators
  plugins/aggregators/histogram/histogram_test.go
Labels: ready for final review, chore

#12180 chore: Wrap long lines in plugins/parsers
  plugins/parsers/csv/parser_test.go
  plugins/parsers/grok/influx_patterns.go
  plugins/parsers/grok/parser_test.go
  plugins/parsers/influx/influx_upstream/parser_test.go
  plugins/parsers/influx/machine_test.go
  plugins/parsers/influx/parser_test.go
  plugins/parsers/logfmt/parser_test.go
  plugins/parsers/nagios/parser.go
  plugins/parsers/prometheus/parser_test.go
  plugins/parsers/wavefront/parser_test.go
Labels: ready for final review, chore

#12186 chore: Wrap long lines in plugins/inputs/[e-h]*
  go.mod
  plugins/inputs/elasticsearch/elasticsearch.go
  plugins/inputs/google_cloud_storage/google_cloud_storage_test.go
  plugins/inputs/google_cloud_storage/testdata/file_listing.json
  plugins/inputs/google_cloud_storage/testdata/first_file.json
  plugins/inputs/google_cloud_storage/testdata/first_file_listing.json
  plugins/inputs/google_cloud_storage/testdata/fourth_file.json
  plugins/inputs/google_cloud_storage/testdata/fourth_file_listing.json
  plugins/inputs/google_cloud_storage/testdata/second_file.json
  plugins/inputs/google_cloud_storage/testdata/second_file_listing.json
  plugins/inputs/google_cloud_storage/testdata/single_file_list.json
  plugins/inputs/google_cloud_storage/testdata/single_object_not_found.json
  plugins/inputs/google_cloud_storage/testdata/third_file.json
  plugins/inputs/google_cloud_storage/testdata/third_file_listing.json
  plugins/inputs/http_listener_v2/http_listener_v2_test.go
  plugins/inputs/http_response/http_response_test.go
  plugins/inputs/hugepages/hugepages.go
Labels: ready for final review, chore

#12199 chore: Wrap long lines in plugins/inputs/[i-k]*
  plugins/inputs/influxdb/influxdb_test.go
  plugins/inputs/influxdb/testdata/influx_return.json
  plugins/inputs/influxdb/testdata/influx_return2.json
  plugins/inputs/influxdb_listener/influxdb_listener_test.go
  plugins/inputs/influxdb_listener/testdata/huge_metric
  plugins/inputs/influxdb_v2_listener/influxdb_v2_listener_test.go
  plugins/inputs/influxdb_v2_listener/testdata/huge_metric
  plugins/inputs/intel_pmu/config_test.go
  plugins/inputs/intel_pmu/mocks.go
  plugins/inputs/intel_powerstat/intel_powerstat.go
  plugins/inputs/interrupts/interrupts_test.go
  plugins/inputs/jenkins/jenkins_test.go
  plugins/inputs/jolokia2_agent/jolokia2_agent_test.go
  plugins/inputs/jolokia2_agent/testdata/response.json
  plugins/inputs/jolokia2_proxy/jolokia2_proxy_test.go
  plugins/inputs/jti_openconfig_telemetry/jti_openconfig_telemetry_test.go
  plugins/inputs/kapacitor/kapacitor_test.go
  plugins/inputs/kapacitor/testdata/kapacitor_return.json
  plugins/inputs/kernel/kernel_test.go
  plugins/inputs/kernel/testdata/entropy_stat_file_full
  plugins/inputs/kernel/testdata/entropy_stat_file_invalid
  plugins/inputs/kernel/testdata/entropy_stat_file_partial
  plugins/inputs/kernel/testdata/stat_file_full
  plugins/inputs/kernel/testdata/stat_file_invalid
  plugins/inputs/kernel/testdata/stat_file_invalid2
  plugins/inputs/kernel/testdata/stat_file_partial
  plugins/inputs/kinesis_consumer/kinesis_consumer_test.go
Labels: ready for final review, chore

#12130 feat: add arm64 Windows builds
  .circleci/config.yml
  Makefile
  cmd/telegraf/telegraf_windows.go
  docs/NIGHTLIES.md
  plugins/inputs/win_perf_counters/pdh_arm64.go
  scripts/generate_versioninfo/main.go
  scripts/windows-gen-syso.sh
Labels: feat, ready for final review

#12113 fix: Run processors in config order
  config/config.go
  config/config_test.go
  config/testdata/processor_order/multiple_processors.toml
  config/testdata/processor_order/multiple_processors_messy_order.toml
  config/testdata/processor_order/multiple_processors_simple_order.toml
  docs/CONFIGURATION.md
  models/running_processor.go
Labels: fix, ready for final review

#12161 docs(outputs.kafka): specify broker behavior
  plugins/outputs/kafka/README.md
  plugins/outputs/kafka/sample.conf
Labels: docs, area/kafka, ready for final review, plugin/output

#12190 docs(outputs.postgresql): fix example template queries
  plugins/outputs/postgresql/README.md
Labels: docs, area/postgresql, plugin/output

#12215 docs: Add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: docs

#12174 chore: Enable interfacebloat linter
  .golangci.yml
  metric.go
  plugins/inputs/procstat/process.go
Labels: chore

#12218 chore: Wrap long lines in plugins/inputs/[t-z]*
  plugins/inputs/tail/tail_test.go
  plugins/inputs/teamspeak/teamspeak_test.go
  plugins/inputs/tomcat/tomcat_test.go
  plugins/inputs/varnish/varnish.go
  plugins/inputs/varnish/varnish_test.go
  plugins/inputs/vsphere/endpoint.go
  plugins/inputs/webhooks/artifactory/artifactory_webhook_test.go
  plugins/inputs/webhooks/filestack/filestack_webhooks_events_json_test.go
  plugins/inputs/webhooks/filestack/filestack_webhooks_test.go
  plugins/inputs/webhooks/filestack/testdata/dialog_open.json
  plugins/inputs/webhooks/filestack/testdata/upload.json
  plugins/inputs/webhooks/filestack/testdata/video_conversion.json
  plugins/inputs/webhooks/mandrill/mandrill_webhooks_events_json_test.go
  plugins/inputs/webhooks/mandrill/mandrill_webhooks_test.go
  plugins/inputs/webhooks/mandrill/testdata/hard_bounce_event.json
  plugins/inputs/webhooks/mandrill/testdata/send_event.json
  plugins/inputs/win_eventlog/zsyscall_windows.go
  plugins/inputs/win_perf_counters/win_perf_counters.go
  plugins/inputs/win_perf_counters/win_perf_counters_test.go
  plugins/inputs/x509_cert/x509_cert_test.go
  plugins/inputs/zipkin/cmd/stress_test_write/stress_test_write.go
  plugins/inputs/zipkin/zipkin_test.go
Labels: chore

#12219 chore: Wrap long lines in other locations
  cmd/telegraf/main.go
  cmd/telegraf/printer.go
  config/config.go
  config/config_test.go
  logger/logger.go
  plugins/serializers/influx/influx_test.go
  plugins/serializers/json/json_test.go
  plugins/serializers/nowmetric/nowmetric.go
  plugins/serializers/nowmetric/nowmetric_test.go
  plugins/serializers/registry.go
  plugins/serializers/splunkmetric/splunkmetric_test.go
  tools/package_lxd_test/container.go
Labels: chore

#12223 fix(inputs.modbus): delete sample.conf
  plugins/inputs/modbus/sample.conf
Labels: fix, area/modbus, plugin/input

#12226 chore: Enable lll linter
  .golangci.yml
  plugins/inputs/apache/apache_test.go
  plugins/inputs/elasticsearch/testdata_test.go
  plugins/inputs/haproxy/haproxy_test.go
  plugins/inputs/haproxy/testdata/sample_output.csv
  plugins/inputs/http_listener_v2/http_listener_v2_test.go
  plugins/inputs/http_listener_v2/testdata/huge_metric
  plugins/inputs/sqlserver/azuresqldbqueries.go
  plugins/inputs/sqlserver/azuresqlmanagedqueries.go
  plugins/inputs/sqlserver/azuresqlpoolqueries.go
  plugins/inputs/sqlserver/sqlqueriesV1.go
  plugins/inputs/sqlserver/sqlqueriesV2.go
  plugins/inputs/sqlserver/sqlserverqueries.go
  plugins/inputs/varnish/varnish.go
  plugins/parsers/grok/influx_patterns.go
  plugins/parsers/prometheus/parser_test.go
Labels: chore

#12233 docs: Add telegraf Homebrew formula link
  README.md
Labels: docs

#11273 feat(inputs.modbus): Optimize requests
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/modbus/request.go
  plugins/inputs/modbus/sample_request.conf
  plugins/inputs/modbus/testcases/duplicate_fields_same_slave_and_request/init.err
Labels: feat, area/modbus, ready for final review, plugin/input

#12242 chore: Fix linter findings for prealloc (part2)
  plugins/inputs/nfsclient/nfsclient.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/procstat_test.go
  plugins/inputs/smart/smart.go
  plugins/inputs/snmp/snmp_mocks_test.go
  plugins/inputs/sqlserver/sqlserver.go
  plugins/inputs/tcp_listener/tcp_listener.go
  plugins/inputs/varnish/varnish.go
  plugins/inputs/wireguard/wireguard.go
  plugins/outputs/azure_monitor/azure_monitor.go
  plugins/outputs/event_hubs/event_hubs.go
  plugins/outputs/graylog/graylog.go
  plugins/outputs/groundwork/groundwork.go
  plugins/outputs/iotdb/iotdb.go
  plugins/outputs/loki/stream_test.go
  plugins/outputs/postgresql/table_manager.go
  plugins/outputs/riemann/riemann.go
  plugins/outputs/sql/sql.go
  plugins/outputs/stackdriver/counter_cache.go
Labels: ready for final review, chore

#12241 test(inputs.mongodb): update integration test logic
  plugins/inputs/mongodb/mongodb_server_test.go
Labels: area/mongodb, ready for final review, plugin/input, test

#12244 fix: Cleanup and add sample.conf embedding
  plugins/inputs/ethtool/ethtool.go
  plugins/inputs/ethtool/ethtool_linux.go
  plugins/inputs/libvirt/README.md
  plugins/inputs/libvirt/libvirt.go
  plugins/inputs/linux_cpu/README.md
  plugins/inputs/linux_cpu/linux_cpu.go
  plugins/inputs/netstat/README.md
  plugins/inputs/opcua_listener/opcua_listener.go
  plugins/inputs/opcua_listener/sample.conf
  plugins/inputs/processes/processes.go
  plugins/inputs/processes/processes_notwindows.go
  plugins/inputs/supervisor/README.md
  plugins/inputs/supervisor/supervisor.go
  plugins/outputs/redistimeseries/README.md
  plugins/outputs/redistimeseries/redistimeseries.go
  plugins/outputs/redistimeseries/sample.conf
  scripts/check-plugin-doc-embedding.sh
Labels: docs, fix, ready for final review

#12249 docs(inputs.x509_cert): Add documentation for 'exclude_root_certs' option
  plugins/inputs/x509_cert/README.md
  plugins/inputs/x509_cert/sample.conf
Labels: docs, plugin/input

#12126 feat(inputs.sqlserver): adding data and log used space metrics for Azure SQL DB
  plugins/inputs/sqlserver/azuresqldbqueries.go
Labels: feat, area/sqlserver, ready for final review, plugin/input

#12232 feat(parsers.binary): Handle hex-encoded inputs
  plugins/parsers/binary/README.md
  plugins/parsers/binary/parser.go
  plugins/parsers/binary/parser_test.go
Labels: feat, ready for final review, plugin/parser

#12229 fix(input.redis_sentinel): fix sentinel and replica stats gathering
  plugins/inputs/redis_sentinel/redis_sentinel.go
  plugins/inputs/redis_sentinel/redis_sentinel_test.go
Labels: fix, ready for final review, plugin/input

#10103 feat: Add Azure Monitor input plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/azure_monitor.go
  plugins/inputs/azure_monitor/README.md
  plugins/inputs/azure_monitor/azure_monitor.go
  plugins/inputs/azure_monitor/azure_monitor_test.go
  plugins/inputs/azure_monitor/sample.conf
  plugins/inputs/azure_monitor/testdata/json/azure_metric_definitions_responses.json
  plugins/inputs/azure_monitor/testdata/json/azure_metrics_responses.json
  plugins/inputs/azure_monitor/testdata/json/azure_resources_response.json
  plugins/inputs/azure_monitor/testdata/toml/gather_success.toml
  plugins/inputs/azure_monitor/testdata/toml/init_all_target_types.toml
  plugins/inputs/azure_monitor/testdata/toml/init_bad_credentials.toml
  plugins/inputs/azure_monitor/testdata/toml/init_no_client_id.toml
  plugins/inputs/azure_monitor/testdata/toml/init_no_client_secret.toml
  plugins/inputs/azure_monitor/testdata/toml/init_no_subscription_id.toml
  plugins/inputs/azure_monitor/testdata/toml/init_no_targets.toml
  plugins/inputs/azure_monitor/testdata/toml/init_no_tenant_id.toml
  plugins/inputs/azure_monitor/testdata/toml/init_resource_group_target_no_resource_found.toml
  plugins/inputs/azure_monitor/testdata/toml/init_resource_group_target_with_invalid_aggregation.toml
  plugins/inputs/azure_monitor/testdata/toml/init_resource_group_target_with_invalid_metric.toml
  plugins/inputs/azure_monitor/testdata/toml/init_resource_group_target_with_invalid_resource_group.toml
  plugins/inputs/azure_monitor/testdata/toml/init_resource_group_target_with_invalid_resource_type.toml
  plugins/inputs/azure_monitor/testdata/toml/init_resource_group_target_with_resource_without_resource_type.toml
  plugins/inputs/azure_monitor/testdata/toml/init_resource_group_target_without_resource_group.toml
  plugins/inputs/azure_monitor/testdata/toml/init_resource_group_target_without_resources.toml
  plugins/inputs/azure_monitor/testdata/toml/init_resource_group_targets_only.toml
  plugins/inputs/azure_monitor/testdata/toml/init_resource_target_with_invalid_aggregation.toml
  plugins/inputs/azure_monitor/testdata/toml/init_resource_target_with_invalid_metric.toml
  plugins/inputs/azure_monitor/testdata/toml/init_resource_target_with_invalid_resource_id.toml
  plugins/inputs/azure_monitor/testdata/toml/init_resource_target_without_resource_id.toml
  plugins/inputs/azure_monitor/testdata/toml/init_resource_targets_only.toml
  plugins/inputs/azure_monitor/testdata/toml/init_subscription_target_no_resource_found.toml
  plugins/inputs/azure_monitor/testdata/toml/init_subscription_target_with_invalid_aggregation.toml
  plugins/inputs/azure_monitor/testdata/toml/init_subscription_target_with_invalid_metric.toml
  plugins/inputs/azure_monitor/testdata/toml/init_subscription_target_with_invalid_resource_type.toml
  plugins/inputs/azure_monitor/testdata/toml/init_subscription_target_without_resource_type.toml
  plugins/inputs/azure_monitor/testdata/toml/init_subscription_targets_only.toml
Labels: feat, cloud, ready for final review, plugin/input

#12187 feat(inputs.socket_ listener): Allow to specify message separator for streams
  plugins/inputs/socket_listener/README.md
  plugins/inputs/socket_listener/sample.conf
  plugins/inputs/socket_listener/socket_listener.go
  plugins/inputs/socket_listener/socket_listener_test.go
  plugins/inputs/socket_listener/splitters.go
  plugins/inputs/socket_listener/stream_listener.go
  plugins/inputs/socket_listener/testcases/invalid_line_format/expected.err
  plugins/inputs/socket_listener/testcases/invalid_line_format/expected.out
  plugins/inputs/socket_listener/testcases/invalid_line_format/sequence.json
  plugins/inputs/socket_listener/testcases/invalid_line_format/telegraf.conf
  plugins/inputs/socket_listener/testcases/splitting_delimiter/expected.out
  plugins/inputs/socket_listener/testcases/splitting_delimiter/message.bin
  plugins/inputs/socket_listener/testcases/splitting_delimiter/sequence.json
  plugins/inputs/socket_listener/testcases/splitting_delimiter/telegraf.conf
  plugins/inputs/socket_listener/testcases/splitting_fixed_length/expected.out
  plugins/inputs/socket_listener/testcases/splitting_fixed_length/sequence.json
  plugins/inputs/socket_listener/testcases/splitting_fixed_length/telegraf.conf
  plugins/inputs/socket_listener/testcases/splitting_newline/expected.out
  plugins/inputs/socket_listener/testcases/splitting_newline/sequence.json
  plugins/inputs/socket_listener/testcases/splitting_newline/telegraf.conf
  plugins/inputs/socket_listener/testcases/splitting_null/expected.out
  plugins/inputs/socket_listener/testcases/splitting_null/message.bin
  plugins/inputs/socket_listener/testcases/splitting_null/sequence.json
  plugins/inputs/socket_listener/testcases/splitting_null/telegraf.conf
  plugins/inputs/socket_listener/testcases/splitting_variable_length/expected.out
  plugins/inputs/socket_listener/testcases/splitting_variable_length/message_1.bin
  plugins/inputs/socket_listener/testcases/splitting_variable_length/message_2.bin
  plugins/inputs/socket_listener/testcases/splitting_variable_length/message_3.bin
  plugins/inputs/socket_listener/testcases/splitting_variable_length/message_4.bin
  plugins/inputs/socket_listener/testcases/splitting_variable_length/message_5.bin
  plugins/inputs/socket_listener/testcases/splitting_variable_length/sequence.json
  plugins/inputs/socket_listener/testcases/splitting_variable_length/telegraf.conf
  plugins/inputs/socket_listener/testcases/timeout/sequence.json
  plugins/inputs/socket_listener/testcases/timeout/telegraf.conf
Labels: ready for final review

#11950 feat(outputs.graylog): Implement connection retries
  plugins/inputs/tcp_listener/tcp_listener_test.go
  plugins/outputs/graylog/README.md
  plugins/outputs/graylog/graylog.go
  plugins/outputs/graylog/graylog_test_linux.go
  plugins/outputs/graylog/sample.conf
  plugins/outputs/influxdb/http_test.go
  testutil/capturelog.go
Labels: feat, ready for final review, plugin/output

#12260 feat(serializers.json): Support serializing JSON nested in string fields
  config/config.go
  plugins/outputs/azure_data_explorer/azure_data_explorer.go
  plugins/outputs/azure_data_explorer/azure_data_explorer_test.go
  plugins/outputs/event_hubs/event_hubs_test.go
  plugins/outputs/http/http_test.go
  plugins/outputs/stomp/stomp_test.go
  plugins/serializers/json/README.md
  plugins/serializers/json/json.go
  plugins/serializers/json/json_test.go
  plugins/serializers/json/testcases/nested_fields_exclude.conf
  plugins/serializers/json/testcases/nested_fields_include.conf
  plugins/serializers/json/testcases/nested_fields_out.json
  plugins/serializers/registry.go
Labels: feat, area/json, ready for final review, plugin/serializer

#12235 fix(input.modbus): Add workaround to read field in separate requests
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/modbus/sample_general_end.conf
Labels: fix, area/modbus, ready for final review, plugin/input

#12203 test(outputs.sql): do not write to file during testing
  plugins/outputs/sql/sql_test.go
  plugins/outputs/sql/testdata/mariadb/expected_metric_one.sql
  plugins/outputs/sql/testdata/mariadb/expected_metric_three.sql
  plugins/outputs/sql/testdata/mariadb/expected_metric_two.sql
Labels: ready for final review, plugin/output, area/sql, test

#12251 chore: update readme linter changed files version
  .github/workflows/linter.yml
  .github/workflows/readme-linter.yml
Labels: ready for final review, chore

#12250 chore(inputs.x509_cert): Cleanup code
  plugins/inputs/x509_cert/dev/telegraf.conf
  plugins/inputs/x509_cert/x509_cert.go
  plugins/inputs/x509_cert/x509_cert_test.go
Labels: ready for final review, plugin/input, chore

#12255 feat(inputs.modbus): Add 8-bit integer types
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/configuration.go
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/modbus/sample_register.conf
  plugins/inputs/modbus/sample_request.conf
  plugins/inputs/modbus/type_conversions.go
  plugins/inputs/modbus/type_conversions8.go
Labels: feat, area/modbus, plugin/input

#12248 chore(deps): bump github.com/showwin/speedtest-go from 1.1.5 to 1.2.1
  go.mod
  go.sum
Labels: chore

#11999 feat(parsers.xpath): Allow to specify byte-array fields to encode in HEX
  plugins/inputs/socket_listener/testcases/powerdns/dnsmessage.proto
  plugins/inputs/socket_listener/testcases/powerdns/expected.out
  plugins/inputs/socket_listener/testcases/powerdns/powerdns_message.bin
  plugins/inputs/socket_listener/testcases/powerdns/sequence.json
  plugins/inputs/socket_listener/testcases/powerdns/telegraf.conf
  plugins/parsers/temporary/xpath/types.go
  plugins/parsers/xpath/README.md
  plugins/parsers/xpath/parser.go
  plugins/parsers/xpath/testcases/protobuf_powerdns_hex/expected.out
  plugins/parsers/xpath/testcases/protobuf_powerdns_hex/powerdns_message.bin
  plugins/parsers/xpath/testcases/protobuf_powerdns_hex/powerdns_message.proto
  plugins/parsers/xpath/testcases/protobuf_powerdns_hex/telegraf.conf
Labels: feat, area/xml, plugin/parser

#12258 fix(inputs.gnmi): Fix empty name for Sonic device
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/gnmi_test.go
Labels: fix, area/gnmi, plugin/input

#12254 chore: Fix linter findings for makezero (part1)
  plugins/inputs/filecount/filecount.go
  plugins/inputs/jenkins/jenkins.go
  plugins/outputs/sql/sql_test.go
  plugins/outputs/timestream/timestream.go
  plugins/outputs/warp10/warp10.go
  plugins/parsers/influx/machine_test.go
  plugins/parsers/json_v2/parser.go
  plugins/parsers/xpath/json_document.go
  plugins/parsers/xpath/parser.go
  plugins/parsers/xpath/protocolbuffer_document.go
  plugins/parsers/xpath/xml_document.go
  plugins/processors/regex/regex_test.go
  plugins/processors/tag_limit/tag_limit.go
  plugins/serializers/influx/influx.go
  plugins/serializers/wavefront/wavefront.go
  selfstat/selfstat.go
Labels: ready for final review, chore

#12253 chore: Fix linter findings for errname
  .golangci.yml
  internal/internal.go
  plugins/inputs/system/ps.go
  plugins/outputs/influxdb/http.go
Labels: ready for final review, chore

#12246 chore: Fix linter findings for prealloc (part3)
  .golangci.yml
  plugins/inputs/hddtemp/go-hddtemp/hddtemp.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/pgbouncer/pgbouncer.go
  plugins/inputs/postgresql/postgresql.go
  plugins/inputs/postgresql_extensible/postgresql_extensible.go
  plugins/inputs/sqlserver/sqlserver.go
  plugins/inputs/zipkin/cmd/thrift_serialize/thrift_serialize.go
  plugins/outputs/timestream/timestream.go
  plugins/outputs/timestream/timestream_test.go
  plugins/parsers/influx/machine_test.go
  plugins/parsers/json_v2/parser.go
  plugins/parsers/prometheus/parser.go
  plugins/serializers/graphite/graphite.go
  plugins/serializers/nowmetric/nowmetric.go
  testutil/container.go
Labels: ready for final review, chore

#12201 fix(output.datadog): log response in case of non 2XX response from API
  plugins/outputs/datadog/datadog.go
  plugins/outputs/datadog/datadog_test.go
Labels: ready for final review, chore

#12050 feat(inputs.prometheus): add support for Custom header
  plugins/inputs/prometheus/README.md
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/prometheus/sample.conf
Labels: feat, area/prometheus, ready for final review, plugin/input

#12272 fix(inputs.gnmi): Bump github.com/google/gnxi to allow Sonic-style paths
  go.mod
  go.sum
Labels: fix, area/gnmi, ready for final review, plugin/input

#11872 feat(inputs.snmp): Convert enum values
  plugins/inputs/snmp/README.md
  plugins/inputs/snmp/gosmi.go
  plugins/inputs/snmp/gosmi_test.go
  plugins/inputs/snmp/netsnmp.go
  plugins/inputs/snmp/snmp.go
  plugins/inputs/snmp/snmp_test.go
Labels: feat, area/snmp, ready for final review, plugin/input

#12280 fix(inputs.socket_listener): Correctly close connection
  plugins/inputs/socket_listener/stream_listener.go
Labels: regression, fix, ready for final review, plugin/input

#12278 fix(inputs.prometheus): respect selectors when scraping pods
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/prometheus/prometheus_test.go
Labels: area/prometheus, fix, ready for final review, plugin/input

#11951 refactor(outputs.azure_data_explorer): Removed deprecated code
  plugins/outputs/azure_data_explorer/azure_data_explorer.go
  plugins/outputs/azure_data_explorer/azure_data_explorer_test.go
Labels: area/azure, ready for final review, plugin/output, refactor

#11987 feat: Add method to inform of deprecated plugin option values
  docs/developers/DEPRECATION.md
  models/log.go
  models/log_test.go
Labels: feat, ready for final review

#12281 feat(inputs.tail): Add option to preserve newlines for multiline data
  plugins/inputs/tail/README.md
  plugins/inputs/tail/multiline.go
  plugins/inputs/tail/multiline_test.go
  plugins/inputs/tail/sample.conf
Labels: feat, area/tail, ready for final review, plugin/input

#12282 fix(inputs.prometheus): correctly default to 9102 port
  plugins/inputs/prometheus/kubernetes.go
Labels: area/prometheus, fix, plugin/input

#12291 fix(outputs.azure_data_explorer): update test call to NewSerializer
  plugins/outputs/azure_data_explorer/azure_data_explorer_test.go
Labels: fix, plugin/output

#12275 fix(inputs.gnmi): Do not provide empty prefix for subscription request
  plugins/inputs/gnmi/gnmi.go
Labels: fix, area/gnmi, ready for final review, plugin/input

#12294 fix(inputs.directory_monitor): Close input file before removal
  plugins/inputs/directory_monitor/directory_monitor.go
Labels: fix, plugin/input

#12305 chore(inputs.gnmi): Degrade empty-name error to a warning
  plugins/inputs/gnmi/gnmi.go
Labels: area/gnmi, ready for final review, plugin/input

#12008 feat(parsers.csv): Overwrite tags
  plugins/parsers/csv/README.md
  plugins/parsers/csv/parser.go
  plugins/parsers/csv/parser_test.go
  plugins/parsers/registry.go
Labels: feat, ready for final review, plugin/parser, area/csv

#12308 chore: Improve processor ordering
  config/config.go
  config/config_test.go
  models/running_processor.go
Labels: ready for final review, plugin/processor, chore

#11106 feat(inputs.modbus): Optimise grouped requests
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/modbus/request.go
  plugins/inputs/modbus/sample_request.conf
Labels: fix, area/modbus, ready for final review, plugin/input
