Repository influxdata/telegraf, pull requests merged in 2022-09, with the labels that each got.

#11755 fix: sort labels in prometheusremotewrite serializer
  plugins/serializers/prometheusremotewrite/prometheusremotewrite.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite_test.go
Labels: fix, ready for final review, plugin/serializer

#11757 docs(external): add hwinfo external plugin
  EXTERNAL_PLUGINS.md
Labels: docs, ready for final review

#11709 feat(inputs.sqlserver): improved filtering for active requests
  plugins/inputs/sqlserver/README.md
  plugins/inputs/sqlserver/azuresqldbqueries.go
  plugins/inputs/sqlserver/azuresqlmanagedqueries.go
  plugins/inputs/sqlserver/sqlqueriesV2.go
Labels: ready for final review

#11774 docs: Add go report badge
  README.md
Labels: docs, ready for final review

#11692 fix(inputs.jolokia2): add optional origin header
  plugins/inputs/jolokia2/common/client.go
  plugins/inputs/jolokia2/jolokia2_agent/README.md
  plugins/inputs/jolokia2/jolokia2_agent/jolokia2_agent.go
  plugins/inputs/jolokia2/jolokia2_agent/sample.conf
  plugins/inputs/jolokia2/jolokia2_proxy/README.md
  plugins/inputs/jolokia2/jolokia2_proxy/jolokia_proxy.go
  plugins/inputs/jolokia2/jolokia2_proxy/sample.conf
Labels: fix, area/jolokia, ready for final review, plugin/input

#11773 feat(inputs.directory_monitor): Traverse sub-directories
  plugins/inputs/directory_monitor/README.md
  plugins/inputs/directory_monitor/directory_monitor.go
  plugins/inputs/directory_monitor/directory_monitor_test.go
  plugins/inputs/directory_monitor/sample.conf
Labels: feat, ready for final review, plugin/input

#11629 fix(inputs.mongodb): add an option to bypass connection errors on start
  plugins/inputs/mongodb/README.md
  plugins/inputs/mongodb/mongodb.go
  plugins/inputs/mongodb/mongodb_server.go
  plugins/inputs/mongodb/mongodb_server_test.go
  plugins/inputs/mongodb/sample.conf
Labels: fix, area/mongodb, ready for final review, plugin/input

#11777 fix(inputs.statsd): Do not error out for parsing errors in datadog mode.
  plugins/inputs/statsd/statsd.go
Labels: fix, area/statsd, plugin/input

#11779 fix: Add missing entry json_transformation to missingTomlField
  config/config.go
Labels: fix, ready for final review

#11767 fix(outputs.execd): Fixing the execd behavior to not throw error when partially unserializable metrics are written.
  plugins/outputs/execd/README.md
  plugins/outputs/execd/execd.go
  plugins/outputs/execd/execd_test.go
  plugins/outputs/execd/sample.conf
Labels: fix, area/execd, ready for final review, plugin/output

#11637 chore(inputs.jolokia2): Move agent and proxy one level up
  plugins/common/jolokia2/client.go
  plugins/common/jolokia2/gatherer.go
  plugins/common/jolokia2/gatherer_test.go
  plugins/common/jolokia2/metric.go
  plugins/common/jolokia2/point_builder.go
  plugins/inputs/all/jolokia2.go
  plugins/inputs/all/jolokia2_agent.go
  plugins/inputs/all/jolokia2_proxy.go
  plugins/inputs/jolokia2/client_test.go
  plugins/inputs/jolokia2/jolokia2.go
  plugins/inputs/jolokia2/jolokia2_agent/README.md
  plugins/inputs/jolokia2/jolokia2_proxy/README.md
  plugins/inputs/jolokia2_agent/README.md
  plugins/inputs/jolokia2_agent/examples/activemq.conf
  plugins/inputs/jolokia2_agent/examples/bitbucket.conf
  plugins/inputs/jolokia2_agent/examples/cassandra.conf
  plugins/inputs/jolokia2_agent/examples/hadoop-hdfs.conf
  plugins/inputs/jolokia2_agent/examples/java.conf
  plugins/inputs/jolokia2_agent/examples/jboss.conf
  plugins/inputs/jolokia2_agent/examples/kafka-connect.conf
  plugins/inputs/jolokia2_agent/examples/kafka.conf
  plugins/inputs/jolokia2_agent/examples/tomcat.conf
  plugins/inputs/jolokia2_agent/examples/weblogic.conf
  plugins/inputs/jolokia2_agent/examples/zookeeper.conf
  plugins/inputs/jolokia2_agent/jolokia2_agent.go
  plugins/inputs/jolokia2_agent/jolokia2_agent_test.go
  plugins/inputs/jolokia2_agent/sample.conf
  plugins/inputs/jolokia2_proxy/README.md
  plugins/inputs/jolokia2_proxy/jolokia2_proxy.go
  plugins/inputs/jolokia2_proxy/jolokia2_proxy_test.go
  plugins/inputs/jolokia2_proxy/sample.conf
Labels: area/jolokia, ready for final review, plugin/input, chore

#11784 feat(inputs.directory_monitor): Support paths for files_to_ignore and files_to_monitor
  plugins/inputs/directory_monitor/directory_monitor.go
  plugins/inputs/directory_monitor/directory_monitor_test.go
Labels: feat, plugin/input

#11228 feat(processors.parser): Add option to parse tags
  plugins/processors/parser/README.md
  plugins/processors/parser/parser.go
  plugins/processors/parser/parser_test.go
  plugins/processors/parser/sample.conf
Labels: feat, ready for final review, plugin/processor

#11790 chore: Run amd64 package on master so config is generated
  .circleci/config.yml
Labels: chore

#11787 fix: Clear error message when provided config is not a text file
  config/config.go
  config/config_test.go
Labels: fix, area/configuration, ready for final review

#11729 feat(inputs.prometheus): use system wide proxy settings
  plugins/inputs/prometheus/README.md
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/prometheus/prometheus_test.go
  plugins/inputs/prometheus/sample.conf
  plugins/outputs/prometheus_client/prometheus_client_v1_test.go
  plugins/outputs/prometheus_client/prometheus_client_v2_test.go
Labels: feat, area/prometheus, ready for final review, plugin/input

#11783 feat(inputs.knx_listener): support TCP as transport protocol
  go.mod
  go.sum
  plugins/inputs/knx_listener/README.md
  plugins/inputs/knx_listener/knx_listener.go
  plugins/inputs/knx_listener/sample.conf
Labels: feat, plugin/input

#10797 fix: modernize Ceph input plugin metrics
  plugins/inputs/ceph/README.md
  plugins/inputs/ceph/ceph.go
  plugins/inputs/ceph/ceph_test.go
Labels: fix, area/ceph, ready for final review, plugin/input

#11781 fix(parsers.xpath): Add array index when expanding names.
  plugins/parsers/xpath/json_document.go
  plugins/parsers/xpath/testcases/name_expansion/expected.out
  plugins/parsers/xpath/testcases/name_expansion/telegraf.conf
  plugins/parsers/xpath/testcases/name_expansion/test.json
Labels: fix, plugin/parser

#11785 fix(inputs.modbus): Do not fail if a single slave reports errors
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/modbus_test.go
Labels: fix, area/modbus, plugin/input

#11815 fix(parsers): Memory leak for plugins using ParserFunc.
  agent/agent.go
  config/config.go
  config/config_test.go
Labels: fix

#11835 fix: Enable global confirmation for installing mingw
  .circleci/config.yml
  scripts/installgo_windows.sh
Labels: fix

#11826 fix(parsers): Unwrap parser and remove some special handling
  plugins/inputs/exec/exec.go
  plugins/inputs/execd/execd.go
  plugins/inputs/execd/execd_test.go
  plugins/parsers/prometheus/parser.go
Labels: fix, plugin/parser

#11827 fix(inputs.ntpq): Handle pools with "-" when
  plugins/inputs/ntpq/ntpq.go
  plugins/inputs/ntpq/testcases/pool_when_minus/expected.out
  plugins/inputs/ntpq/testcases/pool_when_minus/input.txt
  plugins/inputs/ntpq/testcases/pool_when_minus/telegraf.conf
Labels: fix, plugin/input

#11825 fix(parsers.csv): Remove direct checks for the parser type
  plugins/inputs/directory_monitor/directory_monitor.go
  plugins/inputs/directory_monitor/directory_monitor_test.go
  plugins/inputs/tail/tail.go
  plugins/parsers/csv/parser.go
  plugins/parsers/csv/parser_test.go
  plugins/parsers/errors.go
Labels: regression, fix, plugin/parser, area/csv

#8413 feat(inputs.gcs): Google Cloud Storage Input Plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/google_cloud_storage.go
  plugins/inputs/google_cloud_storage/README.md
  plugins/inputs/google_cloud_storage/google_cloud_storage.go
  plugins/inputs/google_cloud_storage/google_cloud_storage_test.go
  plugins/inputs/google_cloud_storage/sample.conf
Labels: new plugin, cloud, ready for final review, plugin/input

#11385 feat(outputs.timestream): Support ingesting multi-measures
  plugins/outputs/timestream/README.md
  plugins/outputs/timestream/sample.conf
  plugins/outputs/timestream/timestream.go
  plugins/outputs/timestream/timestream_test.go
Labels: feat, ready for final review, plugin/output

#11678 chore: Remove deprecated io/ioutils
  internal/snmp/translate.go
  plugins/inputs/consul_agent/consul_agent_test.go
  plugins/inputs/http/http.go
  plugins/inputs/hugepages/hugepages.go
  plugins/inputs/intel_pmu/intel_pmu.go
  plugins/inputs/nomad/nomad_test.go
  plugins/inputs/varnish/varnish_test.go
  plugins/inputs/vault/vault_test.go
  plugins/inputs/webhooks/filestack/filestack_webhooks.go
  plugins/inputs/webhooks/mandrill/mandrill_webhooks.go
  plugins/inputs/webhooks/rollbar/rollbar_webhooks.go
  plugins/inputs/xtremio/xtremio.go
  plugins/inputs/xtremio/xtremio_test.go
  plugins/outputs/groundwork/groundwork_test.go
  scripts/generate_versioninfo/main.go
Labels: ready for final review, chore

#11848 chore: update github.com/lxc/lxd to latest
  go.mod
  go.sum
Labels: chore

#11858 chore: update github.com/jackc/pgx/v4 from v4.17.0 to v4.17.1
  go.mod
  go.sum
Labels: chore

#11806 fix: reallow specifying the influx parser type
  config/config.go
Labels: fix

#11849 fix(inputs.mongodb): actually start plugin correctly
  plugins/inputs/mongodb/mongodb.go
  plugins/inputs/mongodb/mongodb_server_test.go
Labels: fix, area/mongodb, ready for final review, plugin/input

#11861 fix: Update dependencies for OpenBSD support
  go.mod
  go.sum
Labels: ready for final review

#11843 build: github Workflows security hardening
  .github/workflows/golangci-lint.yml
  .github/workflows/linter.yml
Labels: ready for final review

#11877 fix: Rename inputs.internet_speed.enable_file_download to match upstream intent
  plugins/inputs/internet_speed/README.md
  plugins/inputs/internet_speed/internet_speed.go
  plugins/inputs/internet_speed/internet_speed_test.go
  plugins/inputs/internet_speed/sample.conf
Labels: fix

#11630 feat(inputs.opcua): add use regular reads workaround
  plugins/inputs/opcua/README.md
  plugins/inputs/opcua/opcua.go
  plugins/inputs/opcua/opcua_test.go
  plugins/inputs/opcua/sample.conf
Labels: feat, area/opcua, ready for final review, plugin/input

#11883 docs(inputs.cpu): explain macos cpu support requires cgo
  plugins/inputs/cpu/README.md
Labels: docs, ready for final review, plugin/input

#11519 fix: Enable TLS in Kafka without custom config
  plugins/common/kafka/config.go
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/kafka_consumer/sample.conf
  plugins/outputs/kafka/README.md
  plugins/outputs/kafka/sample.conf
Labels: fix, ready for final review

#11836 chore(deps): Replace go-ping by pro-bing
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/ping/ping.go
  plugins/inputs/ping/ping_test.go
Labels: area/ping, ready for final review, dependencies, chore

#11860 feat(inputs.amqp_consumer): Determine content encoding automatically
  internal/content_coding.go
  plugins/inputs/amqp_consumer/README.md
  plugins/inputs/amqp_consumer/amqp_consumer.go
  plugins/inputs/amqp_consumer/amqp_consumer_test.go
  plugins/inputs/amqp_consumer/sample.conf
Labels: feat, ready for final review, plugin/input

#11600 chore(processors): Convert processors to `ParserPlugin`s
  config/config.go
  config/config_test.go
  config/testdata/processors_with_parsers.toml
  parser.go
  plugins/processors/execd/execd.go
  plugins/processors/execd/execd_test.go
  plugins/processors/parser/parser.go
  plugins/processors/parser/parser_test.go
Labels: ready for final review, plugin/processor, chore

#11892 chore(inputs.opcua): rename regular reads to unregistered reads
  plugins/inputs/opcua/README.md
  plugins/inputs/opcua/opcua.go
  plugins/inputs/opcua/opcua_test.go
  plugins/inputs/opcua/sample.conf
Labels: area/opcua, plugin/input, chore

#11893 chore(deps): github.com/docker/distribution from v2.7.1 to v2.8.1
  go.mod
  go.sum
Labels: chore

#11703 feat(inputs.diskio): Allow selecting devices by ID
  plugins/inputs/diskio/README.md
  plugins/inputs/diskio/diskio.go
  plugins/inputs/diskio/diskio_linux.go
  plugins/inputs/diskio/diskio_other.go
  plugins/inputs/diskio/sample.conf
Labels: feat, ready for final review, plugin/input

#11910 chore(lint): Removed deprecated varcheck linter
  .golangci.yml
  plugins/inputs/phpfpm/fcgi.go
  plugins/inputs/zfs/zfs.go
Labels: ready for final review, chore

#11914 docs: Ran `make docs`
  plugins/inputs/opcua/sample.conf
Labels: docs
