Repository influxdata/telegraf, pull requests merged in 2023-09, with the labels that each got.

#13846 feat(inputs.opentelemetry): Add configurable log record dimensions
  go.mod
  go.sum
  plugins/inputs/opentelemetry/README.md
  plugins/inputs/opentelemetry/grpc_services.go
  plugins/inputs/opentelemetry/opentelemetry.go
  plugins/inputs/opentelemetry/sample.conf
Labels: feat, ready for final review, plugin/input

#13867 chore: Update go cache key to include go version
  .circleci/config.yml
  tools/update_goversion/main.go
Labels: chore

#13875 fix(outputs.sql): Move 'conversion_style' option to the right place
  plugins/outputs/sql/README.md
  plugins/outputs/sql/sample.conf
  plugins/outputs/sql/sql.go
Labels: fix, ready for final review, plugin/output, area/sql

#13877 feat(inputs.cisco_telemetry_mdt): Add microbust support
  plugins/inputs/cisco_telemetry_mdt/README.md
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt_test.go
  plugins/inputs/cisco_telemetry_mdt/testdata/microburst
Labels: feat, area/cisco, ready for final review, plugin/input

#13871 chore: Update all cache strings with go version
  .circleci/config.yml
  tools/update_goversion/main.go
Labels: chore

#13879 chore: Force reinstall of go on Windows
  .circleci/config.yml
  scripts/installgo_windows.sh
Labels: ready for final review, chore

#13884 fix(rpm): Resolve nightly rpm tests
  scripts/rpm/post-install.sh
  tools/package_lxd_test/container.go
  tools/package_lxd_test/main.go
Labels: fix, ready for final review

#13883 docs: Improve behavior documentation of metricpass
  docs/CONFIGURATION.md
Labels: docs, ready for final review

#13855 fix(parsers.avro): Handle timestamp format checking correctly
  plugins/parsers/avro/README.md
  plugins/parsers/avro/parser.go
  plugins/parsers/avro/testdata/bad-timestamp-format/expected.err
  plugins/parsers/avro/testdata/bad-timestamp-format/expected.out
  plugins/parsers/avro/testdata/bad-timestamp-format/message.avro
  plugins/parsers/avro/testdata/bad-timestamp-format/telegraf.conf
  plugins/parsers/avro/testdata/no-timestamp-format/expected.err
  plugins/parsers/avro/testdata/no-timestamp-format/expected.out
  plugins/parsers/avro/testdata/no-timestamp-format/message.avro
Labels: fix, ready for final review, plugin/parser

#13887 chore: Update to go1.21.1
  .circleci/config.yml
  .github/workflows/govulncheck.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, dependencies, chore

#13779 fix(inputs.procstat): Collect swap via /proc/$pid/smaps
  plugins/inputs/procstat/README.md
  plugins/inputs/procstat/memmap.go
  plugins/inputs/procstat/memmap_notlinux.go
  plugins/inputs/procstat/process.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/procstat_test.go
Labels: area/procstat, fix, ready for final review, plugin/input

#13870 fix(inputs.sqlserver): Cast max_size to bigint
  plugins/inputs/sqlserver/azuresqldbqueries.go
Labels: fix, area/sqlserver, ready for final review, plugin/input

#13866 feat(inputs.redis): Add additional commandstat fields
  plugins/inputs/redis/README.md
  plugins/inputs/redis/redis.go
  plugins/inputs/redis/redis_test.go
Labels: feat, area/redis, ready for final review, plugin/input

#13890 feat(inputs.vsphere): Allow to set vSAN sampling interval
  plugins/inputs/vsphere/README.md
  plugins/inputs/vsphere/endpoint.go
  plugins/inputs/vsphere/sample.conf
  plugins/inputs/vsphere/vsphere.go
Labels: feat, area/vsphere, ready for final review, plugin/input

#13857 feat(outputs.wavefront): Add more auth options and update SDK
  go.mod
  go.sum
  plugins/outputs/wavefront/README.md
  plugins/outputs/wavefront/sample.conf
  plugins/outputs/wavefront/wavefront.go
  plugins/outputs/wavefront/wavefront_test.go
Labels: feat, area/wavefront, ready for final review, plugin/output

#13864 feat(inputs.redis_sentinel): Allow username and password
  plugins/inputs/redis/README.md
  plugins/inputs/redis/redis.go
  plugins/inputs/redis/sample.conf
  plugins/inputs/redis_sentinel/README.md
  plugins/inputs/redis_sentinel/redis_sentinel.go
  plugins/inputs/redis_sentinel/sample.conf
Labels: feat, ready for final review, plugin/input

#13895 chore(deps): Bump github.com/showwin/speedtest-go from 1.6.2 to 1.6.6
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#13874 feat(prometheus): Allow to specify metric type
  config/config_test.go
  plugins/outputs/prometheus_client/README.md
  plugins/outputs/prometheus_client/prometheus_client.go
  plugins/outputs/prometheus_client/prometheus_client_v1_test.go
  plugins/outputs/prometheus_client/prometheus_client_v2_test.go
  plugins/outputs/prometheus_client/sample.conf
  plugins/outputs/prometheus_client/v1/collector.go
  plugins/outputs/prometheus_client/v2/collector.go
  plugins/serializers/prometheus/README.md
  plugins/serializers/prometheus/collection.go
  plugins/serializers/prometheus/prometheus.go
  plugins/serializers/prometheus/prometheus_test.go
Labels: feat, area/prometheus, ready for final review, plugin/output, plugin/serializer

#13856 fix(parsers.avro): Do not force addition of timestamp as a field
  plugins/parsers/avro/parser.go
  plugins/parsers/avro/testdata/json-format/message.json
  plugins/parsers/avro/testdata/json-format/telegraf.conf
  plugins/parsers/avro/testdata/supplied_timestamp_fields_unspecified/expected.out
  plugins/parsers/avro/testdata/supplied_timestamp_fields_unspecified/telegraf.conf
Labels: fix, ready for final review, plugin/parser

#13886 fix(inputs.kafka_consumer): Use per-message parser to avoid races
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
Labels: area/kafka, fix, ready for final review, plugin/input

#13899 feat(outputs.prometheus_client): Add secretstore support for basic_password
  plugins/outputs/prometheus_client/README.md
  plugins/outputs/prometheus_client/prometheus_client.go
Labels: feat, area/prometheus, ready for final review, plugin/output

#13801 feat(inputs): New Intel PMT plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/intel_pmt.go
  plugins/inputs/intel_pmt/README.md
  plugins/inputs/intel_pmt/filtering.go
  plugins/inputs/intel_pmt/filtering_test.go
  plugins/inputs/intel_pmt/intel_pmt.go
  plugins/inputs/intel_pmt/intel_pmt_notamd64linux.go
  plugins/inputs/intel_pmt/intel_pmt_test.go
  plugins/inputs/intel_pmt/sample.conf
  plugins/inputs/intel_pmt/tags_extraction.go
  plugins/inputs/intel_pmt/tags_extraction_test.go
  plugins/inputs/intel_pmt/xml_parser.go
  plugins/inputs/intel_pmt/xml_parser_test.go
Labels: feat, new plugin, ready for final review, plugin/input

#13903 feat(parsers.avro): Allow connection to https schema registry
  plugins/parsers/avro/README.md
  plugins/parsers/avro/parser.go
  plugins/parsers/avro/schema_registry.go
Labels: feat, ready for final review, plugin/parser

#13910 fix(inputs.redis): Fix password typo
  plugins/inputs/redis/redis.go
Labels: area/redis, fix, plugin/input

#13909 fix(packaging): Revert permission change on configs
  Makefile
  scripts/deb/post-install.sh
  scripts/rpm/post-install.sh
Labels: fix

#13915 fix(inputs.systemd_units): Add missing upstream states
  plugins/inputs/systemd_units/README.md
  plugins/inputs/systemd_units/systemd_units.go
Labels: fix, ready for final review, plugin/input

#13919 chore: Clean up results from make check-deps
  plugins/inputs/sql/drivers_sqlite.go
  plugins/outputs/sql/sqlite.go
  plugins/outputs/sql/sqlite_test.go
Labels: ready for final review, plugin/input, plugin/output, area/sql, chore

#13918 test(outputs.sql): Fix clean up of sql database file
  plugins/outputs/sql/sqlite_test.go
Labels: ready for final review, plugin/output, area/sql, test

#13921 docs(inputs.procstat): Add docs on permissions and metric details
  plugins/inputs/procstat/README.md
Labels: ready for final review

#13927 fix(inputs.smart): Remove parsing error message
  plugins/inputs/smart/smart.go
Labels: fix, area/smart, ready for final review, plugin/input

#13930 fix(outputs.cloudwatch): Increase number of metrics per write
  plugins/outputs/cloudwatch/cloudwatch.go
Labels: fix, ready for final review, plugin/output

#13939 fix(parsers.avro): Only attempt to read CA Cert file if filename is not empty string
  plugins/parsers/avro/schema_registry.go
Labels: fix, ready for final review, plugin/parser

#13924 feat(inputs.kafka_consumer): Add message headers as metric tags.
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/sample.conf
Labels: feat, area/kafka, ready for final review, plugin/input

#13947 fix(processors.template): Handle tracking metrics correctly
  metric.go
  plugins/processors/lookup/lookup.go
  plugins/processors/template/template.go
  plugins/processors/template/template_test.go
Labels: fix, ready for final review, plugin/processor

#13952 chore: Remove whitespace, update variable naming
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/sample.conf
Labels: chore

#13961 fix(parsers.avro): Clean up Warnf error wrapping error
  plugins/parsers/avro/parser.go
Labels: fix, plugin/parser

#13962 fix(inputs.nvidia_smi): Add legacy power readings to v12 schema
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
  plugins/inputs/nvidia_smi/schema_v12/parser.go
  plugins/inputs/nvidia_smi/schema_v12/types.go
  plugins/inputs/nvidia_smi/testdata/quadro-p2000-v12.xml
Labels: fix, ready for final review, plugin/input

#13963 fix(inputs.cisco_telemetry_mdt): Print string message on decode failure
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt.go
Labels: fix, ready for final review, plugin/input

#13970 docs(processors.lookup): Fix wrong word usage
  plugins/processors/lookup/README.md
Labels: docs, ready for final review, plugin/processor

#13937 fix(inputs.exec): Clean up grandchildren processes
  internal/exec_unix.go
  plugins/inputs/exec/exec.go
  plugins/inputs/exec/run_notwinodws.go
  plugins/inputs/exec/run_windows.go
Labels: area/exec, fix, ready for final review, plugin/input

#13931 fix(outputs.stackdriver): Drop metrics on InvalidArgument gRPC error
  plugins/outputs/stackdriver/stackdriver.go
  plugins/outputs/stackdriver/stackdriver_test.go
Labels: fix, ready for final review, plugin/output

#13982 fix(inputs.nfsclient): Avoid panics, better error messages
  plugins/inputs/nfsclient/README.md
  plugins/inputs/nfsclient/nfsclient.go
  plugins/inputs/nfsclient/nfsclient_test.go
Labels: fix, ready for final review, plugin/input

#13983 chore(processors.starlark): Add benchmark for field-value filter
  plugins/processors/starlark/starlark_test.go
Labels: area/starlark, ready for final review, plugin/processor, chore

#13953 chore(secrets): Abstract secret implementation
  cmd/telegraf/cmd_secretstore.go
  config/secret.go
  config/secret_protected.go
  config/secret_test.go
  config/secret_with_mlock.go
  config/secret_without_mlock.go
  plugins/common/kafka/sasl.go
  plugins/common/mqtt/mqtt_v3.go
  plugins/common/mqtt/mqtt_v5.go
  plugins/common/opcua/opcua_util.go
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer.go
  plugins/inputs/example/example.go
  plugins/inputs/http/http.go
  plugins/inputs/http_response/http_response.go
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/inputs/mysql/mysql.go
  plugins/inputs/opensearch_query/opensearch_query.go
  plugins/inputs/postgresql/service.go
  plugins/inputs/radius/radius.go
  plugins/inputs/snmp_trap/snmp_trap.go
  plugins/inputs/sql/sql.go
  plugins/inputs/sqlserver/sqlserver.go
  plugins/inputs/tacacs/tacacs.go
  plugins/inputs/vsphere/client.go
  plugins/outputs/amqp/amqp.go
  plugins/outputs/clarify/clarify.go
  plugins/outputs/dynatrace/dynatrace.go
  plugins/outputs/elasticsearch/elasticsearch.go
  plugins/outputs/groundwork/groundwork.go
  plugins/outputs/http/http.go
  plugins/outputs/influxdb/http.go
  plugins/outputs/influxdb_v2/http.go
  plugins/outputs/instrumental/instrumental.go
  plugins/outputs/iotdb/iotdb.go
  plugins/outputs/librato/librato.go
  plugins/outputs/logzio/logzio.go
  plugins/outputs/loki/loki.go
  plugins/outputs/mongodb/mongodb.go
  plugins/outputs/nats/nats.go
  plugins/outputs/prometheus_client/prometheus_client.go
  plugins/outputs/redistimeseries/redistimeseries.go
  plugins/outputs/signalfx/signalfx.go
  plugins/outputs/stomp/stomp.go
  plugins/outputs/warp10/warp10.go
  plugins/outputs/wavefront/wavefront.go
  plugins/secretstores/http/aes.go
  plugins/secretstores/http/http.go
  plugins/secretstores/http/key_derivation.go
  plugins/secretstores/http/key_derivation_test.go
  plugins/secretstores/jose/jose.go
  plugins/secretstores/oauth2/oauth2.go
  plugins/secretstores/os/os_darwin.go
Labels: ready for final review, chore, plugin/secretstores

#13977 fix(input.intel_pmt): Handle telem devices without numa_node attribute
  plugins/inputs/intel_pmt/intel_pmt.go
Labels: fix, ready for final review, plugin/input

#13958 fix(inputs.jti_openconfig_telemetry): Do not block GRPC dial
  plugins/inputs/jti_openconfig_telemetry/jti_openconfig_telemetry.go
Labels: fix, area/telemetry, ready for final review, plugin/input

#13997 fix(inputs.mock): Plugin not aligned with documentation
  plugins/inputs/mock/README.md
  plugins/inputs/mock/mock.go
  plugins/inputs/mock/sample.conf
Labels: fix, ready for final review, plugin/input

#14001 feat(inputs.amqp_consumer): Add secretstore support for username and password
  plugins/inputs/amqp_consumer/README.md
  plugins/inputs/amqp_consumer/amqp_consumer.go
Labels: feat, ready for final review, plugin/input

#14009 fix(outputs.stackdriver): Do not shallow copy map
  plugins/outputs/stackdriver/stackdriver.go
  plugins/outputs/stackdriver/stackdriver_test.go
Labels: fix, ready for final review, plugin/output

#13991 feat(inputs.rabbitmq): Add secretstore support for username and password
  plugins/inputs/rabbitmq/README.md
  plugins/inputs/rabbitmq/rabbitmq.go
Labels: feat, area/rabbitmq, ready for final review, plugin/input

#13894 feat(inputs.docker): Add disk usage
  go.mod
  plugins/inputs/docker/README.md
  plugins/inputs/docker/client.go
  plugins/inputs/docker/docker.go
  plugins/inputs/docker/docker_test.go
  plugins/inputs/docker/docker_testdata.go
  plugins/inputs/docker/sample.conf
Labels: feat, area/docker, ready for final review, plugin/input

#14013 docs(outputs.prometheus_client): Fix metric-type parameter naming
  plugins/outputs/prometheus_client/README.md
  plugins/outputs/prometheus_client/sample.conf
Labels: docs, area/prometheus, ready for final review, plugin/output

#13971 feat(processors.regex): Allow batch transforms using named groups
  plugins/processors/regex/README.md
  plugins/processors/regex/converter.go
  plugins/processors/regex/regex.go
  plugins/processors/regex/regex_test.go
  plugins/processors/regex/sample.conf
Labels: feat, ready for final review, plugin/processor

#14015 chore: Update Windows zip archive creation
  scripts/windows-signing.ps1
Labels: ready for final review, chore

#14014 docs(apparmor): Add page explaining apparmor denials
  docs/APPARMOR.md
Labels: docs, ready for final review

#14016 docs(outputs.http): Document proxy settings
  plugins/outputs/http/README.md
  plugins/outputs/http/sample.conf
Labels: docs, ready for final review, plugin/output

#11958 feat(outputs.opensearch): opensearch output plugin
  plugins/outputs/all/opensearch.go
  plugins/outputs/opensearch/README.md
  plugins/outputs/opensearch/opensearch.go
  plugins/outputs/opensearch/opensearch_test.go
  plugins/outputs/opensearch/opensearch_v1_test.go
  plugins/outputs/opensearch/opensearch_v2_test.go
  plugins/outputs/opensearch/sample.conf
  plugins/outputs/opensearch/template.json
Labels: feat, new plugin, ready for final review, plugin/output

#14021 fix(outputs.opensearch): Migrate to new secrets API
  plugins/outputs/opensearch/opensearch.go
Labels: fix, ready for final review, plugin/output
