Repository influxdata/telegraf, pull requests merged in 2023-02, with the labels that each got.

#12586 fix(docs): Fix link to license for Google flatbuffers
  docs/LICENSE_OF_DEPENDENCIES.md
Labels: docs, fix, ready for final review

#12587 chore(internal.gzip): Cleanup `CompressWithGzip`
  internal/internal.go
  internal/internal_test.go
  plugins/inputs/http/http.go
  plugins/outputs/http/http.go
  plugins/outputs/influxdb/http.go
  plugins/outputs/influxdb_v2/http.go
  plugins/outputs/loki/loki.go
  plugins/outputs/sensu/sensu.go
Labels: ready for final review, chore

#12588 chore: Fix existing linter findings
  cmd/telegraf/main.go
  cmd/telegraf/printer.go
  plugins/inputs/dns_query/dns_query_test.go
  plugins/inputs/vsphere/client.go
  plugins/inputs/x509_cert/x509_cert_test.go
  plugins/outputs/influxdb/http.go
  plugins/outputs/influxdb/http_test.go
  plugins/parsers/grok/parser_test.go
Labels: chore

#12591 feat(inputs.mysql): Add secret-store support
  plugins/inputs/mysql/mysql.go
  plugins/inputs/mysql/mysql_test.go
Labels: feat, area/mysql, ready for final review, plugin/input, plugin/secretstores

#12550 feat(inputs.example): Add secret-store sample code
  plugins/inputs/example/example.go
Labels: feat, ready for final review, plugin/input

#12584 docs(inputs.postgresql): provide socket connection details
  plugins/inputs/postgresql/README.md
  plugins/inputs/postgresql/sample.conf
Labels: docs, area/postgresql, ready for final review, plugin/input

#12590 chore: Lint whole codebase both in PR and master branch
  .github/workflows/golangci-lint.yml
  .golangci.yml
  Makefile
  plugins/inputs/http/http.go
  plugins/outputs/influxdb/http.go
  plugins/outputs/influxdb_v2/http.go
Labels: ready for final review, chore

#12393 feat(inputs.opensearch_query): Add opensearch_query input plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/opensearch_query.go
  plugins/inputs/opensearch_query/README.md
  plugins/inputs/opensearch_query/aggregation.bucket.go
  plugins/inputs/opensearch_query/aggregation.go
  plugins/inputs/opensearch_query/aggregation.metric.go
  plugins/inputs/opensearch_query/aggregation.response.go
  plugins/inputs/opensearch_query/opensearch_query.go
  plugins/inputs/opensearch_query/opensearch_query_test.go
  plugins/inputs/opensearch_query/query.go
  plugins/inputs/opensearch_query/sample.conf
  plugins/inputs/opensearch_query/testdata/nginx_logs
Labels: feat, ready for final review, plugin/input

#12592 docs: Indicate secret-store support
  plugins/inputs/http/README.md
  plugins/inputs/http_response/README.md
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/mqtt_consumer/README.md
  plugins/inputs/postgresql/README.md
  plugins/inputs/postgresql_extensible/README.md
  plugins/inputs/snmp_trap/README.md
  plugins/inputs/sql/README.md
  plugins/inputs/sqlserver/README.md
  plugins/inputs/vsphere/README.md
  plugins/outputs/amqp/README.md
  plugins/outputs/dynatrace/README.md
  plugins/outputs/elasticsearch/README.md
  plugins/outputs/groundwork/README.md
  plugins/outputs/http/README.md
  plugins/outputs/influxdb/README.md
  plugins/outputs/influxdb_v2/README.md
  plugins/outputs/instrumental/README.md
  plugins/outputs/iotdb/README.md
  plugins/outputs/iotdb/sample.conf
  plugins/outputs/kafka/README.md
  plugins/outputs/librato/README.md
  plugins/outputs/logzio/README.md
  plugins/outputs/loki/README.md
  plugins/outputs/mongodb/README.md
  plugins/outputs/mqtt/README.md
  plugins/outputs/nats/README.md
  plugins/outputs/nats/nats.go
  plugins/outputs/redistimeseries/README.md
  plugins/outputs/signalfx/README.md
  plugins/outputs/stomp/README.md
  plugins/outputs/warp10/README.md
  plugins/outputs/wavefront/README.md
Labels: docs, ready for final review

#12599 fix(inputs.mongodb): fix error logging
  plugins/inputs/mongodb/mongodb.go
Labels: fix, area/mongodb, ready for final review, plugin/input

#12593 chore: update to go1.20
  .circleci/config.yml
  Makefile
  internal/internal_test.go
  plugins/inputs/chrony/chrony_test.go
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore

#12600 feat: always disable cgo support (static builds)
  .circleci/config.yml
  Makefile
  docs/NIGHTLIES.md
  scripts/check-dynamic-glibc-versions.sh
Labels: feat

#12604 fix(inputs.mongodb): resolve SIGSEGV when restarting MongoDB node
  plugins/inputs/mongodb/mongostat.go
  plugins/inputs/mongodb/mongostat_test.go
Labels: ready for final review

#12605 chore: bump golangci-lint from v1.50.1 to v1.51.0
  .github/workflows/golangci-lint.yml
  .golangci.yml
  Makefile
  plugins/inputs/jti_openconfig_telemetry/collection.go
  plugins/inputs/leofs/leofs.go
  plugins/inputs/pf/pf.go
  plugins/inputs/postgresql_extensible/postgresql_extensible.go
  plugins/inputs/snmp_legacy/snmp_legacy.go
  plugins/inputs/systemd_units/systemd_units.go
  plugins/outputs/graphite/graphite.go
Labels: ready for final review, chore

#12614 chore: Bump go to 1.20 for golangci-lint-action
  .github/workflows/golangci-lint.yml
  internal/internal.go
  plugins/inputs/mock/mock.go
  plugins/inputs/mock/mock_test.go
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/inputs/statsd/statsd.go
  plugins/inputs/tcp_listener/tcp_listener.go
  plugins/outputs/file/file_test.go
  plugins/outputs/mqtt/mqtt_v3.go
  plugins/outputs/mqtt/mqtt_v5.go
  tools/update_goversion/main.go
Labels: chore

#12607 fix(agent): only read the config once
  cmd/telegraf/telegraf.go
Labels: fix, ready for final review

#12625 fix(inputs.prometheus): Fix typo in the README
  plugins/inputs/prometheus/README.md
  plugins/inputs/prometheus/sample.conf
Labels: waiting for response

#12628 feat(inputs.processes): add use_sudo option for BSD
  plugins/inputs/processes/README.md
  plugins/inputs/processes/processes_notwindows.go
  plugins/inputs/processes/processes_test.go
  plugins/inputs/processes/sample.conf
Labels: feat, ready for final review, plugin/input

#12636 docs: Show TOML inline table syntax for tags/tagpass/tagdrop
  docs/CONFIGURATION.md
Labels: docs, ready for final review

#12473 feat(inputs.p4runtime): Implementation of P4Runtime input plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/p4runtime.go
  plugins/inputs/p4runtime/README.md
  plugins/inputs/p4runtime/p4runtime.go
  plugins/inputs/p4runtime/p4runtime_fake_client_test.go
  plugins/inputs/p4runtime/p4runtime_test.go
  plugins/inputs/p4runtime/sample.conf
Labels: feat, new plugin, ready for final review, plugin/input

#12603 fix(inputs.conntrack): resolve segfault when setting collect field
  plugins/inputs/conntrack/conntrack.go
  plugins/inputs/conntrack/conntrack_test.go
Labels: ready for final review

#12608 feat(agent): add /etc/telegraf/telegraf.d to default config locations
  cmd/telegraf/telegraf.go
  config/config.go
  config/config_test.go
Labels: feat, ready for final review

#12618 chore: Show file names and line numbers for found issues in github action logs
  .github/workflows/golangci-lint.yml
Labels: ready for final review, chore

#12622 chore: Fix linter findings for tenv
  .golangci.yml
  config/config_test.go
  plugins/common/shim/config_test.go
  plugins/inputs/google_cloud_storage/google_cloud_storage_test.go
  plugins/outputs/azure_monitor/azure_monitor_test.go
  testutil/testutil_test.go
Labels: ready for final review, chore

#12627 docs(inputs.snmp): Explain different snmp backends
  plugins/inputs/snmp/README.md
  plugins/inputs/snmp/sample.conf
  plugins/inputs/snmp_trap/README.md
Labels: docs, area/snmp, ready for final review, plugin/input

#12641 docs(inputs.procstat): add ppid field
  plugins/inputs/procstat/README.md
Labels: docs, area/procstat, plugin/input

#12617 feat(inputs.internet_speed): server ID include and exclude filter
  plugins/inputs/internet_speed/README.md
  plugins/inputs/internet_speed/internet_speed.go
  plugins/inputs/internet_speed/sample.conf
Labels: feat, ready for final review, plugin/input

#12644 fix(secretstores): Check id format and presence
  config/config.go
  config/secret.go
  config/secret_test.go
  docs/CONFIGURATION.md
Labels: fix, ready for final review, plugin/secretstores

#12647 docs(inputs.syslog): Add BSD syslog to readme intro
  plugins/inputs/syslog/README.md
Labels: docs, area/syslog, plugin/input

#12512 fix(inputs.gnmi): Handle both new-style `tag_subscription` and old-style `tag_only`
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/gnmi_test.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/sample.conf
  plugins/inputs/gnmi/tag_store.go
  plugins/inputs/gnmi/testcases/issue_11011/expected.out
  plugins/inputs/gnmi/testcases/issue_11011/responses.json
  plugins/inputs/gnmi/testcases/issue_11011/telegraf.conf
  plugins/inputs/gnmi/testcases/issue_11778/expected.out
  plugins/inputs/gnmi/testcases/issue_11778/responses.json
  plugins/inputs/gnmi/testcases/issue_11778/telegraf.conf
  plugins/inputs/gnmi/testcases/issue_11778_tag_only/expected.out
  plugins/inputs/gnmi/testcases/issue_11778_tag_only/responses.json
  plugins/inputs/gnmi/testcases/issue_11778_tag_only/telegraf.conf
  plugins/inputs/gnmi/testcases/tagging_name_based/expected.out
  plugins/inputs/gnmi/testcases/tagging_name_based/responses.json
  plugins/inputs/gnmi/testcases/tagging_name_based/telegraf.conf
  plugins/inputs/gnmi/testcases/tagging_name_based_old/expected.out
  plugins/inputs/gnmi/testcases/tagging_name_based_old/responses.json
  plugins/inputs/gnmi/testcases/tagging_name_based_old/telegraf.conf
  plugins/inputs/gnmi/testcases/tagging_subinterfaces/expected.out
  plugins/inputs/gnmi/testcases/tagging_subinterfaces/responses.json
  plugins/inputs/gnmi/testcases/tagging_subinterfaces/telegraf.conf
  plugins/inputs/gnmi/utils.go
Labels: fix, area/gnmi, ready for final review, plugin/input

#12645 feat(inputs.http_listener_v2): add custom server http headers
  plugins/inputs/http_listener_v2/README.md
  plugins/inputs/http_listener_v2/http_listener_v2.go
  plugins/inputs/http_listener_v2/http_listener_v2_test.go
  plugins/inputs/http_listener_v2/sample.conf
Labels: feat, ready for final review, plugin/input

#12643 chore: prevent RPM from changing permissions on telegraf.d
  Makefile
Labels: ready for final review, chore

#12655 docs: remove whitespace
  plugins/inputs/intel_pmu/sample.conf
  plugins/inputs/intel_rdt/sample.conf
  plugins/inputs/jolokia/sample.conf
  plugins/inputs/webhooks/sample.conf
Labels: docs

#12658 docs: Fix remaining markdownlinter issues
  plugins/aggregators/starlark/README.md
  plugins/inputs/conntrack/README.md
  plugins/inputs/sflow/README.md
  plugins/inputs/upsd/README.md
  plugins/outputs/cloudwatch/README.md
  plugins/outputs/graphite/README.md
  plugins/outputs/iotdb/README.md
  plugins/serializers/graphite/README.md
Labels: docs, ready for final review

#12660 docs: remove trailing whitespace
  plugins/inputs/aliyuncms/README.md
  plugins/inputs/aliyuncms/sample.conf
  plugins/inputs/cisco_telemetry_mdt/README.md
  plugins/inputs/cisco_telemetry_mdt/sample.conf
  plugins/inputs/fluentd/fluentd_test.go
  plugins/inputs/google_cloud_storage/README.md
  plugins/inputs/google_cloud_storage/sample.conf
  plugins/inputs/iptables/iptables_test.go
  plugins/inputs/jolokia2_agent/examples/hadoop-hdfs.conf
  plugins/inputs/jolokia2_agent/examples/kafka.conf
  plugins/inputs/logstash/samples_logstash7.go
  plugins/inputs/nats_consumer/README.md
  plugins/inputs/nats_consumer/sample.conf
  plugins/inputs/nvidia_smi/README.md
  plugins/inputs/nvidia_smi/sample.conf
  plugins/inputs/opcua/README.md
  plugins/inputs/opcua_listener/README.md
  plugins/inputs/p4runtime/README.md
  plugins/inputs/p4runtime/sample.conf
  plugins/inputs/pf/pf_test.go
  plugins/inputs/powerdns_recursor/README.md
  plugins/inputs/powerdns_recursor/sample.conf
  plugins/inputs/smart/README.md
  plugins/inputs/smart/sample.conf
  plugins/inputs/sqlserver/azuresqlmanagedqueries.go
  plugins/inputs/sqlserver/azuresqlpoolqueries.go
  plugins/inputs/sqlserver/sqlqueriesV2.go
  plugins/inputs/sqlserver/sqlserverqueries.go
  plugins/inputs/webhooks/github/README.md
  plugins/inputs/webhooks/particle/README.md
  plugins/inputs/win_eventlog/util_test.go
  plugins/outputs/sumologic/sumologic_test.go
  plugins/parsers/csv/README.md
  plugins/parsers/dropwizard/parser_test.go
  plugins/processors/execd/examples/multiplier_line_protocol/multiplier.conf
  plugins/serializers/json/testcases/transformation_batch.conf
  plugins/serializers/json/testcases/transformation_single.conf
Labels: docs

#12626 fix: Rename the Prometheus Input Plugin Timeout variable
  plugins/inputs/prometheus/README.md
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/prometheus/prometheus_test.go
  plugins/inputs/prometheus/sample.conf
Labels: fix, ready for final review

#12621 test: use `t.Setenv` to set env vars
  config/config_test.go
  config/secret_test.go
  plugins/inputs/disk/disk_test.go
  plugins/inputs/ecs/ecs_test.go
  plugins/inputs/execd/shim/shim_test.go
  plugins/inputs/leofs/leofs_test.go
  plugins/inputs/prometheus/prometheus_test.go
  testutil/testutil_test.go
Labels: ready for final review, test

#12657 fix(inputs.cloudwatch): enable custom endpoint support
  plugins/inputs/cloudwatch/cloudwatch.go
Labels: fix, ready for final review, plugin/input

#12629 fix(inputs.x509_cert): Fix Windows path handling
  plugins/inputs/x509_cert/x509_cert.go
  plugins/inputs/x509_cert/x509_cert_test.go
Labels: fix, ready for final review, plugin/input

#12663 docs: tracking metrics
  docs/METRICS.md
  plugins/inputs/amqp_consumer/README.md
  plugins/inputs/amqp_consumer/sample.conf
  plugins/inputs/cloud_pubsub/README.md
  plugins/inputs/cloud_pubsub/sample.conf
  plugins/inputs/cloud_pubsub_push/README.md
  plugins/inputs/cloud_pubsub_push/sample.conf
  plugins/inputs/eventhub_consumer/README.md
  plugins/inputs/eventhub_consumer/sample.conf
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/sample.conf
  plugins/inputs/kinesis_consumer/README.md
  plugins/inputs/kinesis_consumer/sample.conf
  plugins/inputs/mqtt_consumer/README.md
  plugins/inputs/mqtt_consumer/sample.conf
  plugins/inputs/nats_consumer/README.md
  plugins/inputs/nats_consumer/sample.conf
  plugins/inputs/nsq_consumer/README.md
  plugins/inputs/nsq_consumer/sample.conf
Labels: docs, ready for final review

#12677 fix(inputs.cloudwatch): verify endpoint is not nil
  plugins/inputs/cloudwatch/cloudwatch.go
Labels: fix, ready for final review, plugin/input

#12462 fix(inputs.bond): Reset slave stats for each interface
  plugins/inputs/bond/bond.go
  plugins/inputs/bond/bond_test.go
Labels: fix, area/network, ready for final review, plugin/input

#12679 chore: update to go1.20.1
  .circleci/config.yml
  Makefile
  go.mod
  internal/internal_test.go
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
  tools/update_goversion/main.go
Labels: ready for final review, chore

#12678 feat(outputs.mqtt): add support for MQTT 5 publish properties
  plugins/outputs/mqtt/README.md
  plugins/outputs/mqtt/mqtt.go
  plugins/outputs/mqtt/mqtt_test.go
  plugins/outputs/mqtt/mqtt_v5.go
  plugins/outputs/mqtt/sample.conf
Labels: feat, area/mqtt, ready for final review, plugin/output

#12691 docs(outputs.postgresql): update URL for sql template
  plugins/outputs/postgresql/README.md
Labels: docs, area/postgresql, ready for final review, plugin/output

#12444 feat(inputs.x509_cert): Add OCSP stapling information for leaf certificates (#10550)
  go.mod
  plugins/inputs/x509_cert/README.md
  plugins/inputs/x509_cert/x509_cert.go
  plugins/inputs/x509_cert/x509_cert_test.go
Labels: feat, ready for final review, plugin/input

#12698 chore(deps): bump testcontainers from 0.14.0 to 0.18.0
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
Labels: ready for final review, chore

#12680 feat: add support for tcp endpoints in haproxy plugin
  etc/telegraf.conf
  etc/telegraf_windows.conf
  plugins/inputs/haproxy/README.md
  plugins/inputs/haproxy/haproxy.go
  plugins/inputs/haproxy/haproxy_test.go
  plugins/inputs/haproxy/sample.conf
Labels: feat, ready for final review, plugin/input

#12683 chore(mqtt): Unify input and output plugin's MQTT client
  plugins/common/mqtt/mqtt.go
  plugins/common/mqtt/mqtt_test.go
  plugins/common/mqtt/mqtt_v3.go
  plugins/common/mqtt/mqtt_v5.go
  plugins/inputs/mqtt_consumer/testdata/mosquitto.conf
  plugins/outputs/mqtt/mqtt.go
  plugins/outputs/mqtt/mqtt_test.go
  plugins/outputs/mqtt/mqtt_v3.go
  plugins/outputs/mqtt/mqtt_v5.go
Labels: area/mqtt, ready for final review, plugin/output, chore

#12703 chore: Mention make lint in PR template and Contributing doc
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: chore

#12318 feat(inputs.statsd): Add pending messages stat and allow to configure number of threads
  plugins/inputs/statsd/README.md
  plugins/inputs/statsd/sample.conf
  plugins/inputs/statsd/statsd.go
  plugins/inputs/statsd/statsd_test.go
Labels: feat, area/statsd, ready for final review, plugin/input

#12711 Update README.md
  plugins/parsers/json_v2/README.md
Labels: docs, area/json, plugin/parser

#12690 chore(inputs.net_response): Use Init to check configuration issues
  plugins/inputs/net_response/net_response.go
  plugins/inputs/net_response/net_response_test.go
Labels: area/network, ready for final review, plugin/input, chore

#12702 chore: Fix linter findings for errorlint (part2)
  plugins/aggregators/quantile/quantile.go
  plugins/common/encoding/decoder_reader.go
  plugins/common/jolokia2/client.go
  plugins/common/opcua/client.go
  plugins/common/opcua/opcua_util.go
  plugins/common/shim/goshim.go
  plugins/common/shim/input.go
  plugins/common/shim/output.go
  plugins/common/shim/processor.go
  plugins/common/starlark/builtins.go
  plugins/common/starlark/logging.go
  plugins/common/starlark/starlark.go
  plugins/common/tls/config.go
  plugins/parsers/collectd/parser.go
  plugins/parsers/csv/parser.go
  plugins/parsers/dropwizard/parser.go
  plugins/parsers/graphite/parser.go
  plugins/parsers/influx/handler.go
  plugins/parsers/influx/influx_upstream/parser.go
  plugins/parsers/influx/influx_upstream/parser_test.go
  plugins/parsers/influx/machine_test.go
  plugins/parsers/influx/parser.go
  plugins/parsers/influx/parser_test.go
  plugins/parsers/json/parser.go
  plugins/parsers/json_v2/parser.go
  plugins/parsers/json_v2/testdata/wrong_path/expected.err
  plugins/parsers/nagios/parser.go
  plugins/parsers/prometheus/parser.go
  plugins/parsers/prometheusremotewrite/parser.go
  plugins/parsers/wavefront/element.go
  plugins/parsers/xpath/msgpack_document.go
  plugins/parsers/xpath/parser.go
  plugins/parsers/xpath/protocolbuffer_document.go
  plugins/processors/enum/enum.go
  plugins/processors/execd/execd.go
  plugins/processors/execd/execd_test.go
  plugins/processors/ifname/ifname.go
  plugins/processors/noise/noise.go
  plugins/processors/regex/regex.go
  plugins/processors/topk/topk.go
  plugins/secretstores/jose/jose.go
  plugins/secretstores/os/os.go
  plugins/serializers/influx/influx.go
  plugins/serializers/influx/reader.go
  plugins/serializers/json/json.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite.go
Labels: ready for final review, chore

#12701 chore: Fix linter findings for errorlint (part1)
  agent/agent.go
  cmd/telegraf/main.go
  cmd/telegraf/telegraf.go
  config/config.go
  config/deprecation.go
  config/secret.go
  internal/content_coding.go
  internal/http.go
  internal/internal.go
  internal/process/process.go
  internal/snmp/translate.go
  models/filter.go
  testutil/container.go
  testutil/file.go
  tools/custom_builder/config.go
  tools/package_lxd_test/container.go
  tools/package_lxd_test/lxd.go
  tools/readme_config_includer/generator.go
  tools/update_goversion/main.go
Labels: ready for final review, chore

#12704 chore: Fix linter findings for errorlint (part3)
  plugins/outputs/amon/amon.go
  plugins/outputs/amqp/amqp.go
  plugins/outputs/amqp/client.go
  plugins/outputs/azure_data_explorer/azure_data_explorer.go
  plugins/outputs/azure_data_explorer/azure_data_explorer_test.go
  plugins/outputs/azure_monitor/azure_monitor.go
  plugins/outputs/cloud_pubsub/cloud_pubsub.go
  plugins/outputs/datadog/datadog.go
  plugins/outputs/dynatrace/dynatrace.go
  plugins/outputs/elasticsearch/elasticsearch.go
  plugins/outputs/exec/exec.go
  plugins/outputs/execd/execd.go
  plugins/outputs/execd/execd_test.go
  plugins/outputs/file/file.go
  plugins/outputs/graphite/graphite.go
  plugins/outputs/graylog/graylog.go
  plugins/outputs/groundwork/groundwork.go
  plugins/outputs/http/http.go
  plugins/outputs/influxdb/http.go
  plugins/outputs/influxdb/influxdb.go
  plugins/outputs/influxdb/udp.go
  plugins/outputs/influxdb_v2/http.go
  plugins/outputs/influxdb_v2/influxdb_v2.go
  plugins/outputs/instrumental/instrumental.go
  plugins/outputs/kafka/kafka.go
  plugins/outputs/librato/librato.go
  plugins/outputs/logzio/logzio.go
  plugins/outputs/mongodb/mongodb.go
  plugins/outputs/mqtt/mqtt.go
  plugins/outputs/nats/nats.go
  plugins/outputs/newrelic/newrelic.go
  plugins/outputs/nsq/nsq.go
  plugins/outputs/opentsdb/opentsdb.go
  plugins/outputs/postgresql/postgresql.go
  plugins/outputs/postgresql/table_manager.go
  plugins/outputs/prometheus_client/prometheus_client.go
  plugins/outputs/redistimeseries/redistimeseries.go
  plugins/outputs/riemann/riemann.go
  plugins/outputs/riemann_legacy/riemann_legacy.go
  plugins/outputs/sensu/sensu.go
  plugins/outputs/socket_writer/socket_writer.go
  plugins/outputs/sql/sql.go
  plugins/outputs/stomp/stomp.go
  plugins/outputs/syslog/syslog.go
  plugins/outputs/timestream/timestream.go
  plugins/outputs/warp10/warp10.go
  plugins/outputs/wavefront/wavefront.go
  plugins/outputs/websocket/websocket.go
  plugins/outputs/yandex_cloud_monitoring/yandex_cloud_monitoring.go
Labels: ready for final review, chore

#12656 feat(inputs.x509_cert): Add tag for certificate type-classification
  plugins/inputs/x509_cert/README.md
  plugins/inputs/x509_cert/x509_cert.go
  plugins/inputs/x509_cert/x509_cert_test.go
  testutil/metric.go
Labels: feat, ready for final review, plugin/input

#12720 test(inputs.x509_cert): fix missing tag
  plugins/inputs/x509_cert/x509_cert_test.go
Labels: plugin/input, test

#12696 feat(inputs.disk): add label as tag
  plugins/inputs/disk/README.md
  plugins/inputs/disk/disk.go
Labels: feat, ready for final review, plugin/input

#12721 fix(agent): reload config on config update
  cmd/telegraf/telegraf.go
Labels: fix, area/agent, ready for final review

#11250 feat: add win_wmi input plugin
  go.mod
  plugins/inputs/all/win_wmi.go
  plugins/inputs/win_wmi/README.md
  plugins/inputs/win_wmi/sample.conf
  plugins/inputs/win_wmi/win_wmi.go
  plugins/inputs/win_wmi/win_wmi_notwindows.go
  plugins/inputs/win_wmi/win_wmi_test.go
Labels: feat, area/windows, ready for final review, plugin/input

#12723 chore: Fix linter findings for errorlint (part4)
  plugins/inputs/activemq/activemq.go
  plugins/inputs/amqp_consumer/amqp_consumer.go
  plugins/inputs/apache/apache.go
  plugins/inputs/aurora/aurora.go
  plugins/inputs/bcache/bcache.go
  plugins/inputs/beanstalkd/beanstalkd_test.go
  plugins/inputs/bind/bind.go
  plugins/inputs/bind/json_stats.go
  plugins/inputs/bind/xml_stats_v2.go
  plugins/inputs/bind/xml_stats_v3.go
  plugins/inputs/bond/bond.go
  plugins/inputs/burrow/burrow.go
  plugins/inputs/ceph/ceph.go
  plugins/inputs/chrony/chrony.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt_test.go
  plugins/inputs/cloud_pubsub/cloud_pubsub.go
  plugins/inputs/cloudwatch/cloudwatch.go
  plugins/inputs/conntrack/conntrack.go
  plugins/inputs/consul_agent/consul_agent.go
  plugins/inputs/couchdb/couchdb.go
  plugins/inputs/cpu/cpu.go
  plugins/inputs/dcos/creds.go
  plugins/inputs/dcos/dcos.go
  plugins/inputs/directory_monitor/directory_monitor.go
  plugins/inputs/disk/disk.go
  plugins/inputs/diskio/diskio.go
  plugins/inputs/disque/disque.go
  plugins/inputs/dns_query/dns_query.go
  plugins/inputs/docker/docker.go
  plugins/inputs/docker_log/docker_log.go
  plugins/inputs/dovecot/dovecot.go
  plugins/inputs/dpdk/dpdk.go
  plugins/inputs/dpdk/dpdk_connector.go
  plugins/inputs/dpdk/dpdk_connector_test.go
  plugins/inputs/dpdk/dpdk_utils.go
  plugins/inputs/elasticsearch_query/aggregation_query.go
  plugins/inputs/elasticsearch_query/elasticsearch_query.go
  plugins/inputs/eventhub_consumer/eventhub_consumer.go
  plugins/inputs/exec/exec.go
  plugins/inputs/execd/execd.go
  plugins/inputs/execd/execd_posix.go
Labels: ready for final review, chore

#12724 fix(parsers.xpath): Fix panic for JSON name expansion
  plugins/parsers/xpath/json_document.go
  plugins/parsers/xpath/testcases/json_array_expand/expected.out
  plugins/parsers/xpath/testcases/json_array_expand/telegraf.conf
  plugins/parsers/xpath/testcases/json_array_expand/test.json
Labels: fix, area/json, ready for final review, plugin/parser

#12729 feat(inputs.wireguard): add allowed_peer_cidr field
  plugins/inputs/wireguard/README.md
  plugins/inputs/wireguard/wireguard.go
  plugins/inputs/wireguard/wireguard_test.go
Labels: feat, ready for final review, plugin/input

#12725 fix(inputs.lvm): Allow to specify path to binaries in config file
  plugins/inputs/lvm/README.md
  plugins/inputs/lvm/lvm.go
  plugins/inputs/lvm/lvm_test.go
  plugins/inputs/lvm/sample.conf
Labels: fix, ready for final review, plugin/input

#12735 fix(serializers.json): Fix stateful transformations
  plugins/serializers/json/json.go
  plugins/serializers/json/json_test.go
Labels: fix, area/json, ready for final review, plugin/serializer

#12730 feat(inputs.jti_openconfig_telemetry): set timestamp from data
  plugins/inputs/jti_openconfig_telemetry/README.md
  plugins/inputs/jti_openconfig_telemetry/jti_openconfig_telemetry.go
  plugins/inputs/jti_openconfig_telemetry/jti_openconfig_telemetry_test.go
  plugins/inputs/jti_openconfig_telemetry/sample.conf
Labels: feat, ready for final review, plugin/input

#12727 feat(common.tls): Add enable flag
  docs/TLS.md
  plugins/common/tls/config.go
  plugins/common/tls/config_test.go
Labels: feat, ready for final review

#12759 chore(external): Renaming Telegraf to PlayFab insights plugin
  EXTERNAL_PLUGINS.md
Labels: docs, external plugin, ready for final review

#12697 feat(outputs.mqtt): Add option to specify topic layouts
  plugins/common/mqtt/mqtt_v3.go
  plugins/outputs/mqtt/README.md
  plugins/outputs/mqtt/homie.go
  plugins/outputs/mqtt/mqtt.go
  plugins/outputs/mqtt/mqtt_test.go
  plugins/outputs/mqtt/sample.conf
Labels: feat, area/mqtt, ready for final review, plugin/output
