Repository influxdata/telegraf, pull requests merged in 2023-01, with the labels that each got.

#12446 docs(inputs.postgresql): Update readme and samples to note timeout behavior
  plugins/inputs/postgresql/README.md
  plugins/inputs/postgresql/sample.conf
  plugins/inputs/postgresql_extensible/README.md
  plugins/inputs/postgresql_extensible/sample.conf
Labels: docs, area/postgresql, ready for final review, plugin/input

#12429 chore: update influxdb-observability to fix statsd bug
  go.mod
  go.sum
Labels: chore

#12411 docs: Add tado to external inputs list
  EXTERNAL_PLUGINS.md
Labels: docs, external plugin, ready for final review

#12453 fix(agent): correctly reload files
  cmd/telegraf/telegraf.go
Labels: fix, ready for final review

#12459 feat(kafka): Add keep-alive period setting for input and output.
  plugins/common/kafka/config.go
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/sample.conf
  plugins/outputs/kafka/README.md
  plugins/outputs/kafka/sample.conf
Labels: feat, area/kafka, ready for final review, plugin/input, plugin/output

#12468 fix(secretstores): Fix handling of 'id' and print failing secret-store
  config/config.go
Labels: fix, ready for final review, plugin/secretstores

#12067 feat(secretstores): Add support for more plugins
  plugins/common/kafka/sasl.go
  plugins/inputs/http_response/http_response.go
  plugins/inputs/http_response/http_response_test.go
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/inputs/pgbouncer/pgbouncer_test.go
  plugins/inputs/postgresql/README.md
  plugins/inputs/postgresql/postgresql_test.go
  plugins/inputs/postgresql/sample.conf
  plugins/inputs/postgresql/service.go
  plugins/inputs/postgresql_extensible/postgresql_extensible_test.go
  plugins/inputs/snmp_trap/README.md
  plugins/inputs/snmp_trap/snmp_trap.go
  plugins/inputs/snmp_trap/snmp_trap_test.go
  plugins/inputs/sqlserver/README.md
  plugins/inputs/sqlserver/azuresqldbqueries_test.go
  plugins/inputs/sqlserver/azuresqlmanagedqueries_test.go
  plugins/inputs/sqlserver/azuresqlpoolqueries_test.go
  plugins/inputs/sqlserver/sample.conf
  plugins/inputs/sqlserver/sqlserver.go
  plugins/inputs/sqlserver/sqlserver_test.go
  plugins/inputs/vsphere/client.go
  plugins/inputs/vsphere/vsphere.go
  plugins/inputs/vsphere/vsphere_test.go
Labels: feat, ready for final review, plugin/secretstores

#12415 docs(inputs.gnmi): Update configuration documentation
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/sample.conf
Labels: docs, area/gnmi, ready for final review, plugin/input

#12408 feat(inputs.modbus): Add workaround to enforce reads from zero for coil registers
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/modbus/request.go
  plugins/inputs/modbus/sample_general_end.conf
Labels: feat, area/modbus, ready for final review, plugin/input

#12424 chore: Fix deprecated monitoringpb
  plugins/inputs/stackdriver/stackdriver.go
  plugins/inputs/stackdriver/stackdriver_test.go
  plugins/outputs/stackdriver/counter_cache.go
  plugins/outputs/stackdriver/counter_cache_test.go
  plugins/outputs/stackdriver/stackdriver.go
  plugins/outputs/stackdriver/stackdriver_test.go
Labels: ready for final review, plugin/input, plugin/output, chore

#12384 fix(inputs.sqlserver): More precise version check
  plugins/inputs/sqlserver/sqlserverqueries.go
Labels: fix, area/sqlserver, ready for final review, plugin/input

#12375 fix(inputs.win_eventlog): Handle remote events more robustly.
  Makefile
  plugins/inputs/win_eventlog/event.go
  plugins/inputs/win_eventlog/win_eventlog.go
Labels: platform/windows, area/windows, fix, ready for final review, plugin/input

#12482 docs(inputs.socketstat): Fix wrong TOML option name.
  plugins/inputs/socketstat/README.md
  plugins/inputs/socketstat/sample.conf
Labels: docs, ready for final review, plugin/input

#12471 docs(inputs.example): Stop suggesting wrong syntax highlighting
  plugins/inputs/example/README.md
Labels: docs, plugin/input

#12457 fix(agent): only set default snmp after reading all configs
  config/config.go
Labels: area/snmp, fix, area/agent, ready for final review

#12491 fix(agent): Handle float time with fractions of seconds correctly
  config/types.go
  config/types_test.go
Labels: fix, area/configuration, area/agent, ready for final review

#12498 chore: update to go1.19.5
  .circleci/config.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: chore

#12494 docs(secretstores): document systemd-nspawn requirement
  plugins/secretstores/README.md
  plugins/secretstores/os/README.md
Labels: docs

#12440 fix(json_v2): In case of invalid json, log messsage to debug log
  plugins/parsers/json_v2/parser.go
Labels: fix, ready for final review

#12240 fix(inputs.cisco_telemetry_mdt): add operation-metric and class-policy
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt.go
Labels: fix, area/cisco, ready for final review, plugin/input

#12493 feat(inputs.influxdb): collect uptime statistics
  plugins/inputs/influxdb/influxdb.go
  plugins/inputs/influxdb/influxdb_test.go
  plugins/inputs/influxdb/testdata/influx_return.json
  plugins/inputs/influxdb/testdata/influx_return2.json
Labels: feat, area/influxdb, ready for final review, plugin/input

#12492 docs(inputs.influxdb): collect v2 with prometheus plugin
  plugins/inputs/influxdb/README.md
Labels: docs, area/influxdb, ready for final review, plugin/input

#12486 fix(inputs.upsd): ensure firmware is always a string
  plugins/inputs/upsd/upsd.go
Labels: fix, ready for final review, plugin/input

#12224 feat(outputs.mqtt): Enhance routing capabilities
  plugins/outputs/mqtt/README.md
  plugins/outputs/mqtt/mqtt.go
  plugins/outputs/mqtt/mqtt_test.go
  plugins/outputs/mqtt/sample.conf
  plugins/outputs/mqtt/topic_name_generator.go
Labels: feat, area/mqtt, ready for final review, plugin/output

#12466 feat: Add snow parameter to OpenWeathermap input plugin
  plugins/inputs/openweathermap/README.md
  plugins/inputs/openweathermap/openweathermap.go
  plugins/inputs/openweathermap/openweathermap_test.go
Labels: feat, ready for final review, plugin/input

#12496 feat(inputs.redfish): add power control metric
  plugins/inputs/redfish/redfish.go
  plugins/inputs/redfish/redfish_test.go
Labels: feat, area/redfish, ready for final review, plugin/input

#12515 fix(common.cookie): allow 204 status code
  plugins/common/cookie/cookie.go
Labels: fix, ready for final review

#12503 chore: run make docs with various GOOS
  Makefile
Labels: docs, ready for final review, chore

#12452 feat(intel_powerstat): Add CPU base frequency metric and add support for new platforms
  plugins/inputs/intel_powerstat/README.md
  plugins/inputs/intel_powerstat/intel_powerstat.go
  plugins/inputs/intel_powerstat/intel_powerstat_test.go
  plugins/inputs/intel_powerstat/msr.go
  plugins/inputs/intel_powerstat/sample.conf
Labels: feat, ready for final review

#12524 chore: update windows signing script
  scripts/windows-signing.ps1
Labels: chore

#12519 feat(inputs.dns_query): Add IP field(s)
  plugins/inputs/dns_query/README.md
  plugins/inputs/dns_query/dns_query.go
  plugins/inputs/dns_query/dns_query_test.go
  plugins/inputs/dns_query/sample.conf
Labels: feat, ready for final review, plugin/input, area/dns

#12522 fix(inputs.prometheus): correctly track deleted pods
  plugins/inputs/prometheus/kubernetes.go
  plugins/inputs/prometheus/kubernetes_test.go
  plugins/inputs/prometheus/prometheus.go
Labels: area/prometheus, fix, ready for final review, plugin/input

#12536 fix(inputs.logstash): collect opensearch specific stats
  plugins/inputs/logstash/logstash.go
Labels: area/elasticsearch, fix, ready for final review, plugin/input

#12548 chore: update package testing from f35 to f37
  tools/package_lxd_test/main.go
Labels: area/agent, ready for final review, chore, test

#12539 docs(outputs.mqtt): fix minor syntax typo
  plugins/outputs/mqtt/README.md
Labels: fix, area/mqtt, plugin/output

#12345 feat(inputs.cisco_telemetry_mdt): Include delete field
  go.mod
  go.sum
  plugins/inputs/cisco_telemetry_mdt/README.md
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt_test.go
  plugins/inputs/cisco_telemetry_mdt/sample.conf
Labels: feat, area/cisco, ready for final review, plugin/input

#12497 feat(secretstores): Convert (most) output plugins
  config/secret.go
  config/secret_test.go
  plugins/outputs/amqp/amqp.go
  plugins/outputs/amqp/amqp_test.go
  plugins/outputs/dynatrace/dynatrace.go
  plugins/outputs/dynatrace/dynatrace_test.go
  plugins/outputs/elasticsearch/elasticsearch.go
  plugins/outputs/elasticsearch/elasticsearch_test.go
  plugins/outputs/groundwork/groundwork.go
  plugins/outputs/http/http.go
  plugins/outputs/http/http_test.go
  plugins/outputs/influxdb/http.go
  plugins/outputs/influxdb/http_test.go
  plugins/outputs/influxdb/influxdb.go
  plugins/outputs/influxdb/influxdb_test.go
  plugins/outputs/influxdb_v2/http.go
  plugins/outputs/influxdb_v2/influxdb_v2.go
  plugins/outputs/instrumental/instrumental.go
  plugins/outputs/instrumental/instrumental_test.go
  plugins/outputs/iotdb/iotdb.go
  plugins/outputs/iotdb/iotdb_test.go
  plugins/outputs/librato/librato.go
  plugins/outputs/librato/librato_test.go
  plugins/outputs/logzio/logzio.go
  plugins/outputs/logzio/logzio_test.go
  plugins/outputs/loki/loki.go
  plugins/outputs/loki/loki_test.go
  plugins/outputs/mongodb/mongodb.go
  plugins/outputs/mongodb/mongodb_test.go
  plugins/outputs/mqtt/mqtt.go
  plugins/outputs/mqtt/mqtt_v3.go
  plugins/outputs/mqtt/mqtt_v5.go
  plugins/outputs/nats/nats.go
  plugins/outputs/redistimeseries/redistimeseries.go
  plugins/outputs/signalfx/signalfx.go
  plugins/outputs/stomp/stomp.go
  plugins/outputs/stomp/stomp_test.go
  plugins/outputs/warp10/warp10.go
  plugins/outputs/warp10/warp10_test.go
  plugins/outputs/wavefront/wavefront.go
  plugins/outputs/wavefront/wavefront_test.go
Labels: feat, ready for final review, plugin/secretstores

#12552 docs(outputs.mqtt): update readme to match sample config
  plugins/outputs/mqtt/sample.conf
Labels: docs, area/mqtt, plugin/output

#12551 docs: Add details on overriding timezone used by Elasticsearch output plugin
  plugins/outputs/elasticsearch/README.md
Labels: docs

#12427 chore: Fix linter findings for nolintlint (part1)
  internal/snmp/translate.go
  metric.go
  plugins/common/opcua/client.go
  plugins/common/opcua/input/input_client.go
  plugins/inputs/burrow/burrow_test.go
  plugins/inputs/ceph/ceph.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt.go
  plugins/inputs/cloud_pubsub_push/cloud_pubsub_push_test.go
  plugins/inputs/cloudwatch_metric_streams/cloudwatch_metric_streams.go
  plugins/inputs/dcos/client.go
  plugins/inputs/directory_monitor/directory_monitor.go
  plugins/inputs/diskio/diskio_linux.go
  plugins/inputs/diskio/diskio_linux_test.go
  plugins/inputs/docker_log/docker_log.go
  plugins/inputs/exec/exec.go
  plugins/inputs/http_listener_v2/http_listener_v2.go
  plugins/inputs/http_response/http_response_test.go
  plugins/inputs/jenkins/client.go
  plugins/inputs/jenkins/jenkins_test.go
  plugins/inputs/jti_openconfig_telemetry/jti_openconfig_telemetry_test.go
Labels: ready for final review, chore

#12544 chore: update package repo GPG key
  README.md
Labels: ready for final review, chore

#12516 fix(inputs.upsd): always convert to float
  plugins/inputs/upsd/README.md
  plugins/inputs/upsd/sample.conf
  plugins/inputs/upsd/upsd.go
  plugins/inputs/upsd/upsd_test.go
Labels: fix, ready for final review, plugin/input

#12506 feat(inputs.icinga2): Support collecting hosts,services and endpoint metrics
  plugins/inputs/icinga2/README.md
  plugins/inputs/icinga2/icinga2.go
  plugins/inputs/icinga2/icinga2_test.go
  plugins/inputs/icinga2/sample.conf
Labels: feat, ready for final review, plugin/input

#12430 chore: Fix linter findings for nolintlint (part2)
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/leofs/leofs.go
  plugins/inputs/mesos/mesos.go
  plugins/inputs/mesos/mesos_test.go
  plugins/inputs/mongodb/mongodb.go
  plugins/inputs/net_response/net_response.go
  plugins/inputs/nsq_consumer/nsq_consumer_test.go
  plugins/inputs/passenger/passenger_test.go
  plugins/inputs/phpfpm/child.go
  plugins/inputs/phpfpm/fcgi.go
  plugins/inputs/phpfpm/phpfpm_test.go
  plugins/inputs/postgresql/service.go
  plugins/inputs/powerdns/powerdns_test.go
  plugins/inputs/powerdns_recursor/powerdns_recursor_test.go
  plugins/inputs/procstat/process.go
  plugins/inputs/sflow/sflow.go
  plugins/inputs/smart/smart.go
  plugins/inputs/snmp/gosmi.go
  plugins/inputs/snmp/netsnmp.go
  plugins/inputs/snmp_trap/snmp_trap.go
  plugins/inputs/snmp_trap/snmp_trap_test.go
Labels: ready for final review, chore

#12528 fix(inputs.sqlserver): Suppress error on secondary replicas
  plugins/inputs/sqlserver/azuresqlmanagedqueries.go
  plugins/inputs/sqlserver/sqlqueriesV2.go
  plugins/inputs/sqlserver/sqlserverqueries.go
Labels: fix, area/sqlserver, ready for final review, plugin/input

#12533 fix(inputs.exec): Restore pre-v1.21 behavior for CSV data_format
  config/config.go
  plugins/inputs/exec/exec_test.go
  plugins/inputs/file/file_test.go
  plugins/inputs/file/testdata/csv_behavior_input.csv
  plugins/inputs/tail/tail_test.go
Labels: area/exec, fix, plugin/parser, plugin/input, area/csv

#12495 feat(inputs.gnmi): set max gRPC message size
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/sample.conf
Labels: feat, area/gnmi, ready for final review, plugin/input

#12556 feat(inputs.win_perf_counters): Add remote support
  plugins/inputs/win_perf_counters/README.md
  plugins/inputs/win_perf_counters/performance_query.go
  plugins/inputs/win_perf_counters/win_perf_counters.go
  plugins/inputs/win_perf_counters/win_perf_counters_integration_test.go
  plugins/inputs/win_perf_counters/win_perf_counters_test.go
Labels: feat, area/windows, ready for final review, plugin/input

#12559 fix(inputs.prometheus): Set the timeout for slow running API endpoints correctly
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/prometheus/prometheus_test.go
Labels: area/prometheus, fix, ready for final review, plugin/input

#12529 fix(inputs.opcua): Fix opcua and opcua-listener for servers using password-based auth
  plugins/common/opcua/client.go
  plugins/inputs/opcua/opcua.go
  plugins/inputs/opcua/opcua_test.go
  plugins/inputs/opcua_listener/opcua_listener_test.go
Labels: fix, area/opcua, ready for final review, plugin/input

#12560 fix(outputs.prometheus_client): expire with ticker, not add/collect
  plugins/outputs/prometheus_client/v1/collector.go
Labels: fix, ready for final review, plugin/output

#12543 fix(inputs.upsd): add additional fields
  plugins/inputs/upsd/upsd.go
  plugins/inputs/upsd/upsd_test.go
Labels: fix, ready for final review, plugin/input

#12576 fix(inputs.mysql): Avoid side-effects for TLS between plugin instances
  plugins/inputs/mysql/mysql.go
  plugins/inputs/mysql/mysql_test.go
Labels: area/mysql, fix, ready for final review, plugin/input

#12577 chore(inputs.x509_cert): Fix linter warning
  plugins/inputs/x509_cert/x509_cert.go
  plugins/inputs/x509_cert/x509_cert_test.go
Labels: ready for final review, plugin/input, chore

#12581 chore(deps): update prometheus dependencies
  go.mod
  go.sum
Labels: chore

#12582 chore(deps): update golang/x dependencies
  go.mod
  go.sum
Labels: chore

#12583 chore(deps): update gRPC dependency
  go.mod
  go.sum
Labels: chore
