Repository influxdata/telegraf, pull requests merged in 2023-05, with the labels that each got.

#13118 feat(aggregators.basicstats): add percentage change
  plugins/aggregators/basicstats/README.md
  plugins/aggregators/basicstats/basicstats.go
  plugins/aggregators/basicstats/basicstats_test.go
  plugins/aggregators/basicstats/sample.conf
Labels: feat, ready for final review, plugin/aggregator

#13149 fix(inputs.gnmi): create selfstat to track connection state
  plugins/inputs/gnmi/handler.go
Labels: fix, area/gnmi, ready for final review, plugin/input

#13162 docs(inputs.vsphere): resovle copy/paste typo with resource pools
  plugins/inputs/vsphere/README.md
  plugins/inputs/vsphere/sample.conf
Labels: docs, area/vsphere, ready for final review, plugin/input

#13163 feat(inputs.filecount): Add oldestFileTimestamp and newestFileTimestamp
  plugins/inputs/filecount/README.md
  plugins/inputs/filecount/filecount.go
  plugins/inputs/filecount/filecount_test.go
Labels: feat, ready for final review, plugin/input

#13164 fix: restore disabled uint support by default
  plugins/outputs/influxdb/influxdb.go
  plugins/outputs/influxdb/udp.go
  plugins/outputs/influxdb_v2/influxdb_v2.go
Labels: fix, ready for final review

#13169 fix(outputs.prometheus_client): fixes export_timestamp for v1 metric …
  plugins/outputs/prometheus_client/prometheus_client.go
  plugins/outputs/prometheus_client/prometheus_client_v1_test.go
  plugins/outputs/prometheus_client/v1/collector.go
Labels: fix, ready for final review, plugin/output

#13213 chore(deps): Bump github.com/wavefronthq/wavefront-sdk-go from 0.12.0 to 0.13.0
  go.mod
  go.sum
Labels: area/wavefront, ready for final review, dependencies, chore

#13095 chore: Enable G404 rule for gosec
  .golangci.yml
  internal/internal.go
  plugins/inputs/example/example.go
  plugins/inputs/mock/mock.go
  plugins/inputs/powerdns_recursor/protocol_v1.go
  plugins/inputs/powerdns_recursor/protocol_v2.go
  plugins/inputs/statsd/running_stats.go
  plugins/inputs/vsphere/endpoint.go
Labels: ready for final review, chore, linter

#13048 feat(inputs.suricata): Add ability to parse drop or rejected
  plugins/inputs/suricata/README.md
  plugins/inputs/suricata/sample.conf
  plugins/inputs/suricata/suricata.go
  plugins/inputs/suricata/suricata_test.go
  plugins/inputs/suricata/testdata/v2/alert.json
  plugins/inputs/suricata/testdata/v2/dns.json
  plugins/inputs/suricata/testdata/v2/drop.json
  plugins/inputs/suricata/testdata/v2/flow.json
  plugins/inputs/suricata/testdata/v2/http.json
  plugins/inputs/suricata/testdata/v2/status.json
Labels: feat, ready for final review, plugin/input

#13094 feat(cloud_pubsub): Add support for gzip compression
  plugins/inputs/cloud_pubsub/README.md
  plugins/inputs/cloud_pubsub/cloud_pubsub.go
  plugins/inputs/cloud_pubsub/cloud_pubsub_test.go
  plugins/inputs/cloud_pubsub/sample.conf
  plugins/outputs/cloud_pubsub/README.md
  plugins/outputs/cloud_pubsub/cloud_pubsub.go
  plugins/outputs/cloud_pubsub/cloud_pubsub_test.go
  plugins/outputs/cloud_pubsub/sample.conf
  plugins/outputs/cloud_pubsub/topic_stubbed.go
Labels: feat, cloud, ready for final review, plugin/input, plugin/output

#13225 chore(deps): Bump prometheus from v1.8.2 to v2.42.0
  go.mod
  go.sum
  plugins/inputs/kube_inventory/ingress_test.go
  plugins/inputs/prometheus/kubernetes.go
Labels: ready for final review

#13234 chore: sort go.mod
  go.mod
Labels: chore

#12994 fix(outputs.stackdriver): group batches by timestamp
  plugins/outputs/stackdriver/stackdriver.go
  plugins/outputs/stackdriver/stackdriver_test.go
Labels: ready for final review, chore

#13157 feat(outputs.loki): add option for metric name label
  plugins/outputs/loki/README.md
  plugins/outputs/loki/loki.go
  plugins/outputs/loki/loki_test.go
  plugins/outputs/loki/sample.conf
Labels: feat, ready for final review, plugin/output

#13143 chore: Fix linter findings for Windows (part3)
  plugins/inputs/win_perf_counters/kernel32.go
  plugins/inputs/win_perf_counters/pdh.go
  plugins/inputs/win_perf_counters/pdh_386.go
  plugins/inputs/win_perf_counters/pdh_amd64.go
  plugins/inputs/win_perf_counters/pdh_arm64.go
  plugins/inputs/win_perf_counters/performance_query.go
  plugins/inputs/win_perf_counters/win_perf_counters.go
  plugins/inputs/win_perf_counters/win_perf_counters_integration_test.go
  plugins/inputs/win_perf_counters/win_perf_counters_test.go
Labels: area/windows, ready for final review, chore, linter

#13226 chore: update to go1.20.4
  .circleci/config.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore

#13232 docs(common.kafka): remove experimental notes
  plugins/common/kafka/sasl.go
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/sample.conf
  plugins/outputs/kafka/README.md
  plugins/outputs/kafka/sample.conf
Labels: ready for final review

#13238 fix(inputs.cloud_pubsub): fix gzip decompression
  plugins/inputs/cloud_pubsub/cloud_pubsub.go
Labels: fix, ready for final review, plugin/input

#13239 fix(outputs.graphite): Fix logic to reconnect with servers that were not up on agent startup (#13228)
  plugins/outputs/graphite/graphite.go
  plugins/outputs/graphite/graphite_test.go
Labels: fix, area/graphite, ready for final review, plugin/output

#13230 chore(deps): Bump github.com/signalfx/golib from 3.3.46 to 3.3.50
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#13242 chore(deps): Bump github.com/antchfx/xpath to latest master
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#13167 feat: add OpenTSDB data format parser (mark two)
  docs/DATA_FORMATS_INPUT.md
  plugins/parsers/all/opentsdb.go
  plugins/parsers/opentsdb/README.md
  plugins/parsers/opentsdb/parser.go
  plugins/parsers/opentsdb/parser_test.go
  plugins/parsers/registry.go
  plugins/parsers/registry_test.go
Labels: feat, area/opentsdb, ready for final review, plugin/parser

#13091 feat(inputs.sql): Add FlightSQL support
  docs/DATA_FORMATS_INPUT.md
  docs/SQL_DRIVERS_INPUT.md
  go.mod
  go.sum
  plugins/inputs/sql/drivers.go
  plugins/inputs/sql/sql.go
Labels: feat, ready for final review, plugin/input, area/sql

#13224 feat(serializers): Add CloudEvents serializer
  docs/DATA_FORMATS_OUTPUT.md
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/serializers/all/cloudevents.go
  plugins/serializers/cloudevents/README.md
  plugins/serializers/cloudevents/cloudevents.go
  plugins/serializers/cloudevents/cloudevents_test.go
  plugins/serializers/cloudevents/testcases/batch-events/expected.json
  plugins/serializers/cloudevents/testcases/batch-events/input.influx
  plugins/serializers/cloudevents/testcases/batch-events/telegraf.conf
  plugins/serializers/cloudevents/testcases/batch-metrics/expected.json
  plugins/serializers/cloudevents/testcases/batch-metrics/input.influx
  plugins/serializers/cloudevents/testcases/batch-metrics/telegraf.conf
  plugins/serializers/cloudevents/testcases/cloudevents-v0.3-schema.json
  plugins/serializers/cloudevents/testcases/cloudevents-v1.0-schema.json
  plugins/serializers/cloudevents/testcases/single-multiple/expected.json
  plugins/serializers/cloudevents/testcases/single-multiple/input.influx
  plugins/serializers/cloudevents/testcases/single-multiple/telegraf.conf
  plugins/serializers/cloudevents/testcases/single-source-overwrite/expected.json
  plugins/serializers/cloudevents/testcases/single-source-overwrite/input.influx
  plugins/serializers/cloudevents/testcases/single-source-overwrite/telegraf.conf
  plugins/serializers/cloudevents/testcases/single-sourcetag-overwrite/expected.json
  plugins/serializers/cloudevents/testcases/single-sourcetag-overwrite/input.influx
  plugins/serializers/cloudevents/testcases/single-sourcetag-overwrite/telegraf.conf
  plugins/serializers/cloudevents/testcases/single/expected.json
  plugins/serializers/cloudevents/testcases/single/input.influx
  plugins/serializers/cloudevents/testcases/single/telegraf.conf
Labels: feat, ready for final review, plugin/serializer

#13227 feat(processors.scale): Add scaling by factor and offset
  plugins/processors/scale/README.md
  plugins/processors/scale/sample.conf
  plugins/processors/scale/scale.go
  plugins/processors/scale/scale_test.go
Labels: feat, plugin/processor

#13276 chore(deps): Bump golang.org/x/net from 0.9.0 to 0.10.0
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#13247 chore: Enable the easiest checkers for gocritic
  .golangci.yml
Labels: ready for final review, chore, linter

#13275 feat(test): Allow to capture all messages during test
  testutil/capturelog.go
Labels: feat, ready for final review, test

#13089 feat(inputs.directory_monitor): Improve internal stats
  plugins/inputs/directory_monitor/README.md
  plugins/inputs/directory_monitor/directory_monitor.go
Labels: feat, ready for final review, plugin/input

#13056 fix(inputs.socket_listener): Fix loss of connection tracking
  plugins/inputs/socket_listener/socket_listener_test.go
  plugins/inputs/socket_listener/stream_listener.go
Labels: fix, ready for final review, plugin/input

#13261 feat(inputs.sqlserver): add Azure Arc-enabled SQL MI support
  plugins/inputs/sqlserver/README.md
  plugins/inputs/sqlserver/azurearcsqlmiqueries.go
  plugins/inputs/sqlserver/azurearcsqlmiqueries_test.go
  plugins/inputs/sqlserver/sample.conf
  plugins/inputs/sqlserver/sqlserver.go
Labels: feat, area/sqlserver, ready for final review, plugin/input

#13253 feat(processors.template): Allow `tag` to be a template
  plugins/processors/template/README.md
  plugins/processors/template/sample.conf
  plugins/processors/template/template.go
  plugins/processors/template/template_test.go
Labels: feat, ready for final review, plugin/processor

#13285 docs: clarify watch config behavior
  cmd/telegraf/main.go
Labels: docs

#13286 fix(inputs.vsphere): specify the correct option for `disconnected_servers_behavior` in the sample conf
  plugins/inputs/vsphere/README.md
  plugins/inputs/vsphere/sample.conf
Labels: fix, area/vsphere, plugin/input

#13040 feat(inputs.kubernetes): Extend kube_inventory plugin to include resourcequota,secrets measurement and extend node and pod measurement
  plugins/inputs/kube_inventory/README.md
  plugins/inputs/kube_inventory/certificate.go
  plugins/inputs/kube_inventory/client.go
  plugins/inputs/kube_inventory/kube_inventory.go
  plugins/inputs/kube_inventory/node.go
  plugins/inputs/kube_inventory/node_test.go
  plugins/inputs/kube_inventory/pod.go
  plugins/inputs/kube_inventory/pod_test.go
  plugins/inputs/kube_inventory/resourcequotas.go
  plugins/inputs/kube_inventory/resourcequotas_test.go
  plugins/inputs/kubernetes/kubernetes.go
  plugins/inputs/kubernetes/kubernetes_pods.go
Labels: feat, area/k8s, ready for final review, plugin/input

#13293 feat(inputs.nats_consumer): Add receiver subject as tag
  plugins/inputs/nats_consumer/README.md
  plugins/inputs/nats_consumer/nats_consumer.go
  plugins/inputs/nats_consumer/nats_consumer_test.go
Labels: feat, ready for final review, plugin/input

#13291 chore(serializers.carbon2): Migrate to new-style framework
  config/config.go
  config/config_test.go
  plugins/outputs/sumologic/sumologic.go
  plugins/outputs/sumologic/sumologic_test.go
  plugins/serializers/all/carbon2.go
  plugins/serializers/carbon2/carbon2.go
  plugins/serializers/carbon2/carbon2_test.go
  plugins/serializers/registry.go
Labels: ready for final review, plugin/serializer, chore

#13295 fix(docs): Remove repetitive "the"
  internal/templating/node.go
  plugins/inputs/cloudwatch/README.md
  plugins/inputs/consul/README.md
  plugins/inputs/directory_monitor/directory_monitor_test.go
  plugins/inputs/syslog/nontransparent_test.go
  plugins/inputs/syslog/octetcounting_test.go
  plugins/parsers/json_v2/parser.go
Labels: docs, fix, ready for final review

#13300 fix(inputs.socket_listener): Fix race in tests
  plugins/inputs/socket_listener/socket_listener_test.go
Labels: fix, ready for final review, plugin/input

#13220 feat: Add Clarify output plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  internal/type_conversions.go
  plugins/outputs/all/clarify.go
  plugins/outputs/clarify/README.md
  plugins/outputs/clarify/clarify.go
  plugins/outputs/clarify/clarify_test.go
  plugins/outputs/clarify/sample.conf
Labels: feat, new plugin, ready for final review, plugin/output

#13307 fix(inputs.temp): ignore warnings, return errors
  plugins/inputs/system/ps.go
Labels: area/system, ready for final review, plugin/input

#13301 fix(processors.lookup): Do not strip tracking info
  plugins/processors/lookup/lookup.go
  plugins/processors/lookup/lookup_test.go
Labels: fix, ready for final review, plugin/processor

#13304 fix(inputs.gnmi): Allow optional origin for update path
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/testcases/issue_12931/expected.out
  plugins/inputs/gnmi/testcases/issue_12931/responses.json
  plugins/inputs/gnmi/testcases/issue_12931/telegraf.conf
  plugins/inputs/gnmi/utils.go
Labels: fix, area/gnmi, ready for final review, plugin/input

#13319 chore(serializers.csv): Migrate to new-style framework
  config/config.go
  plugins/serializers/all/csv.go
  plugins/serializers/csv/csv.go
  plugins/serializers/csv/csv_test.go
  plugins/serializers/registry.go
Labels: ready for final review, plugin/serializer, chore, area/csv

#11831 feat(inputs.kafka_consumer): Add regular expression support for topics
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/kafka_consumer/sample.conf
Labels: feat, area/kafka, ready for final review, plugin/input

#13229 feat(config): Support shell like syntax for environment variable substitution
  config/config.go
  config/config_test.go
  config/testdata/single_plugin_env_vars.toml
  docs/CONFIGURATION.md
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
Labels: feat, area/configuration, area/agent, ready for final review

#13243 chore(docs): clarify how taginclude/tagexclude work with processors
  docs/CONFIGURATION.md
Labels: docs, ready for final review, chore

#13252 fix(outputs.wavefront): flush metric buffer before reaching overflow
  plugins/outputs/wavefront/wavefront.go
Labels: fix, area/wavefront, ready for final review, plugin/output

#13325 fix(inputs.netflow): Fix field mappings
  plugins/inputs/netflow/netflow_decoder.go
Labels: fix, plugin/input

#13306 chore: create default statefile and folder during package install
  scripts/deb/post-install.sh
  scripts/rpm/post-install.sh
Labels: chore

#13326 feat(inputs.gnmi): Allow canonical field names
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/sample.conf
  plugins/inputs/gnmi/testcases/canonical_field_names/expected.out
  plugins/inputs/gnmi/testcases/canonical_field_names/responses.json
  plugins/inputs/gnmi/testcases/canonical_field_names/telegraf.conf
Labels: feat, area/gnmi, ready for final review, plugin/input

#13321 chore(serializers.graphite): Migrate to new-style framework
  config/config.go
  plugins/outputs/graphite/graphite.go
  plugins/outputs/graphite/graphite_test.go
  plugins/outputs/instrumental/instrumental.go
  plugins/outputs/instrumental/instrumental_test.go
  plugins/outputs/sumologic/sumologic_test.go
  plugins/serializers/all/graphite.go
  plugins/serializers/graphite/graphite.go
  plugins/serializers/graphite/graphite_test.go
  plugins/serializers/registry.go
Labels: area/graphite, ready for final review, plugin/serializer, chore

#13336 chore(serializers.msgpack): Migrate to new-style framework
  plugins/serializers/all/msgpack.go
  plugins/serializers/msgpack/msgpack.go
  plugins/serializers/registry.go
Labels: ready for final review, plugin/serializer, chore

#13335 chore(serializers.json): Migrate to new-style framework
  config/config.go
  plugins/outputs/azure_data_explorer/azure_data_explorer.go
  plugins/outputs/azure_data_explorer/azure_data_explorer_test.go
  plugins/outputs/event_hubs/event_hubs_test.go
  plugins/outputs/http/http_test.go
  plugins/outputs/stomp/stomp_test.go
  plugins/serializers/all/json.go
  plugins/serializers/json/json.go
  plugins/serializers/json/json_test.go
  plugins/serializers/registry.go
Labels: area/json, ready for final review, plugin/serializer, chore

#11155 feat: Add input plugin for ctrlX Data Layer
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/ctrlx_datalayer.go
  plugins/inputs/ctrlx_datalayer/README.md
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer.go
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer_payload_types.go
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer_subscription.go
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer_subscription_test.go
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer_test.go
  plugins/inputs/ctrlx_datalayer/sample.conf
Labels: feat, new plugin, area/iot, ready for final review, plugin/input

#13340 chore(serializers.nowmetric): Migrate to new-style framework
  plugins/serializers/all/nowmetric.go
  plugins/serializers/nowmetric/nowmetric.go
  plugins/serializers/nowmetric/nowmetric_test.go
  plugins/serializers/registry.go
Labels: ready for final review, plugin/serializer, chore

#13341 chore(serializers.prometheusremotewrite): Migrate to new-style framework
  plugins/serializers/all/prometheusremotewrite.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite_test.go
  plugins/serializers/registry.go
Labels: ready for final review, plugin/serializer, chore

#13344 chore(serializers.wavefront): Migrate to new-style framework
  config/config.go
  plugins/serializers/all/wavefront.go
  plugins/serializers/registry.go
  plugins/serializers/wavefront/wavefront.go
  plugins/serializers/wavefront/wavefront_test.go
Labels: area/wavefront, ready for final review, plugin/serializer, chore

#13346 docs(inputs.cisco_telemetry_mdt): specify max msg upper limit
  plugins/inputs/cisco_telemetry_mdt/README.md
  plugins/inputs/cisco_telemetry_mdt/sample.conf
Labels: docs, ready for final review, plugin/input

#13365 docs: Fix markdownlinter issues
  CONTRIBUTING.md
  plugins/inputs/bind/README.md
  plugins/outputs/clarify/README.md
Labels: docs, ready for final review, linter

#13361 fix(inputs.mysql): update MariaDB Dialect regex version check
  plugins/inputs/mysql/mysql.go
Labels: area/mysql, fix, ready for final review, plugin/input

#13366 chore: produce single digest file with sha256sum
  .circleci/config.yml
Labels: ready for final review, chore

#13347 chore(serializers.prometheus): Migrate to new-style framework
  config/config.go
  plugins/outputs/prometheus_client/v2/collector.go
  plugins/serializers/all/prometheus.go
  plugins/serializers/prometheus/collection.go
  plugins/serializers/prometheus/collection_test.go
  plugins/serializers/prometheus/prometheus.go
  plugins/serializers/prometheus/prometheus_test.go
  plugins/serializers/registry.go
Labels: area/prometheus, ready for final review, plugin/serializer, chore

#13364 feat(agent): Add option to avoid filtering of explicit plugin tags
  config/config.go
  docs/CONFIGURATION.md
  models/running_input.go
  models/running_input_test.go
Labels: feat, area/agent, ready for final review
