Repository influxdata/telegraf, pull requests merged in 2023-12, with the labels that each got.

#14012 feat(config): Deprecate `fieldpass` and `fielddrop` modifiers
  config/config.go
  config/config_test.go
  config/testdata/deprecated_field_filter.toml
  config/testdata/single_plugin.toml
  config/testdata/single_plugin_env_vars.toml
  config/testdata/single_plugin_with_separators.toml
  docs/CONFIGURATION.md
  docs/developers/DEPRECATION.md
  migrations/common/filter_options.go
  migrations/common/input_options.go
  migrations/common/output_options.go
  migrations/inputs_cassandra/migration.go
  migrations/inputs_httpjson/migration.go
  migrations/inputs_httpjson/testcases/filters/expected.conf
  migrations/inputs_httpjson/testcases/filters/telegraf.conf
  migrations/inputs_jolokia/migration.go
  migrations/outputs_riemann_legacy/migration.go
  migrations/outputs_riemann_legacy/testcases/general_options/expected.conf
  models/filter.go
  models/filter_test.go
  models/running_aggregator_test.go
  plugins/inputs/jolokia2_agent/examples/kafka.conf
  plugins/inputs/kube_inventory/README.md
  plugins/inputs/kube_inventory/sample.conf
  plugins/inputs/net_response/README.md
  plugins/inputs/net_response/sample.conf
  plugins/outputs/azure_monitor/README.md
  plugins/processors/starlark/testdata/iops.star
Labels: feat, area/configuration, ready for final review

#14308 feat(inputs.dpdk): Add options to customize error-behavior and metric layout
  plugins/inputs/dpdk/README.md
  plugins/inputs/dpdk/dpdk.go
  plugins/inputs/dpdk/dpdk_cmds.go
  plugins/inputs/dpdk/dpdk_cmds_test.go
  plugins/inputs/dpdk/dpdk_connector.go
  plugins/inputs/dpdk/dpdk_connector_test.go
  plugins/inputs/dpdk/dpdk_test.go
  plugins/inputs/dpdk/dpdk_utils.go
  plugins/inputs/dpdk/dpdk_utils_test.go
  plugins/inputs/dpdk/sample.conf
Labels: feat, ready for final review, plugin/input

#14375 feat(inputs.nats_consumer): Add nkey-seed-file authentication
  plugins/inputs/nats_consumer/README.md
  plugins/inputs/nats_consumer/nats_consumer.go
  plugins/inputs/nats_consumer/sample.conf
Labels: feat, ready for final review, plugin/input

#14380 test: Update lxc images
  tools/package_lxd_test/main.go
Labels: ready for final review, test

#14389 chore(inputs.rabbitmq): Remove useless comment
  plugins/inputs/rabbitmq/rabbitmq.go
Labels: area/rabbitmq, ready for final review, plugin/input, chore

#14391 chore: Update go1.21.5
  .circleci/config.yml
  .github/workflows/govulncheck.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore

#14393 chore: Add .uuid to gitignore
  .gitignore
Labels: ready for final review, chore

#14400 docs(outputs.dynatrace) Update links to documentation
  plugins/outputs/dynatrace/README.md
Labels: docs, ready for final review, plugin/output

#14399 chore(linters): Remove blank identifiers and errors which are not needed to be handled
  cmd/telegraf/cmd_secretstore.go
  config/envvar.go
  config/migration.go
  config/plugin_id.go
  internal/internal.go
  plugins/inputs/ceph/ceph_test.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt.go
  plugins/inputs/exec/exec.go
  plugins/inputs/exec/exec_test.go
  plugins/inputs/minecraft/internal/rcon/rcon.go
  plugins/inputs/modbus/configuration_metric.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/type_conversions_string.go
  plugins/inputs/nsq_consumer/nsq_consumer_test.go
  plugins/inputs/pgbouncer/pgbouncer.go
  plugins/inputs/phpfpm/child.go
  plugins/inputs/phpfpm/fcgi.go
  plugins/inputs/postgresql/postgresql.go
  plugins/inputs/postgresql_extensible/postgresql_extensible.go
  plugins/inputs/s7comm/s7comm.go
  plugins/inputs/statsd/statsd.go
  plugins/inputs/tail/multiline.go
  plugins/inputs/tail/multiline_test.go
  plugins/inputs/varnish/varnish_test.go
  plugins/inputs/zipkin/cmd/thrift_serialize/thrift_serialize.go
  plugins/inputs/zipkin/codec/thrift/thrift.go
  plugins/outputs/amqp/amqp.go
  plugins/outputs/exec/exec.go
  plugins/outputs/graylog/graylog_test_linux.go
  plugins/parsers/binary/parser_test.go
  plugins/parsers/wavefront/element.go
  plugins/serializers/graphite/graphite.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite_test.go
  tools/readme_config_includer/generator.go
Labels: ready for final review, chore, linter

#14395 fix(processors.starlark): Avoid negative refcounts for tracking metrics
  metric.go
  metric/tracking.go
  plugins/common/starlark/builtins.go
  plugins/inputs/statsd/statsd_test.go
  plugins/inputs/tail/tail_test.go
  plugins/processors/starlark/README.md
  plugins/processors/starlark/starlark.go
  plugins/processors/starlark/starlark_test.go
  plugins/processors/starlark/testdata/value_filter.star
  testutil/accumulator.go
  testutil/metric.go
Labels: fix, area/starlark, ready for final review, plugin/processor

#14363 feat(inputs.intel_powerstat): Extract business logic to external library
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/intel_powerstat/README.md
  plugins/inputs/intel_powerstat/dto.go
  plugins/inputs/intel_powerstat/fetcher.go
  plugins/inputs/intel_powerstat/file.go
  plugins/inputs/intel_powerstat/file_mock_test.go
  plugins/inputs/intel_powerstat/intel_powerstat.go
  plugins/inputs/intel_powerstat/intel_powerstat_notlinux.go
  plugins/inputs/intel_powerstat/intel_powerstat_test.go
  plugins/inputs/intel_powerstat/metrics.go
  plugins/inputs/intel_powerstat/metrics_test.go
  plugins/inputs/intel_powerstat/msr.go
  plugins/inputs/intel_powerstat/msr_mock_test.go
  plugins/inputs/intel_powerstat/msr_test.go
  plugins/inputs/intel_powerstat/options.go
  plugins/inputs/intel_powerstat/options_test.go
  plugins/inputs/intel_powerstat/rapl.go
  plugins/inputs/intel_powerstat/rapl_mock_test.go
  plugins/inputs/intel_powerstat/rapl_test.go
  plugins/inputs/intel_powerstat/sample.conf
  plugins/inputs/intel_powerstat/testdata/aperfmperf_flag_not_found/cpuinfo
  plugins/inputs/intel_powerstat/testdata/cpu_model_missing/cpuinfo
  plugins/inputs/intel_powerstat/testdata/cpuinfo
  plugins/inputs/intel_powerstat/testdata/dts_flag_not_found/cpuinfo
  plugins/inputs/intel_powerstat/testdata/model_not_supported/cpuinfo
  plugins/inputs/intel_powerstat/testdata/msr_flag_not_found/cpuinfo
  plugins/inputs/intel_powerstat/testdata/sapphirerapids_core.json
  plugins/inputs/intel_powerstat/unit_converter.go
Labels: feat, ready for final review, plugin/input

#14401 feat(migrations): Add migration for fieldpass/fielddrop
  config/migration.go
  migrations/all/general_metricfilter.go
  migrations/general_metricfilter/migration.go
  migrations/general_metricfilter/migration_test.go
  migrations/general_metricfilter/testcases/deprecated_drop/expected.conf
  migrations/general_metricfilter/testcases/deprecated_drop/telegraf.conf
  migrations/general_metricfilter/testcases/deprecated_fielddrop/expected.conf
  migrations/general_metricfilter/testcases/deprecated_fielddrop/telegraf.conf
  migrations/general_metricfilter/testcases/deprecated_fieldpass/expected.conf
  migrations/general_metricfilter/testcases/deprecated_fieldpass/telegraf.conf
  migrations/general_metricfilter/testcases/deprecated_pass/expected.conf
  migrations/general_metricfilter/testcases/deprecated_pass/telegraf.conf
  migrations/general_metricfilter/testcases/merge_all_overlap/expected.conf
  migrations/general_metricfilter/testcases/merge_all_overlap/telegraf.conf
  migrations/general_metricfilter/testcases/merge_fieldexclude/expected.conf
  migrations/general_metricfilter/testcases/merge_fieldexclude/telegraf.conf
  migrations/general_metricfilter/testcases/merge_fieldexclude_overlap/expected.conf
  migrations/general_metricfilter/testcases/merge_fieldexclude_overlap/telegraf.conf
  migrations/general_metricfilter/testcases/merge_fieldinclude/expected.conf
  migrations/general_metricfilter/testcases/merge_fieldinclude/telegraf.conf
  migrations/general_metricfilter/testcases/merge_fieldinclude_overlap/expected.conf
  migrations/general_metricfilter/testcases/merge_fieldinclude_overlap/telegraf.conf
  migrations/inputs_disk/migration.go
  migrations/inputs_procstat/migration.go
  migrations/outputs_influxdb/migration.go
  migrations/registry.go
  migrations/utils.go
Labels: feat, area/configuration

#14345 feat(common.opcua): Add option to include OPC-UA DataType as a Field
  plugins/common/opcua/client.go
  plugins/common/opcua/input/input_client.go
  plugins/inputs/opcua/README.md
  plugins/inputs/opcua/opcua_test.go
  plugins/inputs/opcua/sample.conf
  plugins/inputs/opcua_listener/README.md
  plugins/inputs/opcua_listener/opcua_listener_test.go
  plugins/inputs/opcua_listener/sample.conf
Labels: feat, area/opcua, ready for final review, plugin/input

#14419 fix(license): Correct spelling of jmhodges/clock license
  docs/LICENSE_OF_DEPENDENCIES.md
  tools/license_checker/package.go
Labels: fix, ready for final review

#14429 docs(Changelog): Fix reference to python-syntax removal
  CHANGELOG.md
Labels: fix

#14416 fix(outputs.bigquery): Correct use of auto-detected project ID
  plugins/outputs/bigquery/bigquery.go
  plugins/outputs/bigquery/bigquery_test.go
Labels: fix, ready for final review, plugin/output

#14440 fix(inputs.procstat): Revert unintended renaming of 'systemd_unit' option
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/procstat_test.go
Labels: area/procstat, regression, fix, ready for final review, plugin/input

#14441 chore(deps): Bump github.com/aws/aws-sdk-go-v2/service/cloudwatch from 1.26.2 to 1.32.0
  go.mod
  go.sum
  plugins/inputs/cloudwatch/cloudwatch.go
  plugins/inputs/cloudwatch/cloudwatch_test.go
  plugins/outputs/timestream/timestream.go
Labels: regression, area/aws, ready for final review, dependencies, chore

#14446 docs(inputs.ldap): Correct plugin name in sample config
  plugins/inputs/ldap/README.md
  plugins/inputs/ldap/sample.conf
Labels: docs, ready for final review, plugin/input

#14448 docs(inputs.memcached): Correct typo in README.md
  plugins/inputs/memcached/README.md
Labels: docs, ready for final review, plugin/input

#14443 fix(inputs.clickhouse): Omit zookeeper metrics on clickhouse cloud
  plugins/inputs/clickhouse/README.md
  plugins/inputs/clickhouse/clickhouse.go
  plugins/inputs/clickhouse/clickhouse_test.go
  plugins/inputs/clickhouse/sample.conf
Labels: fix, ready for final review, plugin/input

#14460 fix(processors.filter): processors.Filter -> processors.filter
  plugins/processors/filter/filter.go
Labels: fix, ready for final review, plugin/processor

#14457 test(inputs.dpdk): Cleanup directories after unit tests
  plugins/inputs/dpdk/dpdk_connector_test.go
  plugins/inputs/dpdk/dpdk_test.go
Labels: ready for final review, plugin/input, test

#14452 chore(linters): Enable `equalFold`, `preferStringWriter` and `stringXbytes` checkers for gocritic.
  .golangci.yml
  logger/logger.go
  plugins/common/cookie/cookie.go
  plugins/inputs/amqp_consumer/amqp_consumer.go
  plugins/inputs/http/http.go
  plugins/inputs/http_response/http_response_test.go
  plugins/inputs/httpjson/httpjson.go
  plugins/inputs/intel_dlb/intel_dlb.go
  plugins/inputs/intel_dlb/intel_dlb_test.go
  plugins/inputs/logstash/logstash.go
  plugins/inputs/mysql/mysql.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/sflow/binaryio/minreader_test.go
  plugins/inputs/x509_cert/x509_cert_test.go
  plugins/outputs/amqp/amqp.go
  plugins/outputs/http/http.go
  plugins/outputs/loki/loki.go
  plugins/parsers/logfmt/parser.go
  plugins/secretstores/http/http.go
  plugins/secretstores/oauth2/oauth2.go
  tools/readme_config_includer/generator.go
Labels: ready for final review, chore, linter

#14453 chore(linters): Enable `preferDecodeRune` and `preferFprint` checkers for gocritic
  .golangci.yml
  cmd/telegraf/main.go
  cmd/telegraf/main_test.go
  cmd/telegraf/printer.go
  plugins/inputs/disque/disque.go
  plugins/inputs/influxdb_listener/influxdb_listener.go
  plugins/inputs/intel_dlb/intel_dlb_test.go
  plugins/inputs/varnish/varnish_test.go
  plugins/parsers/csv/parser.go
  plugins/serializers/csv/csv.go
Labels: ready for final review, chore, linter

#14454 chore(linters): Enable `rangeValCopy` and `hugeParams` checkers for gocritic
  .golangci.yml
  plugins/inputs/amd_rocm_smi/amd_rocm_smi.go
  plugins/inputs/ecs/cgroupv2_test.go
  plugins/inputs/ecs/client.go
  plugins/inputs/ecs/client_test.go
  plugins/inputs/ecs/ecs.go
  plugins/inputs/ecs/ecs_test.go
  plugins/inputs/ecs/stats.go
  plugins/inputs/ecs/stats_test.go
  plugins/inputs/ecs/types.go
  plugins/inputs/ecs/types_test.go
  plugins/inputs/kube_inventory/daemonset.go
  plugins/inputs/kube_inventory/daemonset_test.go
  plugins/inputs/kube_inventory/deployment.go
  plugins/inputs/kube_inventory/deployment_test.go
  plugins/inputs/kube_inventory/node.go
  plugins/inputs/kube_inventory/node_test.go
  plugins/inputs/kube_inventory/persistentvolume.go
  plugins/inputs/kube_inventory/persistentvolume_test.go
  plugins/inputs/kube_inventory/pod.go
  plugins/inputs/kube_inventory/pod_test.go
  plugins/inputs/kube_inventory/service.go
  plugins/inputs/kube_inventory/service_test.go
  plugins/inputs/kube_inventory/statefulset.go
  plugins/inputs/kube_inventory/statefulset_test.go
  plugins/inputs/kubernetes/kubernetes.go
  plugins/inputs/nvidia_smi/schema_v11/parser.go
  plugins/inputs/nvidia_smi/schema_v12/parser.go
  plugins/inputs/vsphere/endpoint.go
  plugins/inputs/vsphere/vsphere_test.go
Labels: ready for final review, chore, linter

#14458 fix(outputs.bigquery): Ignore individual fields containing NaN or infinity
  plugins/outputs/bigquery/bigquery.go
Labels: fix, area/gcp, ready for final review, plugin/output

#14470 chore: Update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#14481 fix(outputs.influxdb*): Support setting Host header
  plugins/outputs/influxdb/http.go
  plugins/outputs/influxdb_v2/http.go
Labels: feat, plugin/output

#14465 test: Revert caching changes, drop linting on windows/macos
  .circleci/config.yml
  scripts/installgo_windows.sh
  scripts/installmingw_windows.sh
Labels: test

#14494 chore: Remove all CircleCI caching
  .circleci/config.yml
Labels: chore
