Repository influxdata/telegraf, pull requests merged in 2023-11, with the labels that each got.

#14227 test(inputs.jolokia2_agent): ignore tags as order is not consistent
  plugins/inputs/jolokia2_agent/jolokia2_agent_test.go
Labels: ready for final review, plugin/input, test

#14233 feat(migrations): Add option migration for inputs.mqtt_consumer
  migrations/all/inputs_mqtt_consumer.go
  migrations/inputs_mqtt_consumer/migration.go
  migrations/inputs_mqtt_consumer/migration_test.go
  migrations/inputs_mqtt_consumer/testcases/deprecated_metric_buffer/expected.conf
  migrations/inputs_mqtt_consumer/testcases/deprecated_metric_buffer/telegraf.conf
  migrations/inputs_mqtt_consumer/testcases/deprecated_metric_buffer_parser/expected.conf
  migrations/inputs_mqtt_consumer/testcases/deprecated_metric_buffer_parser/telegraf.conf
Labels: feat, area/configuration, ready for final review

#14234 feat(migrations): Add option migration for inputs.nats_consumer
  migrations/all/inputs.nats_consumer.go
  migrations/inputs_nats_consumer/migration.go
  migrations/inputs_nats_consumer/migration_test.go
  migrations/inputs_nats_consumer/testcases/deprecated_metric_buffer/expected.conf
  migrations/inputs_nats_consumer/testcases/deprecated_metric_buffer/telegraf.conf
  migrations/inputs_nats_consumer/testcases/deprecated_metric_buffer_parser/expected.conf
  migrations/inputs_nats_consumer/testcases/deprecated_metric_buffer_parser/telegraf.conf
Labels: feat, area/configuration, ready for final review

#14238 chore(linters): Fix findings found by testifylint for Windows and enable testifylint linter in golangci-lint.
  .golangci.yml
  cmd/telegraf/main_win_test.go
  plugins/inputs/ping/ping_windows_test.go
  plugins/inputs/procstat/native_finder_windows_test.go
  plugins/inputs/win_perf_counters/win_perf_counters_integration_test.go
  plugins/inputs/win_perf_counters/win_perf_counters_test.go
Labels: ready for final review, chore, linter

#14243 fix(inputs.mqtt_consumer): Resolve could not mark message delivered
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
Labels: fix, ready for final review, plugin/input

#14108 feat(outputs.prometheus_client): Support vsock listen #6382
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/outputs/prometheus_client/README.md
  plugins/outputs/prometheus_client/prometheus_client.go
  plugins/outputs/prometheus_client/sample.conf
Labels: feat, area/prometheus, ready for final review, plugin/output

#14240 fix(config): Fix comment removal in TOML files
  config/config.go
  config/envvar.go
  config/internal_test.go
  config/testdata/envvar_comments.toml
  config/testdata/envvar_comments_expected.toml
Labels: fix, area/configuration, ready for final review

#14145 feat(inputs.modbus): Add support for string-fields
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/configuration.go
  plugins/inputs/modbus/configuration_metric.go
  plugins/inputs/modbus/configuration_metric_test.go
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_register_test.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/configuration_request_test.go
  plugins/inputs/modbus/sample_metric.conf
  plugins/inputs/modbus/sample_register.conf
  plugins/inputs/modbus/sample_request.conf
  plugins/inputs/modbus/type_conversions.go
  plugins/inputs/modbus/type_conversions_string.go
Labels: feat, area/modbus, ready for final review, plugin/input

#14241 fix(inputs.win_perf_counter): Do not rely on returned buffer size
  plugins/inputs/win_perf_counters/README.md
  plugins/inputs/win_perf_counters/performance_query.go
  plugins/inputs/win_perf_counters/sample.conf
  plugins/inputs/win_perf_counters/win_perf_counters.go
  plugins/inputs/win_perf_counters/win_perf_counters_integration_test.go
  plugins/inputs/win_perf_counters/win_perf_counters_test.go
Labels: fix, plugin/input

#14255 docs(inputs.temp): Add additional troubleshooting steps
  plugins/inputs/temp/README.md
Labels: docs, ready for final review, plugin/input

#14268 chore: Update to go1.21.4
  .circleci/config.yml
  .github/workflows/govulncheck.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore

#14262 fix(inputs.ipset): Parse lines with timeout
  plugins/inputs/ipset/ipset.go
  plugins/inputs/ipset/ipset_test.go
Labels: fix, ready for final review, plugin/input

#14263 docs(inputs.intel_powerstat): Add notes about hw/sw dependencies
  plugins/inputs/intel_powerstat/README.md
  plugins/inputs/intel_powerstat/sample.conf
Labels: docs, ready for final review, plugin/input

#14257 chore(parsers.csv): Add benchmark test
  plugins/parsers/csv/parser_test.go
Labels: ready for final review, plugin/parser, chore, area/csv

#14267 fix(inputs.disk): Add inodes_used_percent field
  plugins/inputs/disk/README.md
  plugins/inputs/disk/disk.go
  plugins/inputs/disk/disk_test.go
Labels: fix, ready for final review, plugin/input

#14277 chore: Add metric and batch benchmark to serializers
  plugins/serializers/carbon2/carbon2_test.go
  plugins/serializers/cloudevents/cloudevents_test.go
  plugins/serializers/csv/csv_test.go
  plugins/serializers/graphite/graphite_test.go
  plugins/serializers/influx/influx_test.go
  plugins/serializers/json/json_test.go
  plugins/serializers/msgpack/msgpack_test.go
  plugins/serializers/nowmetric/nowmetric_test.go
  plugins/serializers/prometheus/prometheus_test.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite_test.go
  plugins/serializers/splunkmetric/splunkmetric_test.go
  plugins/serializers/template/template_test.go
  plugins/serializers/test_benchmark.go
  plugins/serializers/wavefront/wavefront_test.go
Labels: ready for final review, chore

#14276 chore(parsers): Add additional parser benchmarks
  plugins/parsers/dropwizard/parser_test.go
  plugins/parsers/form_urlencoded/parser_test.go
  plugins/parsers/grok/parser_test.go
  plugins/parsers/logfmt/parser_test.go
  plugins/parsers/nagios/parser_test.go
  plugins/parsers/opentsdb/parser_test.go
  plugins/parsers/prometheus/parser_test.go
  plugins/parsers/value/parser_test.go
  plugins/parsers/wavefront/parser_test.go
Labels: ready for final review, plugin/parser, chore

#14111 feat(inputs.snmp): Hint to use source tag
  plugins/inputs/snmp/README.md
  plugins/inputs/snmp/sample.conf
  plugins/inputs/snmp/snmp.go
Labels: feat, area/snmp, ready for final review, plugin/input

#14068 fix(inputs.s7comm): Fix bit queries
  go.mod
  go.sum
  plugins/inputs/s7comm/s7comm.go
  plugins/inputs/s7comm/s7comm_test.go
  plugins/inputs/s7comm/type_conversions.go
Labels: fix, ready for final review, plugin/input

#14280 fix(inputs.zfs): Gathering poolMetrics failed on zfs 2.2.0
  plugins/inputs/zfs/README.md
  plugins/inputs/zfs/zfs_linux.go
  plugins/inputs/zfs/zfs_linux_test.go
Labels: fix, ready for final review, plugin/input

#14284 test(parsers): Sort metrics to avoid flaky tests
  plugins/parsers/csv/parser_test.go
  plugins/parsers/dropwizard/parser_test.go
  plugins/parsers/form_urlencoded/parser_test.go
  plugins/parsers/grok/parser_test.go
  plugins/parsers/json/parser_test.go
  plugins/parsers/logfmt/parser_test.go
  plugins/parsers/nagios/parser_test.go
  plugins/parsers/opentsdb/parser_test.go
  plugins/parsers/prometheus/parser_test.go
  plugins/parsers/value/parser_test.go
  plugins/parsers/wavefront/parser_test.go
Labels: area/prometheus, ready for final review, plugin/parser, test

#14283 fix(inputs.s7comm): Truncate string to actual length
  plugins/inputs/s7comm/type_conversions.go
Labels: fix, area/iot, ready for final review, plugin/input

#14207 feat: Use HTTPClientConfig struct in elastic stack plugins
  plugins/inputs/elasticsearch/README.md
  plugins/inputs/elasticsearch/elasticsearch.go
  plugins/inputs/elasticsearch/sample.conf
  plugins/inputs/elasticsearch_query/README.md
  plugins/inputs/elasticsearch_query/elasticsearch_query.go
  plugins/inputs/elasticsearch_query/elasticsearch_query_test.go
  plugins/inputs/elasticsearch_query/sample.conf
  plugins/inputs/kibana/README.md
  plugins/inputs/kibana/kibana.go
  plugins/inputs/kibana/sample.conf
  plugins/inputs/logstash/README.md
  plugins/inputs/logstash/logstash.go
  plugins/inputs/logstash/sample.conf
Labels: feat, area/elasticsearch, ready for final review, plugin/input

#13417 feat(inputs.procstat): Obtain process information through supervisor
  plugins/inputs/procstat/README.md
  plugins/inputs/procstat/native_finder.go
  plugins/inputs/procstat/native_finder_test.go
  plugins/inputs/procstat/native_finder_windows_test.go
  plugins/inputs/procstat/pgrep.go
  plugins/inputs/procstat/process.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/procstat_test.go
  plugins/inputs/procstat/sample.conf
Labels: feat, area/procstat, ready for final review, plugin/input

#14274 fix(inputs.intel_rdt): Do not fail on missing PIDs
  plugins/inputs/intel_rdt/intel_rdt.go
Labels: fix, ready for final review, plugin/input

#14294 fix(inputs.ecs): Correct v4 metadata URLs
  plugins/inputs/ecs/client.go
Labels: fix, area/aws, ready for final review, plugin/input

#14296 fix(parsers.json_v2): Log, avoid hidding errors
  plugins/parsers/json_v2/parser.go
Labels: fix, area/json, ready for final review, plugin/parser

#14297 feat(processors.noop): Noop processor
  plugins/processors/all/noop.go
  plugins/processors/noop/README.md
  plugins/processors/noop/noop.go
  plugins/processors/noop/noop_test.go
  plugins/processors/noop/sample.conf
Labels: feat, new plugin, ready for final review, plugin/processor

#14137 fix(processors.starlark): Maintain tracking information post-apply
  plugins/common/starlark/metric.go
  plugins/processors/starlark/starlark.go
  plugins/processors/starlark/starlark_test.go
Labels: fix, area/starlark, ready for final review, plugin/processor

#14295 chore: Enable bad regex gocritic linter
  .golangci.yml
  plugins/inputs/gnmi/path.go
  plugins/serializers/graphite/graphite.go
Labels: ready for final review, chore, linter

#14303 chore(parsers): Add benchmarks for avro, collectd, prometheus remote write
  plugins/parsers/avro/parser_test.go
  plugins/parsers/avro/testdata/benchmark/expected.out
  plugins/parsers/avro/testdata/benchmark/message.json
  plugins/parsers/avro/testdata/benchmark/telegraf.conf
  plugins/parsers/collectd/parser_test.go
  plugins/parsers/prometheusremotewrite/parser_test.go
Labels: ready for final review, plugin/parser, chore

#14200 feat(inputs.sql): Add support for IBM Netezza
  docs/LICENSE_OF_DEPENDENCIES.md
  docs/SQL_DRIVERS_INPUT.md
  go.mod
  go.sum
  plugins/inputs/sql/drivers.go
Labels: feat, ready for final review, plugin/input, area/sql

#14304 chore(parsers.xpath): Add benchmark tests for XML and JSON
  plugins/parsers/xpath/parser_test.go
Labels: plugin/parser, chore

#14310 chore(parsers.binary): Add benchmark
  plugins/parsers/binary/parser_test.go
Labels: plugin/parser, chore

#14311 chore(parsers.avro): Add benchmark for binary format
  plugins/parsers/avro/parser_test.go
  plugins/parsers/avro/testdata/benchmark/expected.out
Labels: plugin/parser, chore

#14302 test: Have vault wait for minimum number of metrics
  plugins/inputs/vault/vault_test.go
Labels: ready for final review, plugin/input, test

#14312 chore(parsers.xpath): Add benchmark for protocol-buffer format
  plugins/parsers/xpath/parser_test.go
  plugins/parsers/xpath/testcases/protobuf_benchmark/benchmark.proto
  plugins/parsers/xpath/testcases/protobuf_benchmark/expected.out
  plugins/parsers/xpath/testcases/protobuf_benchmark/message.bin
  plugins/parsers/xpath/testcases/protobuf_benchmark/telegraf.conf
  testutil/log.go
Labels: plugin/parser, chore

#14313 chore(parsers.xpath): Add benchmark for msgpack format
  plugins/parsers/xpath/parser_test.go
Labels: plugin/parser, chore

#14314 chore(parsers.xpath): Add benchmark for CBOR format
  plugins/parsers/xpath/parser_test.go
  plugins/parsers/xpath/testcases/cbor_benchmark/expected.out
  plugins/parsers/xpath/testcases/cbor_benchmark/message.bin
  plugins/parsers/xpath/testcases/cbor_benchmark/telegraf.conf
Labels: plugin/parser, chore

#14315 chore(parsers.influx): Add benchmark
  plugins/parsers/influx/influx_upstream/parser_test.go
  plugins/parsers/influx/parser_test.go
Labels: ready for final review, plugin/parser, chore

#14301 test(kafka): Use dynamic ports with integration tests
  go.mod
  go.sum
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/outputs/kafka/kafka_test.go
Labels: area/kafka, ready for final review, plugin/input, plugin/output, test

#14320 feat(inputs.kafka_consumer): Use metric name from message header
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/sample.conf
Labels: feat, area/kafka, ready for final review, plugin/input

#14331 fix(common.oauth): Initialize 'EndpointParams' to avoid panic with 'audience' settings
  plugins/common/oauth/config.go
  plugins/outputs/http/http_test.go
Labels: fix, ready for final review, plugin/input, plugin/output

#14348 docs(inputs.kafka_consumer): Remove whitespace
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/sample.conf
Labels: docs, plugin/input

#14341 feat(migrations): Add option migration for outputs.influxdb
  migrations/all/outputs_influxdb.go
  migrations/outputs_influxdb/migration.go
  migrations/outputs_influxdb/migration_test.go
  migrations/outputs_influxdb/testcases/convert_url/expected.conf
  migrations/outputs_influxdb/testcases/convert_url/telegraf.conf
  migrations/outputs_influxdb/testcases/merge_url/expected.conf
  migrations/outputs_influxdb/testcases/merge_url/telegraf.conf
  migrations/outputs_influxdb/testcases/merge_url_overlap/expected.conf
  migrations/outputs_influxdb/testcases/merge_url_overlap/telegraf.conf
Labels: feat, ready for final review, plugin/output

#14340 fix(outputs.opensearch): Expose TLS setting correctly
  plugins/outputs/opensearch/README.md
  plugins/outputs/opensearch/opensearch.go
  plugins/outputs/opensearch/sample.conf
Labels: area/elasticsearch, fix, ready for final review, plugin/output

#14349 chore(deps): Point kafka dependency to IBM organization
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  plugins/common/kafka/config.go
  plugins/common/kafka/logger.go
  plugins/common/kafka/sasl.go
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/kafka_consumer_legacy/kafka_consumer_legacy_integration_test.go
  plugins/outputs/kafka/kafka.go
  plugins/outputs/kafka/kafka_test.go
Labels: area/kafka, ready for final review, dependencies, chore

#14350 fix(inputs.http): Use correct token variable
  plugins/inputs/http/http.go
Labels: fix, ready for final review, plugin/input

#14326 chore(inputs.procstat): Cleanup code
  plugins/inputs/procstat/dev/telegraf.conf
  plugins/inputs/procstat/memmap_notlinux.go
  plugins/inputs/procstat/native_finder.go
  plugins/inputs/procstat/native_finder_notwindows.go
  plugins/inputs/procstat/native_finder_test.go
  plugins/inputs/procstat/native_finder_windows.go
  plugins/inputs/procstat/native_finder_windows_test.go
  plugins/inputs/procstat/os_linux.go
  plugins/inputs/procstat/os_others.go
  plugins/inputs/procstat/os_windows.go
  plugins/inputs/procstat/pgrep.go
  plugins/inputs/procstat/process.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/procstat_test.go
  plugins/inputs/procstat/win_service_notwindows.go
Labels: area/procstat, ready for final review, plugin/input, chore

#13657 feat(secretstores): Add systemd-credentials plugin
  go.mod
  go.sum
  plugins/secretstores/README.md
  plugins/secretstores/all/systemd.go
  plugins/secretstores/systemd/README.md
  plugins/secretstores/systemd/sample.conf
  plugins/secretstores/systemd/systemd.go
  plugins/secretstores/systemd/systemd_nonlinux.go
  plugins/secretstores/systemd/systemd_test.go
  plugins/secretstores/systemd/testdata/secret-file-1
  plugins/secretstores/systemd/testdata/secretFile
  plugins/secretstores/systemd/testdata/secret_file_2
  scripts/telegraf.service
Labels: feat, ready for final review, plugin/secretstores

#14351 fix(parsers.json v2): Correct wrong name of config option
  plugins/parsers/json_v2/README.md
  plugins/parsers/json_v2/parser.go
Labels: fix, area/json, ready for final review, plugin/parser

#14362 docs: Update PR checklist, make clear AI generated code not accepted
  .github/PULL_REQUEST_TEMPLATE.md
  .markdownlintignore
  CONTRIBUTING.md
Labels: docs, ready for final review

#14358 docs(parsers.json_v2): Add links to testdata folder
  plugins/parsers/json_v2/README.md
Labels: docs, area/json, ready for final review, plugin/parser

#14329 chore(inputs.procstat): Use plural for supervisor_units option
  migrations/all/inputs_procstat.go
  migrations/inputs_procstat/migration.go
  migrations/inputs_procstat/migration_test.go
  migrations/inputs_procstat/testcases/deprecated_supervisor_unit merge/expected.conf
  migrations/inputs_procstat/testcases/deprecated_supervisor_unit merge/telegraf.conf
  migrations/inputs_procstat/testcases/deprecated_supervisor_unit/expected.conf
  migrations/inputs_procstat/testcases/deprecated_supervisor_unit/telegraf.conf
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/procstat_test.go
Labels: area/procstat, ready for final review, plugin/input, chore

#14359 docs: Fix typos
  config/config_test.go
  config/deprecation.go
  plugins/common/mqtt/mqtt.go
  plugins/inputs/azure_monitor/README.md
  plugins/inputs/azure_monitor/sample.conf
  plugins/inputs/ctrlx_datalayer/README.md
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer.go
  plugins/inputs/dns_query/README.md
  plugins/inputs/example/example.go
  plugins/inputs/example/example_test.go
  plugins/inputs/fireboard/README.md
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/sample.conf
  plugins/inputs/intel_powerstat/msr.go
  plugins/inputs/jenkins/README.md
  plugins/inputs/jenkins/sample.conf
  plugins/inputs/kernel/README.md
  plugins/inputs/modbus/request.go
  plugins/inputs/nfsclient/README.md
  plugins/inputs/nfsclient/sample.conf
  plugins/inputs/opensearch_query/README.md
  plugins/inputs/opensearch_query/sample.conf
  plugins/inputs/openweathermap/README.md
  plugins/inputs/openweathermap/sample.conf
  plugins/inputs/prometheus/consul.go
  plugins/inputs/snmp/README.md
  plugins/inputs/snmp/sample.conf
  plugins/inputs/socketstat/socketstat.go
  plugins/inputs/sqlserver/README.md
  plugins/inputs/sqlserver/sample.conf
  plugins/inputs/system/system_test.go
  plugins/inputs/tacacs/README.md
  plugins/inputs/webhooks/artifactory/README.md
  plugins/inputs/webhooks/artifactory/artifactory_webhook_models.go
  plugins/inputs/zfs/README.md
  plugins/outputs/opensearch/opensearch.go
  plugins/parsers/avro/schema_registry.go
  plugins/parsers/csv/README.md
  plugins/parsers/json_v2/README.md
  plugins/parsers/json_v2/parser.go
  plugins/processors/scale/scale_test.go
  plugins/processors/starlark/README.md
  plugins/processors/starlark/starlark_test.go
  plugins/secretstores/docker/README.md
  scripts/windows-gen-syso.sh
Labels: docs, ready for final review

#14366 docs(inputs.mqtt_consumer): Clarify persistent session and topic behavior
  plugins/inputs/mqtt_consumer/README.md
  plugins/inputs/mqtt_consumer/sample.conf
Labels: docs, ready for final review, plugin/input

#14369 test(inputs.vault): Remove metric comparison in integration test
  plugins/inputs/vault/testdata/response_integration_1.13.3.influx
  plugins/inputs/vault/vault_test.go
Labels: ready for final review, plugin/input, test

#14344 fix(parsers.json_v2): Reset parser before parsing (#13805)
  plugins/parsers/json_v2/parser.go
Labels: fix, area/json, ready for final review, plugin/parser

#14357 fix(inputs.tail): Retry opening file after permission denied
  plugins/inputs/tail/tail.go
Labels: feat, area/tail, ready for final review, plugin/input

#14361 feat(agent): Allow separators for namepass and namedrop filters
  config/config.go
  config/config_test.go
  config/testdata/single_plugin_with_separators.toml
  docs/CONFIGURATION.md
  filter/filter.go
  filter/filter_test.go
  models/filter.go
  models/filter_test.go
Labels: feat, area/configuration, area/agent, ready for final review
