Repository influxdata/telegraf, pull requests merged in 2023-08, with the labels that each got.

#13707 docs(config): Add notes for secret-store pitfalls
  docs/CONFIGURATION.md
Labels: docs, ready for final review

#13699 feat(inputs.solr): Support version 7.x to 9.3
  plugins/inputs/solr/README.md
  plugins/inputs/solr/api.go
  plugins/inputs/solr/sample.conf
  plugins/inputs/solr/solr.go
  plugins/inputs/solr/solr_test.go
  plugins/inputs/solr/testcases/integration-v6.6.result
  plugins/inputs/solr/testcases/integration-v6.result
  plugins/inputs/solr/testcases/integration-v7.result
  plugins/inputs/solr/testcases/integration-v8.result
  plugins/inputs/solr/testcases/integration-v9.result
  plugins/inputs/solr/util.go
Labels: feat, ready for final review, plugin/input

#13713 chore: Enable additional gocritic
  .golangci.yml
  plugins/inputs/snmp/netsnmp.go
  plugins/processors/strings/strings_test.go
Labels: ready for final review, chore

#13712 chore: Resolves gocritic sloppyReassign
  .golangci.yml
  internal/rotate/file_writer.go
  plugins/common/cookie/cookie.go
  plugins/common/starlark/field_dict.go
  plugins/inputs/azure_monitor/azure_monitor_test.go
  plugins/inputs/dpdk/dpdk.go
  plugins/inputs/intel_dlb/intel_dlb.go
  plugins/inputs/intel_rdt/intel_rdt.go
  plugins/inputs/jenkins/jenkins.go
  plugins/inputs/kibana/kibana.go
  plugins/inputs/libvirt/libvirt.go
  plugins/inputs/mailchimp/chimp_api.go
  plugins/inputs/mysql/mysql.go
  plugins/inputs/opensearch_query/opensearch_query_test.go
  plugins/inputs/phpfpm/fcgi.go
  plugins/inputs/phpfpm/fcgi_client.go
  plugins/inputs/postgresql_extensible/postgresql_extensible.go
  plugins/inputs/powerdns_recursor/protocol_v3.go
  plugins/inputs/salesforce/salesforce.go
  plugins/inputs/sflow/packetdecoder.go
  plugins/inputs/statsd/statsd.go
  plugins/inputs/teamspeak/teamspeak.go
  plugins/inputs/win_eventlog/util.go
  plugins/inputs/win_perf_counters/win_perf_counters.go
  plugins/inputs/zipkin/codec/thrift/thrift.go
  plugins/outputs/sumologic/sumologic.go
  plugins/outputs/syslog/syslog.go
Labels: ready for final review, chore

#12747 feat(inputs.tacacs): Add tacacs plugin for simple tacacs auth response time monitoring
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/tacacs.go
  plugins/inputs/tacacs/README.md
  plugins/inputs/tacacs/sample.conf
  plugins/inputs/tacacs/tacacs.go
  plugins/inputs/tacacs/tacacs_test.go
Labels: feat, new plugin, ready for final review, plugin/input

#13709 feat(inputs.jti_openconfig_telemetry): Add keep-alive setting
  plugins/inputs/jti_openconfig_telemetry/README.md
  plugins/inputs/jti_openconfig_telemetry/jti_openconfig_telemetry.go
  plugins/inputs/jti_openconfig_telemetry/sample.conf
Labels: feat, ready for final review, plugin/input

#13682 fix(inputs.opcua): Register node IDs again on reconnect
  plugins/common/opcua/input/input_client.go
  plugins/inputs/opcua/read_client.go
  plugins/inputs/opcua_listener/subscribe_client.go
Labels: fix, area/opcua, ready for final review, plugin/input

#13719 fix(parsers.xpath): Handle protobuf maps correctly
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/parsers/xpath/parser.go
  plugins/parsers/xpath/protocolbuffer_document.go
  plugins/parsers/xpath/testcases/protobuf_issue_13715/expected.out
  plugins/parsers/xpath/testcases/protobuf_issue_13715/issue.proto
  plugins/parsers/xpath/testcases/protobuf_issue_13715/message.bin
  plugins/parsers/xpath/testcases/protobuf_issue_13715/telegraf.conf
Labels: fix, ready for final review, plugin/parser

#13722 feat(serializers.nowmetric): Add option for JSONv2 format
  plugins/serializers/nowmetric/README.md
  plugins/serializers/nowmetric/nowmetric.go
  plugins/serializers/nowmetric/nowmetric_test.go
Labels: feat, ready for final review, plugin/serializer

#13720 feat(inputs.vsphere): Support explicit proxy setting
  plugins/inputs/vsphere/README.md
  plugins/inputs/vsphere/client.go
  plugins/inputs/vsphere/sample.conf
  plugins/inputs/vsphere/vsphere.go
Labels: feat, area/vsphere, ready for final review, plugin/input

#13723 feat(inputs.redis): support of redis 6.2 ERRORSTATS
  plugins/inputs/redis/README.md
  plugins/inputs/redis/redis.go
  plugins/inputs/redis/redis_test.go
Labels: feat, area/redis, ready for final review, plugin/input

#13742 fix(inputs.opcua_listener): Avoid segfault if subscription was not successful
  plugins/inputs/opcua_listener/subscribe_client.go
Labels: fix, area/opcua, ready for final review, plugin/input

#13731 feat(inputs): Add new S7comm plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/s7comm.go
  plugins/inputs/s7comm/README.md
  plugins/inputs/s7comm/s7comm.go
  plugins/inputs/s7comm/s7comm_test.go
  plugins/inputs/s7comm/sample.conf
  plugins/inputs/s7comm/type_conversions.go
Labels: feat, new plugin, ready for final review, plugin/input

#13728 feat(inputs.kernel): Collect KSM metrics
  plugins/inputs/kernel/README.md
  plugins/inputs/kernel/kernel.go
  plugins/inputs/kernel/kernel_test.go
  plugins/inputs/kernel/sample.conf
  plugins/inputs/kernel/testdata/ksm/invalid/full_scans
  plugins/inputs/kernel/testdata/ksm/invalid/max_page_sharing
  plugins/inputs/kernel/testdata/ksm/invalid/merge_across_nodes
  plugins/inputs/kernel/testdata/ksm/invalid/pages_shared
  plugins/inputs/kernel/testdata/ksm/invalid/pages_sharing
  plugins/inputs/kernel/testdata/ksm/invalid/pages_to_scan
  plugins/inputs/kernel/testdata/ksm/invalid/pages_unshared
  plugins/inputs/kernel/testdata/ksm/invalid/pages_volatile
  plugins/inputs/kernel/testdata/ksm/invalid/run
  plugins/inputs/kernel/testdata/ksm/invalid/sleep_millisecs
  plugins/inputs/kernel/testdata/ksm/invalid/stable_node_chains
  plugins/inputs/kernel/testdata/ksm/invalid/stable_node_chains_prune_millisecs
  plugins/inputs/kernel/testdata/ksm/invalid/stable_node_dups
  plugins/inputs/kernel/testdata/ksm/invalid/use_zero_pages
  plugins/inputs/kernel/testdata/ksm/missing/full_scans
  plugins/inputs/kernel/testdata/ksm/missing/max_page_sharing
  plugins/inputs/kernel/testdata/ksm/missing/merge_across_nodes
  plugins/inputs/kernel/testdata/ksm/missing/pages_shared
  plugins/inputs/kernel/testdata/ksm/missing/pages_sharing
  plugins/inputs/kernel/testdata/ksm/missing/pages_to_scan
  plugins/inputs/kernel/testdata/ksm/missing/pages_unshared
  plugins/inputs/kernel/testdata/ksm/missing/pages_volatile
  plugins/inputs/kernel/testdata/ksm/missing/sleep_millisecs
  plugins/inputs/kernel/testdata/ksm/missing/stable_node_chains
  plugins/inputs/kernel/testdata/ksm/missing/stable_node_chains_prune_millisecs
  plugins/inputs/kernel/testdata/ksm/missing/stable_node_dups
  plugins/inputs/kernel/testdata/ksm/missing/use_zero_pages
  plugins/inputs/kernel/testdata/ksm/valid/full_scans
  plugins/inputs/kernel/testdata/ksm/valid/max_page_sharing
  plugins/inputs/kernel/testdata/ksm/valid/merge_across_nodes
  plugins/inputs/kernel/testdata/ksm/valid/pages_shared
  plugins/inputs/kernel/testdata/ksm/valid/pages_sharing
  plugins/inputs/kernel/testdata/ksm/valid/pages_to_scan
  plugins/inputs/kernel/testdata/ksm/valid/pages_unshared
  plugins/inputs/kernel/testdata/ksm/valid/pages_volatile
  plugins/inputs/kernel/testdata/ksm/valid/run
  plugins/inputs/kernel/testdata/ksm/valid/sleep_millisecs
  plugins/inputs/kernel/testdata/ksm/valid/stable_node_chains
  plugins/inputs/kernel/testdata/ksm/valid/stable_node_chains_prune_millisecs
  plugins/inputs/kernel/testdata/ksm/valid/stable_node_dups
  plugins/inputs/kernel/testdata/ksm/valid/use_zero_pages
Labels: feat, area/sysstat, ready for final review, plugin/input

#13743 chore: Check logging functions like printf
  .golangci.yml
  plugins/common/opcua/client.go
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/google_cloud_storage/google_cloud_storage.go
  plugins/inputs/intel_pmu/intel_pmu.go
  plugins/inputs/intel_powerstat/intel_powerstat.go
  plugins/inputs/jti_openconfig_telemetry/jti_openconfig_telemetry.go
  plugins/inputs/kinesis_consumer/kinesis_consumer.go
  plugins/inputs/mongodb/mongodb.go
  plugins/inputs/nfsclient/nfsclient.go
  plugins/inputs/opensearch_query/opensearch_query.go
  plugins/inputs/proxmox/proxmox.go
  plugins/inputs/socket_listener/stream_listener.go
  plugins/inputs/upsd/upsd.go
  plugins/inputs/win_eventlog/win_eventlog.go
  plugins/inputs/win_perf_counters/win_perf_counters.go
  plugins/outputs/cloud_pubsub/cloud_pubsub.go
  plugins/outputs/mqtt/mqtt.go
  plugins/outputs/nebius_cloud_monitoring/nebius_cloud_monitoring.go
  plugins/outputs/opentelemetry/opentelemetry.go
  plugins/outputs/postgresql/table_manager.go
  plugins/outputs/timestream/timestream.go
  plugins/outputs/wavefront/wavefront.go
  plugins/outputs/yandex_cloud_monitoring/yandex_cloud_monitoring.go
  plugins/processors/scale/scale.go
  plugins/serializers/cloudevents/cloudevents.go
Labels: ready for final review, chore, linter

#13727 feat(inputs.redfish): adds more chassis tags
  plugins/inputs/redfish/README.md
  plugins/inputs/redfish/redfish.go
  plugins/inputs/redfish/redfish_test.go
  plugins/inputs/redfish/sample.conf
  plugins/inputs/redfish/testdata/hp_chassis.json
Labels: feat, ready for final review, plugin/input

#13749 chore(inputs): Remove unnecessary nil check
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/vsphere/endpoint.go
Labels: ready for final review, plugin/input, chore

#13752 chore: Spell endianness correctly
  internal/host_endianness_be.go
  internal/host_endianness_le.go
  plugins/inputs/modbus/type_conversions16.go
  plugins/inputs/modbus/type_conversions32.go
  plugins/inputs/modbus/type_conversions64.go
  plugins/inputs/modbus/type_conversions8.go
  plugins/inputs/powerdns_recursor/protocol_commons.go
  plugins/inputs/socket_listener/socket_listener.go
  plugins/parsers/binary/README.md
  plugins/parsers/binary/entry_test.go
  plugins/parsers/binary/parser.go
  plugins/parsers/binary/parser_test.go
  plugins/parsers/binary/testcases/multiple_messages/telegraf.conf
  plugins/processors/parser/parser.go
Labels: ready for final review, chore

#13758 chore: Enable filepathJoin checker for gocritic
  .golangci.yml
  config/config_test.go
  internal/globpath/globpath_test.go
  plugins/inputs/diskio/diskio_linux.go
  plugins/inputs/file/file_test.go
  plugins/inputs/powerdns_recursor/powerdns_recursor.go
  plugins/inputs/prometheus/kubernetes.go
  plugins/inputs/system/ps.go
  plugins/processors/port_name/services_path.go
  testutil/socket.go
Labels: ready for final review, chore, linter

#13762 fix(inputs.processes): Comment out default option
  plugins/inputs/processes/README.md
  plugins/inputs/processes/sample.conf
Labels: fix, plugin/input

#13773 chore: go mod tidy
  go.sum
Labels: chore

#13750 feat(outputs.postgresql): Add option to rename time column
  plugins/outputs/postgresql/README.md
  plugins/outputs/postgresql/columns.go
  plugins/outputs/postgresql/postgresql.go
  plugins/outputs/postgresql/postgresql_test.go
  plugins/outputs/postgresql/sample.conf
  plugins/outputs/postgresql/table_manager.go
  plugins/outputs/postgresql/table_source.go
Labels: feat, area/postgresql, ready for final review, plugin/output

#13780 chore: Update lxd package testing images
  tools/package_lxd_test/main.go
Labels: chore

#13763 feat(outputs.postgresql): Add option to create time column with timezone
  plugins/outputs/postgresql/README.md
  plugins/outputs/postgresql/postgresql.go
  plugins/outputs/postgresql/sample.conf
  plugins/outputs/postgresql/table_manager_test.go
Labels: feat, area/postgresql, plugin/output

#13733 feat(inputs.nvidia_smi): Add Nvidia DCGM MIG usage values
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
  plugins/inputs/nvidia_smi/schema_v12/parser.go
  plugins/inputs/nvidia_smi/schema_v12/types.go
  plugins/inputs/nvidia_smi/testdata/a100-sxm4-v12.xml
Labels: feat, ready for final review, plugin/input

#13774 feat(agent): Watch default config files if none specified
  cmd/telegraf/telegraf.go
  config/config.go
  config/config_test.go
Labels: feat, area/agent, ready for final review

#13777 fix(inputs.amqp_consumer): Print error on connection failure
  plugins/inputs/amqp_consumer/amqp_consumer.go
Labels: fix, ready for final review, plugin/input

#13753 chore: Cache rework for `.circleci` jobs
  .circleci/config.yml
  scripts/installgo_windows.sh
Labels: ready for final review, chore

#13778 chore: Update permissions on new installs
  Makefile
  scripts/deb/post-install.sh
  scripts/rpm/post-install.sh
Labels: ready for final review, chore

#13783 feat(inputs.nvidia_smi): Add additional fields
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
  plugins/inputs/nvidia_smi/schema_v11/parser.go
  plugins/inputs/nvidia_smi/schema_v11/types.go
  plugins/inputs/nvidia_smi/schema_v12/parser.go
Labels: feat, ready for final review, plugin/input

#13792 docs: Clean up markdown add warning about tables
  plugins/inputs/aliyuncms/README.md
  plugins/inputs/aliyuncms/sample.conf
  plugins/inputs/vsphere/README.md
  plugins/inputs/vsphere/sample.conf
  plugins/inputs/win_perf_counters/README.md
  plugins/inputs/win_perf_counters/sample.conf
  plugins/outputs/application_insights/README.md
  plugins/outputs/application_insights/sample.conf
  plugins/outputs/cloud_pubsub/README.md
  plugins/outputs/cloud_pubsub/sample.conf
  plugins/outputs/dynatrace/README.md
  plugins/outputs/dynatrace/sample.conf
  plugins/outputs/health/README.md
  plugins/outputs/health/sample.conf
  plugins/outputs/http/README.md
  plugins/outputs/http/sample.conf
  plugins/outputs/kafka/README.md
  plugins/outputs/kafka/sample.conf
  plugins/outputs/kinesis/README.md
  plugins/outputs/kinesis/sample.conf
  plugins/outputs/mqtt/README.md
  plugins/outputs/mqtt/sample.conf
  plugins/outputs/opentelemetry/README.md
  plugins/outputs/opentelemetry/sample.conf
  plugins/outputs/sensu/README.md
  plugins/outputs/sensu/sample.conf
  plugins/outputs/sql/README.md
  plugins/outputs/sql/sample.conf
  plugins/outputs/stackdriver/README.md
  plugins/outputs/stackdriver/sample.conf
  plugins/outputs/websocket/README.md
  plugins/outputs/websocket/sample.conf
Labels: docs, ready for final review

#13794 chore: Update to go1.21.0
  .circleci/config.yml
  .github/workflows/govulncheck.yml
  Makefile
  README.md
  go.mod
  go.sum
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
  tools/update_goversion/main.go
  tools/update_goversion/main_test.go
  tools/update_goversion/testdata/godev_minor.html
Labels: ready for final review, chore

#13754 feat(inputs.fibaro): Support HC3 device types
  plugins/inputs/fibaro/README.md
  plugins/inputs/fibaro/fibaro.go
  plugins/inputs/fibaro/fibaro_test.go
  plugins/inputs/fibaro/hc2/parser.go
  plugins/inputs/fibaro/hc2/types.go
  plugins/inputs/fibaro/hc3/parser.go
  plugins/inputs/fibaro/hc3/types.go
  plugins/inputs/fibaro/sample.conf
  plugins/inputs/fibaro/testdata/device_hc2.json
  plugins/inputs/fibaro/testdata/device_hc3.json
  plugins/inputs/fibaro/testdata/rooms.json
  plugins/inputs/fibaro/testdata/sections.json
Labels: feat, ready for final review, plugin/input

#13791 fix(metricpass): Remove python logic compatibility
  CHANGELOG.md
  config/testdata/filter_metricpass.toml
  models/filter.go
  models/filter_test.go
Labels: fix, ready for final review

#13838 chore(tools): Bump golangci-lint from v1.53.2 to v1.54.2
  .circleci/config.yml
  Makefile
  plugins/inputs/aliyuncms/aliyuncms.go
  plugins/inputs/couchbase/couchbase.go
  plugins/inputs/couchbase/couchbase_test.go
  plugins/inputs/kube_inventory/kube_inventory.go
  plugins/inputs/logstash/logstash.go
  plugins/inputs/vsphere/endpoint.go
  plugins/outputs/cloudwatch_logs/cloudwatch_logs.go
  plugins/outputs/iotdb/iotdb_test.go
  plugins/parsers/influx/escape.go
Labels: chore, linter

#13825 feat(inputs.couchbase): Add failover metrics
  plugins/inputs/couchbase/README.md
  plugins/inputs/couchbase/couchbase.go
  plugins/inputs/couchbase/couchbase_test.go
  plugins/inputs/couchbase/sample.conf
  plugins/inputs/couchbase/testdata/settings_autofailover.json
Labels: feat, area/couchbase, ready for final review, plugin/input

#13787 feat(cli): Add plugins subcommand to list available and deprecated
  .golangci.yml
  cmd/telegraf/cmd_plugins.go
  cmd/telegraf/main.go
  cmd/telegraf/main_test.go
Labels: feat, ready for final review

#13785 feat(processors): Add processor to split a metric into multiple
  plugins/processors/all/split.go
  plugins/processors/split/README.md
  plugins/processors/split/sample.conf
  plugins/processors/split/split.go
  plugins/processors/split/split_test.go
  plugins/processors/split/testcases/drop_original/config.toml
  plugins/processors/split/testcases/drop_original/expected.out
  plugins/processors/split/testcases/drop_original/input.influx
  plugins/processors/split/testcases/globs/config.toml
  plugins/processors/split/testcases/globs/expected.out
  plugins/processors/split/testcases/globs/input.influx
  plugins/processors/split/testcases/nomatches/config.toml
  plugins/processors/split/testcases/nomatches/expected.out
  plugins/processors/split/testcases/nomatches/input.influx
  plugins/processors/split/testcases/singlemetric/config.toml
  plugins/processors/split/testcases/singlemetric/expected.out
  plugins/processors/split/testcases/singlemetric/input.influx
  plugins/processors/split/testcases/tags/config.toml
  plugins/processors/split/testcases/tags/expected.out
  plugins/processors/split/testcases/tags/input.influx
Labels: feat, new plugin, ready for final review, plugin/processor

#13793 feat(inputs.internal): Add Go metric collection option
  plugins/inputs/internal/README.md
  plugins/inputs/internal/internal.go
  plugins/inputs/internal/internal_test.go
  plugins/inputs/internal/sample.conf
Labels: feat, ready for final review, plugin/input

#13832 chore(inputs.modbus): improve deprecation documentation
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/sample_register.conf
Labels: area/modbus, ready for final review, plugin/input, chore

#13819 chore: Add InfluxDB and InfluxData branding to output
  cmd/telegraf/telegraf.go
Labels: ready for final review, chore

#13833 fix(inputs.sysstat): fix tmpfile fd leak
  plugins/inputs/sysstat/sysstat.go
Labels: fix, area/sysstat, ready for final review, plugin/input

#13839 fix(tools.license_checker): Determine version correctly and whitelist gorilla/websocket
  tools/license_checker/data/whitelist
  tools/license_checker/main.go
  tools/license_checker/whitelist.go
Labels: fix, ready for final review

#13840 fix(inputs.opcua): Verify groups or root nodes included in config
  plugins/common/opcua/input/input_client.go
Labels: fix, area/opcua, ready for final review, plugin/input
