Repository influxdata/telegraf, pull requests merged in 2023-06, with the labels that each got.

#13047 feat(inputs.netflow): Add sFlow decoder
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/netflow/README.md
  plugins/inputs/netflow/netflow.go
  plugins/inputs/netflow/netflow_decoder.go
  plugins/inputs/netflow/netflow_v5.go
  plugins/inputs/netflow/sample.conf
  plugins/inputs/netflow/sflow_v5.go
  plugins/inputs/netflow/testcases/sflow_v5_example/expected.out
  plugins/inputs/netflow/testcases/sflow_v5_example/sflow_v5.bin
  plugins/inputs/netflow/testcases/sflow_v5_example/telegraf.conf
  plugins/inputs/netflow/type_conversion.go
Labels: feat, ready for final review, plugin/input

#13262 feat(common.tls): Add support for passphrase-protected private key
  docs/TLS.md
  go.mod
  plugins/common/tls/config.go
  plugins/common/tls/config_test.go
  testutil/pki/clientenckey.pkcs8.pem
  testutil/pki/clientkey.pkcs8.pem
  testutil/pki/tls-certs.sh
  testutil/tls.go
Labels: feat, security, ready for final review, waiting for response

#13372 chore: fix touch command
  scripts/deb/post-install.sh
  scripts/rpm/post-install.sh
Labels: ready for final review, chore

#13369 chore(deps): Bump github.com/showwin/speedtest-go from 1.5.2 to 1.6.2
  go.mod
  go.sum
  plugins/inputs/internet_speed/internet_speed.go
Labels: ready for final review, dependencies, chore

#13332 fix(inputs.gnmi): Handle canonical field-name correctly for non-explicit subscriptions
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/testcases/canonical_field_names/expected.out
  plugins/inputs/gnmi/testcases/canonical_field_names/telegraf.conf
Labels: fix, area/gnmi, ready for final review, plugin/input

#13378 chore(serializers): Cleanup after migration
  config/config.go
  plugins/processors/execd/execd.go
  plugins/processors/execd/execd_test.go
  plugins/processors/execd/testcases/dataformat-influx/expected.out
  plugins/processors/execd/testcases/dataformat-influx/input.influx
  plugins/processors/execd/testcases/dataformat-influx/telegraf.conf
  plugins/processors/execd/testcases/dataformat-json/expected.out
  plugins/processors/execd/testcases/dataformat-json/input.influx
  plugins/processors/execd/testcases/dataformat-json/telegraf.conf
  plugins/processors/execd/testcases/defaults/expected.out
  plugins/processors/execd/testcases/defaults/input.influx
  plugins/processors/execd/testcases/defaults/telegraf.conf
Labels: chore

#13371 chore(config): Split tests to avoid cyclic import
  config/config.go
  config/config_test.go
  config/internal_test.go
  plugins/common/shim/config.go
  plugins/outputs/azure_data_explorer/azure_data_explorer.go
  plugins/outputs/azure_data_explorer/azure_data_explorer_test.go
  plugins/outputs/event_hubs/event_hubs_test.go
  plugins/outputs/http/http_test.go
  plugins/outputs/stomp/stomp_test.go
  plugins/processors/lookup/lookup_test.go
  plugins/processors/registry.go
  plugins/serializers/json/json.go
  plugins/serializers/json/json_test.go
Labels: ready for final review, chore

#13351 chore: update removal and deprecations for v1.30.0
  config/config.go
  plugins/inputs/deprecations.go
  plugins/inputs/disk/disk.go
  plugins/inputs/icinga2/icinga2.go
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/inputs/nats_consumer/nats_consumer.go
  plugins/inputs/statsd/statsd.go
  plugins/outputs/deprecations.go
  plugins/outputs/influxdb/influxdb.go
Labels: ready for final review, chore

#13265 chore(deps): Bump github.com/influxdata/influxdb-observability libraries from 0.3.3 to 0.3.15
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/opentelemetry/opentelemetry_test.go
Labels: fix, ready for final review

#13363 fix(internal): Fix time parsing for abbreviated timezones
  CHANGELOG.md
  internal/internal.go
  internal/internal_test.go
  plugins/inputs/consul_agent/consul_agent.go
  plugins/inputs/nomad/nomad.go
  plugins/inputs/vault/vault.go
  plugins/parsers/binary/entry.go
  plugins/parsers/grok/parser.go
  plugins/parsers/grok/parser_test.go
  plugins/processors/converter/converter_test.go
Labels: fix, ready for final review

#13383 chore(processors.execd): Remove JSON test due to problematic 'cat' command
  plugins/processors/execd/testcases/dataformat-json/expected.out
  plugins/processors/execd/testcases/dataformat-json/input.influx
  plugins/processors/execd/testcases/dataformat-json/telegraf.conf
Labels: area/execd, ready for final review, plugin/processor, chore

#13349 feat(outputs.wavefront): Add TLS and HTTP Timeout configuration fields
  plugins/outputs/wavefront/README.md
  plugins/outputs/wavefront/sample.conf
  plugins/outputs/wavefront/wavefront.go
  plugins/outputs/wavefront/wavefront_test.go
Labels: feat, area/wavefront, ready for final review, plugin/output

#13385 docs(outputs.sql): improve the documentation
  plugins/outputs/sql/README.md
Labels: docs, ready for final review, plugin/output, area/sql

#13387 chore: Another try to fix CI
  plugins/processors/execd/testcases/dataformat-influx/telegraf.conf
  plugins/processors/execd/testcases/dataformat-json/expected.out
  plugins/processors/execd/testcases/dataformat-json/input.influx
  plugins/processors/execd/testcases/dataformat-json/telegraf.conf
  plugins/processors/execd/testcases/pass-through.go
Labels: chore

#13394 fix(CI): Replace last 'cat' instance in tests
  plugins/processors/execd/testcases/defaults/telegraf.conf
Labels: fix, ready for final review

#13401 chore: update to go1.20.5
  .circleci/config.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review

#13396 chore(deps): Bump github.com/shirou/gopsutil from 3.23.4 to 3.23.5
  go.mod
  go.sum
Labels: ready for final review, chore

#13399 docs(secretstores.os): clarify windows credential usage
  plugins/secretstores/os/README.md
  plugins/secretstores/os/sample.conf
Labels: docs, ready for final review, plugin/secretstores

#13398 chore: Clean up secret store usage
  cmd/telegraf/cmd_secretstore.go
  cmd/telegraf/telegraf.go
  plugins/secretstores/README.md
  plugins/secretstores/http/README.md
  plugins/secretstores/http/sample.conf
Labels: ready for final review, chore

#13400 docs: Add generic secret store usage
  docs/includes/secret_usage.md
  plugins/secretstores/docker/README.md
  plugins/secretstores/http/README.md
  plugins/secretstores/jose/README.md
  plugins/secretstores/os/README.md
Labels: docs, ready for final review, plugin/secretstores

#13350 fix(inputs.mqtt): ack messages when persistence enabled
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
Labels: fix, area/mqtt, ready for final review, plugin/input

#13377 feat(config): Add framework for migrating deprecated plugins
  cmd/telegraf/cmd_config.go
  cmd/telegraf/cmd_secretstore.go
  cmd/telegraf/main.go
  config/config.go
  config/config_test.go
  config/internal_test.go
  config/migration.go
  migrations/all/all.go
  migrations/all/inputs_cassandra.go
  migrations/common/filter_options.go
  migrations/common/input_options.go
  migrations/inputs_cassandra/README.md
  migrations/inputs_cassandra/migration.go
  migrations/inputs_cassandra/migration_test.go
  migrations/inputs_cassandra/testcases/filter_options/expected.conf
  migrations/inputs_cassandra/testcases/filter_options/telegraf.conf
  migrations/inputs_cassandra/testcases/general_options/expected.conf
  migrations/inputs_cassandra/testcases/general_options/telegraf.conf
  migrations/inputs_cassandra/testcases/simple/expected.conf
  migrations/inputs_cassandra/testcases/simple/telegraf.conf
  migrations/registry.go
  tools/custom_builder/config.go
  tools/custom_builder/main.go
Labels: feat, area/configuration, ready for final review

#13279 chore: Enable dynamicFmtString and sprintfQuotedString checkers for gocritic
  .golangci.yml
  plugins/inputs/dpdk/dpdk_test.go
  plugins/inputs/dpdk/dpdk_utils_test.go
  plugins/inputs/elasticsearch/elasticsearch.go
  plugins/inputs/intel_dlb/intel_dlb_test.go
  plugins/inputs/intel_rdt/intel_rdt.go
  plugins/inputs/stackdriver/stackdriver.go
  plugins/outputs/http/http_test.go
  plugins/outputs/influxdb/http.go
  plugins/outputs/warp10/warp10.go
  tools/package_lxd_test/container.go
  tools/package_lxd_test/lxd.go
  tools/update_goversion/main.go
Labels: ready for final review, linter

#13246 chore: Fix linter findings for Windows (part4)
  agent/agent_windows.go
  cmd/telegraf/telegraf_windows.go
  logger/event_logger.go
  plugins/inputs/diskio/README.md
  plugins/inputs/diskio/sample.conf
  plugins/inputs/execd/execd_windows.go
  plugins/inputs/filecount/filesystem_helpers.go
  plugins/inputs/filecount/filesystem_helpers_notwindows.go
  plugins/inputs/ping/ping.go
  plugins/inputs/ping/ping_notwindows.go
  plugins/inputs/ping/ping_test.go
  plugins/inputs/ping/ping_windows.go
  plugins/inputs/ping/ping_windows_test.go
  plugins/inputs/postfix/stat_none.go
  plugins/inputs/processes/processes_windows.go
  plugins/inputs/procstat/native_finder_windows_test.go
  plugins/inputs/win_eventlog/syscall_windows.go
  plugins/inputs/win_eventlog/util.go
  plugins/inputs/win_eventlog/win_eventlog.go
  plugins/inputs/win_eventlog/zsyscall_windows.go
  plugins/inputs/win_services/win_services.go
  plugins/inputs/win_services/win_services_test.go
  plugins/inputs/win_wmi/win_wmi.go
  plugins/inputs/win_wmi/win_wmi_test.go
Labels: ready for final review, chore, linter

#13379 feat(outputs): Add plugin for nebius cloud monitoring
  plugins/outputs/all/nebius_cloud_monitoring.go
  plugins/outputs/nebius_cloud_monitoring/README.md
  plugins/outputs/nebius_cloud_monitoring/nebius_cloud_monitoring.go
  plugins/outputs/nebius_cloud_monitoring/nebius_cloud_monitoring_test.go
  plugins/outputs/nebius_cloud_monitoring/sample.conf
Labels: feat, new plugin, ready for final review, plugin/output

#13316 feat(internal): Replace compression with faster alternative
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  internal/content_coding.go
  internal/content_coding_test.go
  plugins/inputs/amqp_consumer/amqp_consumer_test.go
  plugins/inputs/cloud_pubsub/cloud_pubsub_test.go
Labels: feat, ready for final review

#13397 feat: New Intel Baseband Accelerator Input Plugin
  plugins/inputs/all/intel_baseband.go
  plugins/inputs/intel_baseband/README.md
  plugins/inputs/intel_baseband/intel_baseband.go
  plugins/inputs/intel_baseband/intel_baseband_notamd64linux.go
  plugins/inputs/intel_baseband/intel_baseband_test.go
  plugins/inputs/intel_baseband/log_connector.go
  plugins/inputs/intel_baseband/log_connector_test.go
  plugins/inputs/intel_baseband/mock/conn.go
  plugins/inputs/intel_baseband/sample.conf
  plugins/inputs/intel_baseband/sock_connector.go
  plugins/inputs/intel_baseband/sock_connector_test.go
  plugins/inputs/intel_baseband/testdata/logfiles/empty.log
  plugins/inputs/intel_baseband/testdata/logfiles/example.log
  plugins/inputs/intel_baseband/utils.go
  plugins/inputs/intel_baseband/utils_test.go
Labels: feat, new plugin, ready for final review, plugin/input

#13360 feat(inputs.netflow): Allow to specify custom PEN field mappings
  plugins/inputs/netflow/README.md
  plugins/inputs/netflow/mappings.go
  plugins/inputs/netflow/mappings_ipfix_pen/ntop-35632.csv
  plugins/inputs/netflow/netflow.go
  plugins/inputs/netflow/netflow_decoder.go
  plugins/inputs/netflow/netflow_test.go
  plugins/inputs/netflow/sample.conf
  plugins/inputs/netflow/testcases/ipfix_pen_35632/expected.out
  plugins/inputs/netflow/testcases/ipfix_pen_35632/message-1.bin
  plugins/inputs/netflow/testcases/ipfix_pen_35632/message-2.bin
  plugins/inputs/netflow/testcases/ipfix_pen_35632/message-3.bin
  plugins/inputs/netflow/testcases/ipfix_pen_35632/message-4.bin
  plugins/inputs/netflow/testcases/ipfix_pen_35632/telegraf.conf
  plugins/inputs/netflow/testcases/netflow_mapping.csv
Labels: feat, ready for final review, plugin/input

#13433 feat(inputs.ravendb): Added new disk metrics fields
  plugins/inputs/ravendb/README.md
  plugins/inputs/ravendb/ravendb.go
  plugins/inputs/ravendb/ravendb_dto.go
  plugins/inputs/ravendb/ravendb_test.go
  plugins/inputs/ravendb/testdata/databases_full.json
Labels: feat, ready for final review, plugin/input

#13435 test(package): fix set up of yum files
  tools/package_lxd_test/container.go
Labels: ready for final review

#13445 chore: update golanglint-ci
  .github/workflows/golangci-lint.yml
  .golangci.yml
  CODE_OF_CONDUCT.md
  Makefile
  SECURITY.md
Labels: ready for final review, chore

#13444 test: do not use /tmp/telegraf
  plugins/inputs/bcache/bcache_test.go
  plugins/inputs/lustre2/lustre2_test.go
  plugins/inputs/zfs/zfs_linux_test.go
Labels: ready for final review, test

#13453 fix: replace altool with notarytool
  scripts/mac-signing.sh
Labels: fix

#13451 fix(config): Move bracketed environment variable substitution to double-dollar
  config/config.go
  config/config_test.go
  config/internal_test.go
  config/testdata/single_plugin_env_vars.toml
Labels: regression, fix, ready for final review

#13452 feat(inputs.fail2ban): Allow specification of socket
  plugins/inputs/fail2ban/README.md
  plugins/inputs/fail2ban/fail2ban.go
  plugins/inputs/fail2ban/sample.conf
Labels: feat, ready for final review, plugin/input

#13450 test: Use -e to print newlines on yum tests
  tools/package_lxd_test/container.go
Labels: ready for final review, test

#13443 feat(inputs.openstack): Gather cinder services
  plugins/inputs/openstack/README.md
  plugins/inputs/openstack/openstack.go
  plugins/inputs/openstack/sample.conf
Labels: feat, ready for final review, plugin/input

#13446 fix(custom_builder): Correctly handle serializers and parsers
  plugins/processors/execd/README.md
  plugins/processors/execd/sample.conf
  tools/custom_builder/config.go
  tools/custom_builder/main.go
  tools/custom_builder/packages.go
Labels: fix, ready for final review

#13434 fix: Handle compression level correctly for different algorithms
  internal/content_coding.go
  internal/content_coding_test.go
  plugins/inputs/amqp_consumer/amqp_consumer_test.go
Labels: fix, ready for final review

#13423 feat(internal): Add zstd to internal content_coding
  internal/content_coding.go
  internal/content_coding_test.go
  plugins/inputs/amqp_consumer/amqp_consumer.go
  plugins/inputs/amqp_consumer/amqp_consumer_test.go
  plugins/inputs/cloud_pubsub/cloud_pubsub.go
  plugins/inputs/cloud_pubsub/cloud_pubsub_test.go
  plugins/inputs/socket_listener/packet_listener.go
  plugins/inputs/socket_listener/socket_listener.go
  plugins/outputs/cloud_pubsub/cloud_pubsub_test.go
  plugins/outputs/cloud_pubsub/topic_stubbed.go
Labels: feat, ready for final review

#13485 fix(inputs.modbus): Check number of register for datatype
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/testcases/field_request_too_short_issue_13482/init.err
  plugins/inputs/modbus/testcases/field_request_too_short_issue_13482/telegraf.conf
Labels: fix, area/modbus, ready for final review, plugin/input

#13486 fix(inputs.modbus): Fix optimization of overlapping requests and add warning
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/modbus/request.go
Labels: fix, area/modbus, ready for final review, plugin/input

#13495 fix: check address length to avoid crash
  plugins/inputs/phpfpm/phpfpm.go
Labels: fix, ready for final review

#13497 fix(inputs.internet_speed): add location as a field
  plugins/inputs/internet_speed/README.md
  plugins/inputs/internet_speed/internet_speed.go
Labels: fix, ready for final review, plugin/input

#13505 feat(inputs.procstat): Add status field
  plugins/inputs/procstat/README.md
  plugins/inputs/procstat/process.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/procstat_test.go
Labels: feat, area/procstat, ready for final review, plugin/input

#13489 fix(secretstore.jose): skip dbus with kwallet
  cmd/telegraf/main.go
Labels: fix, ready for final review, plugin/secretstores

#13494 docs(inputs.ravendb): Changed metrics requirements in Readme.md
  plugins/inputs/ravendb/README.md
Labels: feat, docs, ready for final review, plugin/input

#13496 feat(inputs.amqp_consumer): Add support to rabbitmq stream queue
  plugins/inputs/amqp_consumer/README.md
  plugins/inputs/amqp_consumer/amqp_consumer.go
  plugins/inputs/amqp_consumer/sample.conf
Labels: feat, area/rabbitmq, ready for final review, plugin/input

#13511 fix(serializers.splunkmetric): Fix TOML option name for multi-metric
  plugins/serializers/splunkmetric/README.md
  plugins/serializers/splunkmetric/splunkmetric.go
Labels: fix, ready for final review, plugin/serializer

#13509 chore(deps): Bump github.com/gopcua/opcua from 0.3.7 to 0.4.0
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#13480 feat(parsers.xpath): Add Concise Binary Object Representation parser
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/parsers/xpath/README.md
  plugins/parsers/xpath/cbor_document.go
  plugins/parsers/xpath/parser.go
  plugins/parsers/xpath/parser_test.go
  plugins/parsers/xpath/testcases/cbor/addressbook.bin
  plugins/parsers/xpath/testcases/cbor/expected.out
  plugins/parsers/xpath/testcases/cbor/telegraf.conf
  plugins/parsers/xpath/testcases/cbor_hex_encoding/data.bin
  plugins/parsers/xpath/testcases/cbor_hex_encoding/expected.out
  plugins/parsers/xpath/testcases/cbor_hex_encoding/telegraf.conf
  plugins/parsers/xpath/testcases/cbor_numeric_keys/data.bin
  plugins/parsers/xpath/testcases/cbor_numeric_keys/expected.out
  plugins/parsers/xpath/testcases/cbor_numeric_keys/telegraf.conf
  plugins/parsers/xpath/testcases/native_types_cbor/addressbook.bin
  plugins/parsers/xpath/testcases/native_types_cbor/expected.out
  plugins/parsers/xpath/testcases/native_types_cbor/telegraf.conf
Labels: feat, ready for final review, plugin/parser

#13506 feat(parsers.value): Add support for automatic fallback for numeric types
  plugins/outputs/mqtt/mqtt_test.go
  plugins/parsers/value/README.md
  plugins/parsers/value/parser.go
  plugins/parsers/value/parser_test.go
Labels: feat, ready for final review, plugin/parser

#13518 docs(inputs.intel_baseband): Remove ACC101 mentions from documentation
  plugins/inputs/intel_baseband/README.md
Labels: docs, area/network, ready for final review, plugin/input

#13471 feat(internal): Add gather timeout metric
  agent/agent.go
  models/running_input.go
  plugins/inputs/internal/README.md
Labels: feat, area/agent, ready for final review

#13525 fix(inputs.cloud_pubsub): Properly lock for decompression
  plugins/inputs/cloud_pubsub/cloud_pubsub.go
Labels: fix, plugin/input

#13526 fix(parsers.grok): use UTC as the default timezone
  plugins/parsers/grok/parser.go
Labels: fix, ready for final review, plugin/parser

#13507 feat(inputs.modbus): Add per-metric configuration style
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/configuration_metric.go
  plugins/inputs/modbus/configuration_metric_test.go
  plugins/inputs/modbus/configuration_register_test.go
  plugins/inputs/modbus/configuration_request_test.go
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/modbus/request.go
  plugins/inputs/modbus/sample_general_begin.conf
  plugins/inputs/modbus/sample_metric.conf
  tools/readme_linter/rules.go
Labels: feat, area/modbus, ready for final review, plugin/input

#13514 fix(inputs.opcua): Ensure we are connected after reconnect
  plugins/common/opcua/client.go
  plugins/inputs/opcua/read_client.go
Labels: fix, area/opcua, plugin/input
