Repository influxdata/telegraf, pull requests merged in 2023-07, with the labels that each got.

#13522 fix(outputs.sumologic): Unwrap serializer for type check
  plugins/outputs/sumologic/sumologic.go
Labels: fix, ready for final review, plugin/output, plugin/serializer

#13542 fix(inputs.snmp_trap): Copy GoSNMP global defaults to prevent side-effects
  go.mod
  go.sum
  plugins/inputs/snmp_trap/snmp_trap.go
  plugins/inputs/snmp_trap/snmp_trap_test.go
Labels: area/snmp, fix, ready for final review, plugin/input

#13436 feat(inputs.pgbouncer): Added show_commands to select the collected pgbouncer metrics
  plugins/inputs/pgbouncer/README.md
  plugins/inputs/pgbouncer/pgbouncer.go
  plugins/inputs/pgbouncer/pgbouncer_test.go
  plugins/inputs/pgbouncer/sample.conf
Labels: feat, ready for final review, plugin/input

#13532 feat(migrations): Add migration for 'inputs.httpjson'
  config/migration.go
  migrations/all/inputs_httpjson.go
  migrations/common/filter_options.go
  migrations/common/input_options.go
  migrations/inputs_cassandra/migration.go
  migrations/inputs_httpjson/migration.go
  migrations/inputs_httpjson/migration_test.go
  migrations/inputs_httpjson/testcases/array/expected.conf
  migrations/inputs_httpjson/testcases/array/input.json
  migrations/inputs_httpjson/testcases/array/output.influx
  migrations/inputs_httpjson/testcases/array/telegraf.conf
  migrations/inputs_httpjson/testcases/headers/expected.conf
  migrations/inputs_httpjson/testcases/headers/telegraf.conf
  migrations/inputs_httpjson/testcases/params/expected.conf
  migrations/inputs_httpjson/testcases/params/telegraf.conf
  migrations/inputs_httpjson/testcases/single/expected.conf
  migrations/inputs_httpjson/testcases/single/input.json
  migrations/inputs_httpjson/testcases/single/output.influx
  migrations/inputs_httpjson/testcases/single/telegraf.conf
  migrations/registry.go
  testutil/metric.go
Labels: feat, area/configuration, ready for final review

#13527 fix(outputs.graphite): Rework connection handling
  plugins/outputs/graphite/README.md
  plugins/outputs/graphite/graphite.go
  plugins/outputs/graphite/graphite_test.go
  plugins/outputs/graphite/sample.conf
Labels: fix, area/graphite, ready for final review, plugin/output

#13556 docs: revert table example change
  docs/CONFIGURATION.md
Labels: docs

#13558 docs: remove newline
  docs/CONFIGURATION.md
Labels: docs

#13517 fix(inputs.gnmi): Add option to explicitly trim field-names
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/sample.conf
  plugins/inputs/gnmi/testcases/canonical_field_names/expected.out
  plugins/inputs/gnmi/testcases/canonical_field_names_trim/expected.out
  plugins/inputs/gnmi/testcases/canonical_field_names_trim/responses.json
  plugins/inputs/gnmi/testcases/canonical_field_names_trim/telegraf.conf
  plugins/inputs/gnmi/testcases/issue_13512/expected.out
  plugins/inputs/gnmi/testcases/issue_13512/responses.json
  plugins/inputs/gnmi/testcases/issue_13512/telegraf.conf
Labels: fix, area/gnmi, ready for final review, plugin/input

#13551 feat(CI): Automatically assign milestones to pull-requests
  .github/workflows/milestones.yml
Labels: feat, ready for final review

#13550 fix(parsers.xpath): Handle explicitly defined fields correctly
  plugins/parsers/xpath/parser.go
  plugins/parsers/xpath/testcases/cbor_hex_encoding_explicit/data.bin
  plugins/parsers/xpath/testcases/cbor_hex_encoding_explicit/expected.out
  plugins/parsers/xpath/testcases/cbor_hex_encoding_explicit/telegraf.conf
Labels: fix, ready for final review, plugin/parser

#13559 chore(inputs.opentelemetry): Unbreak after interface change
  go.mod
  go.sum
  plugins/inputs/opentelemetry/writer.go
Labels: area/telemetry, ready for final review, plugin/input, chore

#13245 feat(outputs.file): Add compression
  plugins/outputs/file/README.md
  plugins/outputs/file/file.go
  plugins/outputs/file/file_test.go
  plugins/outputs/file/sample.conf
Labels: feat, ready for final review, plugin/output

#13564 fix(processors.printer): Convert output to string
  plugins/processors/printer/printer.go
Labels: fix, ready for final review, plugin/processor

#13563 fix(tools.custom_builder): Error out for unknown plugins in configuration
  tools/custom_builder/config.go
  tools/custom_builder/main.go
Labels: fix, ready for final review

#13478 fix(inputs.mqtt_consumer): Correctly handle semaphores on messages
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
Labels: fix, ready for final review, plugin/input

#13544 chore(deps): Bump github.com/snowflakedb/gosnowflake from 1.6.13 to 1.6.22
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/azure_monitor/azure_monitor_test.go
  plugins/outputs/azure_data_explorer/azure_data_explorer.go
  plugins/outputs/azure_data_explorer/azure_data_explorer_test.go
Labels: area/azure, ready for final review, dependencies, chore

#13410 feat(inputs.kafka_consumer): Refresh regexp topics periodically
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/kafka_consumer/sample.conf
Labels: feat, area/kafka, ready for final review, plugin/input

#13524 feat: replace github.com/denisenkom/go-mssqldb with github.com/microsoft/go-mssqldb
  docs/LICENSE_OF_DEPENDENCIES.md
  docs/SQL_DRIVERS_INPUT.md
  go.mod
  go.sum
  plugins/inputs/sql/drivers.go
  plugins/inputs/sqlserver/README.md
  plugins/inputs/sqlserver/azurearcsqlmiqueries.go
  plugins/inputs/sqlserver/azuresqldbqueries.go
  plugins/inputs/sqlserver/azuresqlmanagedqueries.go
  plugins/inputs/sqlserver/azuresqlpoolqueries.go
  plugins/inputs/sqlserver/sample.conf
  plugins/inputs/sqlserver/sqlqueriesV1.go
  plugins/inputs/sqlserver/sqlqueriesV2.go
  plugins/inputs/sqlserver/sqlserver.go
  plugins/inputs/sqlserver/sqlserverqueries.go
  plugins/outputs/sql/README.md
  plugins/outputs/sql/sql.go
Labels: feat, ready for final review

#13553 feat(processors.parser): Allow also non-string fields
  plugins/processors/parser/parser.go
  plugins/processors/parser/parser_test.go
Labels: feat, ready for final review, plugin/processor

#13574 fix(inputs.mqtt_consumer): print warning on no metrics generated
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
Labels: fix, ready for final review, plugin/input

#13576 test(outputs.instrumental): Allow setting custom port
  plugins/outputs/instrumental/instrumental.go
  plugins/outputs/instrumental/instrumental_test.go
Labels: ready for final review, plugin/output, test

#13570 fix(config): Replace environment variables if existing but empty
  config/config.go
  config/internal_test.go
  go.mod
  go.sum
Labels: regression, fix, area/configuration

#13583 chore: Update milestone action and fix permissions
  .github/workflows/milestones.yml
Labels: ready for final review, chore

#13584 chore: Trigger on PR's base and restrict permissions
  .github/workflows/milestones.yml
Labels: ready for final review, chore

#13606 feat(processors.template): Unify template metric
  metric.go
  plugins/processors/template/README.md
  plugins/processors/template/template.go
  plugins/processors/template/template_metric.go
  plugins/processors/template/template_test.go
Labels: feat, ready for final review, plugin/processor

#13602 fix(inputs.postgresql): Default database definition
  plugins/inputs/pgbouncer/pgbouncer.go
  plugins/inputs/postgresql/postgresql.go
  plugins/inputs/postgresql/service.go
  plugins/inputs/postgresql_extensible/postgresql_extensible.go
Labels: fix, area/postgresql, ready for final review, plugin/input

#13604 fix(tools.custom_builder): Ignore non-plugin sections during configuration
  tools/custom_builder/config.go
Labels: fix, ready for final review

#13419 feat(parsers.influx): Allow a user to set the timestamp precision
  plugins/inputs/influxdb_v2_listener/influxdb_v2_listener.go
  plugins/parsers/influx/README.md
  plugins/parsers/influx/influx_upstream/parser.go
  plugins/parsers/influx/influx_upstream/parser_test.go
  plugins/parsers/influx/parser.go
  plugins/parsers/influx/parser_test.go
Labels: feat, ready for final review, plugin/parser

#13575 fix(outputs.stackdriver): Add tag as resource label option
  plugins/outputs/stackdriver/README.md
  plugins/outputs/stackdriver/sample.conf
  plugins/outputs/stackdriver/stackdriver.go
Labels: fix, ready for final review, plugin/output

#13597 fix(outputs.nebius_cloud_monitoring): replace reserved label names
  plugins/outputs/nebius_cloud_monitoring/README.md
  plugins/outputs/nebius_cloud_monitoring/nebius_cloud_monitoring.go
  plugins/outputs/nebius_cloud_monitoring/nebius_cloud_monitoring_test.go
Labels: fix, cloud, ready for final review, plugin/output

#13599 chore: Enable multi-os golanglint-ci
  .github/workflows/golangci-lint.yml
  plugins/inputs/diskio/diskio.go
  plugins/inputs/diskio/diskio_linux.go
  plugins/inputs/diskio/diskio_other.go
  plugins/inputs/ethtool/ethtool.go
  plugins/inputs/ethtool/ethtool_linux.go
  plugins/inputs/ethtool/ethtool_notlinux.go
  plugins/inputs/win_wmi/win_wmi_test.go
Labels: ready for final review, chore

#13607 feat(parsers.avro): Add support for JSON format
  plugins/parsers/avro/README.md
  plugins/parsers/avro/parser.go
  plugins/parsers/avro/testdata/json-format/expected.out
  plugins/parsers/avro/testdata/json-format/message.json
  plugins/parsers/avro/testdata/json-format/telegraf.conf
Labels: feat, ready for final review, plugin/parser

#13617 Revert "feat(inputs.kafka_consumer): Refresh regexp topics periodically (#13410)"
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/kafka_consumer/sample.conf
Labels: ready for final review

#13618 chore: update to go1.20.6
  .circleci/config.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore

#13614 fix(agent): Respect processor order in file
  agent/agent.go
  agent/agent_test.go
  agent/testcases/processor-order-appearance/expected.out
  agent/testcases/processor-order-appearance/input.influx
  agent/testcases/processor-order-appearance/telegraf.conf
  agent/testcases/processor-order-explicit/expected.out
  agent/testcases/processor-order-explicit/input.influx
  agent/testcases/processor-order-explicit/telegraf.conf
  agent/testcases/processor-order-mixed/expected.out
  agent/testcases/processor-order-mixed/input.influx
  agent/testcases/processor-order-mixed/telegraf.conf
  agent/testcases/processor-order-no-starlark/expected.out
  agent/testcases/processor-order-no-starlark/input.influx
  agent/testcases/processor-order-no-starlark/telegraf.conf
Labels: fix, area/agent, ready for final review

#13623 chore: update to official govulncheck github action
  .github/workflows/govulncheck.yml
Labels: chore

#13622 feat(inputs.http): Rework token options
  plugins/inputs/http/README.md
  plugins/inputs/http/http.go
  plugins/inputs/http/sample.conf
  plugins/inputs/http/sample.conf.in
Labels: feat, ready for final review, plugin/input

#13411 feat(kafka): Set and send SASL extensions
  plugins/common/kafka/sasl.go
  plugins/outputs/kafka/README.md
  plugins/outputs/kafka/sample.conf
Labels: feat, area/kafka, ready for final review, plugin/input, plugin/output

#13292 fix(outputs.opentelemetry): group metrics by age and timestamp
  plugins/outputs/opentelemetry/opentelemetry.go
  plugins/outputs/opentelemetry/opentelemetry_test.go
Labels: fix, ready for final review, plugin/output

#13625 Revert "chore: Update to go1.20.6 (#13618)"
  .circleci/config.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore

#13620 feat(inputs.postgresql_extensible): introduce MaxVersion
  plugins/inputs/postgresql_extensible/README.md
  plugins/inputs/postgresql_extensible/postgresql_extensible.go
  plugins/inputs/postgresql_extensible/postgresql_extensible_test.go
  plugins/inputs/postgresql_extensible/sample.conf
Labels: feat, area/postgresql, ready for final review, plugin/input

#13624 feat(inputs.prometheus): always apply kubernetes selectors
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/prometheus/prometheus_test.go
  plugins/outputs/prometheus_client/prometheus_client_v1_test.go
  plugins/outputs/prometheus_client/prometheus_client_v2_test.go
Labels: feat, area/prometheus, ready for final review, plugin/input

#13627 fix(inputs.prometheus): fix missing metrics when multiple plugin instances specified
  plugins/inputs/prometheus/kubernetes.go
Labels: area/prometheus, fix, ready for final review, plugin/input

#13629 fix(inputs.prometheus): don't collect metrics from finished pods
  plugins/inputs/prometheus/kubernetes.go
Labels: area/prometheus, fix, ready for final review, plugin/input

#13631 docs(inputs.postgresql_extensible): document 'measurement' query config option
  plugins/inputs/postgresql_extensible/README.md
  plugins/inputs/postgresql_extensible/sample.conf
Labels: docs, area/postgresql, ready for final review, plugin/input

#13628 chore: Bump github.com/testcontainers/testcontainers-go from v0.18.0 to v0.21.0
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
Labels: ready for final review, chore

#13646 feat(inputs.docker): Add restart count
  plugins/inputs/docker/docker.go
  plugins/inputs/docker/docker_test.go
Labels: feat, area/docker, ready for final review, plugin/input

#13610 feat(inputs.influxdb_listener): Add token based authentication
  go.mod
  go.sum
  internal/http.go
  plugins/inputs/dcos/client.go
  plugins/inputs/dcos/client_test.go
  plugins/inputs/dcos/dcos.go
  plugins/inputs/dcos/dcos_test.go
  plugins/inputs/influxdb_listener/README.md
  plugins/inputs/influxdb_listener/influxdb_listener.go
  plugins/inputs/influxdb_listener/influxdb_listener_test.go
  plugins/inputs/influxdb_listener/sample.conf
  plugins/outputs/health/health.go
  plugins/outputs/prometheus_client/prometheus_client.go
Labels: feat, area/influxdb, ready for final review, plugin/input

#13662 fix(parsers.xpath): Ensure precedence of explicitly defined tags and fields
  plugins/parsers/xpath/README.md
  plugins/parsers/xpath/parser.go
  plugins/parsers/xpath/testcases/json_explicit_precedence/expected.out
  plugins/parsers/xpath/testcases/json_explicit_precedence/telegraf.conf
  plugins/parsers/xpath/testcases/json_explicit_precedence/test.json
Labels: fix, ready for final review, plugin/parser

#13675 fix(config): Handle escaping and quotation correctly
  config/config.go
  config/internal_test.go
Labels: fix, area/configuration, ready for final review

#13677 docs(outputs.azure_data_explorer): Update supported Azure Data Explorer flavors
  plugins/outputs/azure_data_explorer/README.md
Labels: docs, area/azure, ready for final review, plugin/output

#13663 fix(inputs.mqtt_consumer): client logs via option
  plugins/inputs/mqtt_consumer/README.md
  plugins/inputs/mqtt_consumer/logger.go
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/inputs/mqtt_consumer/sample.conf
Labels: fix, ready for final review, plugin/input

#13673 feat(outputs.execd): Add option for batch format
  plugins/outputs/execd/README.md
  plugins/outputs/execd/execd.go
  plugins/outputs/execd/execd_test.go
  plugins/outputs/execd/sample.conf
Labels: feat, waiting for response

#13683 test(inputs.radius): Use random port for test
  plugins/inputs/radius/radius_test.go
Labels: ready for final review, plugin/input, test

#13649 feat(inputs.jenkins): add option for node labels as tag
  plugins/inputs/jenkins/README.md
  plugins/inputs/jenkins/jenkins.go
  plugins/inputs/jenkins/jenkins_test.go
  plugins/inputs/jenkins/sample.conf
Labels: feat, ready for final review, plugin/input

#13685 chore(tools): Fix doc inclusion tools on Windows
  tools/config_includer/generator.go
  tools/readme_config_includer/generator.go
Labels: platform/windows, ready for final review, chore

#13690 feat(parsers.xpath): Add fields_bytes_as_base64 option
  plugins/parsers/xpath/README.md
  plugins/parsers/xpath/parser.go
  plugins/parsers/xpath/testcases/cbor_base64_encoding/data.bin
  plugins/parsers/xpath/testcases/cbor_base64_encoding/expected.out
  plugins/parsers/xpath/testcases/cbor_base64_encoding/telegraf.conf
Labels: feat

#13656 feat(serializers): Add a serializer based on go templates
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/serializers/all/template.go
  plugins/serializers/template/README.md
  plugins/serializers/template/template.go
  plugins/serializers/template/template_test.go
Labels: feat, new plugin, ready for final review, plugin/serializer

#13691 docs(inputs.conntrack): Explain different collection methods
  plugins/inputs/conntrack/README.md
  plugins/inputs/conntrack/sample.conf
Labels: docs, ready for final review, plugin/input

#13678 feat(inputs.nvidia_smi): Support newer data schema versions
  plugins/inputs/nvidia_smi/common/setters.go
  plugins/inputs/nvidia_smi/nvidia_smi.go
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
  plugins/inputs/nvidia_smi/schema_v11/parser.go
  plugins/inputs/nvidia_smi/schema_v11/types.go
  plugins/inputs/nvidia_smi/schema_v12/parser.go
  plugins/inputs/nvidia_smi/schema_v12/types.go
  plugins/inputs/nvidia_smi/testdata/rtx-3080-v12.xml
Labels: feat, ready for final review, plugin/input

#13647 fix(inputs.jti_openconfig_telemetry): reauthenticate connection
  plugins/inputs/jti_openconfig_telemetry/jti_openconfig_telemetry.go
Labels: fix, ready for final review, plugin/input

#13700 docs(testutil): Fix documentation of IgnoreTags
  testutil/metric.go
Labels: docs

#13693 fix(inputs.cisco_telemetry_mdt): Fix MDT source field overwrite
  plugins/inputs/cisco_telemetry_mdt/README.md
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt_test.go
  plugins/inputs/cisco_telemetry_mdt/sample.conf
Labels: fix, area/cisco, ready for final review, plugin/input
