Repository influxdata/telegraf, pull requests merged in 2023-10, with the labels that each got.

#14008 fix(parsers.json_v2): Properly handle optional fields
  plugins/parsers/json_v2/parser.go
  plugins/parsers/json_v2/testdata/nested_objects_optional/expected.out
  plugins/parsers/json_v2/testdata/nested_objects_optional/nested_objects_nest.json
  plugins/parsers/json_v2/testdata/nested_objects_optional/nested_objects_single.json
  plugins/parsers/json_v2/testdata/nested_objects_optional/telegraf.conf
Labels: fix, area/json, ready for final review, plugin/parser

#14017 feat(outputs.stackdriver): Add metric type config options
  plugins/outputs/stackdriver/README.md
  plugins/outputs/stackdriver/sample.conf
  plugins/outputs/stackdriver/stackdriver.go
  plugins/outputs/stackdriver/stackdriver_test.go
Labels: feat, ready for final review, plugin/output

#14035 chore: Force previous version of mingw
  .circleci/config.yml
Labels: ready for final review, chore

#14030 chore(inputs.modbus): Deprecate aggressive optimization
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/sample_request.conf
Labels: area/modbus, ready for final review, plugin/input, chore

#14022 chore(deps): Bump github.com/vmware/govmomi from v0.28.0 to v0.32.0
  go.mod
  go.sum
Labels: chore

#14011 fix(inputs.openstack): Handle dependencies between enabled services a available endpoints
  plugins/inputs/openstack/openstack.go
Labels: area/agent, cloud, ready for final review, plugin/input

#14026 chore: Restore log directory behavior
  scripts/deb/post-install.sh
  scripts/rpm/post-install.sh
Labels: chore

#14004 feat(input.intel_pmt): Add pci_bdf tag to uniquely identify GPUs and other peripherals
  plugins/inputs/intel_pmt/README.md
  plugins/inputs/intel_pmt/intel_pmt.go
  plugins/inputs/intel_pmt/intel_pmt_test.go
Labels: feat, ready for final review, plugin/input

#14049 fix(inputs.infiniband): Handle devices without counters
  plugins/inputs/infiniband/infiniband_linux.go
Labels: fix, area/network, ready for final review, plugin/input

#14047 feat(outputs.azure_data_explorer): Set user agent string
  plugins/outputs/azure_data_explorer/azure_data_explorer.go
Labels: feat, area/azure, ready for final review, plugin/output

#14045 fix(inputs.s7comm): Allow PDU-size to be set as config option
  plugins/inputs/s7comm/README.md
  plugins/inputs/s7comm/s7comm.go
  plugins/inputs/s7comm/sample.conf
Labels: fix, area/iot, ready for final review, plugin/input

#14041 fix(inputs.mqtt): Reference correct password variable
  plugins/common/mqtt/mqtt_v5.go
Labels: fix, area/mqtt, ready for final review, plugin/input

#14034 chore: Add build tags to buildbin Makefile target
  Makefile
Labels: ready for final review, chore

#13993 feat(inputs.kube_inventory): Support filtering pods and nodes by node name
  plugins/inputs/kube_inventory/README.md
  plugins/inputs/kube_inventory/client.go
  plugins/inputs/kube_inventory/kube_inventory.go
  plugins/inputs/kube_inventory/node.go
  plugins/inputs/kube_inventory/pod.go
  plugins/inputs/kube_inventory/sample.conf
Labels: feat, area/k8s, ready for final review, plugin/input

#13996 feat(inputs.kube_inventory): Support using kubelet to get pods data
  plugins/inputs/kube_inventory/README.md
  plugins/inputs/kube_inventory/client.go
  plugins/inputs/kube_inventory/kube_inventory.go
  plugins/inputs/kube_inventory/pod.go
  plugins/inputs/kube_inventory/sample.conf
Labels: feat, area/k8s, ready for final review, plugin/input

#14051 test(inputs.redis_sentinel): Resolve timeout looking for port
  plugins/inputs/redis_sentinel/redis_sentinel_test.go
Labels: ready for final review, plugin/input, test

#13978 feat(inputs.sql): Add oracle driver
  docs/LICENSE_OF_DEPENDENCIES.md
  docs/SQL_DRIVERS_INPUT.md
  go.mod
  go.sum
  plugins/inputs/sql/drivers.go
  plugins/inputs/sql/sql.go
Labels: feat, ready for final review, plugin/input, area/sql

#14061 chore(github_action.milestones): Add 'test' as bugfix label
  .github/workflows/milestones.yml
Labels: chore

#13923 feat(inputs.opcua_listener): Add monitoring params
  plugins/common/opcua/input/input_client.go
  plugins/inputs/opcua_listener/README.md
  plugins/inputs/opcua_listener/opcua_listener_test.go
  plugins/inputs/opcua_listener/sample.conf
  plugins/inputs/opcua_listener/subscribe_client.go
Labels: feat, area/opcua, ready for final review, plugin/input

#13995 feat(inputs): Add LDAP input plugin supporting OpenLDAP and 389ds
  plugins/inputs/all/ldap.go
  plugins/inputs/ldap/389ds.go
  plugins/inputs/ldap/README.md
  plugins/inputs/ldap/ldap.go
  plugins/inputs/ldap/ldap_test.go
  plugins/inputs/ldap/openldap.go
  plugins/inputs/ldap/sample.conf
  testutil/tls.go
Labels: feat, new plugin, ready for final review, plugin/input

#14085 chore(deps): Bump github.com/jhump/protoreflect from 1.15.1 to 1.15.3
  go.mod
  go.sum
Labels: ready for final review, plugin/parser, dependencies, chore

#14092 feat(inputs.ldap): Add missing fields
  plugins/inputs/ldap/README.md
  plugins/inputs/ldap/ldap_test.go
  plugins/inputs/ldap/openldap.go
Labels: feat, ready for final review, plugin/input

#14093 chore: Update go to 1.21.3
  .circleci/config.yml
  .github/workflows/govulncheck.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: chore

#14087 docs(processors.split): Fix example
  plugins/processors/split/README.md
Labels: docs, ready for final review, plugin/processor

#14071 docs(outputs.mqtt): Correct typo in protocol config parameter
  plugins/outputs/mqtt/README.md
  plugins/outputs/mqtt/sample.conf
Labels: docs, area/mqtt, ready for final review, plugin/output

#14053 docs(outputs.influxdb): Add help message about multiple influxdb
  plugins/outputs/influxdb/README.md
Labels: docs, area/influxdb, ready for final review, plugin/output

#14062 feat(aggregators.final): Allow to specify output strategy
  plugins/aggregators/final/README.md
  plugins/aggregators/final/final.go
  plugins/aggregators/final/final_test.go
  plugins/aggregators/final/sample.conf
Labels: feat, ready for final review, plugin/aggregator

#13672 feat(outputs.exec): Add ability to exec command once per metric
  plugins/outputs/exec/README.md
  plugins/outputs/exec/exec.go
  plugins/outputs/exec/exec_test.go
  plugins/outputs/exec/sample.conf
Labels: feat, area/exec, ready for final review, plugin/output

#14060 fix(outputs.redistimeseries): Handle string fields correctly
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/outputs/redistimeseries/README.md
  plugins/outputs/redistimeseries/redistimeseries.go
  plugins/outputs/redistimeseries/redistimeseries_test.go
  plugins/outputs/redistimeseries/sample.conf
  plugins/outputs/redistimeseries/testcases/normal/expected.out
  plugins/outputs/redistimeseries/testcases/normal/input.influx
  plugins/outputs/redistimeseries/testcases/normal/telegraf.conf
  plugins/outputs/redistimeseries/testcases/normal_varying_labels/expected.out
  plugins/outputs/redistimeseries/testcases/normal_varying_labels/input.influx
  plugins/outputs/redistimeseries/testcases/normal_varying_labels/telegraf.conf
  plugins/outputs/redistimeseries/testcases/string_convert/expected.out
  plugins/outputs/redistimeseries/testcases/string_convert/input.influx
  plugins/outputs/redistimeseries/testcases/string_convert/telegraf.conf
  plugins/outputs/redistimeseries/testcases/string_drop/expected.out
  plugins/outputs/redistimeseries/testcases/string_drop/input.influx
  plugins/outputs/redistimeseries/testcases/string_drop/telegraf.conf
Labels: fix, ready for final review, plugin/output

#14101 fix(outputs.exec): Resolve lint issues with tests
  plugins/outputs/exec/exec_test.go
Labels: area/exec, fix, plugin/output

#14065 feat(processors.dedup): Add state persistence between runs
  agent/agent.go
  plugins/processors/dedup/README.md
  plugins/processors/dedup/dedup.go
Labels: feat, ready for final review, plugin/processor

#14010 fix(inputs.postgresql_extensible): Restore default db name
  plugins/inputs/postgresql/service.go
  plugins/inputs/postgresql_extensible/postgresql_extensible_test.go
Labels: fix, ready for final review, plugin/input

#14084 chore(processors.regex): Inform and warn user on operation modus
  plugins/processors/regex/converter.go
  plugins/processors/regex/regex.go
Labels: ready for final review, plugin/processor, chore

#14073 feat(inputs.win_service): Reduce required rights to GENERIC_READ
  plugins/inputs/win_services/win_services.go
Labels: feat, area/windows, ready for final review, plugin/input

#14086 feat(outputs.bigquery): Project is no longer a required field
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/outputs/bigquery/README.md
  plugins/outputs/bigquery/bigquery.go
  plugins/outputs/bigquery/bigquery_test.go
  plugins/outputs/bigquery/sample.conf
Labels: feat, ready for final review, plugin/output

#14032 chore(deps): Remove replacement for gos7
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#14119 feat(migrations): Add migration for inputs.tcp_listener
  migrations/all/inputs_tcp_listener.go
  migrations/inputs_tcp_listener/README.md
  migrations/inputs_tcp_listener/migration.go
  migrations/inputs_tcp_listener/migration_test.go
  migrations/inputs_tcp_listener/testcases/allow_pending_messages/expected.conf
  migrations/inputs_tcp_listener/testcases/allow_pending_messages/telegraf.conf
  migrations/inputs_tcp_listener/testcases/parser/expected.conf
  migrations/inputs_tcp_listener/testcases/parser/telegraf.conf
  migrations/inputs_tcp_listener/testcases/simple/expected.conf
  migrations/inputs_tcp_listener/testcases/simple/telegraf.conf
Labels: feat, area/configuration, ready for final review

#14120 feat(migrations): Add migration for inputs.udp_listener
  migrations/all/inputs_udp_listener.go
  migrations/inputs_udp_listener/README.md
  migrations/inputs_udp_listener/migration.go
  migrations/inputs_udp_listener/migration_test.go
  migrations/inputs_udp_listener/testcases/all_deprecated_messages/expected.conf
  migrations/inputs_udp_listener/testcases/all_deprecated_messages/telegraf.conf
  migrations/inputs_udp_listener/testcases/allow_pending_messages/expected.conf
  migrations/inputs_udp_listener/testcases/allow_pending_messages/telegraf.conf
  migrations/inputs_udp_listener/testcases/parser/expected.conf
  migrations/inputs_udp_listener/testcases/parser/telegraf.conf
  migrations/inputs_udp_listener/testcases/simple/expected.conf
  migrations/inputs_udp_listener/testcases/simple/telegraf.conf
Labels: feat, area/configuration, ready for final review

#14121 feat(migrations): Add migration for outputs.riemann_legacy
  migrations/all/outputs_riemann_legacy.go
  migrations/common/output_options.go
  migrations/outputs_riemann_legacy/README.md
  migrations/outputs_riemann_legacy/migration.go
  migrations/outputs_riemann_legacy/migration_test.go
  migrations/outputs_riemann_legacy/testcases/general_options/expected.conf
  migrations/outputs_riemann_legacy/testcases/general_options/telegraf.conf
  migrations/outputs_riemann_legacy/testcases/simple/expected.conf
  migrations/outputs_riemann_legacy/testcases/simple/telegraf.conf
Labels: feat, area/configuration, ready for final review

#14123 feat(migrations): Add migration for inputs.snmp_legacy
  migrations/all/inputs_snmp_legacy.go
  migrations/inputs_snmp_legacy/migration.go
  migrations/inputs_snmp_legacy/migration_test.go
Labels: feat, area/configuration, ready for final review

#14122 feat(migrations): Add migration for inputs.kafka_consumer_legacy
  migrations/all/inputs_kafka_consumer_legacy.go
  migrations/inputs_kafka_consumer_legacy/README.md
  migrations/inputs_kafka_consumer_legacy/migration.go
  migrations/inputs_kafka_consumer_legacy/migration_test.go
Labels: feat, area/kafka, area/configuration, ready for final review

#14114 feat(migrations): Add migration for inputs.jolokia
  migrations/all/inputs_jolokia.go
  migrations/inputs_jolokia/README.md
  migrations/inputs_jolokia/migration.go
  migrations/inputs_jolokia/migration_test.go
  migrations/inputs_jolokia/testcases/agent_default/expected.conf
  migrations/inputs_jolokia/testcases/agent_default/telegraf.conf
  migrations/inputs_jolokia/testcases/agent_more_complex/expected.conf
  migrations/inputs_jolokia/testcases/agent_more_complex/telegraf.conf
  migrations/inputs_jolokia/testcases/agent_response_timeout/expected.conf
  migrations/inputs_jolokia/testcases/agent_response_timeout/telegraf.conf
  migrations/inputs_jolokia/testcases/proxy_default/expected.conf
  migrations/inputs_jolokia/testcases/proxy_default/telegraf.conf
Labels: feat, area/configuration, area/jolokia, ready for final review

#14106 chore(packaging): Remove unnecessary service file removal
  scripts/deb/post-install.sh
  scripts/rpm/post-install.sh
Labels: ready for final review, chore

#14117 docs(processors.ifname): Document better agent tag name
  plugins/processors/ifname/README.md
  plugins/processors/ifname/sample.conf
Labels: docs, area/snmp, ready for final review, plugin/processor

#14103 feat(common.http): Add support for connecting over unix-socket
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/common/http/config.go
  plugins/inputs/http/README.md
  plugins/inputs/http/http_test.go
  plugins/inputs/http/sample.conf
  plugins/inputs/http/sample.conf.in
Labels: feat, ready for final review, plugin/input

#14143 feat(inputs.redfish): Allow specifying with metrics to collect
  plugins/inputs/redfish/README.md
  plugins/inputs/redfish/redfish.go
  plugins/inputs/redfish/redfish_test.go
  plugins/inputs/redfish/sample.conf
Labels: feat, ready for final review, plugin/input

#14105 fix(inputs.jenkins): Filter after searching sub-folders
  plugins/inputs/jenkins/jenkins.go
  plugins/inputs/jenkins/jenkins_test.go
Labels: fix, ready for final review, plugin/input

#14135 fix(outputs.nebius_cloud_monitoring): fx endpoint
  plugins/outputs/nebius_cloud_monitoring/nebius_cloud_monitoring.go
Labels: fix, ready for final review, plugin/output

#14150 fix(serializers.json): Append newline for batch-serialization
  plugins/serializers/json/json.go
  plugins/serializers/json/json_test.go
Labels: fix, area/json, ready for final review, plugin/serializer

#14141 feat(migrations): Add option migration for inputs.disk
  config/migration.go
  migrations/all/inputs_disk.go
  migrations/inputs_disk/migration.go
  migrations/inputs_disk/migration_test.go
  migrations/inputs_disk/testcases/deprecated_mountpoints/expected.conf
  migrations/inputs_disk/testcases/deprecated_mountpoints/telegraf.conf
  migrations/inputs_disk/testcases/deprecated_mountpoints_existing/expected.conf
  migrations/inputs_disk/testcases/deprecated_mountpoints_existing/telegraf.conf
  migrations/registry.go
Labels: feat, area/configuration, ready for final review

#14154 fix(outputs.kafka): Simplify send-error handling
  plugins/outputs/kafka/kafka.go
Labels: area/kafka, fix, ready for final review, plugin/output

#14153 fix(inputs.vault): Use http client to handle redirects correctly
  plugins/common/http/config.go
  plugins/inputs/vault/testdata/response_integration_1.13.3.influx
  plugins/inputs/vault/vault.go
  plugins/inputs/vault/vault_test.go
  testutil/container.go
Labels: fix, ready for final review, plugin/input

#14136 feat(outputs.wavefront): use common/http to configure http client
  go.mod
  go.sum
  plugins/outputs/wavefront/README.md
  plugins/outputs/wavefront/sample.conf
  plugins/outputs/wavefront/wavefront.go
Labels: feat, area/wavefront, ready for final review, plugin/output

#14155 chore(tools): Bump golangci-lint from v1.54.2 to v1.55.0
  .circleci/config.yml
  Makefile
  plugins/inputs/aerospike/aerospike.go
  plugins/inputs/chrony/chrony_test.go
  plugins/inputs/csgo/csgo.go
  plugins/inputs/dcos/dcos.go
  plugins/inputs/disk/disk.go
  plugins/inputs/ipmi_sensor/ipmi_sensor_test.go
  plugins/inputs/kube_inventory/kube_inventory.go
  plugins/inputs/monit/monit.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/sensors/sensors_test.go
  plugins/inputs/snmp/snmp.go
  plugins/inputs/statsd/running_stats.go
  plugins/inputs/win_eventlog/util.go
  plugins/outputs/opentsdb/opentsdb.go
  plugins/parsers/influx/escape.go
Labels: ready for final review, chore, linter

#14161 test(outputs.kafka): Rework integration test to use bitnami/kafka
  plugins/outputs/kafka/kafka.go
  plugins/outputs/kafka/kafka_test.go
  testutil/container.go
Labels: area/kafka, plugin/output, test

#14139 docs(inputs.swap): Add message about plugin limitation
  plugins/inputs/swap/README.md
  plugins/inputs/swap/sample.conf
Labels: docs, ready for final review, plugin/input

#14174 docs(openstack): put quote around interval value
  plugins/inputs/openstack/README.md
Labels: docs

#14156 chore(tools): Cache rework for `.circleci` jobs (part2)
  .circleci/config.yml
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
  scripts/installmingw_windows.sh
Labels: ready for final review, chore

#14175 test(inputs.zfs): Rework and fix unit-tests for FreeBSD
  plugins/inputs/zfs/testcases/freebsd/cache/expected.out
  plugins/inputs/zfs/testcases/freebsd/cache/sysctl.json
  plugins/inputs/zfs/testcases/freebsd/cache/telegraf.conf
  plugins/inputs/zfs/testcases/freebsd/cache/zdataset.txt
  plugins/inputs/zfs/testcases/freebsd/cache/zpool.txt
  plugins/inputs/zfs/testcases/freebsd/cache_poolmetrics/expected.out
  plugins/inputs/zfs/testcases/freebsd/cache_poolmetrics/sysctl.json
  plugins/inputs/zfs/testcases/freebsd/cache_poolmetrics/telegraf.conf
  plugins/inputs/zfs/testcases/freebsd/cache_poolmetrics/zdataset.txt
  plugins/inputs/zfs/testcases/freebsd/cache_poolmetrics/zpool.txt
  plugins/inputs/zfs/testcases/freebsd/dataset/expected.out
  plugins/inputs/zfs/testcases/freebsd/dataset/sysctl.json
  plugins/inputs/zfs/testcases/freebsd/dataset/telegraf.conf
  plugins/inputs/zfs/testcases/freebsd/dataset/zdataset.txt
  plugins/inputs/zfs/testcases/freebsd/dataset/zpool.txt
  plugins/inputs/zfs/testcases/freebsd/dataset_datasetmetrics/expected.out
  plugins/inputs/zfs/testcases/freebsd/dataset_datasetmetrics/sysctl.json
  plugins/inputs/zfs/testcases/freebsd/dataset_datasetmetrics/telegraf.conf
  plugins/inputs/zfs/testcases/freebsd/dataset_datasetmetrics/zdataset.txt
  plugins/inputs/zfs/testcases/freebsd/dataset_datasetmetrics/zpool.txt
  plugins/inputs/zfs/testcases/freebsd/freenas/expected.out
  plugins/inputs/zfs/testcases/freebsd/freenas/sysctl.json
  plugins/inputs/zfs/testcases/freebsd/freenas/telegraf.conf
  plugins/inputs/zfs/testcases/freebsd/freenas/zdataset.txt
  plugins/inputs/zfs/testcases/freebsd/freenas/zpool.txt
  plugins/inputs/zfs/testcases/freebsd/freenas_zfetchstats/expected.out
  plugins/inputs/zfs/testcases/freebsd/freenas_zfetchstats/sysctl.json
  plugins/inputs/zfs/testcases/freebsd/freenas_zfetchstats/telegraf.conf
  plugins/inputs/zfs/testcases/freebsd/freenas_zfetchstats/zdataset.txt
  plugins/inputs/zfs/testcases/freebsd/freenas_zfetchstats/zpool.txt
  plugins/inputs/zfs/testcases/freebsd/unavailable/expected.out
  plugins/inputs/zfs/testcases/freebsd/unavailable/sysctl.json
  plugins/inputs/zfs/testcases/freebsd/unavailable/telegraf.conf
  plugins/inputs/zfs/testcases/freebsd/unavailable/zdataset.txt
  plugins/inputs/zfs/testcases/freebsd/unavailable/zpool.txt
  plugins/inputs/zfs/testcases/freebsd/unavailable_poolmetrics/expected.out
  plugins/inputs/zfs/testcases/freebsd/unavailable_poolmetrics/sysctl.json
  plugins/inputs/zfs/testcases/freebsd/unavailable_poolmetrics/telegraf.conf
  plugins/inputs/zfs/testcases/freebsd/unavailable_poolmetrics/zdataset.txt
  plugins/inputs/zfs/testcases/freebsd/unavailable_poolmetrics/zpool.txt
  plugins/inputs/zfs/zfs_freebsd.go
  plugins/inputs/zfs/zfs_freebsd_test.go
Labels: ready for final review, plugin/input, test

#14163 chore(linters): Fix findings found by testifylint: bool-compare
  cmd/telegraf/main_test.go
  config/types_test.go
  plugins/common/opcua/client_test.go
  plugins/inputs/aerospike/aerospike_test.go
  plugins/inputs/burrow/burrow_test.go
  plugins/inputs/couchbase/couchbase_test.go
  plugins/inputs/filecount/filesystem_helpers_test.go
  plugins/inputs/github/github_test.go
  plugins/inputs/google_cloud_storage/google_cloud_storage_test.go
  plugins/inputs/intel_powerstat/intel_powerstat_test.go
  plugins/inputs/knx_listener/knx_listener_test.go
  plugins/inputs/ping/ping_test.go
  plugins/inputs/ping/ping_windows_test.go
  plugins/inputs/postgresql_extensible/postgresql_extensible_test.go
  plugins/inputs/prometheus/kubernetes_test.go
  plugins/inputs/prometheus/prometheus_test.go
  plugins/inputs/radius/radius_test.go
  plugins/inputs/riemann_listener/riemann_listener_test.go
  plugins/inputs/smart/smart_test.go
  plugins/inputs/snmp/gosmi_test.go
  plugins/inputs/snmp/snmp_test.go
  plugins/inputs/supervisor/supervisor_test.go
  plugins/inputs/tacacs/tacacs_test.go
  plugins/outputs/amqp/amqp_test.go
  plugins/outputs/sensu/sensu_test.go
  plugins/outputs/timestream/timestream_internal_test.go
  plugins/parsers/json/parser_test.go
Labels: ready for final review, chore, linter

#14177 chore(linters): Fix findings found by testifylint: compares
  agent/tick_test.go
  internal/internal_test.go
  plugins/inputs/pgbouncer/pgbouncer_test.go
  plugins/inputs/ping/ping_test.go
  plugins/inputs/postgresql/postgresql_test.go
  plugins/inputs/postgresql_extensible/postgresql_extensible_test.go
  plugins/inputs/processes/processes_test.go
  plugins/inputs/prometheus/prometheus_test.go
  plugins/inputs/vsphere/vsphere_test.go
  plugins/parsers/json/parser_test.go
  plugins/processors/starlark/starlark_test.go
Labels: chore, linter

#14178 test(opensearch): Disable perf analyzer in test images
  plugins/inputs/opensearch_query/opensearch_query_test.go
  plugins/outputs/opensearch/opensearch_test.go
Labels: test

#14180 chore(linters): Fix findings found by testifylint: error-is-as
  plugins/inputs/beat/beat_test.go
Labels: chore, linter

#14181 chore(linters): Fix findings found by testifylint: require-error
  agent/accumulator_test.go
  filter/filter_test.go
  internal/templating/engine_test.go
  models/running_input_test.go
  plugins/inputs/cloud_pubsub/cloud_pubsub_test.go
  plugins/inputs/intel_rdt/publisher_test.go
  plugins/inputs/nginx_plus/nginx_plus_test.go
  plugins/inputs/p4runtime/p4runtime_test.go
  plugins/outputs/postgresql/table_manager_test.go
  selfstat/selfstat_test.go
  testutil/accumulator.go
Labels: chore, linter

#14179 chore(linters): Fix findings found by testifylint: empty
  agent/agent_test.go
  models/buffer_test.go
  models/filter_test.go
  models/running_output_test.go
  plugins/aggregators/histogram/histogram_test.go
  plugins/inputs/aurora/aurora_test.go
  plugins/inputs/cassandra/cassandra_test.go
  plugins/inputs/clickhouse/clickhouse_test.go
  plugins/inputs/couchbase/couchbase_test.go
  plugins/inputs/dpdk/dpdk_connector_test.go
  plugins/inputs/dpdk/dpdk_test.go
  plugins/inputs/example/example_test.go
  plugins/inputs/google_cloud_storage/google_cloud_storage_test.go
  plugins/inputs/http/http_test.go
  plugins/inputs/influxdb_listener/influxdb_listener_test.go
  plugins/inputs/intel_powerstat/intel_powerstat_test.go
  plugins/inputs/intel_powerstat/rapl_test.go
  plugins/inputs/interrupts/interrupts_test.go
  plugins/inputs/jolokia/jolokia_test.go
  plugins/inputs/kafka_consumer_legacy/kafka_consumer_legacy_integration_test.go
  plugins/inputs/nsq_consumer/nsq_consumer_test.go
  plugins/inputs/prometheus/kubernetes_test.go
  plugins/inputs/rabbitmq/rabbitmq_test.go
  plugins/inputs/radius/radius_test.go
  plugins/inputs/sql/sql_test.go
  plugins/inputs/statsd/statsd_test.go
  plugins/inputs/tacacs/tacacs_test.go
  plugins/inputs/uwsgi/uwsgi_test.go
  plugins/inputs/varnish/varnish_test.go
  plugins/inputs/vsphere/vsphere_test.go
  plugins/inputs/win_services/win_services_test.go
  plugins/inputs/x509_cert/x509_cert_test.go
  plugins/inputs/xtremio/xtremio_test.go
  plugins/outputs/azure_monitor/azure_monitor_test.go
  plugins/outputs/cloudwatch/cloudwatch_test.go
  plugins/outputs/groundwork/groundwork_test.go
  plugins/outputs/http/http_test.go
  plugins/outputs/loki/loki_test.go
  plugins/outputs/riemann/riemann_test.go
  plugins/outputs/wavefront/wavefront_test.go
  plugins/parsers/csv/parser_test.go
  plugins/parsers/dropwizard/parser_test.go
  plugins/parsers/form_urlencoded/parser_test.go
  plugins/parsers/json/parser_test.go
  plugins/parsers/json_v2/parser_test.go
  plugins/parsers/xpath/parser_test.go
  plugins/processors/aws/ec2/ec2_test.go
  plugins/processors/converter/converter_test.go
  plugins/processors/dedup/dedup_test.go
  plugins/processors/ifname/ttl_cache_test.go
  plugins/processors/reverse_dns/rdnscache_test.go
  plugins/serializers/msgpack/msgpack_test.go
Labels: chore, linter

#14172 feat(socket_listener): Add vsock support to socket listener and writer
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/socket_listener/README.md
  plugins/inputs/socket_listener/sample.conf
  plugins/inputs/socket_listener/socket_listener.go
  plugins/inputs/socket_listener/stream_listener.go
  plugins/outputs/socket_writer/README.md
  plugins/outputs/socket_writer/sample.conf
  plugins/outputs/socket_writer/socket_writer.go
Labels: feat, plugin/input, plugin/output

#14176 fix(inputs.zfs): Parse metrics correctly on FreeBSD 14
  plugins/inputs/zfs/testcases/freebsd/freebsd14/expected.out
  plugins/inputs/zfs/testcases/freebsd/freebsd14/sysctl.json
  plugins/inputs/zfs/testcases/freebsd/freebsd14/telegraf.conf
  plugins/inputs/zfs/testcases/freebsd/freebsd14/uname.txt
  plugins/inputs/zfs/testcases/freebsd/freebsd14/zdataset.txt
  plugins/inputs/zfs/testcases/freebsd/freebsd14/zpool.txt
  plugins/inputs/zfs/zfs.go
  plugins/inputs/zfs/zfs_freebsd.go
  plugins/inputs/zfs/zfs_freebsd_test.go
Labels: fix, plugin/input

#14148 test(parsers): Add benchmarks
  plugins/parsers/json/parser_test.go
  plugins/parsers/json_v2/parser_test.go
  plugins/parsers/json_v2/testdata/benchmark/benchmark.json
  plugins/parsers/json_v2/testdata/benchmark/expected.out
  plugins/parsers/json_v2/testdata/benchmark/input.json
  plugins/parsers/json_v2/testdata/benchmark/telegraf.conf
Labels: plugin/parser, test

#14198 chore(linters): Fix findings found by testifylint: error-nil
  internal/globpath/globpath_test.go
  plugins/inputs/aliyuncms/aliyuncms_test.go
  plugins/inputs/gnmi/gnmi_test.go
  plugins/inputs/intel_powerstat/msr_test.go
  plugins/inputs/intel_rdt/intel_rdt_test.go
  plugins/inputs/intel_rdt/publisher_test.go
  plugins/inputs/interrupts/interrupts_test.go
  plugins/inputs/kinesis_consumer/kinesis_consumer_test.go
  plugins/inputs/mcrouter/mcrouter_test.go
  plugins/inputs/prometheus/kubernetes_test.go
  plugins/inputs/smart/smart_test.go
  plugins/inputs/syslog/rfc5426_test.go
  plugins/outputs/cloudwatch_logs/cloudwatch_logs_test.go
  plugins/outputs/signalfx/signalfx_test.go
  plugins/outputs/timestream/timestream_test.go
  plugins/parsers/csv/parser_test.go
  plugins/processors/enum/enum_test.go
Labels: chore, linter

#13934 docs(outputs.cratedb): Correct required SQL table schema
  plugins/outputs/cratedb/README.md
Labels: docs, ready for final review, plugin/output

#14149 fix(parsers.json_v2): Prevent race condition in parse function
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/parsers/json_v2/parser.go
Labels: fix, area/json, ready for final review, plugin/parser

#14189 feat(inputs.http_response): Add body form option
  plugins/inputs/http_response/README.md
  plugins/inputs/http_response/http_response.go
  plugins/inputs/http_response/http_response_test.go
  plugins/inputs/http_response/sample.conf
Labels: feat, ready for final review, plugin/input

#14191 fix(input.prometheus): read bearer token from file every time
  plugins/inputs/prometheus/kubernetes.go
Labels: area/prometheus, fix, ready for final review, plugin/input

#14194 fix(inputs.ecs): Test for v4 metadata endpoint
  plugins/inputs/ecs/ecs.go
  plugins/inputs/ecs/ecs_test.go
Labels: fix, area/aws, ready for final review, plugin/input

#14195 fix(inputs.netflow): Fix sFlow metric timestamp
  plugins/inputs/netflow/sflow_v5.go
Labels: fix, area/network, ready for final review, plugin/input

#14208 chore(linters): Enable `perfsprint` linter and fix all findings.
  .golangci.yml
  plugins/common/opcua/input/input_client.go
  plugins/inputs/eventhub_consumer/eventhub_consumer.go
  plugins/inputs/filestat/filestat.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/influxdb_v2_listener/influxdb_v2_listener.go
  plugins/inputs/intel_baseband/intel_baseband.go
  plugins/inputs/intel_rdt/intel_rdt.go
  plugins/inputs/ipvs/ipvs.go
  plugins/inputs/passenger/passenger.go
  plugins/inputs/phpfpm/phpfpm_test.go
  plugins/inputs/webhooks/github/github_webhooks_models.go
  plugins/outputs/http/http.go
  plugins/outputs/loki/loki.go
  plugins/outputs/postgresql/postgresql_bench_test.go
  plugins/outputs/warp10/warp10.go
  plugins/outputs/yandex_cloud_monitoring/yandex_cloud_monitoring.go
Labels: ready for final review, chore, linter

#14197 fix(inputs.ecs): Fix for cgroupv2 CPU metrics
  plugins/inputs/ecs/cgroupv2_test.go
  plugins/inputs/ecs/stats.go
  plugins/inputs/ecs/testdata/cgroupv2/meta.json
  plugins/inputs/ecs/testdata/cgroupv2/meta.out
  plugins/inputs/ecs/testdata/cgroupv2/stats.json
  plugins/inputs/ecs/testdata/cgroupv2/stats.out
Labels: fix, area/aws, ready for final review, plugin/input

#14210 chore(inputs.openweathermap): Convert unit-tests to test-cases
  plugins/inputs/openweathermap/openweathermap_test.go
  plugins/inputs/openweathermap/testcases/forecast/expected.out
  plugins/inputs/openweathermap/testcases/forecast/response_forecast.json
  plugins/inputs/openweathermap/testcases/forecast/response_group.json
  plugins/inputs/openweathermap/testcases/forecast/telegraf.conf
  plugins/inputs/openweathermap/testcases/rain_batch/expected.out
  plugins/inputs/openweathermap/testcases/rain_batch/response_group.json
  plugins/inputs/openweathermap/testcases/rain_batch/telegraf.conf
  plugins/inputs/openweathermap/testcases/snow_batch/expected.out
  plugins/inputs/openweathermap/testcases/snow_batch/response_group.json
  plugins/inputs/openweathermap/testcases/snow_batch/telegraf.conf
  plugins/inputs/openweathermap/testcases/weather/expected.out
  plugins/inputs/openweathermap/testcases/weather/response_group.json
  plugins/inputs/openweathermap/testcases/weather/telegraf.conf
  plugins/inputs/openweathermap/testcases/weather_batch/expected.out
  plugins/inputs/openweathermap/testcases/weather_batch/response_forecast.json
  plugins/inputs/openweathermap/testcases/weather_batch/response_group.json
  plugins/inputs/openweathermap/testcases/weather_batch/telegraf.conf
Labels: plugin/input, chore

#14203 chore(linters): Fix findings found by testifylint: len
  agent/agent_test.go
  internal/rotate/file_writer_test.go
  logger/logger_test.go
  metric/metric_test.go
  models/running_aggregator_test.go
  plugins/inputs/aurora/aurora_test.go
  plugins/inputs/cassandra/cassandra_test.go
  plugins/inputs/cloudwatch/cloudwatch_test.go
  plugins/inputs/couchbase/couchbase_test.go
  plugins/inputs/directory_monitor/directory_monitor_test.go
  plugins/inputs/diskio/diskio_test.go
  plugins/inputs/dpdk/dpdk_test.go
  plugins/inputs/file/file_test.go
  plugins/inputs/google_cloud_storage/google_cloud_storage_test.go
  plugins/inputs/influxdb_listener/influxdb_listener_test.go
  plugins/inputs/influxdb_v2_listener/influxdb_v2_listener_test.go
  plugins/inputs/intel_powerstat/intel_powerstat_test.go
  plugins/inputs/internal/internal_test.go
  plugins/inputs/jolokia/jolokia_test.go
  plugins/inputs/kinesis_consumer/kinesis_consumer_test.go
  plugins/inputs/ping/ping_test.go
  plugins/inputs/postgresql_extensible/postgresql_extensible_test.go
  plugins/inputs/procstat/procstat_test.go
  plugins/inputs/prometheus/kubernetes_test.go
  plugins/inputs/ras/ras_test.go
  plugins/inputs/sflow/types_test.go
  plugins/inputs/sqlserver/azurearcsqlmiqueries_test.go
  plugins/inputs/sqlserver/azuresqldbqueries_test.go
  plugins/inputs/sqlserver/azuresqlmanagedqueries_test.go
  plugins/inputs/sqlserver/azuresqlpoolqueries_test.go
  plugins/inputs/sqlserver/sqlserver_test.go
  plugins/inputs/uwsgi/uwsgi_test.go
  plugins/inputs/varnish/varnish_test.go
  plugins/inputs/vsphere/vsphere_test.go
  plugins/inputs/x509_cert/x509_cert_test.go
  plugins/outputs/cloudwatch/cloudwatch_test.go
  plugins/outputs/cloudwatch_logs/cloudwatch_logs_test.go
  plugins/outputs/dynatrace/dynatrace_test.go
  plugins/outputs/event_hubs/event_hubs_test.go
  plugins/outputs/exec/exec_test.go
  plugins/outputs/kafka/kafka_test.go
  plugins/outputs/stackdriver/stackdriver_test.go
  plugins/outputs/timestream/timestream_test.go
  plugins/outputs/wavefront/wavefront_test.go
  plugins/parsers/collectd/parser_test.go
  plugins/parsers/json/parser_test.go
  plugins/processors/clone/clone_test.go
  plugins/processors/override/override_test.go
  plugins/processors/tag_limit/tag_limit_test.go
  plugins/processors/template/template_test.go
  plugins/serializers/influx/reader_test.go
Labels: ready for final review, chore, linter

#14215 docs(inputs.cpu): Clarify 'time_active' contains 'iowait'
  plugins/inputs/cpu/README.md
  plugins/inputs/cpu/cpu.go
  plugins/inputs/cpu/cpu_test.go
  plugins/inputs/cpu/sample.conf
Labels: docs, area/system, ready for final review, plugin/input

#14115 chore(outputs.elasticsearch): Print error status value
  plugins/outputs/elasticsearch/elasticsearch.go
Labels: area/elasticsearch, fix, ready for final review, plugin/output

#14220 test(outputs.kafka): Use private network for testing
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/outputs/kafka/kafka_test.go
Labels: area/kafka, ready for final review, plugin/output, test

#14187 fix(inputs.cgroup): Escape backslashes
  plugins/inputs/cgroup/cgroup_linux.go
  plugins/inputs/cgroup/cgroup_test.go
  plugins/inputs/cgroup/testdata/backslash/machine-qemu-1-ubuntu/cpu.stat
Labels: fix, ready for final review, plugin/input

#14213 fix(outputs.timestream): Clip uint64 values
  plugins/outputs/timestream/README.md
  plugins/outputs/timestream/timestream.go
  plugins/outputs/timestream/timestream_test.go
Labels: fix, ready for final review, plugin/output

#14091 feat(inputs.gnmi): Rework plugin
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/path.go
  plugins/inputs/gnmi/sample.conf
  plugins/inputs/gnmi/tag_store.go
  plugins/inputs/gnmi/testcases/issue_14044/expected.out
  plugins/inputs/gnmi/testcases/issue_14044/responses.json
  plugins/inputs/gnmi/testcases/issue_14044/telegraf.conf
  plugins/inputs/gnmi/testcases/issue_14063/expected.out
  plugins/inputs/gnmi/testcases/issue_14063/responses.json
  plugins/inputs/gnmi/testcases/issue_14063/telegraf.conf
  plugins/inputs/gnmi/update_fields.go
  plugins/inputs/gnmi/utils.go
Labels: feat, area/gnmi, ready for final review, plugin/input

#14224 feat(inputs.procstat)!: Remove useless zero cpu_times
  CHANGELOG.md
  plugins/inputs/procstat/README.md
  plugins/inputs/procstat/native_finder.go
  plugins/inputs/procstat/procstat.go
Labels: breaking change, feat, area/procstat, ready for final review, plugin/input
