Repository influxdata/telegraf, pull requests merged in 2024-05, with the labels that each got.

#15277 fix(outputs.loki): Option to sanitize label names
  plugins/outputs/loki/README.md
  plugins/outputs/loki/loki.go
  plugins/outputs/loki/loki_test.go
  plugins/outputs/loki/sample.conf
Labels: fix, ready for final review, plugin/output

#15260 fix(inputs.procstat): Do not report dead processes as running for orphan PID files
  plugins/inputs/procstat/filter.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/service_finders.go
Labels: area/procstat, fix, ready for final review, plugin/input

#15268 feat(aggregators.final): Add option to disable appending _final
  plugins/aggregators/final/README.md
  plugins/aggregators/final/final.go
  plugins/aggregators/final/final_test.go
  plugins/aggregators/final/sample.conf
Labels: feat, ready for final review, plugin/aggregator

#15220 feat(serializers.influx): Add option to omit timestamp
  plugins/outputs/influxdb/README.md
  plugins/outputs/influxdb/influxdb.go
  plugins/outputs/influxdb/sample.conf
  plugins/outputs/influxdb_v2/README.md
  plugins/outputs/influxdb_v2/influxdb_v2.go
  plugins/outputs/influxdb_v2/sample.conf
  plugins/serializers/influx/README.md
  plugins/serializers/influx/influx.go
  plugins/serializers/influx/influx_test.go
  plugins/serializers/registry.go
Labels: feat, ready for final review, plugin/serializer

#15233 feat(inputs.ceph): Use perf schema to determine metric type
  plugins/inputs/ceph/ceph.go
  plugins/inputs/ceph/ceph_test.go
Labels: feat, ready for final review, plugin/input

#15272 chore(deps): Bump github.com/shirou/gopsutil/v3 from v3.24.3 to v3.24.4
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#15282 feat(inputs.nvidia_smi): Add power-limit field for v12 scheme
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
  plugins/inputs/nvidia_smi/schema_v12/parser.go
  plugins/inputs/nvidia_smi/schema_v12/types.go
  plugins/inputs/nvidia_smi/testdata/rtx-3090-v12.xml
Labels: feat, ready for final review, plugin/input

#15278 feat(inputs.gnmi): Add option to create more descriptive tags
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/path.go
  plugins/inputs/gnmi/sample.conf
  plugins/inputs/gnmi/testcases/issue_12831/expected.out
  plugins/inputs/gnmi/testcases/issue_12831/responses.json
  plugins/inputs/gnmi/testcases/issue_12831/telegraf.conf
Labels: feat, area/gnmi, ready for final review, plugin/input

#15292 docs: Split changelog
  CHANGELOG-1.13.md
  CHANGELOG.md
Labels: docs, ready for final review

#15288 docs: Add quick start
  docs/QUICK_START.md
Labels: docs, ready for final review

#15291 docs: Update docs readme with all links
  docs/README.md
Labels: docs, ready for final review

#15293 feat(inputs.redis): Add latency percentiles metric
  plugins/inputs/redis/README.md
  plugins/inputs/redis/redis.go
  plugins/inputs/redis/redis_test.go
Labels: feat, area/redis, ready for final review, plugin/input

#15290 docs: Revamp readme
  README.md
  assets/TelegrafTigerSmall.png
Labels: docs, ready for final review

#15287 docs: Add releases documentation
  docs/RELEASES.md
Labels: docs, ready for final review

#15276 chore(deps): Bump github.com/grid-x/modbus from v0.0.0-20211113184042-7f2251c342c9 to v0.0.0-20240503115206-582f2ab60a18
  go.mod
  go.sum
  plugins/inputs/modbus/configuration_request_test.go
  plugins/inputs/modbus/modbus_test.go
Labels: ready for final review, dependencies, chore

#15302 docs(inputs.postgresql): Add permissions section
  plugins/inputs/postgresql/README.md
Labels: docs, area/postgresql, ready for final review, plugin/input

#15303 chore(deps): Bump golangci-lint from v1.57.2 to v1.58.0
  .circleci/config.yml
  Makefile
  models/buffer.go
  plugins/outputs/dynatrace/dynatrace.go
  plugins/processors/topk/topk.go
Labels: ready for final review, chore

#15301 docs(inputs.mqtt_consumer): Update topic parsing types naming
  plugins/inputs/mqtt_consumer/README.md
  plugins/inputs/mqtt_consumer/sample.conf
Labels: docs, area/mqtt, ready for final review, plugin/input

#15297 chore(inputs.gnmi): Add more response information for easier debugging
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/handler.go
Labels: area/gnmi, ready for final review, plugin/input, chore

#15316 chore(deps): Migrate to maintained gopacket library
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/netflow/sflow_v5.go
Labels: ready for final review, dependencies, chore

#15318 chore(parsers.grok): Improve non-matching debug message
  plugins/parsers/grok/parser.go
Labels: ready for final review, plugin/parser, chore

#15320 chore(inputs.sflow): Deprecate plugin and add migration to netflow
  migrations/all/inputs_sflow.go
  migrations/inputs_sflow/migration.go
  migrations/inputs_sflow/migration_test.go
  migrations/inputs_sflow/testcases/filters/expected.conf
  migrations/inputs_sflow/testcases/filters/telegraf.conf
  migrations/inputs_sflow/testcases/minimal/expected.conf
  migrations/inputs_sflow/testcases/minimal/telegraf.conf
  migrations/inputs_sflow/testcases/read_buffer_size/expected.conf
  migrations/inputs_sflow/testcases/read_buffer_size/telegraf.conf
  plugins/inputs/deprecations.go
Labels: ready for final review, plugin/input, chore

#15306 feat(inputs.win_eventlog): Add option to define event batch-size
  plugins/inputs/win_eventlog/README.md
  plugins/inputs/win_eventlog/sample.conf
  plugins/inputs/win_eventlog/win_eventlog.go
Labels: feat, ready for final review, plugin/input

#15299 feat(inputs.procstat): Add option to select properties to collect
  plugins/inputs/procstat/README.md
  plugins/inputs/procstat/process.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/procstat_test.go
  plugins/inputs/procstat/sample.conf
Labels: feat, area/procstat, ready for final review, plugin/input

#15322 docs(outputs.postgresql): Add example to create index for tag columns
  plugins/outputs/postgresql/README.md
Labels: docs, area/postgresql, ready for final review, plugin/output

#15319 feat(aggregators.merge): Allow to round metric timestamps
  plugins/aggregators/merge/README.md
  plugins/aggregators/merge/merge.go
  plugins/aggregators/merge/merge_test.go
  plugins/aggregators/merge/sample.conf
Labels: feat, ready for final review, plugin/aggregator

#15327 chore(deps): Bump go from v1.22.2 to v1.22.3
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore, go

#15329 feat(inputs.internet_speed): support packet loss
  go.mod
  go.sum
  plugins/inputs/internet_speed/README.md
  plugins/inputs/internet_speed/internet_speed.go
  plugins/inputs/internet_speed/sample.conf
Labels: feat, ready for final review, plugin/input

#15335 docs(inputs.kubernetes): Add link to generating bearer token to explore API
  plugins/inputs/kubernetes/README.md
Labels: docs, ready for final review, plugin/input

#15337 docs(inputs.execd): Add python example, clean up doc
  plugins/inputs/execd/README.md
  plugins/inputs/execd/examples/count.py
Labels: docs, area/execd, ready for final review, plugin/input

#15330 feat(inputs.file): Add tag with absolute path of file
  plugins/inputs/file/README.md
  plugins/inputs/file/file.go
  plugins/inputs/file/file_test.go
  plugins/inputs/file/sample.conf
Labels: feat, ready for final review, plugin/input

#15314 feat(inputs.netflow): Add support for IPFIX option packets
  plugins/inputs/netflow/netflow_decoder.go
  plugins/inputs/netflow/testcases/ipfix_example/expected.out
  plugins/inputs/netflow/testcases/ipfix_options/expected.out
  plugins/inputs/netflow/testcases/ipfix_options/message-001.bin
  plugins/inputs/netflow/testcases/ipfix_options/message-002.bin
  plugins/inputs/netflow/testcases/ipfix_options/message-003.bin
  plugins/inputs/netflow/testcases/ipfix_options/message-004.bin
  plugins/inputs/netflow/testcases/ipfix_options/message-005.bin
  plugins/inputs/netflow/testcases/ipfix_options/message-006.bin
  plugins/inputs/netflow/testcases/ipfix_options/message-007.bin
  plugins/inputs/netflow/testcases/ipfix_options/message-008.bin
  plugins/inputs/netflow/testcases/ipfix_options/message-009.bin
  plugins/inputs/netflow/testcases/ipfix_options/telegraf.conf
Labels: feat, ready for final review, plugin/input

#15300 feat(inputs.win_wmi): Allow to invoke methods
  plugins/inputs/win_wmi/README.md
  plugins/inputs/win_wmi/method.go
  plugins/inputs/win_wmi/query.go
  plugins/inputs/win_wmi/sample.conf
  plugins/inputs/win_wmi/win_wmi.go
  plugins/inputs/win_wmi/win_wmi_test.go
Labels: feat, ready for final review, plugin/input

#15234 chore(log): Restructure and cleanup logging code
  agent/accumulator_test.go
  cmd/telegraf/cmd_config.go
  cmd/telegraf/main.go
  cmd/telegraf/telegraf.go
  cmd/telegraf/telegraf_windows.go
  config/config.go
  config/config_test.go
  config/deprecation.go
  config/deprecation_test.go
  logger.go
  logger/config.go
  logger/default_logger.go
  logger/default_logger_test.go
  logger/event_logger.go
  logger/event_logger_test.go
  logger/log.go
  logger/log_test.go
  logger/logger.go
  logger/registry.go
  models/common.go
  models/log.go
  models/running_aggregator.go
  models/running_input.go
  models/running_output.go
  models/running_parsers.go
  models/running_processor.go
  models/running_serializer.go
  plugin.go
  plugins/common/kafka/logger.go
  plugins/common/shim/goshim.go
  plugins/common/shim/input.go
  plugins/common/shim/logger.go
  plugins/common/shim/output.go
  plugins/common/shim/processor.go
  plugins/inputs/cloud_pubsub_push/cloud_pubsub_push_test.go
  plugins/inputs/exec/exec.go
  plugins/inputs/exec/run_notwinodws.go
  plugins/inputs/exec/run_windows.go
  plugins/inputs/execd/execd_test.go
  plugins/inputs/intel_powerstat/intel_powerstat.go
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/configuration_request_test.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/net/net.go
  plugins/inputs/snmp/snmp.go
  plugins/outputs/exec/exec.go
  plugins/outputs/groundwork/groundwork.go
  plugins/outputs/postgresql/postgresql.go
  plugins/outputs/postgresql/postgresql_test.go
  plugins/outputs/stackdriver/counter_cache_test.go
  plugins/parsers/xpath/parser.go
  plugins/processors/template/template_metric.go
  testutil/capturelog.go
  testutil/log.go
Labels: area/agent, ready for final review, chore

#15339 docs: Remove maintainers folder
  docs/maintainers/CHANGELOG.md
  docs/maintainers/LABELS.md
  docs/maintainers/PULL_REQUESTS.md
  docs/maintainers/RELEASES.md
Labels: docs, ready for final review

#15342 docs(readme): Add links to plugins
  README.md
Labels: docs, ready for final review

#15343 docs: Update aggregator and processor docs
  docs/AGGREGATORS_AND_PROCESSORS.md
  docs/CONFIGURATION.md
Labels: docs, ready for final review

#15345 docs: Update docker page
  docs/DOCKER.md
Labels: docs, ready for final review

#15317 fix(inputs.cloudwatch): Option to produce dense metrics
  plugins/inputs/cloudwatch/README.md
  plugins/inputs/cloudwatch/cloudwatch.go
  plugins/inputs/cloudwatch/cloudwatch_test.go
  plugins/inputs/cloudwatch/sample.conf
Labels: fix, plugin/input

#15346 fix(windows): Make sure to log the final error message
  cmd/telegraf/main.go
Labels: platform/windows, area/windows, fix, ready for final review

#15362 chore(deps): Bump github.com/showwin/speedtest-go from 1.7.5 to 1.7.6
  go.mod
  go.sum
  plugins/inputs/internet_speed/internet_speed.go
Labels: ready for final review, chore

#15366 chore: Update copyright date, remove extra newline
  LICENSE
Labels: chore

#15356 docs(inputs): Clean up, add note about external connections
  docs/INPUTS.md
Labels: docs, ready for final review

#15357 docs(aggregators): Clean up aggregator docs
  docs/AGGREGATORS.md
Labels: docs, ready for final review

#15359 docs(processors): Clean up
  docs/PROCESSORS.md
Labels: docs, ready for final review

#15363 docs(agent): Specify jitter value must be non-zero
  docs/CONFIGURATION.md
Labels: docs, ready for final review

#15364 chore(inputs.net): Clarify option deprecation notice
  plugins/inputs/net/net.go
Labels: ready for final review, plugin/input, chore

#15321 docs: Add URL config behavior spec
  docs/specs/tsd-007-url-config-behavior.md
Labels: docs, ready for final review

#15360 docs(secretstores): Add docs for creating
  docs/README.md
  docs/SECRETSTORES.md
Labels: docs, ready for final review

#15365 docs: Update supported platforms docs
  docs/SUPPORTED_PLATFORMS.md
Labels: docs, ready for final review

#15369 docs: Update profiling docs
  docs/PROFILING.md
Labels: docs, ready for final review

#15370 docs: Update external plugin docs
  docs/EXTERNAL_PLUGINS.md
Labels: docs, ready for final review

#15371 feat(inputs.statsd): Allow counters to report as float
  plugins/inputs/statsd/README.md
  plugins/inputs/statsd/sample.conf
  plugins/inputs/statsd/statsd.go
  plugins/inputs/statsd/statsd_test.go
Labels: feat, area/statsd, ready for final review, plugin/input

#15376 chore(agent): Export internal metric fields
  metric/metric.go
Labels: area/agent, ready for final review, chore

#15377 feat(agent): Introduce CLI option to set config URL retry attempts
  cmd/telegraf/main.go
  cmd/telegraf/telegraf.go
  config/config.go
  config/internal_test.go
Labels: feat, ready for final review

#15380 feat(inputs.statsd): Add support for DogStatsD v1.2 (#12991)
  plugins/inputs/statsd/README.md
  plugins/inputs/statsd/sample.conf
  plugins/inputs/statsd/statsd.go
  plugins/inputs/statsd/statsd_test.go
Labels: feat, area/statsd, ready for final review, plugin/input

#15328 feat(processors.parser): Add base64 decode for fields
  plugins/processors/parser/README.md
  plugins/processors/parser/parser.go
  plugins/processors/parser/parser_test.go
  plugins/processors/parser/sample.conf
Labels: feat, ready for final review, plugin/processor

#15391 test(processors.parser): Sort test metrics
  plugins/processors/parser/parser_test.go
Labels: ready for final review, plugin/processor, test

#15271 feat(inputs.execd): Add option to not restart program on error
  internal/process/process.go
  plugins/inputs/execd/README.md
  plugins/inputs/execd/execd.go
  plugins/inputs/execd/execd_test.go
  plugins/inputs/execd/sample.conf
Labels: feat, area/execd, ready for final review, plugin/input

#15201 feat(inputs.gnmi): Add yang-model decoding of JSON IETF payloads
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/common/yangmodel/decoder.go
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/gnmi_test.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/path.go
  plugins/inputs/gnmi/sample.conf
  plugins/inputs/gnmi/sample.conf.in
  plugins/inputs/gnmi/testcases/issue_15046/expected.out
  plugins/inputs/gnmi/testcases/issue_15046/models/LICENSE
  plugins/inputs/gnmi/testcases/issue_15046/models/README.md
  plugins/inputs/gnmi/testcases/issue_15046/models/openconfig-alarm-types.yang
  plugins/inputs/gnmi/testcases/issue_15046/models/openconfig-extensions.yang
  plugins/inputs/gnmi/testcases/issue_15046/models/openconfig-platform-psu.yang
  plugins/inputs/gnmi/testcases/issue_15046/models/openconfig-platform-types.yang
  plugins/inputs/gnmi/testcases/issue_15046/models/openconfig-platform.yang
  plugins/inputs/gnmi/testcases/issue_15046/models/openconfig-types.yang
  plugins/inputs/gnmi/testcases/issue_15046/responses.json
  plugins/inputs/gnmi/testcases/issue_15046/telegraf.conf
  plugins/inputs/gnmi/update_fields.go
Labels: feat, area/gnmi, ready for final review, plugin/input

#15389 chore: Update to Xcode 15 in CI
  .circleci/config.yml
  Makefile
Labels: platform/darwin, ready for final review, chore

#15403 chore(deps): Update OpenTelemetry dependencies
  go.mod
  go.sum
Labels: area/telemetry, ready for final review, dependencies, chore

#15393 chore(deps): Switch to github.com/leodido/go-syslog
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/syslog/syslog.go
  plugins/inputs/syslog/syslog_test.go
  plugins/inputs/syslog/testcases/non_transparent_best_effort_tcp_1st_avg_ok/expected.err
  plugins/inputs/syslog/testcases/non_transparent_best_effort_tcptls_1st_avg_ok/expected.err
  plugins/inputs/syslog/testcases/non_transparent_best_effort_unix/expected.err
  plugins/inputs/syslog/testcases/non_transparent_best_effort_unixtls/expected.err
  plugins/inputs/syslog/testcases/non_transparent_strict_tcp_1st_avg_ok/expected.err
  plugins/inputs/syslog/testcases/non_transparent_strict_tcp_1st_avg_ok/input.txt
  plugins/inputs/syslog/testcases/non_transparent_strict_tcptls_1st_avg_ok/expected.err
  plugins/inputs/syslog/testcases/non_transparent_strict_tcptls_1st_avg_ok/input.txt
  plugins/inputs/syslog/testcases/non_transparent_strict_unix/expected.err
  plugins/inputs/syslog/testcases/non_transparent_strict_unix/input.txt
  plugins/inputs/syslog/testcases/non_transparent_strict_unixtls/expected.err
  plugins/inputs/syslog/testcases/non_transparent_strict_unixtls/input.txt
  plugins/outputs/syslog/syslog.go
  plugins/outputs/syslog/syslog_mapper.go
  plugins/outputs/syslog/syslog_test.go
Labels: ready for final review, dependencies, chore

#15338 chore: Fix typos throughout codebase
  CHANGELOG-1.13.md
  config/config_test.go
  config/plugin_id.go
  docs/developers/REVIEWS.md
  plugins/common/kafka/sasl.go
  plugins/inputs/aliyuncms/aliyuncms.go
  plugins/inputs/aliyuncms/aliyuncms_test.go
  plugins/inputs/amd_rocm_smi/README.md
  plugins/inputs/amqp_consumer/amqp_consumer_test.go
  plugins/inputs/aurora/aurora_test.go
  plugins/inputs/bind/bind_test.go
  plugins/inputs/bond/bond_test.go
  plugins/inputs/ctrlx_datalayer/README.md
  plugins/inputs/ctrlx_datalayer/sample.conf
  plugins/inputs/google_cloud_storage/google_cloud_storage.go
  plugins/inputs/google_cloud_storage/google_cloud_storage_test.go
  plugins/inputs/mongodb/mongostat.go
  plugins/inputs/mysql/v2/convert_test.go
  plugins/inputs/phpfpm/phpfpm_test.go
  plugins/inputs/ping/ping_windows.go
  plugins/inputs/procstat/README.md
  plugins/inputs/procstat/native_finder_test.go
  plugins/inputs/procstat/sample.conf
  plugins/inputs/statsd/datadog.go
  plugins/inputs/vsphere/endpoint.go
  plugins/inputs/webhooks/rollbar/README.md
  plugins/inputs/webhooks/rollbar/rollbar_webhooks_events.go
  plugins/inputs/win_eventlog/README.md
  plugins/outputs/azure_data_explorer/README.md
  plugins/outputs/loki/loki_test.go
  plugins/outputs/sensu/README.md
  plugins/outputs/sensu/sample.conf
  plugins/outputs/stackdriver/stackdriver.go
  plugins/outputs/sumologic/sumologic.go
  plugins/outputs/sumologic/sumologic_test.go
  plugins/outputs/syslog/README.md
  plugins/outputs/syslog/sample.conf
  plugins/outputs/syslog/syslog_test.go
  plugins/outputs/zabbix/README.md
  plugins/parsers/avro/parser.go
  plugins/parsers/influx/handler.go
  plugins/parsers/influx/influx_upstream/parser.go
  plugins/parsers/influx/influx_upstream/parser_test.go
  plugins/parsers/influx/parser.go
  plugins/parsers/influx/parser_test.go
  plugins/parsers/nagios/parser.go
  plugins/parsers/xpath/parser.go
  plugins/processors/noise/README.md
  plugins/processors/timestamp/README.md
  plugins/processors/timestamp/sample.conf
  plugins/secretstores/docker/docker_test.go
  plugins/secretstores/jose/jose_test.go
  plugins/secretstores/systemd/systemd_test.go
  tools/update_goversion/main_test.go
Labels: ready for final review, chore

#15368 feat(inputs.kafka_consumer): Add resolve canonical bootstrap server option
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/sample.conf
Labels: feat, area/kafka, ready for final review, plugin/input

#15402 fix(agent): Warn on multple agent configuration tables seen
  config/config.go
Labels: fix, area/agent, ready for final review

#15421 docs: Fix typos
  internal/snmp/testdata/gosmi/tableMib
  plugins/common/shim/README.md
Labels: docs, ready for final review

#15426 feat(cli): List available parsers and serializers
  cmd/telegraf/cmd_plugins.go
  docs/CUSTOMIZATION.md
  plugins/parsers/deprecations.go
  plugins/serializers/deprecations.go
Labels: feat, ready for final review

#15427 docs(outputs.datadog): Specify API v1 support
  plugins/outputs/datadog/README.md
  plugins/outputs/datadog/sample.conf
Labels: docs, ready for final review, plugin/output

#15428 fix(inputs.cloudwatch): Ensure account list is larger than index
  plugins/inputs/cloudwatch/cloudwatch.go
Labels: fix, ready for final review, plugin/input

#15407 feat(inputs.influxdb_v2_listener): Support Secret for token
  plugins/inputs/influxdb_v2_listener/README.md
  plugins/inputs/influxdb_v2_listener/influxdb_v2_listener.go
  plugins/inputs/influxdb_v2_listener/influxdb_v2_listener_test.go
Labels: feat, area/influxdb, ready for final review, plugin/input, plugin/secretstores
