Repository influxdata/telegraf, pull requests merged in 2024-10, with the labels that each got.

#15893 feat(serializers.prometheusremotewrite): Log metric conversion errors
  plugins/serializers/prometheusremotewrite/README.md
  plugins/serializers/prometheusremotewrite/prometheusremotewrite.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite_test.go
Labels: feat, area/prometheus, ready for final review, plugin/serializer

#15960 fix(inputs.vsphere): Add tags to VSAN ESA disks
  plugins/inputs/vsphere/vsan.go
  plugins/inputs/vsphere/vsphere_test.go
Labels: fix, area/vsphere, ready for final review, plugin/input

#15959 chore(inputs.modbus): Add more debug information for request grouping
  plugins/inputs/modbus/modbus.go
Labels: area/modbus, ready for final review, plugin/input, chore

#15935 feat(inputs.snmp): Add displayhint conversion
  internal/snmp/field.go
  internal/snmp/testdata/gosmi/server
  internal/snmp/testdata/gosmi/tableMib
  internal/snmp/translator.go
  internal/snmp/translator_gosmi.go
  internal/snmp/translator_gosmi_test.go
  internal/snmp/translator_netsnmp.go
  plugins/inputs/snmp/README.md
  plugins/inputs/snmp/snmp_test.go
  plugins/processors/snmp_lookup/README.md
  plugins/processors/snmp_lookup/sample.conf
Labels: feat, area/snmp, ready for final review, plugin/input

#15967 chore(agent): Fix typo in service install command
  cmd/telegraf/cmd_win_service.go
Labels: platform/windows, area/windows, area/agent, ready for final review, chore

#15883 feat(outputs): Only copy metric if its not filtered out
  agent/agent.go
  models/running_output.go
  plugins/inputs/cloud_pubsub_push/cloud_pubsub_push_test.go
Labels: feat, area/agent, ready for final review, plugin/output

#15970 chore(outputs.remotefile): Deprecate trace option
  plugins/outputs/remotefile/README.md
  plugins/outputs/remotefile/remotefile.go
  plugins/outputs/remotefile/sample.conf
Labels: ready for final review, plugin/output, chore

#15923 fix(inputs.cisco_telemetry_mdt): Handle NXOS DME subtree telemetry format
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt_test.go
Labels: fix, area/cisco, ready for final review, plugin/input

#15961 test(common.socket): Increase margin for memleak test to avoid flaky tests
  plugins/common/socket/socket_test.go
Labels: ready for final review, test

#15972 test(outputs.sql): Fix failing integration test by excluding options
  plugins/outputs/sql/sql_test.go
  plugins/outputs/sql/testdata/postgres/expected.sql
Labels: ready for final review, plugin/output, area/sql, test

#15919 feat(inputs.kafka_consumer): Implement startup error behavior options
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/kafka_consumer/sample.conf
Labels: feat, area/kafka, ready for final review, plugin/input

#15754 feat(inputs.neoom_beaam): Add new plugin
  plugins/inputs/all/neoom_beaam.go
  plugins/inputs/neoom_beaam/README.md
  plugins/inputs/neoom_beaam/neoom_beaam.go
  plugins/inputs/neoom_beaam/neoom_beaam_test.go
  plugins/inputs/neoom_beaam/sample.conf
  plugins/inputs/neoom_beaam/sample.conf.in
  plugins/inputs/neoom_beaam/testcases/small/configuration.json
  plugins/inputs/neoom_beaam/testcases/small/expected.out
  plugins/inputs/neoom_beaam/testcases/small/state.json
  plugins/inputs/neoom_beaam/testcases/small/telegraf.conf
  plugins/inputs/neoom_beaam/testcases/small/thing_22222222-bbbb-2222-bbbb-222222222222.json
  plugins/inputs/neoom_beaam/testcases/small/thing_33333333-cccc-3333-cccc-333333333333.json
  plugins/inputs/neoom_beaam/testcases/small/thing_44444444-dddd-4444-dddd-444444444444.json
  plugins/inputs/neoom_beaam/testcases/small/thing_55555555-eeee-5555-eeee-555555555555.json
  plugins/inputs/neoom_beaam/types.go
Labels: feat, new plugin, ready for final review, plugin/input

#15950 feat(inputs.diskio): Add field io await and util
  plugins/inputs/diskio/README.md
  plugins/inputs/diskio/diskio.go
  plugins/inputs/diskio/diskio_test.go
Labels: feat, ready for final review, plugin/input

#15916 feat(inputs.nvidia-smi): Add `probe_on_startup` option
  plugins/inputs/nvidia_smi/README.md
  plugins/inputs/nvidia_smi/nvidia_smi.go
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
  plugins/inputs/nvidia_smi/sample.conf
Labels: feat, area/nvidia, ready for final review, plugin/input

#15978 test(compilation): Fixing test compilation
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt_test.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
Labels: test

#15965 fix(processors.aws_ec2): Remove leading slash and cancel worker only if it exists
  plugins/processors/aws_ec2/ec2.go
Labels: fix, area/aws, ready for final review, plugin/processor

#15982 fix(inputs.influxdb_v2_listener): Fix concurrent read/write dict
  plugins/inputs/influxdb_v2_listener/influxdb_v2_listener.go
Labels: fix, ready for final review, plugin/input

#15986 test(inputs.postgresql): Fixing integration test
  plugins/inputs/postgresql/postgresql_test.go
Labels: area/postgresql, ready for final review, plugin/input, test

#15969 fix(agent): Fix buffer not flushing if all metrics are written
  models/buffer_disk.go
  models/buffer_suite_test.go
Labels: fix, area/agent, ready for final review

#15990 feat(inputs.mock): Add sine phase
  plugins/inputs/mock/README.md
  plugins/inputs/mock/mock.go
  plugins/inputs/mock/sample.conf
Labels: feat, ready for final review, plugin/input

#15984 chore(linters): Enable `datarace` rule for revive
  .golangci.yml
  plugins/common/shim/goshim_test.go
  plugins/common/shim/input_test.go
  plugins/inputs/execd/shim/shim_test.go
Labels: ready for final review, chore, linter

#15947 chore(deps): Bump github.com/gwos/tcg/sdk from v8.7.2 to v8.8.0
  go.mod
  go.sum
  plugins/outputs/groundwork/groundwork.go
  plugins/outputs/groundwork/groundwork_test.go
  plugins/outputs/groundwork/log_adapter.go
Labels: ready for final review, dependencies, chore

#15991 chore(linters): Fix findings found by `testifylint`: `go-require` for `plugins/common` and `plugins/inputs`
  plugins/common/proxy/socks5_test.go
  plugins/common/shim/goshim_test.go
  plugins/common/shim/input_test.go
  plugins/common/shim/output_test.go
  plugins/common/shim/processor_test.go
  plugins/inputs/apcupsd/apcupsd_test.go
  plugins/inputs/chrony/chrony_test.go
  plugins/inputs/dovecot/dovecot_test.go
  plugins/inputs/dpdk/dpdk_test.go
  plugins/inputs/execd/shim/shim_posix_test.go
  plugins/inputs/execd/shim/shim_test.go
  plugins/inputs/gnmi/gnmi_test.go
  plugins/inputs/hddtemp/go-hddtemp/hddtemp_test.go
  plugins/inputs/intel_dlb/intel_dlb_test.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/net_response/net_response_test.go
  plugins/inputs/radius/radius_test.go
  plugins/inputs/statsd/statsd_test.go
  plugins/inputs/teamspeak/teamspeak_test.go
  plugins/inputs/x509_cert/x509_cert_test.go
Labels: ready for final review, chore, linter

#15917 feat(inputs): Add option to choose the metric time source
  config/config.go
  docs/CONFIGURATION.md
  models/running_input.go
  models/running_input_test.go
Labels: feat, ready for final review, plugin/input

#15979 chore: Update go to v1.23.2
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore

#15985 chore(linters): Fix findings found by `testifylint`: `go-require` for `plugins/outputs`
  plugins/outputs/file/file_test.go
  plugins/outputs/graphite/graphite_test.go
  plugins/outputs/graylog/graylog_test_linux.go
  plugins/outputs/opentelemetry/opentelemetry_test.go
  plugins/outputs/postgresql/postgresql_bench_test.go
  plugins/outputs/postgresql/postgresql_test.go
  plugins/outputs/postgresql/table_manager_test.go
  plugins/outputs/postgresql/table_source_test.go
Labels: ready for final review, chore, linter

#15913 chore: Fix linter findings for `revive:exported` in `plugins/inputs/[a-b]*`
  plugins/inputs/activemq/activemq.go
  plugins/inputs/activemq/activemq_test.go
  plugins/inputs/aliyuncms/aliyuncms.go
  plugins/inputs/aliyuncms/aliyuncms_test.go
  plugins/inputs/aliyuncms/discovery.go
  plugins/inputs/amd_rocm_smi/amd_rocm_smi.go
  plugins/inputs/amqp_consumer/amqp_consumer.go
  plugins/inputs/aurora/aurora.go
  plugins/inputs/aurora/aurora_test.go
  plugins/inputs/azure_monitor/azure_monitor.go
  plugins/inputs/azure_storage_queue/azure_storage_queue.go
  plugins/inputs/bcache/bcache.go
  plugins/inputs/beat/beat.go
  plugins/inputs/beat/beat_test.go
  plugins/inputs/bond/bond.go
  plugins/inputs/burrow/burrow.go
  plugins/inputs/burrow/burrow_test.go
Labels: ready for final review, chore, linter

#15891 feat(common.socket): Allow parallel parsing with a pool of workers
  plugins/common/socket/datagram.go
  plugins/common/socket/socket.go
  plugins/common/socket/stream.go
Labels: feat, ready for final review, plugin/input

#15976 feat(inputs.socket_listener): Use reception time as timestamp
  plugins/common/socket/datagram.go
  plugins/common/socket/socket.go
  plugins/common/socket/socket_test.go
  plugins/common/socket/stream.go
  plugins/inputs/socket_listener/socket_listener.go
  plugins/inputs/syslog/syslog.go
Labels: feat, ready for final review, plugin/input

#16009 fix(inputs.netflow): Cast complex types to field compatible ones
  plugins/inputs/netflow/sflow_v5.go
  plugins/inputs/netflow/testcases/sflow_issue_15918/expected.out
  plugins/inputs/netflow/testcases/sflow_issue_15918/message.bin
  plugins/inputs/netflow/testcases/sflow_issue_15918/telegraf.conf
Labels: fix, area/network, ready for final review, plugin/input

#11591 feat(inputs.vsphere): Add VM memory configuration
  plugins/inputs/vsphere/README.md
  plugins/inputs/vsphere/endpoint.go
  plugins/inputs/vsphere/finder.go
Labels: feat, area/vsphere, ready for final review, plugin/input

#15968 fix(outputs.remotefile): Create a new serializer instance per output file
  config/config.go
  parser.go
  plugins/outputs/remotefile/README.md
  plugins/outputs/remotefile/remotefile.go
  plugins/outputs/remotefile/remotefile_test.go
  plugins/outputs/remotefile/sample.conf
  serializer.go
Labels: fix, ready for final review, plugin/output

#15980 chore: Fix linter findings for `revive:enforce-slice-style` in `plugins/parsers`, `plugins/processors`, `plugins/secretstores` and `plugins/serializers`
  plugins/parsers/collectd/parser.go
  plugins/parsers/collectd/parser_test.go
  plugins/parsers/csv/parser.go
  plugins/parsers/csv/parser_test.go
  plugins/parsers/influx/influx_upstream/parser.go
  plugins/parsers/influx/influx_upstream/parser_test.go
  plugins/parsers/influx/parser_test.go
  plugins/parsers/json/parser_test.go
  plugins/parsers/json_v2/parser_test.go
  plugins/parsers/logfmt/parser_test.go
  plugins/parsers/nagios/parser_test.go
  plugins/parsers/value/parser.go
  plugins/parsers/xpath/parser.go
  plugins/parsers/xpath/parser_test.go
  plugins/processors/aws_ec2/ec2_test.go
  plugins/processors/filter/filter_test.go
  plugins/processors/parser/parser.go
  plugins/processors/reverse_dns/rdnscache.go
  plugins/processors/split/split.go
  plugins/processors/starlark/starlark_test.go
  plugins/processors/topk/topk.go
  plugins/processors/topk/topk_test.go
  plugins/secretstores/http/decryption_test.go
  plugins/serializers/graphite/graphite.go
  plugins/serializers/json/json.go
  plugins/serializers/prometheus/collection_test.go
Labels: ready for final review, chore, linter

#16006 chore: Fix linter findings for `revive:exported` in `plugins/inputs/c*`
  plugins/inputs/ceph/ceph.go
  plugins/inputs/chrony/chrony.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt_test.go
  plugins/inputs/clickhouse/clickhouse.go
  plugins/inputs/cloud_pubsub/cloud_pubsub.go
  plugins/inputs/cloud_pubsub/cloud_pubsub_test.go
  plugins/inputs/cloud_pubsub/subscription_stub.go
  plugins/inputs/cloud_pubsub_push/cloud_pubsub_push.go
  plugins/inputs/cloudwatch/cloudwatch.go
  plugins/inputs/cloudwatch/cloudwatch_test.go
  plugins/inputs/cloudwatch_metric_streams/cloudwatch_metric_streams.go
  plugins/inputs/cloudwatch_metric_streams/cloudwatch_metric_streams_test.go
  plugins/inputs/conntrack/conntrack.go
  plugins/inputs/conntrack/conntrack_notlinux.go
  plugins/inputs/consul/consul.go
  plugins/inputs/consul/consul_test.go
  plugins/inputs/consul_agent/consul_agent.go
  plugins/inputs/consul_agent/consul_structs.go
  plugins/inputs/couchbase/couchbase.go
  plugins/inputs/couchbase/couchbase_data.go
  plugins/inputs/couchbase/couchbase_test.go
  plugins/inputs/couchdb/couchdb.go
  plugins/inputs/cpu/cpu.go
  plugins/inputs/cpu/cpu_test.go
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer.go
Labels: ready for final review, chore, linter

#16023 chore(deps): Bump upgrade github.com/shirou/gopsutil from v3.24.4 to v4.24.9
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/conntrack/conntrack_test.go
  plugins/inputs/cpu/cpu.go
  plugins/inputs/cpu/cpu_test.go
  plugins/inputs/disk/disk.go
  plugins/inputs/disk/disk_test.go
  plugins/inputs/diskio/diskio.go
  plugins/inputs/diskio/diskio_test.go
  plugins/inputs/intel_powerstat/intel_powerstat.go
  plugins/inputs/mem/mem_test.go
  plugins/inputs/net/net_test.go
  plugins/inputs/netstat/netstat_test.go
  plugins/inputs/procstat/filter.go
  plugins/inputs/procstat/native_finder.go
  plugins/inputs/procstat/os_linux.go
  plugins/inputs/procstat/os_others.go
  plugins/inputs/procstat/os_windows.go
  plugins/inputs/procstat/process.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/procstat_test.go
  plugins/inputs/procstat/service_finders.go
  plugins/inputs/swap/swap_test.go
  plugins/inputs/system/mock_PS.go
  plugins/inputs/system/ps.go
  plugins/inputs/system/system.go
  plugins/inputs/system/system_test.go
  plugins/inputs/temp/temp_notlinux.go
  plugins/inputs/temp/temp_test.go
Labels: ready for final review, dependencies, chore

#16014 fix(outputs.syslog): Trim field-names belonging to explicit SDIDs correctly
  plugins/outputs/syslog/syslog.go
  plugins/outputs/syslog/syslog_mapper.go
  plugins/outputs/syslog/syslog_test.go
  plugins/outputs/syslog/testcases/issue_16012/expected.out
  plugins/outputs/syslog/testcases/issue_16012/input.influx
  plugins/outputs/syslog/testcases/issue_16012/telegraf.conf
Labels: fix, area/syslog, ready for final review, plugin/output

#15943 feat(outputs.mqtt): Add sprig functions for topic name generator
  plugins/outputs/mqtt/topic_name_generator.go
Labels: feat, area/mqtt, ready for final review, plugin/output

#15981 chore: Fix linter findings for `revive:enforce-map-style` in `plugins/outputs`
  plugins/outputs/cloudwatch_logs/cloudwatch_logs.go
  plugins/outputs/loki/stream.go
  plugins/outputs/mongodb/mongodb.go
  plugins/outputs/nebius_cloud_monitoring/nebius_cloud_monitoring.go
  plugins/outputs/postgresql/table_source.go
  plugins/outputs/registry.go
  plugins/outputs/yandex_cloud_monitoring/yandex_cloud_monitoring.go
Labels: ready for final review, chore, linter

#16016 chore: Fix linter findings for `revive:exported` in `plugins/inputs/d*`
  plugins/common/docker/stats_helpers.go
  plugins/inputs/dcos/client.go
  plugins/inputs/dcos/client_test.go
  plugins/inputs/dcos/creds.go
  plugins/inputs/dcos/dcos.go
  plugins/inputs/dcos/dcos_test.go
  plugins/inputs/directory_monitor/directory_monitor.go
  plugins/inputs/directory_monitor/directory_monitor_test.go
  plugins/inputs/disk/disk.go
  plugins/inputs/disk/disk_test.go
  plugins/inputs/diskio/diskio.go
  plugins/inputs/disque/disque.go
  plugins/inputs/dmcache/dmcache.go
  plugins/inputs/dns_query/dns_query.go
  plugins/inputs/dns_query/dns_query_test.go
  plugins/inputs/docker/client.go
  plugins/inputs/docker/docker.go
  plugins/inputs/docker/docker_test.go
  plugins/inputs/docker/docker_testdata.go
  plugins/inputs/docker_log/client.go
  plugins/inputs/docker_log/docker_log.go
  plugins/inputs/docker_log/docker_log_test.go
  plugins/inputs/dovecot/dovecot.go
  plugins/inputs/dpdk/dpdk.go
  plugins/inputs/dpdk/dpdk_cmds.go
  plugins/inputs/dpdk/dpdk_connector_test.go
  plugins/inputs/dpdk/dpdk_test.go
  plugins/inputs/ecs/stats.go
Labels: ready for final review, chore, linter

#16010 feat(agent): Add --watch-interval option for polling config changes
  cmd/telegraf/main.go
  cmd/telegraf/telegraf.go
  go.mod
  go.sum
Labels: feat, area/agent, ready for final review

#15999 docs(outputs): Clarify buffer limits behavior and fix spec wording
  docs/CONFIGURATION.md
  docs/specs/tsd-005-output-buffer-strategy.md
  plugins/outputs/azure_monitor/README.md
Labels: docs, ready for final review, plugin/output

#16026 fix(inputs.opcua): Allow to retry reads on invalid sessions
  plugins/inputs/opcua/README.md
  plugins/inputs/opcua/read_client.go
  plugins/inputs/opcua/sample.conf
Labels: fix, area/opcua, ready for final review, plugin/input

#16032 chore: Fix linter findings for `revive:enforce-slice-style` in `plugins/outputs`
  plugins/outputs/amon/amon.go
  plugins/outputs/clarify/clarify_test.go
  plugins/outputs/cloudwatch/cloudwatch_test.go
  plugins/outputs/cloudwatch_logs/cloudwatch_logs.go
  plugins/outputs/datadog/datadog.go
  plugins/outputs/datadog/datadog_test.go
  plugins/outputs/dynatrace/dynatrace.go
  plugins/outputs/dynatrace/dynatrace_test.go
  plugins/outputs/elasticsearch/elasticsearch.go
  plugins/outputs/elasticsearch/elasticsearch_test.go
  plugins/outputs/exec/exec_test.go
  plugins/outputs/graylog/graylog.go
  plugins/outputs/iotdb/iotdb_test.go
  plugins/outputs/kinesis/kinesis.go
  plugins/outputs/kinesis/kinesis_test.go
  plugins/outputs/librato/librato.go
  plugins/outputs/opensearch/opensearch_test.go
  plugins/outputs/opentelemetry/opentelemetry.go
  plugins/outputs/postgresql/sqltemplate/template.go
  plugins/outputs/postgresql/table_manager_test.go
  plugins/outputs/riemann/riemann.go
  plugins/outputs/sensu/sensu.go
  plugins/outputs/signalfx/signalfx_test.go
  plugins/outputs/socket_writer/socket_writer_test.go
  plugins/outputs/stackdriver/stackdriver.go
  plugins/outputs/syslog/syslog_test.go
  plugins/outputs/timestream/timestream_internal_test.go
  plugins/outputs/zabbix/lld_test.go
  plugins/outputs/zabbix/zabbix_test.go
Labels: ready for final review, chore, linter

#16027 feat(inputs.snmp): Convert uneven bytes to int
  internal/snmp/field.go
  internal/snmp/field_test.go
Labels: feat, area/snmp, ready for final review, plugin/input

#16039 chore: Fix linter findings for `revive:enforce-map-style` in `plugins/aggregators`, `plugins/common`, `plugins/parsers`, `plugins/processors`, `plugins/secretstores` and `plugins/serializers`
  plugins/aggregators/basicstats/basicstats.go
  plugins/aggregators/deprecations.go
  plugins/aggregators/final/final.go
  plugins/aggregators/histogram/histogram.go
  plugins/aggregators/minmax/minmax.go
  plugins/aggregators/quantile/quantile.go
  plugins/aggregators/registry.go
  plugins/aggregators/valuecounter/valuecounter.go
  plugins/common/opcua/input/input_client.go
  plugins/common/shim/config.go
  plugins/parsers/csv/parser.go
  plugins/parsers/deprecations.go
  plugins/parsers/dropwizard/parser.go
  plugins/parsers/graphite/config.go
  plugins/parsers/graphite/parser.go
  plugins/parsers/json_v2/parser.go
  plugins/parsers/prometheus/common.go
  plugins/parsers/prometheusremotewrite/parser.go
  plugins/parsers/registry.go
  plugins/processors/deprecations.go
  plugins/processors/registry.go
  plugins/processors/reverse_dns/rdnscache.go
  plugins/secretstores/deprecations.go
  plugins/secretstores/registry.go
  plugins/serializers/deprecations.go
  plugins/serializers/nowmetric/nowmetric.go
  plugins/serializers/registry.go
  plugins/serializers/splunkmetric/splunkmetric.go
Labels: ready for final review, chore, linter

#15966 fix(agent): Use a unique WAL file for plugin instances of the same type
  docs/CONFIGURATION.md
  models/buffer.go
  models/buffer_disk.go
  models/buffer_disk_test.go
  models/buffer_mem_test.go
  models/buffer_suite_test.go
  models/running_output.go
Labels: fix, area/agent, ready for final review, plugin/output

#16042 chore: Fix linter findings for `revive:enforce-map-style` in `plugins/inputs/[a-m]*`
  plugins/inputs/aliyuncms/aliyuncms.go
  plugins/inputs/aliyuncms/discovery.go
  plugins/inputs/amd_rocm_smi/amd_rocm_smi.go
  plugins/inputs/ceph/ceph.go
  plugins/inputs/chrony/chrony.go
  plugins/inputs/cloudwatch/cloudwatch.go
  plugins/inputs/couchdb/couchdb.go
  plugins/inputs/directory_monitor/directory_monitor.go
  plugins/inputs/diskio/diskio.go
  plugins/inputs/docker/docker.go
  plugins/inputs/elasticsearch/elasticsearch.go
  plugins/inputs/elasticsearch_query/aggregation_parser.go
  plugins/inputs/ethtool/ethtool_linux.go
  plugins/inputs/fibaro/hc2/parser.go
  plugins/inputs/hugepages/hugepages.go
  plugins/inputs/intel_rdt/intel_rdt.go
  plugins/inputs/intel_rdt/publisher.go
  plugins/inputs/internal/internal.go
  plugins/inputs/jenkins/jenkins.go
  plugins/inputs/kernel/kernel.go
  plugins/inputs/kernel_vmstat/kernel_vmstat.go
  plugins/inputs/kube_inventory/node.go
  plugins/inputs/kube_inventory/pod.go
  plugins/inputs/kube_inventory/resourcequotas.go
  plugins/inputs/linux_sysctl_fs/linux_sysctl_fs.go
  plugins/inputs/lustre2/lustre2.go
  plugins/inputs/modbus/configuration.go
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/modbus.go
  plugins/inputs/mongodb/mongostat.go
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/inputs/mysql/mysql.go
Labels: ready for final review, chore, linter

#16062 chore(inputs): Add removal version for old plugins
  plugins/inputs/deprecations.go
Labels: ready for final review, plugin/input, chore

#16050 chore: Fix linter findings for `revive:exported` in `plugins/inputs/h*`
  plugins/inputs/haproxy/haproxy.go
  plugins/inputs/haproxy/haproxy_test.go
  plugins/inputs/hddtemp/go-hddtemp/hddtemp.go
  plugins/inputs/hddtemp/hddtemp.go
  plugins/inputs/hddtemp/hddtemp_test.go
  plugins/inputs/http/http.go
  plugins/inputs/http/http_test.go
  plugins/inputs/http_listener_v2/http_listener_v2.go
  plugins/inputs/http_listener_v2/http_listener_v2_test.go
  plugins/inputs/http_response/http_response.go
  plugins/inputs/hugepages/hugepages.go
  plugins/inputs/hugepages/hugepages_notlinux.go
Labels: ready for final review, chore, linter

#16043 chore: Fix linter findings for `revive:enforce-slice-style` in `plugins/inputs/[p-z]*`
  plugins/inputs/p4runtime/p4runtime_test.go
  plugins/inputs/ping/ping.go
  plugins/inputs/postgresql/postgresql_test.go
  plugins/inputs/postgresql_extensible/postgresql_extensible_test.go
  plugins/inputs/procstat/pgrep.go
  plugins/inputs/procstat/procstat_test.go
  plugins/inputs/sflow/decoder_test.go
  plugins/inputs/sflow/metricencoder.go
  plugins/inputs/sflow/packetdecoder.go
  plugins/inputs/smart/smart.go
  plugins/inputs/smart/smart_test.go
  plugins/inputs/snmp/snmp_test.go
  plugins/inputs/snmp_trap/snmp_trap_test.go
  plugins/inputs/sqlserver/sqlserver_test.go
  plugins/inputs/stackdriver/stackdriver.go
  plugins/inputs/stackdriver/stackdriver_test.go
  plugins/inputs/statsd/statsd_test.go
  plugins/inputs/supervisor/supervisor_test.go
  plugins/inputs/sysstat/sysstat.go
  plugins/inputs/system/system_test.go
  plugins/inputs/varnish/varnish.go
  plugins/inputs/vsphere/client.go
  plugins/inputs/vsphere/vsan.go
  plugins/inputs/vsphere/vsphere_test.go
  plugins/inputs/wireguard/wireguard.go
  plugins/inputs/zfs/zfs_linux_test.go
  plugins/inputs/zipkin/codec/codec_test.go
  plugins/inputs/zipkin/codec/thrift/thrift_test.go
  plugins/inputs/zipkin/convert_test.go
  plugins/inputs/zipkin/handler_test.go
Labels: ready for final review, chore, linter

#16044 chore: Fix linter findings for `revive:exported` in `plugins/inputs/e*`
  plugins/inputs/ecs/client.go
  plugins/inputs/ecs/client_test.go
  plugins/inputs/ecs/ecs.go
  plugins/inputs/ecs/ecs_test.go
  plugins/inputs/ecs/stats.go
  plugins/inputs/ecs/types.go
  plugins/inputs/elasticsearch/elasticsearch.go
  plugins/inputs/elasticsearch/elasticsearch_test.go
  plugins/inputs/elasticsearch_query/elasticsearch_query.go
  plugins/inputs/ethtool/ethtool.go
  plugins/inputs/ethtool/ethtool_linux.go
  plugins/inputs/ethtool/ethtool_test.go
  plugins/inputs/ethtool/namespace.go
  plugins/inputs/ethtool/namespace_linux.go
  plugins/inputs/eventhub_consumer/eventhub_consumer.go
  plugins/inputs/exec/exec.go
  plugins/inputs/exec/exec_test.go
  plugins/inputs/exec/run_notwinodws.go
  plugins/inputs/exec/run_windows.go
  plugins/inputs/execd/execd.go
  plugins/inputs/execd/shim/goshim.go
  plugins/inputs/execd/shim/input.go
Labels: ready for final review, chore, linter

#16049 chore: Fix linter findings for `revive:exported` in `plugins/inputs/g*`
  plugins/inputs/github/github.go
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/gnmi_test.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/path.go
  plugins/inputs/gnmi/tag_store.go
  plugins/inputs/gnmi/update_fields.go
  plugins/inputs/google_cloud_storage/google_cloud_storage.go
  plugins/inputs/graylog/graylog.go
  plugins/inputs/graylog/graylog_test.go
Labels: ready for final review, chore, linter

#16040 feat(inputs.modbus): Allow grouping across register types
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/configuration_metric.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/sample_general_begin.conf
  plugins/inputs/modbus/testcases/duplicate_fields_different_registers/init.err
  plugins/inputs/modbus/testcases/duplicate_fields_different_registers/telegraf.conf
  plugins/inputs/modbus/testcases/metric_style_issue_16031/expected.out
  plugins/inputs/modbus/testcases/metric_style_issue_16031/telegraf.conf
Labels: feat, area/modbus, ready for final review, plugin/input

#16074 fix(inputs.kafka_consumer): Fix deadlock
  plugins/inputs/kafka_consumer/kafka_consumer.go
Labels: area/kafka, fix, ready for final review, plugin/input

#16069 docs(processors.starlark): Correct typo
  plugins/processors/starlark/README.md
Labels: docs, area/starlark, ready for final review, plugin/processor

#16075 chore: Fix linter findings for `revive:exported` in `plugins/inputs/i*`
  plugins/inputs/icinga2/icinga2.go
  plugins/inputs/icinga2/icinga2_test.go
  plugins/inputs/infiniband/infiniband.go
  plugins/inputs/influxdb/influxdb.go
  plugins/inputs/influxdb/influxdb_test.go
  plugins/inputs/influxdb_listener/influxdb_listener.go
  plugins/inputs/influxdb_v2_listener/influxdb_v2_listener.go
  plugins/inputs/intel_baseband/intel_baseband.go
  plugins/inputs/intel_baseband/intel_baseband_notamd64linux.go
  plugins/inputs/intel_baseband/intel_baseband_test.go
  plugins/inputs/intel_baseband/sock_connector_test.go
  plugins/inputs/intel_dlb/intel_dlb.go
  plugins/inputs/intel_dlb/intel_dlb_notlinux.go
  plugins/inputs/intel_pmt/intel_pmt.go
  plugins/inputs/intel_pmt/intel_pmt_notamd64linux.go
  plugins/inputs/intel_pmu/activators.go
  plugins/inputs/intel_pmu/activators_test.go
  plugins/inputs/intel_pmu/config.go
  plugins/inputs/intel_pmu/config_test.go
  plugins/inputs/intel_pmu/intel_pmu.go
  plugins/inputs/intel_pmu/intel_pmu_notamd64linux.go
  plugins/inputs/intel_pmu/intel_pmu_test.go
  plugins/inputs/intel_pmu/mocks.go
  plugins/inputs/intel_pmu/reader.go
  plugins/inputs/intel_pmu/reader_test.go
  plugins/inputs/intel_pmu/resolver.go
  plugins/inputs/intel_pmu/resolver_test.go
  plugins/inputs/intel_powerstat/intel_powerstat.go
  plugins/inputs/intel_powerstat/intel_powerstat_notlinux.go
  plugins/inputs/intel_rdt/intel_rdt.go
  plugins/inputs/intel_rdt/intel_rdt_test.go
  plugins/inputs/intel_rdt/intel_rdt_windows.go
  plugins/inputs/intel_rdt/processes.go
  plugins/inputs/intel_rdt/publisher.go
  plugins/inputs/intel_rdt/publisher_test.go
  plugins/inputs/internal/internal.go
  plugins/inputs/internal/internal_test.go
  plugins/inputs/internet_speed/internet_speed.go
  plugins/inputs/interrupts/interrupts.go
  plugins/inputs/interrupts/interrupts_test.go
  plugins/inputs/ipmi_sensor/connection.go
  plugins/inputs/ipmi_sensor/connection_test.go
  plugins/inputs/ipmi_sensor/ipmi_sensor.go
  plugins/inputs/ipmi_sensor/ipmi_sensor_test.go
  plugins/inputs/ipset/ipset.go
  plugins/inputs/iptables/iptables.go
  plugins/inputs/iptables/iptables_notlinux.go
  plugins/inputs/ipvs/ipvs.go
  plugins/inputs/ipvs/ipvs_notlinux.go
Labels: ready for final review, chore, linter

#16072 chore: Fix linter findings for `revive:enforce-map-style` in `plugins/inputs/[n-z]*`
  plugins/inputs/net/net.go
  plugins/inputs/netstat/netstat.go
  plugins/inputs/nginx_plus/nginx_plus.go
  plugins/inputs/nginx_plus_api/nginx_plus_api_metrics.go
  plugins/inputs/nginx_sts/nginx_sts.go
  plugins/inputs/nginx_vts/nginx_vts.go
  plugins/inputs/nstat/nstat.go
  plugins/inputs/nvidia_smi/schema_v11/parser.go
  plugins/inputs/nvidia_smi/schema_v12/parser.go
  plugins/inputs/openldap/openldap.go
  plugins/inputs/opensearch_query/aggregation.response.go
  plugins/inputs/openstack/openstack.go
  plugins/inputs/phpfpm/child.go
  plugins/inputs/ping/ping.go
  plugins/inputs/prometheus/kubernetes.go
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/ras/ras.go
  plugins/inputs/redfish/redfish.go
  plugins/inputs/redis/redis.go
  plugins/inputs/redis_sentinel/redis_sentinel.go
  plugins/inputs/registry.go
  plugins/inputs/riemann_listener/riemann_listener.go
  plugins/inputs/salesforce/salesforce.go
  plugins/inputs/sensors/sensors.go
  plugins/inputs/sflow/metricencoder.go
  plugins/inputs/sflow/types.go
  plugins/inputs/slab/slab.go
  plugins/inputs/smart/smart.go
  plugins/inputs/snmp/snmp.go
  plugins/inputs/snmp_trap/snmp_trap.go
  plugins/inputs/socketstat/socketstat.go
  plugins/inputs/sqlserver/sqlserver.go
  plugins/inputs/supervisor/supervisor.go
  plugins/inputs/synproxy/synproxy_linux.go
  plugins/inputs/sysstat/sysstat.go
  plugins/inputs/vsphere/endpoint.go
Labels: ready for final review, chore, linter

#16079 chore(outputs): Fix line-length in READMEs
  README.md
  plugins/outputs/cloudwatch/README.md
  plugins/outputs/cloudwatch/sample.conf
  plugins/outputs/cloudwatch_logs/README.md
  plugins/outputs/cloudwatch_logs/sample.conf
  plugins/outputs/logzio/README.md
  plugins/outputs/opentelemetry/README.md
  plugins/outputs/postgresql/README.md
  plugins/outputs/postgresql/sample.conf
  plugins/outputs/timestream/README.md
  plugins/outputs/timestream/sample.conf
  plugins/outputs/wavefront/README.md
  plugins/outputs/wavefront/sample.conf
Labels: docs, plugin/output, chore, linter

#16076 chore(linters): Fix findings found by `testifylint`: `go-require` for handlers for `plugins/inputs/[a-m]`
  plugins/inputs/activemq/activemq_test.go
  plugins/inputs/apache/apache_test.go
  plugins/inputs/aurora/aurora_test.go
  plugins/inputs/beat/beat_test.go
  plugins/inputs/clickhouse/clickhouse_test.go
  plugins/inputs/consul_agent/consul_agent_test.go
  plugins/inputs/couchbase/couchbase_test.go
  plugins/inputs/couchdb/couchdb_test.go
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer_test.go
  plugins/inputs/fibaro/fibaro_test.go
  plugins/inputs/fireboard/fireboard_test.go
  plugins/inputs/fluentd/fluentd_test.go
  plugins/inputs/google_cloud_storage/google_cloud_storage_test.go
  plugins/inputs/haproxy/haproxy_test.go
  plugins/inputs/http/http_test.go
  plugins/inputs/http_response/http_response_test.go
  plugins/inputs/icinga2/icinga2_test.go
  plugins/inputs/influxdb/influxdb_test.go
  plugins/inputs/jolokia2_agent/jolokia2_agent_test.go
  plugins/inputs/jolokia2_proxy/jolokia2_proxy_test.go
  plugins/inputs/kapacitor/kapacitor_test.go
  plugins/inputs/kubernetes/kubernetes_test.go
  plugins/inputs/logstash/logstash_test.go
  plugins/inputs/mailchimp/mailchimp_test.go
  plugins/inputs/marklogic/marklogic_test.go
  plugins/inputs/monit/monit_test.go
Labels: ready for final review, plugin/input, chore, linter

#16077 chore: Enable `revive:enforce-map-style` rule
  .golangci.yml
  config/config.go
  internal/snmp/table.go
  internal/snmp/translator_gosmi.go
  internal/templating/matcher.go
  models/buffer.go
  models/running_input.go
  plugins/inputs/win_eventlog/util.go
  plugins/inputs/win_eventlog/win_eventlog.go
  plugins/inputs/win_wmi/method.go
  plugins/inputs/win_wmi/query.go
  selfstat/selfstat.go
  testutil/accumulator.go
  tools/custom_builder/config.go
  tools/license_checker/main.go
Labels: ready for final review, chore, linter

#16071 chore: Fix linter findings for `revive:enforce-slice-style` in `plugins/inputs/[k-o]*`
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/kernel/kernel_test.go
  plugins/inputs/kube_inventory/daemonset_test.go
  plugins/inputs/kube_inventory/deployment_test.go
  plugins/inputs/kube_inventory/kube_inventory.go
  plugins/inputs/kube_inventory/persistentvolumeclaim_test.go
  plugins/inputs/kube_inventory/pod_test.go
  plugins/inputs/kube_inventory/resourcequotas_test.go
  plugins/inputs/kube_inventory/service_test.go
  plugins/inputs/kube_inventory/statefulset_test.go
  plugins/inputs/kubernetes/kubernetes.go
  plugins/inputs/ldap/ldap_test.go
  plugins/inputs/libvirt/libvirt_test.go
  plugins/inputs/libvirt/libvirt_utils.go
  plugins/inputs/mesos/mesos.go
  plugins/inputs/mesos/mesos_test.go
  plugins/inputs/minecraft/client.go
  plugins/inputs/minecraft/client_test.go
  plugins/inputs/minecraft/minecraft_test.go
  plugins/inputs/modbus/configuration.go
  plugins/inputs/modbus/configuration_register_test.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/configuration_request_test.go
  plugins/inputs/modbus/request.go
  plugins/inputs/mongodb/mongodb_data.go
  plugins/inputs/neptune_apex/neptune_apex_test.go
  plugins/inputs/netflow/type_conversion_test.go
  plugins/inputs/opcua/opcua_test.go
  plugins/inputs/opcua_listener/opcua_listener_test.go
  plugins/inputs/opcua_listener/subscribe_client.go
  plugins/inputs/openldap/openldap_test.go
  plugins/inputs/opensearch_query/opensearch_query_test.go
Labels: ready for final review, chore, linter

#16078 chore: Fix linter findings for `revive:exported` in `plugins/inputs/j*`
  plugins/inputs/jenkins/client.go
  plugins/inputs/jenkins/jenkins.go
  plugins/inputs/jenkins/jenkins_test.go
  plugins/inputs/jolokia2_agent/jolokia2_agent.go
  plugins/inputs/jolokia2_agent/jolokia2_agent_test.go
  plugins/inputs/jolokia2_proxy/jolokia2_proxy.go
  plugins/inputs/jolokia2_proxy/jolokia2_proxy_test.go
  plugins/inputs/jti_openconfig_telemetry/collection.go
  plugins/inputs/jti_openconfig_telemetry/jti_openconfig_telemetry.go
Labels: ready for final review, chore, linter

#16098 chore(linters): Fix findings found by `testifylint`: `go-require` for handlers for `plugins/inputs/[n-z]`
  plugins/inputs/nats/nats_test.go
  plugins/inputs/neptune_apex/neptune_apex_test.go
  plugins/inputs/nginx/nginx_test.go
  plugins/inputs/nginx_plus/nginx_plus_test.go
  plugins/inputs/nginx_plus_api/nginx_plus_api_metrics_test.go
  plugins/inputs/nginx_sts/nginx_sts_test.go
  plugins/inputs/nginx_upstream_check/nginx_upstream_check_test.go
  plugins/inputs/nginx_vts/nginx_vts_test.go
  plugins/inputs/nomad/nomad_test.go
  plugins/inputs/nsq/nsq_test.go
  plugins/inputs/openweathermap/openweathermap_test.go
  plugins/inputs/phpfpm/fcgi_test.go
  plugins/inputs/phpfpm/phpfpm_test.go
  plugins/inputs/prometheus/prometheus_test.go
  plugins/inputs/rabbitmq/rabbitmq_test.go
  plugins/inputs/raindrops/raindrops_test.go
  plugins/inputs/ravendb/ravendb_test.go
  plugins/inputs/riak/riak_test.go
  plugins/inputs/salesforce/salesforce_test.go
  plugins/inputs/slurm/slurm_test.go
  plugins/inputs/solr/solr_test.go
  plugins/inputs/tengine/tengine_test.go
  plugins/inputs/tomcat/tomcat_test.go
  plugins/inputs/uwsgi/uwsgi_test.go
  plugins/inputs/vault/vault_test.go
  plugins/inputs/xtremio/xtremio_test.go
Labels: ready for final review, chore, linter

#16089 docs(aggregators): Add plugin metadata and update description
  plugins/aggregators/basicstats/README.md
  plugins/aggregators/derivative/README.md
  plugins/aggregators/final/README.md
  plugins/aggregators/histogram/README.md
  plugins/aggregators/merge/README.md
  plugins/aggregators/minmax/README.md
  plugins/aggregators/quantile/README.md
  plugins/aggregators/starlark/README.md
  plugins/aggregators/valuecounter/README.md
  plugins/outputs/wavefront/README.md
Labels: docs, ready for final review, plugin/aggregator

#16015 fix(inputs.bind): Convert counters to uint64
  CHANGELOG.md
  plugins/inputs/bind/README.md
  plugins/inputs/bind/bind.go
  plugins/inputs/bind/bind_test.go
  plugins/inputs/bind/sample.conf
  plugins/inputs/bind/xml_stats_v3.go
Labels: fix, ready for final review, plugin/input

#16111 fix(common.socket): Make sure the scanner buffer matches the read-buffer size
  plugins/common/socket/stream.go
  plugins/inputs/socket_listener/socket_listener_test.go
Labels: fix, ready for final review, plugin/input

#16097 docs(inputs): Add plugin metadata and update description for a* to f*
  docs/CONFIGURATION.md
  plugins/inputs/activemq/README.md
  plugins/inputs/aerospike/README.md
  plugins/inputs/aliyuncms/README.md
  plugins/inputs/amd_rocm_smi/README.md
  plugins/inputs/amqp_consumer/README.md
  plugins/inputs/apache/README.md
  plugins/inputs/apcupsd/README.md
  plugins/inputs/aurora/README.md
  plugins/inputs/azure_monitor/README.md
  plugins/inputs/azure_storage_queue/README.md
  plugins/inputs/bcache/README.md
  plugins/inputs/beanstalkd/README.md
  plugins/inputs/beat/README.md
  plugins/inputs/bind/README.md
  plugins/inputs/bond/README.md
  plugins/inputs/burrow/README.md
  plugins/inputs/ceph/README.md
  plugins/inputs/cgroup/README.md
  plugins/inputs/chrony/README.md
  plugins/inputs/cisco_telemetry_mdt/README.md
  plugins/inputs/clickhouse/README.md
  plugins/inputs/cloud_pubsub/README.md
  plugins/inputs/cloud_pubsub_push/README.md
  plugins/inputs/cloudwatch/README.md
  plugins/inputs/cloudwatch_metric_streams/README.md
  plugins/inputs/conntrack/README.md
  plugins/inputs/consul/README.md
  plugins/inputs/consul_agent/README.md
  plugins/inputs/couchbase/README.md
  plugins/inputs/couchdb/README.md
  plugins/inputs/cpu/README.md
  plugins/inputs/csgo/README.md
  plugins/inputs/ctrlx_datalayer/README.md
  plugins/inputs/dcos/README.md
  plugins/inputs/directory_monitor/README.md
  plugins/inputs/disk/README.md
  plugins/inputs/diskio/README.md
  plugins/inputs/disque/README.md
  plugins/inputs/dmcache/README.md
  plugins/inputs/dns_query/README.md
  plugins/inputs/docker/README.md
  plugins/inputs/docker_log/README.md
  plugins/inputs/dovecot/README.md
  plugins/inputs/dpdk/README.md
  plugins/inputs/ecs/README.md
  plugins/inputs/elasticsearch/README.md
  plugins/inputs/elasticsearch_query/README.md
  plugins/inputs/ethtool/README.md
  plugins/inputs/eventhub_consumer/README.md
  plugins/inputs/example/README.md
  plugins/inputs/exec/README.md
  plugins/inputs/execd/README.md
  plugins/inputs/fail2ban/README.md
  plugins/inputs/fibaro/README.md
  plugins/inputs/file/README.md
  plugins/inputs/filecount/README.md
  plugins/inputs/filestat/README.md
  plugins/inputs/fireboard/README.md
  plugins/inputs/fluentd/README.md
Labels: docs, ready for final review, plugin/input

#16091 chore: Fix linter findings for `revive:exported` in `plugins/inputs/k*`
  plugins/inputs/bcache/bcache_notlinux.go
  plugins/inputs/conntrack/conntrack_notlinux.go
  plugins/inputs/dpdk/dpdk_notlinux.go
  plugins/inputs/hugepages/hugepages_notlinux.go
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/kapacitor/kapacitor.go
  plugins/inputs/kernel/kernel.go
  plugins/inputs/kernel/kernel_notlinux.go
  plugins/inputs/kernel_vmstat/kernel_vmstat_notlinux.go
  plugins/inputs/kibana/kibana.go
  plugins/inputs/kibana/kibana_test.go
  plugins/inputs/kinesis_consumer/kinesis_consumer.go
  plugins/inputs/knx_listener/knx_dummy_interface.go
  plugins/inputs/knx_listener/knx_listener.go
  plugins/inputs/knx_listener/knx_listener_test.go
  plugins/inputs/kube_inventory/kube_inventory.go
  plugins/inputs/kubernetes/kubernetes.go
  plugins/inputs/kubernetes/kubernetes_pods.go
Labels: ready for final review, chore, linter

#16088 chore: Fix linter findings for `revive:enforce-slice-style` in `plugins/inputs/[e-j]*`
  plugins/inputs/elasticsearch_query/elasticsearch_query_test.go
  plugins/inputs/ethtool/ethtool_linux.go
  plugins/inputs/ethtool/ethtool_test.go
  plugins/inputs/eventhub_consumer/eventhub_consumer.go
  plugins/inputs/execd/shim/goshim.go
  plugins/inputs/filecount/filecount.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/path.go
  plugins/inputs/google_cloud_storage/google_cloud_storage_test.go
  plugins/inputs/hugepages/hugepages_test.go
  plugins/inputs/icinga2/icinga2_test.go
  plugins/inputs/intel_dlb/intel_dlb_test.go
  plugins/inputs/intel_pmt/intel_pmt_test.go
  plugins/inputs/intel_pmu/intel_pmu_test.go
  plugins/inputs/intel_powerstat/intel_powerstat_test.go
  plugins/inputs/interrupts/interrupts.go
  plugins/inputs/ipmi_sensor/ipmi_sensor_test.go
  plugins/inputs/iptables/iptables_test.go
  plugins/inputs/jenkins/jenkins.go
  plugins/inputs/jenkins/jenkins_test.go
  plugins/inputs/jolokia2_agent/jolokia2_agent.go
  plugins/inputs/jolokia2_agent/jolokia2_agent_test.go
  plugins/inputs/jolokia2_proxy/jolokia2_proxy.go
  plugins/inputs/jolokia2_proxy/jolokia2_proxy_test.go
  plugins/inputs/jti_openconfig_telemetry/jti_openconfig_telemetry.go
Labels: ready for final review, chore, linter
