Repository influxdata/telegraf, pull requests merged in 2024-08, with the labels that each got.

#15636 feat(common.shim): Enable metric tracking within external plugins
  docs/INPUTS.md
  docs/METRICS.md
  plugins/common/shim/goshim.go
Labels: feat, external plugin, ready for final review

#15640 feat(common.cookie): Allow usage of secrets for header
  plugins/common/cookie/cookie.go
  plugins/common/cookie/cookie_test.go
  plugins/inputs/http/README.md
  plugins/outputs/http/README.md
Labels: feat, ready for final review

#15697 feat(parsers.value): Add base64 datatype
  plugins/parsers/value/README.md
  plugins/parsers/value/parser.go
  plugins/parsers/value/parser_test.go
Labels: feat, fix, ready for final review, plugin/parser

#15714 docs(inputs.nats): Update NATS monitoring URL
  plugins/inputs/nats/README.md
Labels: docs, plugin/input

#15713 docs(inputs.netflow): Add note on how to tag metrics
  plugins/inputs/netflow/README.md
Labels: docs, area/network, ready for final review, plugin/input

#15702 feat(outputs.datadog): Add support for submitting alongside dd-agent
  plugins/outputs/datadog/README.md
  plugins/outputs/datadog/datadog.go
  plugins/outputs/datadog/datadog_test.go
  plugins/outputs/datadog/sample.conf
Labels: feat, area/statsd, ready for final review, plugin/output

#15519 feat(inputs.azure_monitor): Add client options parameter
  go.mod
  go.sum
  plugins/inputs/azure_monitor/README.md
  plugins/inputs/azure_monitor/azure_monitor.go
  plugins/inputs/azure_monitor/azure_monitor_test.go
  plugins/inputs/azure_monitor/sample.conf
  plugins/inputs/azure_monitor/testdata/toml/gather_success_cloud_option_china.toml
  plugins/inputs/azure_monitor/testdata/toml/gather_success_cloud_option_government.toml
  plugins/inputs/azure_monitor/testdata/toml/gather_success_cloud_option_public.toml
Labels: feat, area/azure, ready for final review, plugin/input

#15703 chore(deps): Bump github.com/aws/aws-sdk-go-v2/service/kinesis from v1.27.4 to v1.29.3
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#15637 feat(inputs.opentelemetry): Add profiles support
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/opentelemetry/README.md
  plugins/inputs/opentelemetry/grpc_service_profile.go
  plugins/inputs/opentelemetry/opentelemetry.go
  plugins/inputs/opentelemetry/opentelemetry_test.go
  plugins/inputs/opentelemetry/sample.conf
  plugins/inputs/opentelemetry/testcases/profiles/expected.out
  plugins/inputs/opentelemetry/testcases/profiles/profiles.json
  plugins/inputs/opentelemetry/testcases/profiles/telegraf.conf
Labels: feat, ready for final review, plugin/input

#15720 chore(deps): Bump Go from v1.22.5 to v1.22.6
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore, go

#15552 fix(inputs.chrony): Use DGRAM for the unix socket
  plugins/inputs/chrony/README.md
  plugins/inputs/chrony/chrony.go
  plugins/inputs/chrony/sample.conf
Labels: fix, ready for final review, plugin/input

#15728 test(inputs.pgbouncer): Update container version
  plugins/inputs/pgbouncer/pgbouncer_test.go
Labels: feat, ready for final review, plugin/input, test

#15724 fix: use --scan-open instead of --scan of smartctl to provide correct…
  plugins/inputs/smartctl/README.md
  plugins/inputs/smartctl/sample.conf
  plugins/inputs/smartctl/smartctl_scan.go
Labels: fix, ready for final review

#15722 feat(outputs.kafka): Option to add metric name as record header
  plugins/outputs/kafka/README.md
  plugins/outputs/kafka/kafka.go
  plugins/outputs/kafka/sample.conf
Labels: feat, area/kafka, ready for final review, plugin/output

#15740 fix(serializers.template): Unwrap metrics if required
  plugins/serializers/template/template.go
Labels: fix, ready for final review, plugin/serializer

#15700 feat(inputs.slurm): Add a SLURM input plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/slurm.go
  plugins/inputs/slurm/README.md
  plugins/inputs/slurm/sample.conf
  plugins/inputs/slurm/sample.conf.in
  plugins/inputs/slurm/slurm.go
  plugins/inputs/slurm/slurm_test.go
  plugins/inputs/slurm/testcases/gather/expected.out
  plugins/inputs/slurm/testcases/gather/responses/diag.json
  plugins/inputs/slurm/testcases/gather/responses/jobs.json
  plugins/inputs/slurm/testcases/gather/responses/nodes.json
  plugins/inputs/slurm/testcases/gather/responses/partitions.json
  plugins/inputs/slurm/testcases/gather/responses/reservations.json
  plugins/inputs/slurm/testcases/gather/telegraf.conf
  plugins/inputs/slurm/testcases/panic/responses/diag.json
  plugins/inputs/slurm/testcases/panic/responses/jobs.json
  plugins/inputs/slurm/testcases/panic/responses/nodes.json
  plugins/inputs/slurm/testcases/panic/responses/partitions.json
  plugins/inputs/slurm/testcases/panic/responses/reservations.json
  plugins/inputs/slurm/testcases/panic/telegraf.conf
Labels: feat, ready for final review, plugin/input

#15732 feat(agent): Add config check sub-command
  agent/agent.go
  cmd/telegraf/cmd_config.go
  cmd/telegraf/main.go
Labels: feat, area/configuration, area/agent, ready for final review

#15749 feat(inputs.mysql): Add support for replica status
  plugins/inputs/mysql/README.md
  plugins/inputs/mysql/mysql.go
  plugins/inputs/mysql/sample.conf
Labels: feat, area/mysql, ready for final review, plugin/input

#15727 chore(linters): Fix findings found by `testifylint`: `go-require` for `zabbix`
  plugins/outputs/zabbix/zabbix_test.go
Labels: ready for final review, chore, linter

#15788 fix(inputs.kinesis_consumer): Honor the configured endpoint
  plugins/inputs/kinesis_consumer/kinesis_consumer.go
Labels: fix, ready for final review, plugin/input

#15781 fix(outputs.kinesis): Honor the configured endpoint
  plugins/outputs/kinesis/kinesis.go
Labels: fix, ready for final review, plugin/output

#15787 feat(outputs.syslog): Implement startup error behavior options
  plugins/outputs/syslog/README.md
  plugins/outputs/syslog/syslog.go
  plugins/outputs/syslog/syslog_test.go
Labels: feat, area/syslog, ready for final review, plugin/output

#15763 docs(inputs.chrony): Update schema to unixgram
  plugins/inputs/chrony/README.md
  plugins/inputs/chrony/sample.conf
Labels: docs, ready for final review, plugin/input

#15790 feat(inputs.kafka_consumer): Allow to select the metric time source
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/kafka_consumer/sample.conf
Labels: feat, ready for final review, plugin/input

#15766 chore: Update go to v1.23.0
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  .golangci.yml
  Makefile
  cmd/telegraf/telegraf.go
  cmd/telegraf/telegraf_windows.go
  config/config.go
  go.mod
  internal/globpath/globpath_test.go
  internal/internal.go
  internal/internal_test.go
  plugins/common/kafka/config_test.go
  plugins/inputs/activemq/activemq_test.go
  plugins/inputs/beanstalkd/beanstalkd.go
  plugins/inputs/cloudwatch_metric_streams/cloudwatch_metric_streams.go
  plugins/inputs/conntrack/conntrack_test.go
  plugins/inputs/directory_monitor/directory_monitor.go
  plugins/inputs/exec/exec_test.go
  plugins/inputs/filecount/filecount_test.go
  plugins/inputs/google_cloud_storage/google_cloud_storage_test.go
  plugins/inputs/http_response/http_response.go
  plugins/inputs/intel_pmu/intel_pmu.go
  plugins/inputs/intel_pmu/resolver_test.go
  plugins/inputs/intel_powerstat/metrics.go
  plugins/inputs/intel_rdt/intel_rdt.go
  plugins/inputs/jolokia2_agent/jolokia2_agent_test.go
  plugins/inputs/jolokia2_proxy/jolokia2_proxy_test.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/net/net_test.go
  plugins/inputs/netflow/type_conversion.go
  plugins/inputs/ping/ping_windows.go
  plugins/inputs/processes/processes_test.go
  plugins/inputs/smart/smart.go
  plugins/inputs/statsd/running_stats.go
  plugins/inputs/tacacs/tacacs_test.go
  plugins/inputs/temp/temp_test.go
  plugins/inputs/win_perf_counters/win_perf_counters_integration_test.go
  plugins/inputs/zipkin/codec/codec.go
  plugins/outputs/azure_monitor/azure_monitor.go
  plugins/outputs/cloudwatch/cloudwatch.go
  plugins/outputs/sql/sqlite_test.go
  plugins/parsers/nagios/parser.go
  plugins/parsers/nagios/parser_test.go
  plugins/processors/port_name/port_name_test.go
  plugins/processors/starlark/starlark_test.go
  plugins/processors/topk/topk.go
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
  tools/custom_builder/packages.go
  tools/readme_linter/rules.go
Labels: ready for final review, chore, linter, go
