Repository influxdata/telegraf, pull requests merged in 2024-03, with the labels that each got.

#14829 fix(inputs.postgres*)!: Prevent leaking sensitive data in server tag
  CHANGELOG.md
  plugins/inputs/postgresql/postgresql_test.go
  plugins/inputs/postgresql/service.go
Labels: fix, area/postgresql, security, ready for final review, plugin/input

#14896 docs(spec): Add specification for deprecations
  docs/specs/tsd-001-deprecation.md
Labels: docs, ready for final review, specification

#14901 docs(specs): Add specification for custom-builder
  docs/specs/tsd-002-custom-builder.md
  tools/custom_builder/README.md
Labels: docs, ready for final review, specification

#14918 chore(deps): Bump github.com/vapourismo/knx-go from v0.0.0-20240107135439-816b70397a00 to v0.0.0-20240217175130-922a0d50c241
  go.mod
  go.sum
Labels: area/iot, ready for final review, dependencies, chore

#14910 fix(inputs.netflow): Fallback to IPFIX mappings for Netflow v9
  plugins/inputs/netflow/netflow_decoder.go
Labels: fix, ready for final review, plugin/input

#14923 chore(deps): Bump github.com/netsampler/goflow2 from v1.3.6 to v2.1.2
  go.mod
  go.sum
  plugins/inputs/netflow/netflow_decoder.go
  plugins/inputs/netflow/netflow_test.go
  plugins/inputs/netflow/netflow_v5.go
  plugins/inputs/netflow/sflow_v5.go
Labels: ready for final review, dependencies, chore

#14921 docs(Changelog): Add note about removed deprecated plugin options
  CHANGELOG.md
Labels: docs, ready for final review

#14927 chore(lint): Add gosec G602 - slice out of bounds
  .golangci.yml
Labels: ready for final review, chore, linter

#14814 feat(inputs.systemd_units): Allow to query unloaded/disabled units
  go.mod
  plugins/inputs/systemd_units/README.md
  plugins/inputs/systemd_units/sample.conf
  plugins/inputs/systemd_units/subcommand_list.go
  plugins/inputs/systemd_units/subcommand_list_test.go
  plugins/inputs/systemd_units/subcommand_show.go
  plugins/inputs/systemd_units/subcommand_show_test.go
  plugins/inputs/systemd_units/systemd_units.go
  plugins/inputs/systemd_units/systemd_units_linux.go
  plugins/inputs/systemd_units/systemd_units_notlinux.go
  plugins/inputs/systemd_units/systemd_units_test.go
Labels: feat, area/system, ready for final review, plugin/input

#14924 test(processors.snmp_lookup): Fix race in test
  plugins/processors/snmp_lookup/store_test.go
Labels: area/snmp, ready for final review, plugin/processor, test

#14937 fix(statefile): Ensure valid statefile
  scripts/deb/post-install.sh
  scripts/rpm/post-install.sh
Labels: area/packaging, fix, ready for final review

#14939 chore(parsers.xpath): Add tracing mode to output empty-node-selection messages
  plugins/parsers/xpath/README.md
  plugins/parsers/xpath/parser.go
Labels: ready for final review, plugin/parser, chore

#14940 chore: Update to go1.22.1
  .circleci/config.yml
  .github/workflows/govulncheck.yml
  .github/workflows/readme-linter.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore, go

#14871 fix(inputs.prometheus): List namespaces only when filtering by namespace
  plugins/inputs/prometheus/kubernetes.go
Labels: area/prometheus, fix, ready for final review, plugin/input

#14920 docs(specs): Add specification for startup-error behavior
  docs/specs/tsd-006-startup-error-behavior.md
Labels: docs, ready for final review, specification

#14953 fix(inputs.gnmi): Handle canonical field-name correctly
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/testcases/issue_14946_canonical_field_names/expected.out
  plugins/inputs/gnmi/testcases/issue_14946_canonical_field_names/responses.json
  plugins/inputs/gnmi/testcases/issue_14946_canonical_field_names/telegraf.conf
Labels: fix, area/gnmi, ready for final review, plugin/input

#14955 chore(inputs.win_wmi): Cleanup unit-tests
  plugins/inputs/win_wmi/win_wmi_test.go
Labels: area/windows, ready for final review, plugin/input, chore

#14960 chore: Update govulncheck timeout
  .github/workflows/govulncheck.yml
Labels: ready for final review, chore

#14966 feat(inputs.chrony): Remove chronyc depdendency in documentation
  plugins/inputs/chrony/README.md
  plugins/inputs/chrony/sample.conf
Labels: feat, plugin/input

#14958 fix(outputs.bigquery): Add scope to bigquery and remove timeout context
  plugins/outputs/bigquery/bigquery.go
Labels: fix, area/gcp, ready for final review, plugin/output

#14965 chore(inputs.win_wmi): Cleanup and refactor code
  plugins/inputs/win_wmi/README.md
  plugins/inputs/win_wmi/query.go
  plugins/inputs/win_wmi/win_wmi.go
  plugins/inputs/win_wmi/win_wmi_notwindows.go
Labels: area/windows, ready for final review, plugin/input, chore

#14975 feat(snmp): Add secret support for auth_password and priv_password
  internal/snmp/config.go
  internal/snmp/wrapper.go
  plugins/inputs/snmp/README.md
  plugins/inputs/snmp/snmp_test.go
  plugins/processors/ifname/README.md
  plugins/processors/snmp_lookup/README.md
Labels: feat, area/snmp, ready for final review, plugin/input, plugin/processor

#14961 feat(parsers.binary): Allow base64-encoded input data
  plugins/parsers/binary/README.md
  plugins/parsers/binary/parser.go
  plugins/parsers/binary/parser_test.go
  plugins/parsers/binary/testcases/base64_encoding/expected.out
  plugins/parsers/binary/testcases/base64_encoding/messageA.bin
  plugins/parsers/binary/testcases/base64_encoding/messageB.bin
  plugins/parsers/binary/testcases/base64_encoding/messageC.bin
  plugins/parsers/binary/testcases/base64_encoding/telegraf.conf
  plugins/parsers/binary/testcases/hex_encoding/expected.out
  plugins/parsers/binary/testcases/hex_encoding/messageA.bin
  plugins/parsers/binary/testcases/hex_encoding/messageB.bin
  plugins/parsers/binary/testcases/hex_encoding/messageC.bin
  plugins/parsers/binary/testcases/hex_encoding/telegraf.conf
  plugins/parsers/binary/testcases/multiple_messages/telegraf.conf
Labels: feat, ready for final review, plugin/parser

#14952 feat(parser.prometheusremotewrite): Parse and generate histogram buckets
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/parsers/prometheusremotewrite/parser.go
  plugins/parsers/prometheusremotewrite/parser_test.go
Labels: feat, ready for final review, plugin/parser

#14988 chore: Remove govulncheck
  .github/workflows/govulncheck.yml
  tools/update_goversion/main.go
Labels: ready for final review, chore

#14987 fix(inputs.systemd_units): Handle disabled multi-instance units correctly
  plugins/inputs/systemd_units/README.md
  plugins/inputs/systemd_units/sample.conf
  plugins/inputs/systemd_units/systemd_units.go
  plugins/inputs/systemd_units/systemd_units_linux.go
Labels: fix, ready for final review, plugin/input

#14947 docs: Add how to parse guide
  docs/PARSING_DATA.md
Labels: docs, ready for final review

#14991 fix(secrets): Avoid count underflow by only counting initialized secrets
  config/config.go
  config/config_test.go
  config/secret.go
  config/secret_test.go
Labels: fix, ready for final review, plugin/secretstores

#14979 fix(inputs.dns_query): Fill out additional record fields
  plugins/inputs/dns_query/dns_query.go
  plugins/inputs/dns_query/dns_query_test.go
Labels: fix, ready for final review, plugin/input

#14928 docs(specs): Add specification for output buffer persistence strategy
  docs/specs/tsd-005-output-buffer-strategy.md
Labels: docs, ready for final review, specification

#14981 feat(inputs.radius): Provide setting to set request IP address
  plugins/inputs/radius/README.md
  plugins/inputs/radius/radius.go
  plugins/inputs/radius/radius_test.go
  plugins/inputs/radius/sample.conf
  plugins/inputs/radius/testdata/invalidSourceIP/clients.conf
  plugins/inputs/radius/testdata/invalidSourceIP/mods-config/files/authorize
  plugins/inputs/radius/testdata/invalidSourceIP/radiusd.conf
Labels: feat, ready for final review, plugin/input

#15000 feat(inputs.s7comm): Add optional connection type setting
  go.mod
  go.sum
  plugins/inputs/s7comm/README.md
  plugins/inputs/s7comm/s7comm.go
  plugins/inputs/s7comm/sample.conf
Labels: feat, area/iot, ready for final review, plugin/input

#14996 fix(inputs.smart): Improve regexp to support flags with a plus
  plugins/inputs/smart/smart.go
Labels: fix, area/smart, ready for final review, plugin/input

#14813 feat(inputs.lustre2): support reading bulk read/write stats
  plugins/inputs/lustre2/README.md
  plugins/inputs/lustre2/lustre2.go
  plugins/inputs/lustre2/lustre2_test.go
  plugins/inputs/lustre2/sample.conf
Labels: feat, ready for final review, plugin/input

#14959 fix(inputs.knx_listener): Reconnect after connection loss
  plugins/inputs/knx_listener/knx_listener.go
  plugins/inputs/knx_listener/knx_listener_test.go
Labels: fix, area/iot, ready for final review, plugin/input

#15009 chore(deps): Bump github.com/stretchr/testify v1.8.4 to v1.9.0
  go.mod
  go.sum
  plugins/outputs/application_insights/application_insights_test.go
Labels: ready for final review, dependencies, chore

#15012 fix(inputs.mysql): Use correct column-types for Percona 8 userstats
  plugins/inputs/mysql/mysql.go
  plugins/inputs/mysql/mysql_test.go
Labels: area/mysql, fix, ready for final review, plugin/input

#15003 fix(inputs.diskio): Add missing udev properties
  plugins/inputs/diskio/README.md
  plugins/inputs/diskio/diskio.go
  plugins/inputs/diskio/diskio_linux.go
  plugins/inputs/diskio/diskio_linux_test.go
  plugins/inputs/diskio/diskio_other.go
  plugins/inputs/diskio/sample.conf
  plugins/inputs/diskio/testdata/udev.txt
  plugins/inputs/diskio/testdata/uevent
Labels: fix, ready for final review, plugin/input

#15010 chore(readme_linter): Update plugin type guess logic
  tools/readme_linter/plugin.go
Labels: ready for final review, chore

#15007 fix(inputs.knx_listener): Ignore GroupValueRead requests
  plugins/inputs/knx_listener/knx_listener.go
Labels: fix, area/iot, ready for final review, plugin/input

#15021 fix(inputs.prometheus): Initialize logger of parser
  plugins/inputs/prometheus/prometheus.go
  plugins/parsers/prometheus/parser.go
Labels: area/prometheus, fix, ready for final review, plugin/input

#15023 fix(inputs.nvidia_smi): Add process info metrics
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
  plugins/inputs/nvidia_smi/schema_v12/parser.go
  plugins/inputs/nvidia_smi/schema_v12/types.go
  plugins/inputs/nvidia_smi/testdata/rtx-3080-v12.xml
Labels: fix, ready for final review, plugin/input

#15025 fix(inputs.dns_query): Include the canonical CNAME target
  plugins/inputs/dns_query/dns_query.go
Labels: fix, ready for final review, plugin/input

#15011 fix(inputs.ping): Add option to force ipv4
  plugins/inputs/ping/README.md
  plugins/inputs/ping/ping.go
  plugins/inputs/ping/sample.conf
Labels: fix, area/ping, ready for final review, plugin/input

#14973 feat(inputs.win_wmi): Add support for remote queries
  plugins/inputs/win_wmi/README.md
  plugins/inputs/win_wmi/query.go
  plugins/inputs/win_wmi/sample.conf
  plugins/inputs/win_wmi/win_wmi.go
Labels: feat, area/windows, ready for final review, plugin/input

#14992 feat(inputs.dns_query): Allow ignoring errors of specific types
  plugins/inputs/dns_query/dns_query.go
  plugins/inputs/dns_query/dns_query_test.go
Labels: feat, ready for final review, plugin/input

#15033 docs(config): Clarify metric-routing example
  docs/CONFIGURATION.md
Labels: docs, area/configuration

#15030 feat(aggregators.basicstats): Add "last" field
  plugins/aggregators/basicstats/README.md
  plugins/aggregators/basicstats/basicstats.go
  plugins/aggregators/basicstats/basicstats_test.go
  plugins/aggregators/basicstats/sample.conf
Labels: feat, ready for final review, plugin/aggregator

#15037 docs(specs): Add specification for state-persistence
  docs/specs/tsd-003-state-persistence.md
Labels: docs, ready for final review, specification

#15036 fix(inputs.phpfpm): Add timeout for fcgi
  plugins/inputs/phpfpm/fcgi_client.go
  plugins/inputs/phpfpm/phpfpm.go
  plugins/inputs/phpfpm/phpfpm_test.go
Labels: fix, ready for final review, plugin/input

#15048 test(inputs.syslog): Skip test on Windows
  plugins/inputs/syslog/syslog_test.go
Labels: area/syslog, ready for final review, plugin/input, test

#15044 feat(inputs.lustre2): Add eviction_count field
  plugins/inputs/lustre2/README.md
  plugins/inputs/lustre2/lustre2.go
  plugins/inputs/lustre2/lustre2_test.go
  plugins/inputs/lustre2/sample.conf
Labels: feat, ready for final review, plugin/input

#15049 feat(inputs.kubernetes): Add option to node metric name
  plugins/inputs/kubernetes/README.md
  plugins/inputs/kubernetes/kubernetes.go
  plugins/inputs/kubernetes/kubernetes_test.go
  plugins/inputs/kubernetes/sample.conf
Labels: feat, ready for final review, plugin/input

#14884 feat(outputs): Add framework to retry on startup errors
  agent/agent.go
  config/config.go
  internal/errors.go
  models/running_output.go
  models/running_output_test.go
  plugins/outputs/kafka/kafka.go
Labels: feat, area/kafka, area/agent, ready for final review, plugin/output

#15045 feat(inputs.lustre2): Skip brw_stats in case of insufficient permissions
  plugins/inputs/lustre2/lustre2.go
Labels: feat, ready for final review, plugin/input

#15070 docs(outputs.kafka): Document startup error behavior options
  docs/includes/startup_error_behavior.md
  plugins/outputs/kafka/README.md
  tools/readme_config_includer/generator.go
Labels: docs, area/kafka, ready for final review, plugin/output

#15063 fix(inputs.mysql): Parse boolean values in metric v1 correctly
  plugins/inputs/mysql/mysql.go
  plugins/inputs/mysql/mysql_test.go
Labels: area/mysql, fix, ready for final review, plugin/input

#15069 feat(inputs.knx_listener): Allow usage of DPT string representation
  plugins/inputs/knx_listener/README.md
  plugins/inputs/knx_listener/knx_listener.go
  plugins/inputs/knx_listener/knx_listener_test.go
  plugins/inputs/knx_listener/sample.conf
Labels: feat, area/iot, ready for final review, plugin/input

#15065 feat(outputs.cratedb): Allow configuration of startup error handling
  plugins/outputs/cratedb/README.md
  plugins/outputs/cratedb/cratedb.go
  plugins/outputs/cratedb/cratedb_test.go
  plugins/outputs/cratedb/sample.conf
  testutil/container.go
Labels: feat, fix, ready for final review, plugin/output

#15071 chore(deps): Bump github.com/IBM/sarama from v1.42.2 to v1.43.1
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#15077 docs(inputs.win_services): Specify case-insensitive naming
  plugins/inputs/win_services/README.md
  plugins/inputs/win_services/sample.conf
Labels: docs, ready for final review, plugin/input

#15072 docs(outputs.cratedb): Document startup error behavior options
  plugins/outputs/cratedb/README.md
Labels: docs, ready for final review, plugin/output

#15073 feat(outputs.postgresql): Allow configuration of startup error handling
  plugins/outputs/postgresql/README.md
  plugins/outputs/postgresql/postgresql.go
  plugins/outputs/postgresql/postgresql_test.go
Labels: feat, area/postgresql, ready for final review, plugin/output

#15050 docs(specs): Add specification for configuration migration
  docs/specs/tsd-004-configuration-migration.md
Labels: docs, ready for final review, specification

#15080 chore(linters): Bump golangci-lint to v1.57.2
  .circleci/config.yml
  .golangci.yml
  Makefile
  plugins/inputs/ping/ping.go
Labels: ready for final review, chore, linter
