Repository influxdata/telegraf, pull requests merged in 2024-12, with the labels that each got.

#16253 chore(actions): Only check PR title for semantic commit message
  .github/workflows/semantic.yml
Labels: ready for final review, chore, linter

#16245 docs(serializers.json): Fix typo
  plugins/serializers/json/README.md
Labels: docs, area/json, ready for final review, plugin/serializer

#16231 chore: Fix function names in comments
  agent/agent.go
  config/types.go
  plugins/inputs/ipmi_sensor/ipmi_sensor_test.go
  plugins/inputs/sensors/sensors_test.go
Labels: docs, ready for final review, chore

#16230 feat(inputs.smart): Add Power on Hours and Cycle Count
  plugins/inputs/smart/smart.go
  plugins/inputs/smart/smart_test.go
Labels: feat, area/smart, ready for final review, plugin/input

#16257 fix(inputs.procstat): Handle running processes correctly across multiple filters
  plugins/inputs/procstat/procstat.go
Labels: area/procstat, fix, ready for final review, plugin/input

#16229 docs: Fix PostgreSQL example DSN
  docs/SQL_DRIVERS_INPUT.md
Labels: docs, ready for final review

#16109 feat(inputs.vsphere): Add cpu temperature field
  plugins/inputs/vsphere/README.md
  plugins/inputs/vsphere/finder.go
Labels: feat, area/vsphere, ready for final review, plugin/input

#16146 feat(outputs): Implement partial write errors
  internal/errors.go
  models/buffer.go
  models/buffer_disk.go
  models/buffer_disk_test.go
  models/buffer_mem.go
  models/buffer_mem_test.go
  models/buffer_suite_test.go
  models/running_output.go
  models/running_output_test.go
Labels: feat, ready for final review, plugin/output

#16255 fix(logging): Clean up extra empty spaces when redirectLogger is used
  logger/handler.go
Labels: fix, area/logging, ready for final review

#16250 chore(deps): Bump golangci-lint from v1.62.0 to v1.62.2
  .circleci/config.yml
  .golangci.yml
  Makefile
Labels: ready for final review, chore, linter

#15971 chore(serializers)!: Remove old-style creation
  CHANGELOG.md
  config/config.go
  config/config_test.go
  models/running_serializer.go
  plugins/outputs/amqp/amqp.go
  plugins/outputs/azure_data_explorer/azure_data_explorer.go
  plugins/outputs/cloud_pubsub/cloud_pubsub.go
  plugins/outputs/event_hubs/event_hubs.go
  plugins/outputs/exec/exec.go
  plugins/outputs/execd/execd.go
  plugins/outputs/file/file.go
  plugins/outputs/http/http.go
  plugins/outputs/http/http_test.go
  plugins/outputs/kafka/kafka.go
  plugins/outputs/kinesis/kinesis.go
  plugins/outputs/kinesis/kinesis_test.go
  plugins/outputs/mqtt/mqtt.go
  plugins/outputs/nats/nats.go
  plugins/outputs/nsq/nsq.go
  plugins/outputs/socket_writer/socket_writer.go
  plugins/outputs/socket_writer/socket_writer_test.go
  plugins/outputs/stomp/stomp.go
  plugins/outputs/sumologic/sumologic.go
  plugins/outputs/websocket/websocket.go
  plugins/processors/execd/execd.go
  plugins/serializers/binary/binary.go
  plugins/serializers/carbon2/carbon2.go
  plugins/serializers/cloudevents/cloudevents.go
  plugins/serializers/csv/csv.go
  plugins/serializers/graphite/graphite.go
  plugins/serializers/influx/influx.go
  plugins/serializers/json/json.go
  plugins/serializers/msgpack/msgpack.go
  plugins/serializers/nowmetric/nowmetric.go
  plugins/serializers/prometheus/prometheus.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite.go
  plugins/serializers/registry.go
  plugins/serializers/splunkmetric/splunkmetric.go
  plugins/serializers/template/template.go
  plugins/serializers/wavefront/wavefront.go
Labels: breaking change, ready for final review, plugin/serializer, chore

#16224 chore: Fix linter findings for `revive:exported` in `plugins/inputs/o*`
  plugins/inputs/opcua/opcua.go
  plugins/inputs/opcua/opcua_test.go
  plugins/inputs/opcua/read_client.go
  plugins/inputs/opcua_listener/opcua_listener.go
  plugins/inputs/opcua_listener/opcua_listener_test.go
  plugins/inputs/opcua_listener/subscribe_client.go
  plugins/inputs/openldap/openldap.go
  plugins/inputs/openntpd/openntpd.go
  plugins/inputs/openntpd/openntpd_test.go
  plugins/inputs/opensearch_query/aggregation.bucket.go
  plugins/inputs/opensearch_query/aggregation.go
  plugins/inputs/opensearch_query/aggregation.metric.go
  plugins/inputs/opensearch_query/aggregation.response.go
  plugins/inputs/opensearch_query/opensearch_query.go
  plugins/inputs/opensearch_query/opensearch_query_test.go
  plugins/inputs/opensearch_query/query.go
  plugins/inputs/opensmtpd/opensmtpd.go
  plugins/inputs/opensmtpd/opensmtpd_test.go
  plugins/inputs/openstack/openstack.go
  plugins/inputs/opentelemetry/opentelemetry.go
  plugins/inputs/opentelemetry/opentelemetry_test.go
  plugins/inputs/openweathermap/openweathermap.go
  plugins/inputs/openweathermap/types.go
Labels: ready for final review, chore, linter

#16242 feat(logging): Allow overriding message key for structured logging
  cmd/telegraf/agent.conf
  cmd/telegraf/telegraf.go
  config/config.go
  docs/CONFIGURATION.md
  logger/logger.go
  logger/structured_logger.go
  logger/structured_logger_test.go
Labels: feat, area/logging, ready for final review

#16258 feat(outputs): Add rate-limiting infrastructure
  internal/errors.go
  models/running_output_test.go
  plugins/common/ratelimiter/config.go
  plugins/common/ratelimiter/limiters.go
  plugins/common/ratelimiter/limiters_test.go
  plugins/common/ratelimiter/serializers.go
  plugins/common/ratelimiter/serializers_test.go
Labels: feat, ready for final review, plugin/output

#15742 feat(outputs.influxdb_v2): Add rate limit implementation
  plugins/common/ratelimiter/config.go
  plugins/common/ratelimiter/limiters_test.go
  plugins/outputs/influxdb_v2/README.md
  plugins/outputs/influxdb_v2/http.go
  plugins/outputs/influxdb_v2/influxdb_v2.go
  plugins/outputs/influxdb_v2/influxdb_v2_test.go
  plugins/outputs/influxdb_v2/sample.conf
Labels: feat, area/influxdb, ready for final review, plugin/output

#16265 chore: Update go to v1.23.4
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore, go

#16144 feat(outputs.quix): Add plugin
  plugins/outputs/all/quix.go
  plugins/outputs/quix/README.md
  plugins/outputs/quix/config.go
  plugins/outputs/quix/quix.go
  plugins/outputs/quix/quix_test.go
  plugins/outputs/quix/sample.conf
Labels: feat, new plugin, ready for final review, plugin/output

#16274 fix(logging): Fix deplicated prefix+attrMsg in log message when redirectLogger is used
  logger/handler.go
Labels: fix, area/logging

#16278 chore: Update link to release calendar
  docs/FAQ.md
  docs/RELEASES.md
Labels: ready for final review, chore

#16289 fix(outputs.remotefile): Handle tracking metrics correctly
  plugins/outputs/remotefile/remotefile.go
  plugins/outputs/remotefile/remotefile_test.go
Labels: fix, ready for final review, plugin/output

#16272 feat(parsers.avro): Allow union fields to be specified as tags
  plugins/parsers/avro/parser.go
  plugins/parsers/avro/testcases/union-nullable-tag/expected.out
  plugins/parsers/avro/testcases/union-nullable-tag/message.json
  plugins/parsers/avro/testcases/union-nullable-tag/telegraf.conf
Labels: feat, ready for final review, plugin/parser

#16267 chore(inputs.kinesis_consumer): Cleanup code
  plugins/inputs/kinesis_consumer/encoding.go
  plugins/inputs/kinesis_consumer/kinesis_consumer.go
  plugins/inputs/kinesis_consumer/kinesis_consumer_test.go
  plugins/inputs/kinesis_consumer/logging.go
  plugins/inputs/kinesis_consumer/noop_store.go
Labels: ready for final review, plugin/input, chore

#16052 docs(specs): Add `probe` as value to `startup_error_behavior`
  docs/specs/tsd-006-startup-error-behavior.md
  docs/specs/tsd-009-probe-on-startup.md
Labels: docs, ready for final review, specification

#16262 test(linters): Enable `testifylint`: `contains`, `encoded-compare` and `regexp`
  .golangci.yml
  plugins/serializers/json/json_test.go
  plugins/serializers/nowmetric/nowmetric_test.go
Labels: ready for final review, test, linter

#16287 feat(inputs.systemd_units): Add active_enter_timestamp_us field
  go.mod
  plugins/inputs/systemd_units/README.md
  plugins/inputs/systemd_units/systemd_units_linux.go
  plugins/inputs/systemd_units/systemd_units_test.go
Labels: feat, ready for final review, plugin/input

#16290 fix(agent): Skip initialization of second processor state if requested
  agent/agent.go
Labels: fix, area/agent, ready for final review

#16302 chore(agent): Add warning about changing default for 'skip_processors_after_aggregators'
  CHANGELOG.md
  agent/agent.go
  config/config.go
Labels: area/agent, ready for final review, plugin/processor, chore

#16299 chore(processors.unpivot): Cleanup code and improve performance
  plugins/processors/unpivot/unpivot.go
  plugins/processors/unpivot/unpivot_test.go
Labels: ready for final review, plugin/processor, chore

#16263 chore: Fix linter findings for `revive:unused-receiver` in `plugins/inputs/[a-e]`
  plugins/inputs/aerospike/aerospike.go
  plugins/inputs/aerospike/aerospike_test.go
  plugins/inputs/aliyuncms/aliyuncms_test.go
  plugins/inputs/amd_rocm_smi/amd_rocm_smi.go
  plugins/inputs/amqp_consumer/amqp_consumer.go
  plugins/inputs/apache/apache.go
  plugins/inputs/azure_monitor/azure_monitor.go
  plugins/inputs/azure_monitor/azure_monitor_test.go
  plugins/inputs/bcache/bcache.go
  plugins/inputs/bond/bond.go
  plugins/inputs/bond/bond_test.go
  plugins/inputs/burrow/burrow.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt.go
  plugins/inputs/clickhouse/clickhouse.go
  plugins/inputs/cloud_pubsub/cloud_pubsub.go
  plugins/inputs/cloud_pubsub_push/cloud_pubsub_push.go
  plugins/inputs/cloud_pubsub_push/cloud_pubsub_push_test.go
  plugins/inputs/cloudwatch/cloudwatch_test.go
  plugins/inputs/cloudwatch_metric_streams/cloudwatch_metric_streams.go
  plugins/inputs/couchdb/couchdb.go
  plugins/inputs/csgo/csgo.go
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer.go
  plugins/inputs/dcos/client.go
  plugins/inputs/dcos/creds.go
  plugins/inputs/dcos/dcos.go
  plugins/inputs/dcos/dcos_test.go
  plugins/inputs/docker_log/docker_log.go
  plugins/inputs/docker_log/docker_log_test.go
  plugins/inputs/dovecot/dovecot.go
  plugins/inputs/ecs/ecs.go
  plugins/inputs/elasticsearch/elasticsearch.go
  plugins/inputs/elasticsearch_query/elasticsearch_query.go
  plugins/inputs/ethtool/ethtool_linux.go
  plugins/inputs/ethtool/ethtool_test.go
  plugins/inputs/exec/exec.go
  plugins/inputs/exec/exec_test.go
  plugins/inputs/exec/run_notwindows.go
  plugins/inputs/exec/run_windows.go
  plugins/inputs/execd/execd_test.go
  plugins/inputs/execd/shim/input.go
  plugins/inputs/execd/shim/shim_test.go
Labels: ready for final review, chore, linter

#16292 feat(inputs.docker): Support swarm jobs
  plugins/inputs/docker/docker.go
  plugins/inputs/docker/docker_test.go
  plugins/inputs/docker/docker_testdata.go
Labels: feat, area/docker, ready for final review, plugin/input

#16308 chore: Fix linter findings for `revive:unused-receiver` in `plugins/inputs/[f-k]`
  plugins/inputs/filecount/filesystem_helpers_notwindows.go
  plugins/inputs/fireboard/fireboard.go
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/gnmi_test.go
  plugins/inputs/gnmi/tag_store.go
  plugins/inputs/google_cloud_storage/google_cloud_storage.go
  plugins/inputs/graylog/graylog_test.go
  plugins/inputs/haproxy/haproxy_test.go
  plugins/inputs/hddtemp/go-hddtemp/hddtemp.go
  plugins/inputs/hddtemp/hddtemp_test.go
  plugins/inputs/http/http.go
  plugins/inputs/http_listener_v2/http_listener_v2.go
  plugins/inputs/hugepages/hugepages.go
  plugins/inputs/icinga2/icinga2.go
  plugins/inputs/infiniband/infiniband_linux.go
  plugins/inputs/influxdb_listener/influxdb_listener.go
  plugins/inputs/influxdb_v2_listener/influxdb_v2_listener.go
  plugins/inputs/intel_baseband/intel_baseband.go
  plugins/inputs/intel_baseband/log_connector.go
  plugins/inputs/intel_baseband/log_connector_test.go
  plugins/inputs/intel_dlb/intel_dlb.go
  plugins/inputs/intel_pmt/intel_pmt.go
  plugins/inputs/intel_pmu/intel_pmu_test.go
  plugins/inputs/intel_powerstat/options.go
  plugins/inputs/intel_rdt/intel_rdt.go
  plugins/inputs/intel_rdt/intel_rdt_test.go
  plugins/inputs/intel_rdt/processes.go
  plugins/inputs/ipmi_sensor/ipmi_sensor.go
  plugins/inputs/ipmi_sensor/ipmi_sensor_test.go
  plugins/inputs/ipset/ipset.go
  plugins/inputs/jti_openconfig_telemetry/jti_openconfig_telemetry.go
  plugins/inputs/jti_openconfig_telemetry/jti_openconfig_telemetry_test.go
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/kernel/kernel.go
  plugins/inputs/kernel/kernel_test.go
  plugins/inputs/kibana/kibana.go
  plugins/inputs/kube_inventory/certificate.go
  plugins/inputs/kube_inventory/endpoint.go
  plugins/inputs/kube_inventory/endpoint_test.go
  plugins/inputs/kube_inventory/ingress.go
  plugins/inputs/kube_inventory/ingress_test.go
  plugins/inputs/kube_inventory/node.go
  plugins/inputs/kube_inventory/node_test.go
  plugins/inputs/kube_inventory/persistentvolume.go
  plugins/inputs/kube_inventory/persistentvolume_test.go
Labels: ready for final review, chore, linter

#16312 docs(parsers.openmetrics): Update link to specification
  plugins/parsers/openmetrics/README.md
Labels: docs, ready for final review, plugin/parser

#16307 chore: Fix linter findings for `revive:exported` in `plugins/inputs/p*`
  plugins/inputs/p4runtime/p4runtime_test.go
  plugins/inputs/passenger/passenger.go
  plugins/inputs/passenger/passenger_test.go
  plugins/inputs/pf/pf.go
  plugins/inputs/pgbouncer/pgbouncer.go
  plugins/inputs/phpfpm/child.go
  plugins/inputs/phpfpm/fcgi_client.go
  plugins/inputs/phpfpm/fcgi_test.go
  plugins/inputs/phpfpm/phpfpm.go
  plugins/inputs/phpfpm/phpfpm_test.go
  plugins/inputs/ping/ping.go
  plugins/inputs/ping/ping_windows_test.go
  plugins/inputs/postfix/postfix.go
  plugins/inputs/postfix/postfix_windows.go
  plugins/inputs/postgresql/postgresql.go
  plugins/inputs/postgresql_extensible/postgresql_extensible.go
  plugins/inputs/powerdns/powerdns.go
  plugins/inputs/powerdns_recursor/powerdns_recursor.go
  plugins/inputs/processes/processes_notwindows.go
  plugins/inputs/procstat/filter.go
  plugins/inputs/procstat/native_finder.go
  plugins/inputs/procstat/native_finder_test.go
  plugins/inputs/procstat/os_linux.go
  plugins/inputs/procstat/os_others.go
  plugins/inputs/procstat/os_windows.go
  plugins/inputs/procstat/pgrep.go
  plugins/inputs/procstat/process.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/procstat_test.go
  plugins/inputs/procstat/service_finders.go
  plugins/inputs/prometheus/consul.go
  plugins/inputs/prometheus/kubernetes.go
  plugins/inputs/prometheus/kubernetes_test.go
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/prometheus/prometheus_test.go
  plugins/inputs/proxmox/proxmox.go
  plugins/inputs/proxmox/structs.go
  plugins/inputs/puppetagent/puppetagent.go
Labels: chore, linter

#16324 chore(deps): Bump github.com/vapourismo/knx-go from v0.0.0-20240217175130-922a0d50c241 to v0.0.0-20240915133544-a6ab43471c11
  go.mod
  go.sum
Labels: area/iot, ready for final review, dependencies, chore

#16325 chore: Fix linter findings for `revive:unused-receiver` in `plugins/inputs/[l-r]`
  plugins/inputs/lanz/lanz.go
  plugins/inputs/leofs/leofs.go
  plugins/inputs/libvirt/libvirt.go
  plugins/inputs/libvirt/libvirt_metric_format.go
  plugins/inputs/linux_cpu/linux_cpu.go
  plugins/inputs/logstash/logstash.go
  plugins/inputs/lvm/lvm.go
  plugins/inputs/mcrouter/mcrouter.go
  plugins/inputs/mcrouter/mcrouter_test.go
  plugins/inputs/modbus/configuration_metric.go
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/modbus.go
  plugins/inputs/monit/monit_test.go
  plugins/inputs/mqtt_consumer/mqtt_consumer_test.go
  plugins/inputs/mysql/mysql.go
  plugins/inputs/nats_consumer/nats_consumer.go
  plugins/inputs/neptune_apex/neptune_apex.go
  plugins/inputs/neptune_apex/neptune_apex_test.go
  plugins/inputs/netflow/netflow.go
  plugins/inputs/netflow/netflow_v5.go
  plugins/inputs/nginx_upstream_check/nginx_upstream_check.go
  plugins/inputs/nsq_consumer/nsq_consumer.go
  plugins/inputs/nvidia_smi/nvidia_smi.go
  plugins/inputs/opentelemetry/writer.go
  plugins/inputs/pf/pf.go
  plugins/inputs/phpfpm/fcgi_test.go
  plugins/inputs/phpfpm/phpfpm_test.go
  plugins/inputs/powerdns/powerdns_linux_test.go
  plugins/inputs/powerdns_recursor/powerdns_recursor.go
  plugins/inputs/powerdns_recursor/protocol_v3.go
  plugins/inputs/procstat/native_finder.go
  plugins/inputs/procstat/pgrep.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/procstat_test.go
  plugins/inputs/prometheus/kubernetes.go
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/radius/radius.go
  plugins/inputs/raindrops/raindrops.go
  plugins/inputs/raindrops/raindrops_test.go
  plugins/inputs/redis/redis.go
  plugins/inputs/redis/redis_test.go
  plugins/inputs/rethinkdb/rethinkdb.go
  plugins/inputs/riemann_listener/riemann_listener.go
Labels: ready for final review, chore, linter

#16327 chore: Fix linter findings for `revive:unused-receiver` in `plugins/inputs/[s-z]`
  plugins/inputs/sflow/packetdecoder.go
  plugins/inputs/sflow/packetdecoder_test.go
  plugins/inputs/sflow/sflow.go
  plugins/inputs/slab/slab.go
  plugins/inputs/slurm/slurm.go
  plugins/inputs/snmp/snmp_test.go
  plugins/inputs/snmp_trap/gosmi.go
  plugins/inputs/snmp_trap/snmp_trap.go
  plugins/inputs/socket_listener/socket_listener.go
  plugins/inputs/solr/solr.go
  plugins/inputs/sqlserver/sqlserver.go
  plugins/inputs/stackdriver/stackdriver.go
  plugins/inputs/supervisor/supervisor.go
  plugins/inputs/suricata/suricata.go
  plugins/inputs/sysstat/sysstat.go
  plugins/inputs/system/ps.go
  plugins/inputs/tacacs/tacacs.go
  plugins/inputs/tail/multiline.go
  plugins/inputs/tail/multiline_test.go
  plugins/inputs/tail/tail.go
  plugins/inputs/twemproxy/twemproxy.go
  plugins/inputs/upsd/upsd.go
  plugins/inputs/uwsgi/uwsgi.go
  plugins/inputs/vault/vault.go
  plugins/inputs/vsphere/vsan.go
  plugins/inputs/webhooks/mandrill/mandrill_webhooks.go
  plugins/inputs/webhooks/mandrill/mandrill_webhooks_test.go
  plugins/inputs/webhooks/webhooks.go
  plugins/inputs/win_perf_counters/win_perf_counters_notwindows.go
  plugins/inputs/win_services/win_services_notwindows.go
  plugins/inputs/wireguard/wireguard.go
  plugins/inputs/wireguard/wireguard_test.go
  plugins/inputs/zipkin/codec/codec.go
  plugins/inputs/zipkin/codec/jsonV1/jsonV1.go
  plugins/inputs/zipkin/codec/thrift/thrift.go
  plugins/inputs/zipkin/zipkin.go
Labels: ready for final review, chore, linter

#16124 feat(inputs.ipset): Add metric for number of entries and individual IPs
  plugins/inputs/ipset/README.md
  plugins/inputs/ipset/ipset.go
  plugins/inputs/ipset/ipset_entries.go
  plugins/inputs/ipset/ipset_entries_test.go
  plugins/inputs/ipset/sample.conf
Labels: feat, ready for final review, plugin/input
