Repository influxdata/telegraf, pull requests merged in 2024-11, with the labels that each got.

#16108 fix(logger): Avoid setting the log-format default too early
  config/config.go
  logger/logger.go
Labels: fix, area/configuration, area/agent, area/logging, ready for final review

#16114 chore(inputs.modbus): Add device or controller information to error messages
  plugins/inputs/modbus/configuration_request_test.go
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/modbus/testcases/duplicate_fields_same_slave_and_request/init.err
Labels: area/modbus, ready for final review, plugin/input, chore

#16110 fix(inputs.ntpq): Avoid panic on empty lines and make sure -p is present
  plugins/inputs/ntpq/ntpq.go
Labels: fix, ready for final review, plugin/input

#16116 test(models): Cleanup tests, unexport stuff and unify naming in tests
  models/buffer.go
  models/buffer_disk.go
  models/buffer_disk_test.go
  models/buffer_mem.go
  models/buffer_mem_test.go
  models/buffer_suite_test.go
  models/filter_test.go
  models/running_aggregator_test.go
  models/running_input_test.go
  models/running_output.go
  models/running_output_test.go
  models/running_processor_test.go
Labels: ready for final review, test

#16034 docs(specs): Add specification for partial-write errors
  docs/specs/tsd-008-partial-write-error-handling.md
Labels: docs, ready for final review

#16147 chore(outputs.influxdb_v2): Cleanup code and tests
  plugins/outputs/influxdb_v2/http.go
  plugins/outputs/influxdb_v2/http_internal_test.go
  plugins/outputs/influxdb_v2/http_test.go
  plugins/outputs/influxdb_v2/influxdb_v2.go
  plugins/outputs/influxdb_v2/influxdb_v2_test.go
Labels: area/influxdb, ready for final review, plugin/output, chore

#16155 fix(inputs.snmp): Fix crash when trying to format fields from unknown OIDs
  internal/snmp/translator_gosmi.go
Labels: area/snmp, fix, ready for final review, plugin/input

#16161 chore: Fix linter findings for `revive:enforce-slice-style` in `plugins/inputs/[a-d]*` and `plugins/common`
  plugins/common/jolokia2/client.go
  plugins/common/jolokia2/gatherer.go
  plugins/common/jolokia2/gatherer_test.go
  plugins/common/jolokia2/metric.go
  plugins/common/opcua/input/input_client_test.go
  plugins/common/opcua/opcua_util.go
  plugins/common/shim/config.go
  plugins/common/starlark/starlark.go
  plugins/common/tls/utils.go
  plugins/inputs/aliyuncms/aliyuncms.go
  plugins/inputs/aliyuncms/aliyuncms_test.go
  plugins/inputs/amd_rocm_smi/amd_rocm_smi.go
  plugins/inputs/azure_monitor/azure_monitor_test.go
  plugins/inputs/beanstalkd/beanstalkd_test.go
  plugins/inputs/ceph/ceph.go
  plugins/inputs/clickhouse/clickhouse_test.go
  plugins/inputs/cloudwatch/cloudwatch.go
  plugins/inputs/cloudwatch/cloudwatch_test.go
  plugins/inputs/couchbase/couchbase.go
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer_subscription.go
  plugins/inputs/dcos/client.go
  plugins/inputs/dcos/client_test.go
  plugins/inputs/dcos/dcos_test.go
  plugins/inputs/dmcache/dmcache_linux.go
  plugins/inputs/dmcache/dmcache_linux_test.go
  plugins/inputs/docker/docker.go
  plugins/inputs/docker/docker_test.go
  plugins/inputs/docker/docker_testdata.go
  plugins/inputs/dpdk/dpdk_test.go
Labels: ready for final review, chore, linter

#16166 chore(parsers.prometheus): Do not warn about unknown format without headers
  plugins/parsers/prometheus/parser.go
Labels: area/prometheus, ready for final review, plugin/parser, chore

#16167 chore: Fix linter findings for `revive:exported` in `plugins/inputs/l*`
  internal/env.go
  plugins/inputs/bond/bond.go
  plugins/inputs/dpdk/mocks/conn.go
  plugins/inputs/intel_baseband/mocks/conn.go
  plugins/inputs/intel_baseband/sock_connector_test.go
  plugins/inputs/intel_dlb/ras_reader_mock.go
  plugins/inputs/lanz/lanz.go
  plugins/inputs/lanz/lanz_test.go
  plugins/inputs/leofs/leofs.go
  plugins/inputs/leofs/leofs_test.go
  plugins/inputs/libvirt/libvirt.go
  plugins/inputs/libvirt/libvirt_test.go
  plugins/inputs/libvirt/libvirt_utils.go
  plugins/inputs/libvirt/libvirt_utils_mock.go
  plugins/inputs/linux_cpu/linux_cpu.go
  plugins/inputs/linux_cpu/linux_cpu_nonlinux.go
  plugins/inputs/linux_sysctl_fs/linux_sysctl_fs.go
  plugins/inputs/logparser/logparser.go
  plugins/inputs/logparser/logparser_test.go
  plugins/inputs/logstash/logstash.go
  plugins/inputs/lustre2/lustre2.go
  plugins/inputs/lustre2/lustre2_notlinux.go
  plugins/inputs/lvm/lvm_test.go
  plugins/inputs/mdstat/mdstat.go
  plugins/inputs/net/net.go
  plugins/inputs/processes/processes_notwindows.go
  plugins/inputs/procstat/os_linux.go
  plugins/inputs/slab/slab.go
  plugins/inputs/synproxy/synproxy.go
  plugins/inputs/temp/temp_linux.go
  plugins/inputs/wireless/wireless_linux.go
Labels: ready for final review, chore, linter

#16165 feat(inputs.nvidia-smi): REVERT -- Add `probe_on_startup` option
  plugins/inputs/nvidia_smi/README.md
  plugins/inputs/nvidia_smi/nvidia_smi.go
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
  plugins/inputs/nvidia_smi/sample.conf
Labels: feat, ready for final review, plugin/input

#16172 chore(deps): Bump golangci-lint from v1.61.0 to v1.62.0
  .circleci/config.yml
  .golangci.yml
  Makefile
  config/config_test.go
  plugins/common/parallel/parallel_test.go
  plugins/inputs/aliyuncms/aliyuncms_test.go
  plugins/inputs/dcos/dcos_test.go
  plugins/inputs/intel_rdt/intel_rdt_test.go
  plugins/inputs/internal/internal_test.go
  plugins/inputs/postgresql_extensible/postgresql_extensible_test.go
  plugins/inputs/vsphere/vsphere_test.go
  plugins/inputs/win_perf_counters/win_perf_counters_integration_test.go
  plugins/outputs/cloudwatch/cloudwatch_test.go
  plugins/parsers/dropwizard/parser_test.go
  plugins/processors/starlark/starlark_test.go
Labels: ready for final review, chore, linter

#16123 fix(agent): Restore setup order of stateful plugins to Init() then SetState()
  agent/agent.go
  docs/specs/tsd-003-state-persistence.md
  plugins/common/starlark/starlark.go
  plugins/inputs/tail/tail.go
  plugins/inputs/tail/tail_test.go
  plugins/processors/dedup/dedup_test.go
  plugins/processors/starlark/starlark.go
  plugins/processors/starlark/starlark_test.go
Labels: fix, area/agent, ready for final review

#16182 chore: Enable `revive:enforce-repeated-arg-type-style` rule
  .golangci.yml
  agent/agent.go
  config/config.go
  config/secret.go
  filter/filter.go
  internal/docker/docker.go
  internal/internal.go
  internal/process/process.go
  internal/templating/template.go
  models/buffer.go
  models/filter.go
  models/makemetric.go
  models/running_aggregator.go
  models/running_input.go
  models/running_output.go
  plugins/aggregators/histogram/histogram.go
  plugins/aggregators/histogram/histogram_test.go
  plugins/all_test.go
  plugins/common/opcua/opcua_util.go
  plugins/common/parallel/ordered.go
  plugins/common/shim/processor_test.go
  plugins/inputs/kinesis_consumer/kinesis_consumer.go
  plugins/inputs/win_eventlog/win_eventlog.go
  plugins/inputs/win_eventlog/zsyscall_windows.go
  plugins/inputs/win_perf_counters/pdh.go
  plugins/outputs/influxdb/udp_test.go
  plugins/parsers/dropwizard/parser_test.go
  plugins/parsers/influx/machine_test.go
  plugins/parsers/json_v2/parser.go
  plugins/processors/enum/enum.go
  plugins/processors/snmp_lookup/store.go
  plugins/processors/topk/topk_test.go
  plugins/serializers/graphite/graphite.go
  testutil/accumulator.go
  tools/package_incus_test/incus.go
  tools/package_incus_test/main.go
Labels: ready for final review, chore, linter

#16141 feat(inputs.amqp_consumer): Allow specification of queue arguments
  plugins/inputs/amqp_consumer/README.md
  plugins/inputs/amqp_consumer/amqp_consumer.go
  plugins/inputs/amqp_consumer/sample.conf
Labels: feat, ready for final review, plugin/input

#16191 chore: Fix linter findings for `revive:exported` in `plugins/inputs/m*`
  plugins/inputs/mailchimp/chimp_api.go
  plugins/inputs/mailchimp/mailchimp.go
  plugins/inputs/marklogic/marklogic.go
  plugins/inputs/marklogic/marklogic_test.go
  plugins/inputs/mcrouter/mcrouter.go
  plugins/inputs/mcrouter/mcrouter_test.go
  plugins/inputs/mdstat/mdstat.go
  plugins/inputs/mdstat/mdstat_notlinux.go
  plugins/inputs/mdstat/mdstat_test.go
  plugins/inputs/mem/mem.go
  plugins/inputs/mem/mem_test.go
  plugins/inputs/memcached/memcached.go
  plugins/inputs/mesos/mesos.go
  plugins/inputs/mesos/mesos_test.go
  plugins/inputs/minecraft/client.go
  plugins/inputs/minecraft/client_test.go
  plugins/inputs/minecraft/minecraft.go
  plugins/inputs/minecraft/minecraft_test.go
  plugins/inputs/mock/mock.go
  plugins/inputs/modbus/configuration.go
  plugins/inputs/modbus/configuration_metric.go
  plugins/inputs/modbus/configuration_metric_test.go
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/configuration_request_test.go
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/modbus/request.go
  plugins/inputs/mongodb/mongodb.go
  plugins/inputs/mongodb/mongodb_data.go
  plugins/inputs/mongodb/mongodb_data_test.go
  plugins/inputs/mongodb/mongodb_server.go
  plugins/inputs/mongodb/mongodb_server_test.go
  plugins/inputs/mongodb/mongostat.go
  plugins/inputs/mongodb/mongostat_test.go
  plugins/inputs/monit/monit.go
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/inputs/mqtt_consumer/mqtt_consumer_test.go
  plugins/inputs/mqtt_consumer/mqtt_logger.go
  plugins/inputs/mqtt_consumer/topic_parser.go
  plugins/inputs/multifile/multifile.go
  plugins/inputs/multifile/multifile_test.go
  plugins/inputs/mysql/mysql.go
  plugins/inputs/mysql/v2/convert.go
Labels: ready for final review, chore, linter

#16180 chore: Update go to v1.23.3
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore, go

#16156 fix(common.socket): Use read buffer size config setting as a datagram reader buffer size.
  plugins/common/socket/datagram.go
  plugins/common/socket/socket.go
  plugins/inputs/socket_listener/socket_listener_test.go
Labels: fix, ready for final review, plugin/input

#16145 fix(inputs.snmp_trap): Remove timeout deprecation
  plugins/inputs/snmp_trap/README.md
  plugins/inputs/snmp_trap/sample.conf
  plugins/inputs/snmp_trap/snmp_trap.go
Labels: fix, ready for final review, plugin/input

#16205 chore: Fix linter findings for `revive:exported` in `plugins/inputs/n*`
  plugins/inputs/nats/nats.go
  plugins/inputs/nats_consumer/nats_consumer.go
  plugins/inputs/nats_consumer/nats_consumer_test.go
  plugins/inputs/neoom_beaam/neoom_beaam.go
  plugins/inputs/neptune_apex/neptune_apex.go
  plugins/inputs/neptune_apex/neptune_apex_test.go
  plugins/inputs/net/net.go
  plugins/inputs/net/net_test.go
  plugins/inputs/net_response/net_response.go
  plugins/inputs/net_response/net_response_test.go
  plugins/inputs/netflow/netflow.go
  plugins/inputs/netflow/netflow_decoder.go
  plugins/inputs/netflow/netflow_v5.go
  plugins/inputs/netflow/sflow_v5.go
  plugins/inputs/netstat/netstat.go
  plugins/inputs/netstat/netstat_test.go
  plugins/inputs/nfsclient/nfsclient.go
  plugins/inputs/nginx/nginx.go
  plugins/inputs/nginx_plus/nginx_plus.go
  plugins/inputs/nginx_plus_api/nginx_plus_api.go
  plugins/inputs/nginx_sts/nginx_sts.go
  plugins/inputs/nginx_upstream_check/nginx_upstream_check.go
  plugins/inputs/nginx_upstream_check/nginx_upstream_check_test.go
  plugins/inputs/nginx_vts/nginx_vts.go
  plugins/inputs/nomad/nomad.go
  plugins/inputs/nomad/nomad_metrics.go
  plugins/inputs/nsd/nsd.go
  plugins/inputs/nsd/nsd_test.go
  plugins/inputs/nsq/nsq.go
  plugins/inputs/nsq/nsq_test.go
  plugins/inputs/nsq_consumer/nsq_consumer.go
  plugins/inputs/nstat/nstat.go
  plugins/inputs/ntpq/ntpq.go
  plugins/inputs/nvidia_smi/common/setters.go
  plugins/inputs/nvidia_smi/schema_v11/parser.go
  plugins/inputs/nvidia_smi/schema_v12/parser.go
Labels: ready for final review, chore, linter

#16219 fix(logging): Add Close() func for redirectLogger
  logger/handler.go
Labels: fix, ready for final review
