Repository influxdata/telegraf, pull requests merged in 2024-07, with the labels that each got.

#15566 test(linters): Enable `testifylint`: `blank-import`, `float-compare`, `negative-positive`, `nil-compare` and `useless-assert`
  .golangci.yml
  agent/accumulator_test.go
  metric/metric_test.go
  plugins/inputs/ceph/ceph_test.go
  plugins/inputs/cloud_pubsub/cloud_pubsub_test.go
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer_test.go
  plugins/inputs/fluentd/fluentd_test.go
  plugins/inputs/google_cloud_storage/google_cloud_storage_test.go
  plugins/inputs/http/http_test.go
  plugins/inputs/http_response/http_response_test.go
  plugins/inputs/intel_dlb/intel_dlb_test.go
  plugins/inputs/intel_powerstat/intel_powerstat_test.go
  plugins/inputs/intel_rdt/publisher_test.go
  plugins/inputs/mock/mock_test.go
  plugins/inputs/netflow/type_conversion_test.go
  plugins/inputs/pgbouncer/pgbouncer_test.go
  plugins/inputs/ping/ping_test.go
  plugins/inputs/postgresql/postgresql_test.go
  plugins/inputs/postgresql_extensible/postgresql_extensible_test.go
  plugins/inputs/statsd/statsd_test.go
  plugins/inputs/vsphere/vsphere_test.go
  plugins/outputs/application_insights/application_insights_test.go
  plugins/outputs/azure_data_explorer/azure_data_explorer_test.go
  plugins/outputs/bigquery/bigquery_test.go
  plugins/outputs/elasticsearch/elasticsearch_test.go
  plugins/outputs/graylog/graylog_test_linux.go
  plugins/outputs/groundwork/groundwork_test.go
  plugins/outputs/nebius_cloud_monitoring/nebius_cloud_monitoring_test.go
  plugins/outputs/postgresql/table_source_test.go
  plugins/outputs/sensu/sensu_test.go
  plugins/outputs/stackdriver/stackdriver_test.go
  plugins/outputs/yandex_cloud_monitoring/yandex_cloud_monitoring_test.go
  plugins/parsers/csv/parser_test.go
  plugins/parsers/nagios/parser_test.go
  testutil/testutil.go
Labels: ready for final review, test, linter

#15586 fix(parsers.xpath): Allow resolving extensions
  plugins/parsers/xpath/README.md
  plugins/parsers/xpath/parser.go
  plugins/parsers/xpath/protocolbuffer_document.go
  plugins/parsers/xpath/testcases/native_types_protobuf/telegraf.conf
  plugins/parsers/xpath/testcases/protobuf_benchmark/telegraf.conf
  plugins/parsers/xpath/testcases/protobuf_issue_13715/telegraf.conf
  plugins/parsers/xpath/testcases/protobuf_issue_15571/data.json
  plugins/parsers/xpath/testcases/protobuf_issue_15571/expected.out
  plugins/parsers/xpath/testcases/protobuf_issue_15571/message.bin
  plugins/parsers/xpath/testcases/protobuf_issue_15571/port.proto
  plugins/parsers/xpath/testcases/protobuf_issue_15571/telegraf.conf
  plugins/parsers/xpath/testcases/protobuf_issue_15571/telemetry_top.proto
  plugins/parsers/xpath/testcases/protobuf_noskip_bytes_grpc/telegraf.conf
  plugins/parsers/xpath/testcases/protobuf_powerdns_hex/telegraf.conf
  plugins/parsers/xpath/testcases/protobuf_skip_bytes_grpc/telegraf.conf
Labels: fix, ready for final review, plugin/parser

#15595 docs: Further clarify modifiers
  docs/CONFIGURATION.md
Labels: docs, ready for final review

#15598 docs(inputs.opcua_listener): Enhance explanation of subscription interval
  plugins/inputs/opcua_listener/README.md
  plugins/inputs/opcua_listener/sample.conf
Labels: docs, area/opcua, ready for final review, plugin/input

#15599 chore: Update to Go v1.22.5
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore, go

#15613 feat(outputs.elasticsearch): support data streams
  plugins/outputs/elasticsearch/README.md
  plugins/outputs/elasticsearch/elasticsearch.go
  plugins/outputs/elasticsearch/elasticsearch_test.go
  plugins/outputs/elasticsearch/sample.conf
Labels: feat, area/elasticsearch, ready for final review, plugin/output

#15611 docs(outputs.syslog): Doc syslog message format length limits
  plugins/outputs/syslog/README.md
Labels: docs, area/syslog, ready for final review, plugin/output

#15601 fix(inputs.ping): Check addr length to avoid crash
  plugins/inputs/ping/ping.go
Labels: fix, area/ping, ready for final review, plugin/input

#15569 feat(outputs.remotefile): Add plugin to store metrics in remote files
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/outputs/all/remotefile.go
  plugins/outputs/remotefile/README.md
  plugins/outputs/remotefile/backends.go
  plugins/outputs/remotefile/remotefile.go
  plugins/outputs/remotefile/remotefile_test.go
  plugins/outputs/remotefile/sample.conf
Labels: feat, ready for final review, plugin/output

#15615 fix(outputs.remotefile): Resolve linter not checking error
  plugins/outputs/remotefile/remotefile.go
Labels: fix, plugin/output

#15600 feat(inputs.sql): Add SAP HANA SQL driver
  docs/LICENSE_OF_DEPENDENCIES.md
  docs/SQL_DRIVERS_INPUT.md
  go.mod
  go.sum
  plugins/inputs/sql/drivers.go
Labels: feat, ready for final review, plugin/input, area/sql

#15589 fix(common.socket): Switch to context to simplify closing
  plugins/common/socket/socket.go
  plugins/common/socket/socket_test.go
  plugins/common/socket/stream.go
Labels: fix, ready for final review, plugin/input

#15631 docs: Clarify poll vs notify
  cmd/telegraf/main.go
  plugins/inputs/tail/README.md
  plugins/inputs/tail/sample.conf
Labels: docs, ready for final review

#15630 fix(tools.custom_builder): Handle multiple instance of the same plugin correctly
  tools/custom_builder/config.go
  tools/custom_builder/main.go
  tools/custom_builder/main_test.go
  tools/custom_builder/packages.go
  tools/custom_builder/testcases/issue_13592/expected.tags
  tools/custom_builder/testcases/issue_13592/telegraf.conf
  tools/custom_builder/testcases/issue_15627/expected.tags
  tools/custom_builder/testcases/issue_15627/telegraf.conf
Labels: fix, ready for final review

#15564 feat(agent): Add metric disk buffer
  accumulator.go
  config/config.go
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  metric.go
  metric/deserialize.go
  metric/init.go
  metric/tracking.go
  models/buffer.go
  models/buffer_disk.go
  models/buffer_disk_test.go
  models/buffer_mem_test.go
  models/buffer_suite_test.go
Labels: feat, area/agent, ready for final review

#15423 feat(inputs.procstat): Add ability to collect per-process socket statistics
  go.mod
  go.sum
  plugins/inputs/procstat/README.md
  plugins/inputs/procstat/os_linux.go
  plugins/inputs/procstat/os_others.go
  plugins/inputs/procstat/os_windows.go
  plugins/inputs/procstat/process.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/procstat_test.go
  plugins/inputs/procstat/sample.conf
Labels: feat, area/procstat, ready for final review, plugin/input

#15632 chore: Clean up go.mod
  go.mod
Labels: ready for final review, chore

#15628 feat(inputs.amd_rocm_smi): Parse newer ROCm versions
  plugins/inputs/amd_rocm_smi/README.md
  plugins/inputs/amd_rocm_smi/amd_rocm_smi.go
  plugins/inputs/amd_rocm_smi/amd_rocm_smi_test.go
  plugins/inputs/amd_rocm_smi/testdata/mi100_rocm571.json
  plugins/inputs/amd_rocm_smi/testdata/mi100_rocm602.json
  plugins/inputs/amd_rocm_smi/testdata/rx6700xt_rocm430.json
  plugins/inputs/amd_rocm_smi/testdata/rx6700xt_rocm571.json
  plugins/inputs/amd_rocm_smi/testdata/rx6700xt_rocm602.json
  plugins/inputs/amd_rocm_smi/testdata/rx6700xt_rocm612.json
Labels: feat, ready for final review, plugin/input

#15396 feat(inputs.netflow): Add support for sFlow drop notification packets
  go.mod
  go.sum
  plugins/inputs/netflow/sflow_v5.go
  plugins/inputs/netflow/testcases/sflow_issue_15375/expected.out
  plugins/inputs/netflow/testcases/sflow_issue_15375/sflow_drop_1036.bin
  plugins/inputs/netflow/testcases/sflow_issue_15375/telegraf.conf
Labels: feat, area/network, ready for final review, plugin/input

#15642 chore(agent): Print config filename in messages for clarity
  cmd/telegraf/telegraf.go
Labels: ready for final review, chore

#15643 chore(agent): Clean up watch goroutines
  cmd/telegraf/telegraf.go
Labels: ready for final review, chore

#15647 chore(mac): Create Info.plist, avoid signing entry script
  scripts/mac-signing.sh
Labels: ready for final review, chore

#15649 fix(inputs.tail): Prevent deadlock when closing and max undelivered lines hit
  plugins/inputs/tail/tail.go
Labels: area/tail, fix, ready for final review, plugin/input

#15658 docs(inputs.hddtemp): Document hddtemp removal and alternatives
  plugins/inputs/hddtemp/README.md
Labels: docs, ready for final review, plugin/input

#15644 feat(agent): Watch for deleted files
  cmd/telegraf/telegraf.go
Labels: feat, area/agent, ready for final review

#15602 feat(outputs.parquet): Introduce Parquet output
  go.mod
  go.sum
  plugins/inputs/sql/drivers.go
  plugins/outputs/all/parquet.go
  plugins/outputs/parquet/README.md
  plugins/outputs/parquet/parquet.go
  plugins/outputs/parquet/parquet_test.go
  plugins/outputs/parquet/sample.conf
  plugins/parsers/parquet/columns.go
  plugins/parsers/parquet/parser.go
Labels: feat, ready for final review, plugin/output

#15655 feat(inputs.s7comm): Implement startup-error behavior settings
  plugins/inputs/s7comm/README.md
  plugins/inputs/s7comm/s7comm.go
  plugins/inputs/s7comm/s7comm_test.go
Labels: feat, area/iot, ready for final review, plugin/input

#15629 chore(logging): Implement early logging
  agent/accumulator_test.go
  cmd/telegraf/main.go
  config/config.go
  config/config_test.go
  config/internal_test.go
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  logger.go
  logger/default_logger.go
  logger/default_logger_test.go
  logger/event_logger.go
  logger/handler.go
  logger/logger.go
  logger/logger_test.go
  logger/registry.go
  logger/stdlog_redirector.go
  models/running_aggregator.go
  models/running_input.go
  models/running_output.go
  models/running_parsers.go
  models/running_processor.go
  models/running_serializer.go
  plugins/common/kafka/logger.go
  plugins/common/mqtt/mqtt_v3.go
  plugins/common/mqtt/mqtt_v5.go
  plugins/common/shim/goshim.go
  plugins/common/shim/goshim_test.go
  plugins/inputs/cloud_pubsub_push/cloud_pubsub_push_test.go
  plugins/inputs/execd/execd_test.go
  plugins/inputs/phpfpm/phpfpm_test.go
  plugins/outputs/postgresql/postgresql.go
  plugins/outputs/stackdriver/counter_cache_test.go
Labels: ready for final review, chore

#15668 feat(outputs.dynatrace): add support for metric to be treated and reported as a delta counter using regular expression
  plugins/outputs/dynatrace/README.md
  plugins/outputs/dynatrace/dynatrace.go
  plugins/outputs/dynatrace/dynatrace_test.go
  plugins/outputs/dynatrace/sample.conf
Labels: feat, ready for final review, plugin/output

#15670 fix(inputs.mqtt_consumer): Restore trace logging option
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/inputs/mqtt_consumer/mqtt_logger.go
Labels: fix, ready for final review, plugin/input

#15648 feat(inputs.modbus): Allow reading single bits of input and holding registers
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/configuration.go
  plugins/inputs/modbus/configuration_metric.go
  plugins/inputs/modbus/configuration_metric_test.go
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_register_test.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/configuration_request_test.go
  plugins/inputs/modbus/sample_metric.conf
  plugins/inputs/modbus/sample_register.conf
  plugins/inputs/modbus/sample_request.conf
  plugins/inputs/modbus/type_conversions.go
  plugins/inputs/modbus/type_conversions_bit.go
Labels: feat, area/modbus, ready for final review, plugin/input

#15661 fix(agent): Fix buffer directory config and document
  config/config.go
  docs/CONFIGURATION.md
  models/running_output.go
Labels: fix, area/agent, ready for final review

#15677 feat(plugins): Allow to override log-level per plugin
  config/config.go
  docs/CONFIGURATION.md
  logger.go
  logger/logger.go
  models/running_aggregator.go
  models/running_input.go
  models/running_output.go
  models/running_parsers.go
  models/running_processor.go
  models/running_serializer.go
Labels: feat, ready for final review

#15687 feat(inputs.statsd): Expose allowed_pending_messages as internal stat
  plugins/inputs/statsd/statsd.go
Labels: feat, area/statsd, ready for final review, plugin/input

#15696 fix(inputs.opcua): Reconnect if closed connection
  plugins/inputs/opcua/read_client.go
Labels: fix, area/opcua, ready for final review, plugin/input

#15689 feat(outputs.kafka): Option to set producer message timestamp
  plugins/outputs/kafka/README.md
  plugins/outputs/kafka/kafka.go
  plugins/outputs/kafka/sample.conf
Labels: feat, area/kafka, ready for final review, plugin/output

#15688 feat(inptus.elasticsearch): Gather enrich stats
  plugins/inputs/elasticsearch/README.md
  plugins/inputs/elasticsearch/elasticsearch.go
  plugins/inputs/elasticsearch/elasticsearch_test.go
  plugins/inputs/elasticsearch/sample.conf
  plugins/inputs/elasticsearch/testdata_test.go
Labels: feat, area/elasticsearch, ready for final review

#15695 feat(logging): Add 'trace' log-level
  docs/CONFIGURATION.md
  logger.go
  logger/logger.go
  logger/stdlog_redirector.go
  plugins/common/kafka/logger.go
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/sample_general_begin.conf
  plugins/inputs/netflow/README.md
  plugins/inputs/netflow/netflow.go
  plugins/inputs/netflow/sample.conf
  plugins/inputs/s7comm/README.md
  plugins/inputs/s7comm/s7comm.go
  plugins/inputs/s7comm/sample.conf
  plugins/inputs/upsd/README.md
  plugins/inputs/upsd/sample.conf
  plugins/inputs/upsd/upsd.go
  plugins/outputs/kafka/kafka.go
  plugins/outputs/postgresql/postgresql_test.go
  plugins/parsers/xpath/README.md
  plugins/parsers/xpath/parser.go
  testutil/capturelog.go
  testutil/log.go
Labels: feat, area/logging, ready for final review
