Repository influxdata/telegraf, pull requests merged in 2024-04, with the labels that each got.

#15054 fix(agent): Ensure import of required package for pprof support
  cmd/telegraf/pprof.go
Labels: fix, area/agent, ready for final review

#15082 chore(deps): Bump github.com/shirou/gopsutil from v3.23.11 to v3.24.3
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#15099 docs(inputs.x509_cert): Explain expiry field
  plugins/inputs/x509_cert/README.md
Labels: docs, ready for final review, plugin/input

#15100 chore(deps): Bump github.com/prometheus/client_golang from 1.18.0 to 1.19.0
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/parsers/prometheus/parser.go
  plugins/serializers/prometheus/prometheus.go
Labels: area/prometheus, ready for final review, dependencies, chore

#15109 chore: Upgrade Go to 1.22.2
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore, go

#15078 fix(inputs.prometheus): Remove duplicate response_timeout option
  plugins/inputs/prometheus/README.md
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/prometheus/prometheus_test.go
  plugins/inputs/prometheus/sample.conf
Labels: area/prometheus, fix, ready for final review, plugin/input

#15105 test(inputs.postgresql): Add unit-test for #8586
  plugins/inputs/postgresql/postgresql_test.go
Labels: area/postgresql, ready for final review, plugin/input, test

#15114 chore: Fix typos
  EXTERNAL_PLUGINS.md
  docs/developers/REVIEWS.md
  internal/snmp/table.go
  migrations/inputs_gnmi/testcases/deprecated_guess_path/telegraf.conf
  migrations/inputs_gnmi/testcases/deprecated_guess_path_false/telegraf.conf
  plugins/aggregators/derivative/derivative_test.go
  plugins/inputs/azure_monitor/azure_monitor.go
  plugins/inputs/ceph/ceph.go
  plugins/inputs/clickhouse/README.md
  plugins/inputs/clickhouse/sample.conf
  plugins/inputs/elasticsearch_query/README.md
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/sample.conf
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
  plugins/inputs/opensearch_query/README.md
  plugins/inputs/phpfpm/README.md
  plugins/inputs/phpfpm/sample.conf
  plugins/inputs/smart/smart.go
  plugins/inputs/sqlserver/sqlqueriesV2.go
  plugins/inputs/win_services/win_services.go
  plugins/outputs/iotdb/iotdb.go
  plugins/outputs/postgresql/postgresql_test.go
  plugins/outputs/sql/sql.go
  plugins/outputs/syslog/README.md
  plugins/outputs/zabbix/zabbix.go
  plugins/parsers/json_v2/README.md
  plugins/parsers/json_v2/testdata/types/telegraf.conf
  plugins/parsers/xpath/README.md
  plugins/processors/reverse_dns/README.md
  plugins/processors/reverse_dns/sample.conf
  plugins/processors/tag_limit/tag_limit_test.go
  scripts/installgo_mac.sh
Labels: ready for final review, chore

#15008 feat(parsers.parquet): Add Apache Parquet Parser
  docs/DATA_FORMATS_INPUT.md
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/parsers/all/parquet.go
  plugins/parsers/parquet/README.md
  plugins/parsers/parquet/columns.go
  plugins/parsers/parquet/parser.go
  plugins/parsers/parquet/parser_test.go
  plugins/parsers/parquet/testcases/benchmark/expected.out
  plugins/parsers/parquet/testcases/benchmark/generate.py
  plugins/parsers/parquet/testcases/benchmark/input.parquet
  plugins/parsers/parquet/testcases/benchmark/telegraf.conf
  plugins/parsers/parquet/testcases/datatypes/expected.out
  plugins/parsers/parquet/testcases/datatypes/generate.py
  plugins/parsers/parquet/testcases/datatypes/input.parquet
  plugins/parsers/parquet/testcases/datatypes/telegraf.conf
  plugins/parsers/parquet/testcases/dense/expected.out
  plugins/parsers/parquet/testcases/dense/generate.py
  plugins/parsers/parquet/testcases/dense/input.parquet
  plugins/parsers/parquet/testcases/dense/telegraf.conf
  plugins/parsers/parquet/testcases/empty/expected.out
  plugins/parsers/parquet/testcases/empty/generate.py
  plugins/parsers/parquet/testcases/empty/input.parquet
  plugins/parsers/parquet/testcases/empty/telegraf.conf
  plugins/parsers/parquet/testcases/multitable/expected.out
  plugins/parsers/parquet/testcases/multitable/generate.py
  plugins/parsers/parquet/testcases/multitable/input.parquet
  plugins/parsers/parquet/testcases/multitable/telegraf.conf
  plugins/parsers/parquet/testcases/sparse/expected.out
  plugins/parsers/parquet/testcases/sparse/generate.py
  plugins/parsers/parquet/testcases/sparse/input.parquet
  plugins/parsers/parquet/testcases/sparse/telegraf.conf
  plugins/parsers/parquet/testcases/timestamp/expected.out
  plugins/parsers/parquet/testcases/timestamp/generate.py
  plugins/parsers/parquet/testcases/timestamp/input.parquet
  plugins/parsers/parquet/testcases/timestamp/telegraf.conf
Labels: feat, ready for final review, plugin/parser

#15129 fix(inputs.systemd_units): Reconnect if connection is lost
  plugins/inputs/systemd_units/systemd_units_linux.go
  plugins/inputs/systemd_units/systemd_units_test.go
Labels: fix, ready for final review, plugin/input

#15122 chore(inputs.diskio): Add udev properties only if available
  plugins/inputs/diskio/diskio_linux.go
Labels: area/system, ready for final review, plugin/input, chore

#15135 docs(processors.scale): Correct example configuration
  plugins/processors/scale/README.md
  plugins/processors/scale/sample.conf
Labels: docs, ready for final review, plugin/processor

#15141 docs(inputs.jolokia2_agent): Add example configs for table and all table metrics
  plugins/inputs/jolokia2_agent/examples/cassandra.conf
Labels: feat, docs, ready for final review, plugin/input

#15143 chore: Remove executable bit from files
  Makefile
  plugins/inputs/elasticsearch_query/README.md
  plugins/inputs/execd/examples/count.rb
  plugins/inputs/execd/examples/count.sh
  plugins/inputs/kibana/test_environment/run_test_env.sh
  plugins/inputs/opensearch_query/README.md
  plugins/serializers/wavefront/wavefront.go
  plugins/serializers/wavefront/wavefront_test.go
Labels: security, ready for final review, chore

#15094 feat(processors.timestamp): Introduce timestamp processor
  plugins/processors/all/processors.go
  plugins/processors/timestamp/README.md
  plugins/processors/timestamp/sample.conf
  plugins/processors/timestamp/timestamp.go
  plugins/processors/timestamp/timestamp_test.go
Labels: feat, ready for final review, plugin/processor

#15147 docs(processors.clone): Clarify filtering applies to all metrics
  plugins/processors/clone/README.md
Labels: docs, ready for final review, plugin/processor

#15146 fix(inputs.modbus): Avoid overflow when calculating with uint16 addresses
  plugins/inputs/modbus/configuration_metric.go
  plugins/inputs/modbus/configuration_metric_test.go
  plugins/inputs/modbus/configuration_register_test.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/configuration_request_test.go
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/request.go
Labels: fix, area/modbus, ready for final review, plugin/input

#15108 fix(inputs.systemd_units): Revert to only gather loaded units by default
  CHANGELOG.md
  plugins/inputs/systemd_units/README.md
  plugins/inputs/systemd_units/sample.conf
  plugins/inputs/systemd_units/systemd_units.go
  plugins/inputs/systemd_units/systemd_units_linux.go
  plugins/inputs/systemd_units/systemd_units_test.go
Labels: fix, area/system, plugin/input

#15150 docs(agent): Add README
  agent/README.md
Labels: docs

#15110 feat(inputs.http_response): Add cookie authentication
  plugins/inputs/http_response/README.md
  plugins/inputs/http_response/http_response.go
  plugins/inputs/http_response/sample.conf
Labels: feat, ready for final review, plugin/input

#15169 feat(inputs.knx_listener): Add support for string data type
  plugins/inputs/knx_listener/knx_listener.go
  plugins/inputs/knx_listener/knx_listener_test.go
Labels: feat, ready for final review, plugin/input

#15149 feat(inputs.gnmi): Add keepalive settings
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/sample.conf
Labels: feat, area/gnmi, ready for final review, plugin/input

#15168 fix(systemd): Remove 5 second timeout, use default (90)
  scripts/telegraf.service
Labels: fix, ready for final review

#15166 docs: Add missing formats
  docs/DATA_FORMATS_INPUT.md
  docs/DATA_FORMATS_OUTPUT.md
Labels: docs, ready for final review

#15155 fix(inputs.diskio): Update path to in /sys
  plugins/inputs/diskio/diskio_linux.go
Labels: fix, ready for final review, plugin/input

#15144 fix(inputs.nvidia): Include power limit field for v11
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
  plugins/inputs/nvidia_smi/schema_v11/parser.go
  plugins/inputs/nvidia_smi/schema_v11/types.go
Labels: fix, area/nvidia, ready for final review, plugin/input

#15066 feat(inputs.smartctl): Introduce smartctl JSON input plugin
  plugins/inputs/all/smartctl.go
  plugins/inputs/smartctl/README.md
  plugins/inputs/smartctl/sample.conf
  plugins/inputs/smartctl/smartctl.go
  plugins/inputs/smartctl/smartctl_device.go
  plugins/inputs/smartctl/smartctl_json.go
  plugins/inputs/smartctl/smartctl_scan.go
  plugins/inputs/smartctl/smartctl_test.go
  plugins/inputs/smartctl/testcases_device/megaraid/device
  plugins/inputs/smartctl/testcases_device/megaraid/deviceType
  plugins/inputs/smartctl/testcases_device/megaraid/expected.out
  plugins/inputs/smartctl/testcases_device/megaraid/response.json
  plugins/inputs/smartctl/testcases_device/nvme/device
  plugins/inputs/smartctl/testcases_device/nvme/deviceType
  plugins/inputs/smartctl/testcases_device/nvme/expected.out
  plugins/inputs/smartctl/testcases_device/nvme/response.json
  plugins/inputs/smartctl/testcases_device/scsi/device
  plugins/inputs/smartctl/testcases_device/scsi/deviceType
  plugins/inputs/smartctl/testcases_device/scsi/expected.out
  plugins/inputs/smartctl/testcases_device/scsi/response.json
  plugins/inputs/smartctl/testcases_device/usb/device
  plugins/inputs/smartctl/testcases_device/usb/deviceType
  plugins/inputs/smartctl/testcases_device/usb/expected.out
  plugins/inputs/smartctl/testcases_device/usb/response.json
  plugins/inputs/smartctl/testcases_scan/all/expected.out
  plugins/inputs/smartctl/testcases_scan/all/response.json
  plugins/inputs/smartctl/testcases_scan/all/telegraf.toml
  plugins/inputs/smartctl/testcases_scan/exclude/expected.out
  plugins/inputs/smartctl/testcases_scan/exclude/response.json
  plugins/inputs/smartctl/testcases_scan/exclude/telegraf.toml
  plugins/inputs/smartctl/testcases_scan/include/expected.out
  plugins/inputs/smartctl/testcases_scan/include/response.json
  plugins/inputs/smartctl/testcases_scan/include/telegraf.toml
  plugins/inputs/smartctl/testcases_scan/megaraid/expected.out
  plugins/inputs/smartctl/testcases_scan/megaraid/response.json
  plugins/inputs/smartctl/testcases_scan/megaraid/telegraf.toml
Labels: feat, ready for final review, plugin/input

#15173 feat(inputs.gnmi): Add secret store support for username and password
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/gnmi_test.go
Labels: feat, area/gnmi, ready for final review, plugin/input

#15176 fix(inputs.phpfpm): Check error before continue processing
  plugins/inputs/phpfpm/fcgi_client.go
  plugins/inputs/phpfpm/phpfpm_test.go
Labels: fix, ready for final review, plugin/input

#15145 feat(inputs): Add framework to retry on startup errors
  agent/agent.go
  config/config.go
  models/running_input.go
  plugins/inputs/amqp_consumer/README.md
  plugins/inputs/amqp_consumer/amqp_consumer.go
  plugins/inputs/amqp_consumer/amqp_consumer_test.go
  plugins/inputs/amqp_consumer/sample.conf
Labels: feat, area/rabbitmq, area/agent, ready for final review, plugin/input

#15182 docs(outputs.kafka): Add metadata options to docs
  plugins/outputs/kafka/README.md
  plugins/outputs/kafka/sample.conf
Labels: docs, area/kafka, ready for final review, plugin/output

#15159 docs(aggregators.final): Swap useful statements
  plugins/aggregators/final/README.md
  plugins/aggregators/final/sample.conf
Labels: docs, ready for final review, plugin/aggregator

#14948 feat(inputs.procstat): Allow multiple selection criteria
  plugins/inputs/procstat/README.md
  plugins/inputs/procstat/filter.go
  plugins/inputs/procstat/os_linux.go
  plugins/inputs/procstat/os_others.go
  plugins/inputs/procstat/os_windows.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/sample.conf
  plugins/inputs/procstat/service_finders.go
Labels: feat, area/procstat, ready for final review, plugin/input

#15195 fix(inputs.prometheus): Correctly handle host header
  plugins/inputs/prometheus/prometheus.go
Labels: area/prometheus, fix, ready for final review, plugin/input

#15197 chore(CI): Add check for PR target branch
  .github/workflows/milestones.yml
  .github/workflows/pr-target-branch.yml
Labels: ready for final review, chore

#15178 fix(inputs.opcua): Make sure to always create a request
  plugins/inputs/opcua/read_client.go
Labels: fix, area/opcua, ready for final review, plugin/input

#15154 fix(inputs.sqlserver): Honor timezone on backup metrics
  plugins/inputs/sqlserver/sqlserverqueries.go
Labels: fix, area/sqlserver, plugin/input

#15186 feat(inputs.procstat): Report consistent I/O on Linux
  CHANGELOG.md
  plugins/inputs/procstat/README.md
  plugins/inputs/procstat/os_linux.go
  plugins/inputs/procstat/os_others.go
  plugins/inputs/procstat/os_windows.go
  plugins/inputs/procstat/process.go
  plugins/inputs/procstat/procstat_test.go
Labels: feat, area/procstat, ready for final review, plugin/input

#15212 fix(inputs.sysstat): Prevent default sadc_interval from increasing on reload
  plugins/inputs/sysstat/sysstat.go
Labels: fix, area/sysstat, ready for final review, plugin/input

#15215 chore(inputs.nvidia_smi): Consolidate startup_retry_behavior to model implementation
  models/running_input.go
  plugins/inputs/nvidia_smi/README.md
  plugins/inputs/nvidia_smi/nvidia_smi.go
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
  plugins/inputs/nvidia_smi/sample.conf
Labels: ready for final review, plugin/input, chore

#15213 fix(http): Stop plugins from leaking file descriptors on telegraf reload
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer.go
  plugins/inputs/elasticsearch/elasticsearch.go
  plugins/inputs/elasticsearch_query/elasticsearch_query.go
  plugins/inputs/http/http.go
  plugins/inputs/kibana/kibana.go
  plugins/inputs/logstash/logstash.go
  plugins/inputs/openstack/openstack.go
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/vault/vault.go
  plugins/outputs/cloudwatch/cloudwatch.go
  plugins/outputs/http/http.go
  plugins/secretstores/http/http.go
Labels: fix, ready for final review, plugin/input, plugin/output, plugin/secretstores

#15223 fix(Makefile): Use go's dependency checker for 'per platform' builds
  Makefile
Labels: fix, ready for final review

#15170 feat(processors.starlark): Allow persistence of global state
  agent/agent.go
  plugins/common/starlark/starlark.go
  plugins/processors/starlark/starlark.go
  plugins/processors/starlark/starlark_test.go
Labels: feat, area/starlark, ready for final review, plugin/processor

#15224 fix(outputs.graphite): Handle local address without port correctly
  plugins/outputs/graphite/graphite.go
Labels: fix, area/graphite, ready for final review, plugin/output

#15229 docs(inputs.prometheus): Remove invalid deprecation statement
  plugins/inputs/prometheus/README.md
  plugins/inputs/prometheus/sample.conf
Labels: docs, area/prometheus, ready for final review, plugin/input

#15225 feat(outputs.influxdb): Add option to define local address
  plugins/outputs/influxdb/README.md
  plugins/outputs/influxdb/http.go
  plugins/outputs/influxdb/influxdb.go
  plugins/outputs/influxdb/influxdb_test.go
  plugins/outputs/influxdb/sample.conf
  plugins/outputs/influxdb/udp.go
Labels: feat, area/influxdb, ready for final review, plugin/output

#15228 feat(outputs.influxdb_v2): Add option to set local address
  plugins/outputs/influxdb_v2/README.md
  plugins/outputs/influxdb_v2/http.go
  plugins/outputs/influxdb_v2/influxdb_v2.go
  plugins/outputs/influxdb_v2/influxdb_v2_test.go
  plugins/outputs/influxdb_v2/sample.conf
Labels: feat, area/influxdb, ready for final review, plugin/output

#15239 fix(inputs.http_listener_v2): Wrap timestamp parsing error messages
  plugins/parsers/json_v2/parser.go
Labels: fix, ready for final review, plugin/input

#15261 docs(inputs.opcua_listener): Remove invalid inline notation
  plugins/inputs/opcua_listener/README.md
  plugins/inputs/opcua_listener/sample.conf
Labels: docs, area/opcua, ready for final review, plugin/input

#15270 feat(inputs.mock): Add baseline option to sine
  plugins/inputs/mock/README.md
  plugins/inputs/mock/mock.go
  plugins/inputs/mock/mock_test.go
  plugins/inputs/mock/sample.conf
Labels: feat, ready for final review, plugin/input
