Repository influxdata/telegraf, pull requests merged in 2024-06, with the labels that each got.

#15400 feat(inputs.exec): Add option to ignore return code
  plugins/inputs/exec/README.md
  plugins/inputs/exec/exec.go
  plugins/inputs/exec/exec_test.go
  plugins/inputs/exec/sample.conf
Labels: feat, area/exec, ready for final review, plugin/input

#15440 fix(inputs.cloudwatch): Add accounts when enabled
  plugins/inputs/cloudwatch/cloudwatch.go
Labels: fix, ready for final review, plugin/input

#15388 feat(config): Allow reloading on URL config change
  cmd/telegraf/main.go
  cmd/telegraf/telegraf.go
  config/config.go
Labels: feat, area/configuration, ready for final review

#15372 chore(windows): Rework Windows service handling
  cmd/telegraf/cmd_win_service.go
  cmd/telegraf/cmd_win_service_notwindows.go
  cmd/telegraf/main.go
  cmd/telegraf/telegraf.go
  cmd/telegraf/telegraf_posix.go
  cmd/telegraf/telegraf_windows.go
  docs/LICENSE_OF_DEPENDENCIES.md
  docs/WINDOWS_SERVICE.md
  go.mod
  go.sum
Labels: platform/windows, area/agent, ready for final review, chore

#15434 feat(processors.printer): Embed Influx serializer options
  plugins/processors/printer/README.md
  plugins/processors/printer/printer.go
  plugins/processors/printer/sample.conf
Labels: feat, ready for final review, plugin/processor

#15390 chore: Fix errcheck CI warnings outside of plugins directory
  .golangci.yml
  cmd/telegraf/telegraf.go
  config/config.go
  config/config_test.go
  config/envvar.go
  filter/filter_test.go
  internal/globpath/globpath.go
  internal/globpath/globpath_test.go
  internal/internal_test.go
  internal/process/process.go
  internal/rotate/file_writer_test.go
  internal/snmp/field.go
  internal/snmp/translator_gosmi.go
  internal/templating/engine_test.go
  logger/default_logger_test.go
  migrations/inputs_httpjson/migration_test.go
  testutil/accumulator.go
  tools/package_incus_test/container.go
Labels: ready for final review, chore, linter

#15439 feat(inputs.snmp): Convert octet string with invalid data to hex
  internal/snmp/field.go
  internal/snmp/field_test.go
  internal/snmp/translator_gosmi_test.go
  internal/snmp/translator_netsnmp_test.go
  plugins/inputs/snmp/README.md
Labels: feat, area/snmp, ready for final review, plugin/input

#15451 docs(inputs.swap): Remove linux only comment
  plugins/inputs/swap/README.md
  plugins/inputs/swap/sample.conf
Labels: docs, ready for final review, plugin/input

#15438 feat(inputs.influxdb): Add metrics for build, crypto and commandline
  plugins/inputs/influxdb/influxdb.go
  plugins/inputs/influxdb/influxdb_test.go
  plugins/inputs/influxdb/testdata/cloud1.influx
  plugins/inputs/influxdb/testdata/cloud1.json
  plugins/inputs/influxdb/types.go
Labels: feat, area/influxdb, ready for final review, plugin/input

#15454 feat(inputs.http_listener): Allow setting custom success return code
  plugins/inputs/http_listener_v2/README.md
  plugins/inputs/http_listener_v2/http_listener_v2.go
  plugins/inputs/http_listener_v2/http_listener_v2_test.go
  plugins/inputs/http_listener_v2/sample.conf
Labels: feat, ready for final review, plugin/input

#15457 test(inputs.jolokia2_agent): Update integration test results
  plugins/inputs/jolokia2_agent/jolokia2_agent_test.go
Labels: area/jolokia, plugin/input, test

#15459 test(outputs.sql): Update wait for log message
  plugins/outputs/sql/sql_test.go
Labels: ready for final review, plugin/output, area/sql, test

#15395 feat(input.azure_monitor): Use default azure credentials chain when no secret provided
  go.mod
  go.sum
  plugins/inputs/azure_monitor/README.md
  plugins/inputs/azure_monitor/azure_monitor.go
  plugins/inputs/azure_monitor/sample.conf
Labels: feat, ready for final review, plugin/input

#15452 chore: Update removal dates to either v1.35.0 or v1.40.0
  config/config.go
  plugins/common/opcua/input/input_client.go
  plugins/common/tls/config.go
  plugins/inputs/aerospike/aerospike.go
  plugins/inputs/amqp_consumer/amqp_consumer.go
  plugins/inputs/cloudwatch/cloudwatch.go
  plugins/inputs/consul/consul.go
  plugins/inputs/deprecations.go
  plugins/inputs/docker/docker.go
  plugins/inputs/elasticsearch/elasticsearch.go
  plugins/inputs/filecount/filecount.go
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/http/http.go
  plugins/inputs/http_listener_v2/http_listener_v2.go
  plugins/inputs/http_response/http_response.go
  plugins/inputs/icinga2/icinga2.go
  plugins/inputs/influxdb_listener/influxdb_listener.go
  plugins/inputs/intel_powerstat/intel_powerstat.go
  plugins/inputs/internet_speed/internet_speed.go
  plugins/inputs/kube_inventory/kube_inventory.go
  plugins/inputs/kubernetes/kubernetes.go
  plugins/inputs/mock/mock.go
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/mongodb/mongodb.go
  plugins/inputs/nsq_consumer/nsq_consumer.go
  plugins/inputs/ntpq/ntpq.go
  plugins/inputs/openldap/openldap.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/rabbitmq/rabbitmq.go
  plugins/inputs/smart/smart.go
  plugins/inputs/snmp_trap/snmp_trap.go
  plugins/inputs/sqlserver/sqlserver.go
  plugins/inputs/statsd/statsd.go
  plugins/inputs/vsphere/vsphere.go
  plugins/inputs/win_perf_counters/win_perf_counters.go
  plugins/inputs/zookeeper/zookeeper.go
  plugins/outputs/amqp/amqp.go
  plugins/outputs/influxdb/influxdb.go
  plugins/outputs/kinesis/kinesis.go
  plugins/outputs/librato/librato.go
  plugins/outputs/mqtt/mqtt.go
  plugins/outputs/wavefront/wavefront.go
  plugins/parsers/binary/parser.go
  plugins/parsers/xpath/parser.go
Labels: ready for final review, chore

#15463 chore: Print debug message when no messages generated from parse
  internal/internal.go
  plugins/inputs/amqp_consumer/amqp_consumer.go
  plugins/inputs/cloud_pubsub/cloud_pubsub.go
  plugins/inputs/cloud_pubsub_push/cloud_pubsub_push.go
  plugins/inputs/directory_monitor/directory_monitor.go
  plugins/inputs/eventhub_consumer/eventhub_consumer.go
  plugins/inputs/exec/exec.go
  plugins/inputs/execd/execd.go
  plugins/inputs/file/file.go
  plugins/inputs/file/file_test.go
  plugins/inputs/http/http.go
  plugins/inputs/http_listener_v2/http_listener_v2.go
  plugins/inputs/kafka_consumer/kafka_consumer.go
  plugins/inputs/kinesis_consumer/kinesis_consumer.go
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/inputs/nats_consumer/nats_consumer.go
  plugins/inputs/socket_listener/socket_listener.go
  plugins/inputs/tail/tail.go
Labels: ready for final review, chore

#15462 chore(circleci): Build Windows package after linux testing
  .circleci/config.yml
Labels: ready for final review, chore

#15461 test(inputs.syslog): Add timeout to closed socket test
  plugins/inputs/syslog/syslog_test.go
Labels: area/syslog, ready for final review, plugin/input, test

#15429 feat(outputs.mqtt): Add client trace logging, resolve MQTT5 reconnect login
  plugins/common/mqtt/mqtt.go
  plugins/common/mqtt/mqtt_logger.go
  plugins/common/mqtt/mqtt_v3.go
  plugins/common/mqtt/mqtt_v5.go
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/outputs/mqtt/README.md
  plugins/outputs/mqtt/sample.conf
Labels: feat, area/mqtt, ready for final review, plugin/output

#15466 fix(processors.snmp_lookup): Return empty tag-map on error to avoid panic
  plugins/processors/snmp_lookup/lookup.go
  plugins/processors/snmp_lookup/lookup_test.go
Labels: area/snmp, fix, ready for final review, plugin/processor

#15464 docs(inputs.ldap): Document all TLS options
  plugins/inputs/ldap/README.md
  plugins/inputs/ldap/ldap.go
  plugins/inputs/ldap/sample.conf
  plugins/inputs/ldap/sample.conf.in
Labels: docs, ready for final review, plugin/input

#15456 fix(inputs.ecs): Check for nil pointer before use
  plugins/inputs/ecs/types.go
Labels: fix, ready for final review, plugin/input

#15470 chore(deps): Bump go from v1.22.3 to v1.22.4
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore, go

#15441 chore(deps): Bump github.com/lxc/incus v0.4.0 to v6.2.0
  go.mod
  go.sum
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt_test.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/jti_openconfig_telemetry/jti_openconfig_telemetry.go
  plugins/inputs/libvirt/libvirt_utils.go
  plugins/inputs/opentelemetry/opentelemetry_test.go
  plugins/inputs/p4runtime/p4runtime.go
  plugins/inputs/p4runtime/p4runtime_test.go
  plugins/outputs/opentelemetry/opentelemetry.go
  plugins/outputs/opentelemetry/opentelemetry_test.go
  plugins/outputs/stackdriver/stackdriver_test.go
  tools/package_incus_test/incus.go
Labels: ready for final review, dependencies, chore

#15475 feat(outputs.influxdb_v2): Preserve custom query parameters on write
  plugins/outputs/influxdb_v2/http.go
  plugins/outputs/influxdb_v2/http_internal_test.go
Labels: feat, area/influxdb, ready for final review, plugin/output

#15473 chore: Update golangci-lint from v1.58.0 to v1.59.0
  .circleci/config.yml
  Makefile
  models/running_output_test.go
  plugins/inputs/directory_monitor/directory_monitor.go
  plugins/inputs/directory_monitor/directory_monitor_test.go
  plugins/inputs/linux_cpu/linux_cpu_test.go
Labels: ready for final review, dependencies, chore, linter

#15460 feat(inputs.openstack): Use service catalog from v3 authentication if available
  plugins/inputs/openstack/openstack.go
Labels: feat, ready for final review, plugin/input

#15477 feat(outputs.elasticsearch): Allow settings extra headers for elasticsearch output
  plugins/outputs/elasticsearch/README.md
  plugins/outputs/elasticsearch/elasticsearch.go
  plugins/outputs/elasticsearch/sample.conf
Labels: feat, area/elasticsearch, plugin/output

#15478 chore(linters): Bump golangci-lint to v1.59.1
  .circleci/config.yml
  .golangci.yml
  Makefile
  plugins/inputs/cloudwatch/cloudwatch.go
  plugins/inputs/dovecot/dovecot.go
  plugins/inputs/dovecot/dovecot_test.go
  plugins/inputs/http_response/http_response.go
  plugins/inputs/logparser/logparser.go
  plugins/inputs/net_response/net_response.go
  plugins/inputs/raindrops/raindrops.go
  plugins/inputs/sqlserver/sqlserver.go
  plugins/inputs/win_eventlog/win_eventlog.go
Labels: ready for final review, chore, linter

#15471 feat(outputs.elasticsearch): Allow custom template index settings
  plugins/outputs/elasticsearch/README.md
  plugins/outputs/elasticsearch/elasticsearch.go
  plugins/outputs/elasticsearch/elasticsearch_test.go
  plugins/outputs/elasticsearch/sample.conf
Labels: feat, area/elasticsearch, ready for final review, plugin/output

#15468 feat(inputs.openstack): Allow collection without admin privileges
  go.mod
  go.sum
  plugins/inputs/openstack/README.md
  plugins/inputs/openstack/openstack.go
  plugins/inputs/openstack/sample.conf
Labels: feat, cloud, ready for final review, plugin/input

#15472 chore(linters): Fix non-input/output plugin errcheck warnings
  .golangci.yml
  plugins/aggregators/derivative/derivative_test.go
  plugins/aggregators/quantile/quantile.go
  plugins/aggregators/starlark/starlark_test.go
  plugins/common/cookie/cookie_test.go
  plugins/common/opcua/input/input_client_test.go
  plugins/common/opcua/opcua_util.go
  plugins/common/shim/input_test.go
  plugins/common/shim/processor_test.go
  plugins/common/socket/socket_test.go
  plugins/common/socket/stream.go
  plugins/common/yangmodel/decoder.go
  plugins/parsers/avro/parser_test.go
  plugins/parsers/binary/parser_test.go
  plugins/parsers/collectd/parser_test.go
  plugins/parsers/csv/parser_test.go
  plugins/parsers/dropwizard/parser.go
  plugins/parsers/dropwizard/parser_test.go
  plugins/parsers/form_urlencoded/parser_test.go
  plugins/parsers/graphite/parser_test.go
  plugins/parsers/grok/parser.go
  plugins/parsers/grok/parser_test.go
  plugins/parsers/influx/influx_upstream/parser_test.go
  plugins/parsers/influx/parser_test.go
  plugins/parsers/json/parser_test.go
  plugins/parsers/json_v2/parser_test.go
  plugins/parsers/logfmt/parser_test.go
  plugins/parsers/nagios/parser_test.go
  plugins/parsers/openmetrics/parser_test.go
  plugins/parsers/opentsdb/parser_test.go
  plugins/parsers/parquet/parser_test.go
  plugins/parsers/prometheus/parser_test.go
  plugins/parsers/prometheusremotewrite/parser_test.go
  plugins/parsers/value/parser_test.go
  plugins/parsers/wavefront/parser_test.go
  plugins/parsers/xpath/parser_test.go
  plugins/processors/dedup/dedup.go
  plugins/processors/execd/execd_test.go
  plugins/processors/filepath/filepath.go
  plugins/secretstores/http/http_test.go
  plugins/secretstores/oauth2/oauth2_test.go
  plugins/serializers/graphite/graphite_test.go
  plugins/serializers/msgpack/metric_test.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite_test.go
  plugins/serializers/splunkmetric/splunkmetric.go
  plugins/serializers/wavefront/wavefront_test.go
Labels: ready for final review, chore, linter

#15488 fix(agent): Ignore startup-errors in test mode
  agent/agent.go
Labels: fix, area/agent, ready for final review

#15496 fix(inputs.http_response): Fix for IPv4 and IPv6 addresses when interface is set
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/http_response/http_response.go
  plugins/inputs/http_response/http_response_test.go
Labels: fix, ready for final review, plugin/input

#15503 test(incus): Update image list
  tools/package_incus_test/main.go
Labels: ready for final review, test

#15507 test(inputs.disk): Set label in test to avoid reading local value
  plugins/inputs/disk/disk_test.go
  plugins/inputs/disk/testdata/issue_10297/proc/1/mountinfo
  plugins/inputs/disk/testdata/issue_10297/sys/block/sda1/dm/name
  plugins/inputs/disk/testdata/issue_10297/sys/block/sdb/dm/name
  plugins/inputs/disk/testdata/success/proc/1/mountinfo
Labels: ready for final review, plugin/input, test

#15514 fix(logging): Add back constants for backward compatibility
  logger/default_logger.go
  logger/logger.go
Labels: fix, area/logging, ready for final review

#15424 feat(inputs.sqlserver): Introduce user specified ID parameter for ADD logins
  plugins/inputs/sqlserver/README.md
  plugins/inputs/sqlserver/sample.conf
  plugins/inputs/sqlserver/sqlserver.go
Labels: feat, area/sqlserver, ready for final review, plugin/input

#15510 test(lint): Enable mirror
  .golangci.yml
  internal/content_coding_test.go
  internal/internal_test.go
  internal/snmp/field.go
  plugins/inputs/cloudwatch_metric_streams/cloudwatch_metric_streams_test.go
  plugins/inputs/docker_log/docker_log_test.go
  plugins/inputs/http_listener_v2/http_listener_v2_test.go
  plugins/inputs/influxdb_listener/influxdb_listener_test.go
  plugins/inputs/influxdb_v2_listener/influxdb_v2_listener_test.go
  plugins/inputs/nsd/nsd_test.go
  plugins/inputs/openntpd/openntpd_test.go
  plugins/inputs/opensmtpd/opensmtpd_test.go
  plugins/inputs/snmp_trap/snmp_trap.go
  plugins/inputs/unbound/unbound_test.go
  plugins/inputs/varnish/varnish_test.go
  plugins/inputs/win_perf_counters/win_perf_counters.go
  plugins/outputs/sql/sql_test.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite_test.go
  tools/readme_config_includer/generator.go
Labels: ready for final review, test, linter

#15511 test(lint): Enable badSyncOnceFunc
  .golangci.yml
Labels: ready for final review, test, linter

#15520 chore: Update github.com/gorilla/websocket license
  docs/LICENSE_OF_DEPENDENCIES.md
Labels: ready for final review, chore

#15493 fix(inputs.mysql): Handle custom TLS configs correctly
  plugins/inputs/mysql/mysql.go
  plugins/inputs/mysql/mysql_test.go
Labels: area/mysql, fix, ready for final review, plugin/input

#15486 feat(inputs.mqtt_consumer): Implement startup error behaviors
  plugins/inputs/mqtt_consumer/README.md
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/inputs/mqtt_consumer/mqtt_consumer_test.go
  plugins/inputs/mqtt_consumer/sample.conf
  testutil/accumulator.go
Labels: feat, area/mqtt, ready for final review, plugin/input

#15528 feat(inputs.mqtt_consumer): Add variable length topic parsing
  plugins/inputs/mqtt_consumer/README.md
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
  plugins/inputs/mqtt_consumer/mqtt_consumer_test.go
  plugins/inputs/mqtt_consumer/sample.conf
  plugins/inputs/mqtt_consumer/topic_parser.go
Labels: feat, area/mqtt, ready for final review, plugin/input

#15495 feat(inputs.ipmi_sensor): Collect additional commands
  plugins/inputs/ipmi_sensor/README.md
  plugins/inputs/ipmi_sensor/ipmi_sensor.go
  plugins/inputs/ipmi_sensor/ipmi_sensor_test.go
  plugins/inputs/ipmi_sensor/sample.conf
Labels: feat, ready for final review, plugin/input

#15531 fix(secretstores.oauth2): Ensure endpoint params is not nil
  plugins/secretstores/oauth2/oauth2.go
  plugins/secretstores/oauth2/oauth2_test.go
Labels: fix, ready for final review, plugin/secretstores

#15532 test(linters): Enable copyloopvar
  .golangci.yml
  plugins/common/cookie/cookie_test.go
  plugins/inputs/intel_pmu/reader.go
  plugins/inputs/neptune_apex/neptune_apex_test.go
  plugins/inputs/x509_cert/x509_cert_test.go
  plugins/parsers/csv/parser.go
  plugins/parsers/graphite/config.go
  plugins/parsers/json/json_flattener.go
  plugins/processors/strings/strings.go
  tools/config_includer/generator.go
Labels: ready for final review, test, linter

#15544 feat(inputs.elasticsearch): Add support for custom headers
  plugins/inputs/elasticsearch/README.md
  plugins/inputs/elasticsearch/elasticsearch.go
  plugins/inputs/elasticsearch/sample.conf
Labels: feat, area/elasticsearch, ready for final review, plugin/input

#15554 docs(parsers.binary): Fix wording in README
  plugins/parsers/binary/README.md
Labels: docs, ready for final review, plugin/parser

#15521 feat(inputs.netflow): Add more fields for sFlow extended gateway packets
  plugins/inputs/netflow/sflow_v5.go
Labels: feat, ready for final review, plugin/input

#15551 fix(inputs.chrony): Support local (reference) sources
  plugins/inputs/chrony/chrony.go
Labels: fix, ready for final review, plugin/input

#15545 chore(agent): Extract buffer into interface
  models/buffer.go
  models/buffer_mem.go
  models/buffer_mem_test.go
  models/buffer_suite_test.go
  models/buffer_test.go
  models/running_output.go
Labels: area/agent, ready for final review, chore

#15556 chore(logging): Refactor code
  cmd/telegraf/cmd_config.go
  cmd/telegraf/main.go
  cmd/telegraf/telegraf.go
  cmd/telegraf/telegraf_windows.go
  config/deprecation.go
  config/deprecation_test.go
  logger/config.go
  logger/default_logger.go
  logger/default_logger_test.go
  logger/event_logger.go
  logger/event_logger_test.go
  logger/log.go
  logger/logger.go
  logger/logger_test.go
  logger/registry.go
Labels: area/agent, ready for final review, chore

#15458 feat(inputs.systemd_units): Support user scoped units (#12053)
  plugins/inputs/systemd_units/README.md
  plugins/inputs/systemd_units/sample.conf
  plugins/inputs/systemd_units/systemd_units.go
  plugins/inputs/systemd_units/systemd_units_linux.go
  plugins/inputs/systemd_units/systemd_units_test.go
Labels: feat, ready for final review, plugin/input

#15570 feat(common.tls): Allow group aliases for ciphersuites
  plugins/common/tls/client.conf
  plugins/common/tls/utils.go
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/sample.conf
  plugins/inputs/http/README.md
  plugins/inputs/http/sample.conf
  plugins/inputs/ldap/README.md
  plugins/inputs/ldap/sample.conf
Labels: feat, ready for final review

#15568 fix(inputs.chrony): Handle ServerStats4 response
  go.mod
  go.sum
  plugins/inputs/chrony/chrony.go
Labels: fix, ready for final review, plugin/input

#15508 chore(common.starlark): Print nonconvertible data
  plugins/common/starlark/field_dict.go
  plugins/processors/starlark/README.md
  plugins/processors/starlark/starlark_test.go
Labels: area/starlark, ready for final review, plugin/aggregator, plugin/processor, chore

#15565 fix(inputs.gnmi): Handle YANG namespaces in paths correctly
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/path.go
  plugins/inputs/gnmi/tag_store.go
  plugins/inputs/gnmi/testcases/issue_15546/expected.out
  plugins/inputs/gnmi/testcases/issue_15546/responses.json
  plugins/inputs/gnmi/testcases/issue_15546/telegraf.conf
Labels: fix, area/gnmi, ready for final review, plugin/input
