Repository influxdata/telegraf, pull requests merged in 2024-02, with the labels that each got.

#14659 fix(inputs.redfish): Resolve iLO4 fan data
  plugins/inputs/redfish/README.md
  plugins/inputs/redfish/redfish.go
  plugins/inputs/redfish/redfish_test.go
  plugins/inputs/redfish/sample.conf
  plugins/inputs/redfish/testdata/hp_thermal_ilo4.json
Labels: fix, ready for final review, plugin/input

#14635 fix(inputs.vsphere): Use guest.guestId value if set for guest name
  plugins/inputs/vsphere/endpoint.go
  plugins/inputs/vsphere/finder.go
Labels: fix, area/vsphere, ready for final review, plugin/input

#14667 chore: Remove tumbleweed from nightly
  tools/package_incus_test/main.go
Labels: chore

#14629 feat(inputs.chrony): Remove chronyc dependency
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/chrony/README.md
  plugins/inputs/chrony/chrony.go
  plugins/inputs/chrony/chrony_test.go
  plugins/inputs/chrony/sample.conf
  plugins/inputs/chrony/testdata/chrony.conf
  plugins/inputs/chrony/testdata/start.sh
Labels: feat, ready for final review, plugin/input

#14665 fix(inputs.snmp_trap): Enable SHA ciphers
  plugins/inputs/snmp_trap/README.md
  plugins/inputs/snmp_trap/sample.conf
  plugins/inputs/snmp_trap/snmp_trap.go
  plugins/inputs/snmp_trap/snmp_trap_test.go
Labels: area/snmp, fix, ready for final review, plugin/input

#14661 feat(inputs.prometheus): Add option to limit body length
  plugins/inputs/prometheus/README.md
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/prometheus/prometheus_test.go
  plugins/inputs/prometheus/sample.conf
Labels: feat, area/prometheus, ready for final review, plugin/input

#14628 feat(outputs.graphite): Allow to set the local address to bind
  plugins/outputs/graphite/README.md
  plugins/outputs/graphite/graphite.go
  plugins/outputs/graphite/graphite_test.go
  plugins/outputs/graphite/sample.conf
Labels: feat, area/graphite, ready for final review, plugin/output

#14673 feat(inputs.chrony): Allow to collect more data
  plugins/inputs/chrony/README.md
  plugins/inputs/chrony/chrony.go
  plugins/inputs/chrony/chrony_test.go
  plugins/inputs/chrony/sample.conf
Labels: feat, ready for final review, plugin/input

#14679 fix(inputs.kafka_consumer): Correctly setting name to `msg_headers_as_tags`
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/sample.conf
Labels: area/kafka, fix, ready for final review, plugin/input

#14684 feat(inputs.win_services): Make service selection case-insensitive
  plugins/inputs/win_services/win_services.go
Labels: feat, area/windows, ready for final review, plugin/input

#14669 fix(inputs.filecount): Respect symlink files with FollowSymLinks
  plugins/inputs/filecount/filecount.go
  plugins/inputs/filecount/filesystem_helpers.go
  plugins/inputs/filecount/filesystem_helpers_notwindows.go
Labels: fix, ready for final review, plugin/input

#14693 chore: Fix timezone test case failure on macOS
  internal/internal_test.go
Labels: chore

#14706 chore(secrets): Warn on settings looking like secrets but use invalid characters
  config/secret.go
  config/secret_test.go
Labels: ready for final review, chore

#14702 feat(inputs.redfish): Allow secrets for username/password configuration
  plugins/inputs/redfish/README.md
  plugins/inputs/redfish/redfish.go
  plugins/inputs/redfish/redfish_test.go
  plugins/inputs/redfish/sample.conf
Labels: feat, ready for final review, plugin/input

#14737 test(processors.clone): Add unit-test for tracking metrics
  plugins/processors/clone/clone.go
  plugins/processors/clone/clone_test.go
Labels: fix, ready for final review, plugin/processor

#14738 test(processors.date): Add unit-test for tracking metrics
  plugins/processors/date/date.go
  plugins/processors/date/date_test.go
Labels: ready for final review, plugin/processor, test

#14741 chore: Remove unused imports
  plugins/inputs/powerdns_recursor/protocol_v1.go
  plugins/inputs/powerdns_recursor/protocol_v2.go
Labels: chore

#14740 test(processors.converter): Add unit-test for tracking metrics
  plugins/processors/converter/converter_test.go
Labels: ready for final review, plugin/processor, test

#14739 test(processors.regex): Add unit-test for tracking metrics
  plugins/processors/regex/regex_test.go
Labels: ready for final review, plugin/processor, test

#14736 test(processors.enum): Add unit-test for tracking metrics
  plugins/processors/enum/enum_test.go
Labels: ready for final review, plugin/processor, test

#14697 chore: Update to go1.22.0
  .circleci/config.yml
  .github/workflows/govulncheck.yml
  Makefile
  README.md
  go.mod
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
  testutil/tls.go
Labels: ready for final review, chore, go

#14707 fix(inputs.postgresql_extensible): Add support for bool tags
  plugins/inputs/postgresql_extensible/postgresql_extensible.go
Labels: fix, area/postgresql, ready for final review, plugin/input

#14745 test(processors.dedup): Add unit-test for tracking metrics
  plugins/processors/dedup/dedup_test.go
Labels: ready for final review, plugin/processor, test

#14746 test(processors.defaults): Add unit-test for tracking metrics
  plugins/processors/defaults/defaults_test.go
Labels: ready for final review, plugin/processor, test

#14747 test(processors.filter): Add unit-test for tracking metrics
  plugins/processors/filter/filter_test.go
Labels: ready for final review, plugin/processor, test

#14753 chore(deps): Use github.com/coreos/go-systemd/v22 instead of git version
  cmd/telegraf/telegraf.go
  go.mod
  go.sum
Labels: chore

#14742 chore(linters): Bump golangci-lint to v1.56.0
  .circleci/config.yml
  .golangci.yml
  Makefile
  config/types_test.go
  plugins/inputs/burrow/burrow_test.go
  plugins/inputs/cloudwatch/cloudwatch_test.go
  plugins/inputs/ecs/types_test.go
  plugins/inputs/ipmi_sensor/ipmi_sensor_test.go
  plugins/inputs/opcua/opcua_test.go
  plugins/inputs/statsd/statsd_test.go
  plugins/inputs/win_perf_counters/win_perf_counters_integration_test.go
  plugins/inputs/zfs/zfs_linux_test.go
  plugins/inputs/zipkin/codec/jsonV1/jsonV1.go
  plugins/outputs/stackdriver/stackdriver_test.go
  plugins/outputs/timestream/timestream_test.go
Labels: ready for final review, chore, linter

#14755 chore(deps): Bump github.com/gwos/tcg/sdk from v0.0.0-20220621192633-df0eac0a1a4c to v8.7.2
  go.mod
  go.sum
Labels: chore

#14756 chore(inputs.csgo): Migrate plugin to new maintained version of rcon
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/csgo/csgo.go
  plugins/inputs/csgo/csgo_test.go
Labels: plugin/input, chore

#14757 chore(deps): Get rid of golang.org/x/exp and use stable versions instead
  go.mod
  plugins/inputs/intel_pmt/filtering.go
  plugins/inputs/intel_powerstat/intel_powerstat.go
  plugins/inputs/p4runtime/p4runtime.go
  plugins/outputs/clarify/clarify_test.go
Labels: chore

#14758 chore: Fix readme linter not using correct Go version
  .github/workflows/readme-linter.yml
  tools/update_goversion/main.go
Labels: chore

#14752 fix(outputs.mqtt): Retry metrics for server timeout
  plugins/outputs/mqtt/mqtt.go
Labels: fix, area/mqtt, ready for final review, plugin/output

#14760 chore(common.tls): Replace unmaintained github.com/youmark/pkcs8 with go.step.sm/crypto/pemutil
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/common/tls/config.go
Labels: ready for final review, chore

#14424 feat(inputs.prometheus): Add internal metrics
  plugins/inputs/prometheus/README.md
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/prometheus/prometheus_test.go
  plugins/inputs/prometheus/sample.conf
  plugins/outputs/prometheus_client/prometheus_client_v1_test.go
  plugins/outputs/prometheus_client/prometheus_client_v2_test.go
Labels: feat, area/prometheus, ready for final review, plugin/input

#14770 fix(processors.execd): Accept tracking metrics instead of dropping them
  plugins/processors/execd/execd.go
  plugins/processors/execd/execd_test.go
Labels: fix, area/execd, plugin/processor

#14761 dependabot: check for updates to GitHub actions
  .github/dependabot.yml
  .github/workflows/linter.yml
Labels: ready for final review

#14777 chore(inputs.prometheus): Fix linter warnings
  plugins/inputs/prometheus/prometheus_test.go
Labels: area/prometheus, ready for final review, plugin/input, chore

#14780 chore(processors.aws_ec2): Rename processor directory
  plugins/processors/all/aws_ec2.go
  plugins/processors/aws_ec2/README.md
  plugins/processors/aws_ec2/ec2.go
  plugins/processors/aws_ec2/ec2_test.go
  plugins/processors/aws_ec2/sample.conf
  tools/custom_builder/packages.go
Labels: ready for final review, plugin/processor, chore

#14781 test(processors.override): Add unit-test for tracking metrics
  plugins/processors/override/override.go
  plugins/processors/override/override_test.go
Labels: plugin/processor, test

#14776 test(processors.filepath): Add unit-test for tracking metrics
  plugins/processors/filepath/filepath_test.go
Labels: ready for final review, plugin/processor, test

#14778 test(processors.ifname): Add unit-test for tracking metrics
  plugins/processors/ifname/ifname_test.go
Labels: ready for final review, plugin/processor, test

#14779 test(processors.noise): Add unit-test for tracking metrics
  plugins/processors/noise/noise_test.go
Labels: ready for final review, plugin/processor, test

#14791 test(processors.printer): Add unit-test for tracking metrics
  plugins/processors/printer/printer_test.go
Labels: ready for final review, plugin/processor, test

#14789 test(processors.pivot): Add unit-test for tracking metrics
  plugins/processors/pivot/pivot_test.go
Labels: ready for final review, plugin/processor, test

#14790 test(processors.port_name): Add unit-test for tracking metrics
  plugins/processors/port_name/port_name_test.go
Labels: plugin/processor, test

#14806 feat(inputs.aerospike): Deprecate plugin
  plugins/inputs/aerospike/README.md
  plugins/inputs/deprecations.go
Labels: feat, ready for final review, plugin/input

#14808 test(processors.scale): Add unit-test for tracking metrics
  plugins/processors/scale/scale_test.go
Labels: ready for final review, plugin/processor, test

#14809 test(processors.s2geo): Add unit-test for tracking metrics
  plugins/processors/s2geo/s2geo_test.go
Labels: ready for final review, plugin/processor, test

#14811 test(processors.rename): Add unit-tests for tracking metrics
  plugins/processors/rename/rename_test.go
Labels: ready for final review, plugin/processor, test

#14812 test(processors.tag_limit): Add unit-tests for tracking metrics
  plugins/processors/tag_limit/tag_limit_test.go
Labels: ready for final review, plugin/processor, test

#14807 chore: Update dependabot labels
  .github/dependabot.yml
Labels: ready for final review, chore

#14764 feat(inputs.modbus): Add workaround for unusual string-byte locations
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/configuration_metric.go
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/modbus.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/modbus/sample_general_end.conf
  plugins/inputs/modbus/type_conversions.go
  plugins/inputs/modbus/type_conversions_string.go
Labels: feat, area/modbus, ready for final review, plugin/input

#14810 test(processors.topk): Add unit-test for tracking metrics
  plugins/processors/topk/topk.go
  plugins/processors/topk/topk_test.go
Labels: ready for final review, plugin/processor, test

#14680 feat(inputs.nvidia_smi): Add startup_error_behavior config option
  plugins/inputs/nvidia_smi/README.md
  plugins/inputs/nvidia_smi/nvidia_smi.go
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
  plugins/inputs/nvidia_smi/sample.conf
Labels: feat, ready for final review, plugin/input

#14821 test(processors.split): Add unit-tests for tracking metrics
  plugins/processors/split/split_test.go
Labels: ready for final review, plugin/processor, test

#14822 test(processors.reverse_dns): Add unit-tests for tracking metrics
  plugins/processors/reverse_dns/reverse_dns_test.go
Labels: ready for final review, plugin/processor, test

#14832 fix(processors.unpivot): Handle tracking metrics correctly
  plugins/processors/unpivot/unpivot.go
  plugins/processors/unpivot/unpivot_test.go
Labels: fix, ready for final review, plugin/processor

#14844 test(processors): Fix unit-test for tracking metrics
  plugins/processors/converter/converter_test.go
  plugins/processors/date/date_test.go
  plugins/processors/defaults/defaults_test.go
  plugins/processors/execd/execd_test.go
  plugins/processors/filepath/filepath_test.go
  plugins/processors/ifname/ifname_test.go
  plugins/processors/lookup/lookup_test.go
  plugins/processors/regex/regex_test.go
  plugins/processors/rename/rename_test.go
  plugins/processors/reverse_dns/reverse_dns_test.go
  plugins/processors/s2geo/s2geo_test.go
  plugins/processors/scale/scale_test.go
  plugins/processors/tag_limit/tag_limit_test.go
  plugins/processors/template/template_test.go
  plugins/processors/topk/topk_test.go
Labels: ready for final review, plugin/processor, test

#14836 feat(outputs.websocket): Allow specifying secrets in headers
  plugins/outputs/websocket/README.md
  plugins/outputs/websocket/websocket.go
  plugins/outputs/websocket/websocket_test.go
Labels: feat, ready for final review, plugin/output

#14854 test(internal): Try multiple timezone abbrevations
  internal/internal_test.go
Labels: ready for final review, test

#14856 test(inputs.procstat): Resolve flaky test when PID exists
  plugins/inputs/procstat/procstat_test.go
Labels: area/procstat, ready for final review, plugin/input, test

#14858 fix(config): Reword error message about missing config option
  config/config.go
  config/config_test.go
Labels: fix, area/configuration, ready for final review

#14857 chore(deps): Bump github.com/srebhan/cborquery from v0.0.0-20230626165538-38be85b82316 to v1.0.1
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#14792 feat(inputs.sqlserver): Add stolen target memory ratio
  plugins/inputs/sqlserver/sqlserverqueries.go
Labels: feat, area/sqlserver, ready for final review, plugin/input

#14830 chore(snmp): Refactor SNMP translation and data-structures
  internal/snmp/field.go
  internal/snmp/mib_loader.go
  internal/snmp/mib_loader_test.go
  internal/snmp/table.go
  internal/snmp/table_test.go
  internal/snmp/testdata/gosmi/bridgeMib
  internal/snmp/testdata/gosmi/bridgeMibImports
  internal/snmp/testdata/gosmi/foo
  internal/snmp/testdata/gosmi/fooImports
  internal/snmp/testdata/gosmi/ifPhysAddress
  internal/snmp/testdata/gosmi/ifPhysAddressImports
  internal/snmp/testdata/gosmi/server
  internal/snmp/testdata/gosmi/serverImports
  internal/snmp/testdata/gosmi/tableBuild
  internal/snmp/testdata/gosmi/tableMib
  internal/snmp/testdata/gosmi/tableMibImports
  internal/snmp/testdata/gosmi/tcpMib
  internal/snmp/testdata/gosmi/tcpMibImports
  internal/snmp/translate.go
  internal/snmp/translate_test.go
  internal/snmp/translator.go
  internal/snmp/translator_gosmi.go
  internal/snmp/translator_gosmi_test.go
  internal/snmp/translator_netsnmp.go
  internal/snmp/translator_netsnmp_mocks_generate.go
  internal/snmp/translator_netsnmp_mocks_test.go
  internal/snmp/translator_netsnmp_test.go
  internal/snmp/wrapper.go
  internal/snmp/wrapper_test.go
  plugins/inputs/snmp/gosmi.go
  plugins/inputs/snmp/snmp.go
  plugins/inputs/snmp/snmp_test.go
  plugins/processors/ifname/ifname.go
  plugins/processors/ifname/ifname_test.go
Labels: area/snmp, ready for final review, plugin/input, plugin/processor, chore

#14843 chore(circleci): Use latest mingw
  .circleci/config.yml
Labels: ready for final review, chore

#14852 fix(inputs.phpfpm): Continue despite erroneous sockets
  plugins/inputs/phpfpm/phpfpm.go
  plugins/inputs/phpfpm/phpfpm_test.go
Labels: fix, ready for final review, plugin/input

#14658 feat(outputs.nebius_cloud_monitoring): Add 'service' configuration setting
  plugins/outputs/nebius_cloud_monitoring/nebius_cloud_monitoring.go
  plugins/outputs/nebius_cloud_monitoring/sample.conf
Labels: feat, cloud, ready for final review, plugin/output

#14872 feat(inputs.amd_rocm_smi): Add startup_error_behavior config option
  plugins/inputs/amd_rocm_smi/README.md
  plugins/inputs/amd_rocm_smi/amd_rocm_smi.go
  plugins/inputs/amd_rocm_smi/amd_rocm_smi_test.go
  plugins/inputs/amd_rocm_smi/sample.conf
Labels: feat, ready for final review, plugin/input

#14876 test(inputs.syslog): Add unit-tests for long app-names
  plugins/inputs/syslog/testcases/rfc5424_best_effort_toolong_appname/expected.err
  plugins/inputs/syslog/testcases/rfc5424_best_effort_toolong_appname/expected.out
  plugins/inputs/syslog/testcases/rfc5424_best_effort_toolong_appname/input.txt
  plugins/inputs/syslog/testcases/rfc5424_best_effort_toolong_appname/telegraf.conf
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp/expected.out
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp/input.txt
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp/telegraf.conf
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_average/expected.out
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_average/input.txt
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_average/telegraf.conf
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_max/expected.out
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_max/input.txt
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_max/telegraf.conf
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_min_incomplete/expected.err
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_min_incomplete/expected.out
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_min_incomplete/input.txt
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_min_incomplete/telegraf.conf
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_one_per_packet/expected.out
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_one_per_packet/input.txt
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_one_per_packet/telegraf.conf
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_trim_message/expected.out
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_trim_message/input.txt
  plugins/inputs/syslog/testcases/rfc5424_best_effort_udp_trim_message/telegraf.conf
  plugins/inputs/syslog/testcases/rfc5424_long_appname/expected.out
  plugins/inputs/syslog/testcases/rfc5424_long_appname/input.txt
  plugins/inputs/syslog/testcases/rfc5424_long_appname/telegraf.conf
  plugins/inputs/syslog/testcases/rfc5424_strict_toolong_appname/expected.err
  plugins/inputs/syslog/testcases/rfc5424_strict_toolong_appname/input.txt
  plugins/inputs/syslog/testcases/rfc5424_strict_toolong_appname/telegraf.conf
  plugins/inputs/syslog/testcases/rfc5424_strict_udp/expected.out
  plugins/inputs/syslog/testcases/rfc5424_strict_udp/input.txt
  plugins/inputs/syslog/testcases/rfc5424_strict_udp/telegraf.conf
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_average/expected.out
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_average/input.txt
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_average/telegraf.conf
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_max/expected.out
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_max/input.txt
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_max/telegraf.conf
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_min_incomplete/expected.err
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_min_incomplete/input.txt
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_min_incomplete/telegraf.conf
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_one_per_packet/expected.out
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_one_per_packet/input.txt
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_one_per_packet/telegraf.conf
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_trim_message/expected.out
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_trim_message/input.txt
  plugins/inputs/syslog/testcases/rfc5424_strict_udp_trim_message/telegraf.conf
Labels: area/syslog, ready for final review, plugin/input, test

#14875 test(config): Add unit-test for comments in arrays
  config/config_test.go
  config/testdata/single_plugin_with_comment_in_array.toml
Labels: area/configuration, ready for final review, test

#14870 feat(serializers.csv): Allow specifying fixed column order
  plugins/serializers/csv/README.md
  plugins/serializers/csv/csv.go
  plugins/serializers/csv/csv_test.go
  plugins/serializers/csv/testcases/ordered.conf
  plugins/serializers/csv/testcases/ordered.csv
  plugins/serializers/csv/testcases/ordered_not_exist.conf
  plugins/serializers/csv/testcases/ordered_not_exist.csv
  plugins/serializers/csv/testcases/ordered_with_header.conf
  plugins/serializers/csv/testcases/ordered_with_header.csv
  plugins/serializers/csv/testcases/ordered_with_header_prefix.conf
  plugins/serializers/csv/testcases/ordered_with_header_prefix.csv
Labels: feat, ready for final review, plugin/serializer, area/csv

#14880 fix(processors.override): Correct TOML tag name
  plugins/processors/override/override.go
Labels: fix, ready for final review, plugin/processor

#14883 docs(inputs.modbus): Remove extra comma
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/sample_metric.conf
Labels: docs, area/modbus, ready for final review, plugin/input

#14839 docs: Introduce spec overview and template
  docs/specs/README.md
  docs/specs/template.md
Labels: docs

#14874 fix(inputs.docker_log): Use correct name when matching containers
  plugins/inputs/docker_log/docker_log.go
Labels: area/docker, fix, ready for final review, plugin/input

#14882 feat(agent): Add option to skip re-running processors after aggregators
  agent/agent.go
  agent/agent_test.go
  agent/testcases/aggregators-rerun-processors/expected.out
  agent/testcases/aggregators-rerun-processors/input.influx
  agent/testcases/aggregators-rerun-processors/telegraf.conf
  agent/testcases/aggregators-skip-processors/expected.out
  agent/testcases/aggregators-skip-processors/input.influx
  agent/testcases/aggregators-skip-processors/telegraf.conf
  cmd/telegraf/agent.conf
  config/config.go
Labels: feat, area/agent, ready for final review

#14828 docs(inputs.syslog): Document change of default read timeout to infinite
  CHANGELOG.md
Labels: docs, fix, area/syslog, ready for final review, plugin/input

#14867 chore(outputs.riemann_legacy)!: Remove deprecated plugin
  plugins/outputs/all/riemann_legacy.go
  plugins/outputs/riemann_legacy/README.md
  plugins/outputs/riemann_legacy/riemann_legacy.go
  plugins/outputs/riemann_legacy/riemann_legacy_test.go
  plugins/outputs/riemann_legacy/sample.conf
Labels: breaking change, ready for final review, plugin/output, chore

#14866 chore(inputs.udp_listener)!: Remove deprecated plugin
  plugins/inputs/all/udp_listener.go
  plugins/inputs/udp_listener/README.md
  plugins/inputs/udp_listener/sample.conf
  plugins/inputs/udp_listener/udp_listener.go
  plugins/inputs/udp_listener/udp_listener_test.go
Labels: breaking change, ready for final review, plugin/input, chore

#14865 chore(inputs.tcp_listener)!: Remove deprecated plugin
  plugins/inputs/all/tcp_listener.go
  plugins/inputs/tcp_listener/README.md
  plugins/inputs/tcp_listener/sample.conf
  plugins/inputs/tcp_listener/tcp_listener.go
  plugins/inputs/tcp_listener/tcp_listener_test.go
Labels: breaking change, ready for final review, plugin/input, chore

#14864 chore(inputs.snmp_legacy)!: Remove deprecated plugin
  plugins/inputs/all/snmp_legacy.go
  plugins/inputs/snmp_legacy/README.md
  plugins/inputs/snmp_legacy/sample.conf
  plugins/inputs/snmp_legacy/snmp_legacy.go
Labels: breaking change, area/snmp, ready for final review, plugin/input, chore

#14862 chore(inputs.jolokia)!: Remove deprecated plugin
  plugins/inputs/all/jolokia.go
  plugins/inputs/jolokia/README.md
  plugins/inputs/jolokia/jolokia.go
  plugins/inputs/jolokia/jolokia_test.go
  plugins/inputs/jolokia/sample.conf
Labels: breaking change, area/jolokia, ready for final review, plugin/input, chore

#14860 chore(inputs.httpjson)!: Remove deprecated plugin
  config/testdata/telegraf-agent.toml
  plugins/inputs/all/httpjson.go
  plugins/inputs/httpjson/README.md
  plugins/inputs/httpjson/httpjson.go
  plugins/inputs/httpjson/httpjson_test.go
  plugins/inputs/httpjson/sample.conf
Labels: breaking change, ready for final review, plugin/input, chore

#14859 chore(inputs.cassandra)!: Remove deprecated plugin
  plugins/inputs/all/cassandra.go
  plugins/inputs/cassandra/README.md
  plugins/inputs/cassandra/cassandra.go
  plugins/inputs/cassandra/cassandra_test.go
  plugins/inputs/cassandra/sample.conf
Labels: breaking change, ready for final review, plugin/input, chore

#14898 docs(changelog): Add note about removed deprecated plugins
  CHANGELOG.md
Labels: docs, ready for final review

#14223 feat(processors.snmp_lookup): New SNMP lookup processor
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  internal/snmp/config.go
  plugins/processors/all/snmp_lookup.go
  plugins/processors/ifname/ifname.go
  plugins/processors/ifname/ifname_test.go
  plugins/processors/snmp_lookup/README.md
  plugins/processors/snmp_lookup/backlog.go
  plugins/processors/snmp_lookup/lookup.go
  plugins/processors/snmp_lookup/lookup_test.go
  plugins/processors/snmp_lookup/sample.conf
  plugins/processors/snmp_lookup/store.go
  plugins/processors/snmp_lookup/store_test.go
  testutil/testutil.go
Labels: feat, area/snmp, ready for final review, plugin/processor

#14913 chore(inputs.disk)!: Remove deprecated 'mountpoints' option
  plugins/inputs/disk/disk.go
Labels: breaking change, ready for final review, plugin/input, chore

#14914 chore(inputs.mqtt_consumer)!: Remove deprecated 'metric_buffer' option
  plugins/inputs/mqtt_consumer/mqtt_consumer.go
Labels: breaking change, area/mqtt, ready for final review, plugin/input, chore

#14915 chore(inputs.nats_consumer)!: Remove deprecated 'metric_buffer' option
  plugins/inputs/nats_consumer/nats_consumer.go
Labels: breaking change, ready for final review, plugin/input, chore

#14916 chore(outputs.influxdb)!: Remove deprecated 'url' option
  plugins/outputs/influxdb/http_test.go
  plugins/outputs/influxdb/influxdb.go
  plugins/outputs/influxdb/influxdb_test.go
Labels: breaking change, area/influxdb, ready for final review, plugin/output, chore
