Repository influxdata/telegraf, pull requests merged in 2024-01, with the labels that each got.

#14449 chore(linters): Enable `indexAlloc`, `preferWriteByte`, `rangeExprCopy` and `sliceClear` checkers for gocritic
  .golangci.yml
Labels: ready for final review, chore, linter

#14463 fix(inputs.vsphere): Resolve occasional serverFault
  plugins/inputs/vsphere/endpoint.go
Labels: fix, area/vsphere, ready for final review, plugin/input

#14493 fix(inputs.procstat): Correctly set tags on procstat_lookup
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/procstat_test.go
Labels: area/procstat, fix, ready for final review, plugin/input

#14496 chore(deps): Bump github.com/dvsekhvalnov/jose2go from v1.5.0 to v1.5.1-0.20231206184617-48ba0b76bc88
  go.mod
  go.sum
Labels: security, ready for final review, dependencies, chore

#14513 chore(CI): Bump GitHub workflows to latest version
  .github/workflows/govulncheck.yml
  .github/workflows/linter.yml
  .github/workflows/milestones.yml
  .github/workflows/readme-linter.yml
Labels: ready for final review, chore

#14508 docs(inputs.opcua_listener): Fix nodes example
  plugins/inputs/opcua_listener/README.md
Labels: docs, area/opcua, ready for final review, plugin/input

#14489 fix(inputs.phpfpm): Use logger without causing panic
  plugins/inputs/phpfpm/phpfpm.go
  plugins/inputs/phpfpm/phpfpm_test.go
Labels: fix, ready for final review, plugin/input

#14520 test(processors.reverse_dns): Switch DNS server to avoid misbehaving test
  plugins/processors/reverse_dns/reverse_dns_test.go
Labels: ready for final review, plugin/processor, test

#14451 chore(linters): Enable `appendCombine` checker for gocritic
  .golangci.yml
  plugins/aggregators/histogram/histogram_test.go
  plugins/common/opcua/opcua_util.go
  plugins/inputs/apcupsd/apcupsd_test.go
  plugins/inputs/ipmi_sensor/ipmi_sensor.go
  plugins/inputs/lanz/lanz_test.go
  plugins/inputs/lustre2/lustre2_test.go
  plugins/inputs/systemd_units/systemd_units.go
  plugins/inputs/upsd/upsd_test.go
  plugins/outputs/dynatrace/dynatrace_test.go
  plugins/outputs/mongodb/mongodb.go
  plugins/outputs/mqtt/homie.go
  plugins/outputs/mqtt/mqtt.go
  plugins/outputs/opentsdb/opentsdb_test.go
  plugins/outputs/websocket/websocket_test.go
Labels: ready for final review, chore, linter

#14471 fix(outputs.prometheus_client): Always default to TCP
  plugins/outputs/prometheus_client/prometheus_client.go
Labels: area/prometheus, fix, ready for final review, plugin/output

#14525 chore(deps): bump collectd.org from v0.5.0 to v0.6.0
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#14524 chore(inputs.prometheus): Consolidate parsers for metric v1 and v2
  plugins/inputs/prometheus/parser_test.go
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/prometheus/prometheus_test.go
  plugins/parsers/prometheus/common.go
  plugins/parsers/prometheus/parser.go
  plugins/parsers/prometheus/parser_test.go
  plugins/parsers/prometheus/parser_v1.go
  plugins/parsers/prometheus/parser_v2.go
Labels: area/prometheus, ready for final review, plugin/input, chore

#14522 fix(common.kafka): Correctly set gssapi username/password
  plugins/common/kafka/sasl.go
Labels: area/kafka, fix, ready for final review

#14462 fix(inputs.phpfpm): Add pid field to differentiate metrics
  plugins/inputs/phpfpm/README.md
  plugins/inputs/phpfpm/phpfpm.go
  plugins/inputs/phpfpm/testdata/expected.out
Labels: fix, ready for final review, plugin/input

#14523 fix(processors.starlark): Use tracking ID to identify tracking metrics
  plugins/common/starlark/metric.go
  plugins/processors/starlark/starlark.go
  plugins/processors/starlark/starlark_test.go
Labels: fix, area/starlark, ready for final review, plugin/processor

#14447 fix(inputs.upsd): Add additional fields to upsd from NUT
  plugins/inputs/upsd/README.md
  plugins/inputs/upsd/sample.conf
  plugins/inputs/upsd/testcases/CyberPowerSystems_CP900EPFCLCD/expected.out
  plugins/inputs/upsd/testcases/CyberPowerSystems_CP900EPFCLCD/telegraf.conf
  plugins/inputs/upsd/testcases/CyberPowerSystems_CP900EPFCLCD/types.dev
  plugins/inputs/upsd/testcases/CyberPowerSystems_CP900EPFCLCD/variables.dev
  plugins/inputs/upsd/testcases/CyberPowerSystems_CP900EPFCLCD_additional/expected.out
  plugins/inputs/upsd/testcases/CyberPowerSystems_CP900EPFCLCD_additional/telegraf.conf
  plugins/inputs/upsd/testcases/CyberPowerSystems_CP900EPFCLCD_additional/types.dev
  plugins/inputs/upsd/testcases/CyberPowerSystems_CP900EPFCLCD_additional/variables.dev
  plugins/inputs/upsd/testcases/CyberPowerSystems_CP900EPFCLCD_full/expected.out
  plugins/inputs/upsd/testcases/CyberPowerSystems_CP900EPFCLCD_full/telegraf.conf
  plugins/inputs/upsd/testcases/CyberPowerSystems_CP900EPFCLCD_full/types.dev
  plugins/inputs/upsd/testcases/CyberPowerSystems_CP900EPFCLCD_full/variables.dev
  plugins/inputs/upsd/testcases/fake/expected.out
  plugins/inputs/upsd/testcases/fake/telegraf.conf
  plugins/inputs/upsd/testcases/fake/types.dev
  plugins/inputs/upsd/testcases/fake/variables.dev
  plugins/inputs/upsd/testcases/fake_force_float/expected.out
  plugins/inputs/upsd/testcases/fake_force_float/telegraf.conf
  plugins/inputs/upsd/testcases/fake_force_float/types.dev
  plugins/inputs/upsd/testcases/fake_force_float/variables.dev
  plugins/inputs/upsd/testcases/fake_force_float_with_string/expected.out
  plugins/inputs/upsd/testcases/fake_force_float_with_string/telegraf.conf
  plugins/inputs/upsd/testcases/fake_force_float_with_string/types.dev
  plugins/inputs/upsd/testcases/fake_force_float_with_string/variables.dev
  plugins/inputs/upsd/upsd.go
  plugins/inputs/upsd/upsd_test.go
Labels: fix, ready for final review, plugin/input

#14527 chore(parsers.prometheus): Migrate tests to test-cases
  metric.go
  metric/metric.go
  plugins/inputs/prometheus/prometheus_test.go
  plugins/parsers/prometheus/common.go
  plugins/parsers/prometheus/parser_test.go
  plugins/parsers/prometheus/parser_v1.go
  plugins/parsers/prometheus/testcases/benchmark/expected_v1.out
  plugins/parsers/prometheus/testcases/benchmark/expected_v2.out
  plugins/parsers/prometheus/testcases/benchmark/input.txt
  plugins/parsers/prometheus/testcases/benchmark/telegraf.conf
  plugins/parsers/prometheus/testcases/default_tags/expected_v1.out
  plugins/parsers/prometheus/testcases/default_tags/expected_v2.out
  plugins/parsers/prometheus/testcases/default_tags/input.txt
  plugins/parsers/prometheus/testcases/default_tags/telegraf.conf
  plugins/parsers/prometheus/testcases/histogram_inf_bucket/expected_v1.out
  plugins/parsers/prometheus/testcases/histogram_inf_bucket/expected_v2.out
  plugins/parsers/prometheus/testcases/histogram_inf_bucket/input.bin
  plugins/parsers/prometheus/testcases/histogram_inf_bucket/telegraf.conf
  plugins/parsers/prometheus/testcases/ignore_timestamp/expected_v1.out
  plugins/parsers/prometheus/testcases/ignore_timestamp/expected_v2.out
  plugins/parsers/prometheus/testcases/ignore_timestamp/input.txt
  plugins/parsers/prometheus/testcases/ignore_timestamp/telegraf.conf
  plugins/parsers/prometheus/testcases/metric_with_timestamp/expected_v1.out
  plugins/parsers/prometheus/testcases/metric_with_timestamp/expected_v2.out
  plugins/parsers/prometheus/testcases/metric_with_timestamp/input.txt
  plugins/parsers/prometheus/testcases/metric_with_timestamp/telegraf.conf
  plugins/parsers/prometheus/testcases/protobuf/expected_v1.out
  plugins/parsers/prometheus/testcases/protobuf/expected_v2.out
  plugins/parsers/prometheus/testcases/protobuf/input.bin
  plugins/parsers/prometheus/testcases/protobuf/telegraf.conf
  plugins/parsers/prometheus/testcases/valid_counter/expected_v1.out
  plugins/parsers/prometheus/testcases/valid_counter/expected_v2.out
  plugins/parsers/prometheus/testcases/valid_counter/input.txt
  plugins/parsers/prometheus/testcases/valid_counter/telegraf.conf
  plugins/parsers/prometheus/testcases/valid_gauge/expected_v1.out
  plugins/parsers/prometheus/testcases/valid_gauge/expected_v2.out
  plugins/parsers/prometheus/testcases/valid_gauge/input.txt
  plugins/parsers/prometheus/testcases/valid_gauge/telegraf.conf
  plugins/parsers/prometheus/testcases/valid_histogram/expected_v1.out
  plugins/parsers/prometheus/testcases/valid_histogram/expected_v2.out
  plugins/parsers/prometheus/testcases/valid_histogram/input.txt
  plugins/parsers/prometheus/testcases/valid_histogram/telegraf.conf
  plugins/parsers/prometheus/testcases/valid_summary/expected_v1.out
  plugins/parsers/prometheus/testcases/valid_summary/expected_v2.out
  plugins/parsers/prometheus/testcases/valid_summary/input.txt
  plugins/parsers/prometheus/testcases/valid_summary/telegraf.conf
  testutil/plugin_input/plugin.go
  testutil/plugin_input/sample.conf
Labels: area/prometheus, ready for final review, plugin/parser, chore

#14507 feat(inputs.kernel): Add Pressure Stall Information
  plugins/inputs/kernel/README.md
  plugins/inputs/kernel/kernel.go
  plugins/inputs/kernel/kernel_test.go
  plugins/inputs/kernel/psi.go
  plugins/inputs/kernel/psi_test.go
  plugins/inputs/kernel/sample.conf
  plugins/inputs/kernel/testdata/pressure/cpu
  plugins/inputs/kernel/testdata/pressure/io
  plugins/inputs/kernel/testdata/pressure/memory
Labels: feat, area/system, ready for final review, plugin/input

#14551 test(inputs.influxdb_v2_listener): Skip on Windows after hang
  plugins/inputs/influxdb_v2_listener/influxdb_v2_listener_test.go
Labels: plugin/input, test

#14572 test(inputs.http_listener_v2): Skip test on Windows due to hang
  plugins/inputs/http_listener_v2/http_listener_v2_test.go
Labels: plugin/input, test

#14491 feat: Add loongarch64 nightly and release builds
  .circleci/config.yml
  Makefile
  docs/NIGHTLIES.md
Labels: feat, ready for final review

#14526 fix(inputs.win_perf_counters): Check errors post-collection for skip
  plugins/inputs/win_perf_counters/win_perf_counters.go
Labels: fix, ready for final review, plugin/input

#14541 chore(deps): Bump go.starlark.net from go.starlark.net v0.0.0-20220328144851-d1966c6b9fcd to v0.0.0-20231121155337-90ade8b19d09
  go.mod
  go.sum
  plugins/common/starlark/starlark.go
Labels: area/starlark, ready for final review, dependencies, chore

#14565 chore: Update Windows signing process
  .circleci/config.yml
  scripts/sign-windows.sh
  scripts/windows-signing.ps1
Labels: platform/windows, ready for final review, chore

#14562 chore(deps): Bump github.com/intel/powertelemetry from 1.0.0 to 1.0.1
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#14534 feat(inputs.opcua_listener): Add retry options for connection failures
  docs/developers/SAMPLE_CONFIG.md
  plugins/inputs/opcua_listener/README.md
  plugins/inputs/opcua_listener/opcua_listener.go
  plugins/inputs/opcua_listener/opcua_listener_test.go
  plugins/inputs/opcua_listener/sample.conf
  plugins/inputs/opcua_listener/subscribe_client.go
Labels: feat, area/opcua, ready for final review, plugin/input

#14573 chore(deps): Bump github.com/vapourismo/knx-go from v0.0.0-20220829185957-fb5458a5389d to 20240107135439-816b70397a00
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#14584 chore(Makefile): Correctly name loong64 build target
  Makefile
Labels: chore

#14580 chore(parsers.prometheus): Consolidation v1 and v2 parsers
  go.mod
  go.sum
  plugins/parsers/prometheus/common.go
  plugins/parsers/prometheus/metric_v1.go
  plugins/parsers/prometheus/metric_v2.go
  plugins/parsers/prometheus/parser.go
  plugins/parsers/prometheus/parser_v1.go
  plugins/parsers/prometheus/parser_v2.go
Labels: area/prometheus, plugin/parser, chore

#14570 fix(inputs.win_perf_counters): Ignore PdhCstatusNoInstance as well
  plugins/inputs/win_perf_counters/win_perf_counters.go
Labels: area/windows, fix, ready for final review, plugin/input

#14587 chore: Attach workspace in current directoy, avoid non-existing dir
  .circleci/config.yml
Labels: chore

#14589 chore(circleci): Update gogc values to reduce memory pressure
  .circleci/config.yml
Labels: chore

#14585 fix(inputs.kafka_consumer): Mark messages that failed parsing
  plugins/inputs/kafka_consumer/kafka_consumer.go
Labels: feat, area/kafka, ready for final review, plugin/input

#14591 chore: Correct github.com/gorilla/websocket license
  docs/LICENSE_OF_DEPENDENCIES.md
Labels: chore

#14592 chore: Drop gogc further for Windows lint to 10
  .circleci/config.yml
Labels: chore

#14593 chore: Update incus group and mark script executable
  scripts/install_incus.sh
Labels: chore

#14594 chore: Correct Windows signing artifact dir
  scripts/sign-windows.sh
Labels: chore

#14582 fix(outputs.mqtt): Preserve leading slash in topic
  plugins/outputs/mqtt/mqtt_test.go
  plugins/outputs/mqtt/topic_name_generator.go
Labels: fix, area/mqtt, ready for final review, plugin/output

#14600 chore: Update incus group/signing path
  .circleci/config.yml
Labels: chore

#14595 chore(inputs.opcua): Add option to collect client debug logging
  plugins/common/opcua/client.go
  plugins/common/opcua/logger.go
  plugins/inputs/opcua/README.md
  plugins/inputs/opcua/sample.conf
  plugins/inputs/opcua_listener/README.md
  plugins/inputs/opcua_listener/sample.conf
Labels: area/opcua, ready for final review, plugin/input, chore

#14604 fix(outputs.loki): Closed body before reading it
  plugins/outputs/loki/loki.go
Labels: fix, ready for final review, plugin/output

#14606 fix(parsers.prometheus): Do not touch input data for protocol-buffers
  plugins/parsers/prometheus/parser.go
Labels: area/prometheus, fix, ready for final review, plugin/parser

#14236 feat(outputs.nats): Introduce NATS Jetstream option
  plugins/outputs/nats/README.md
  plugins/outputs/nats/nats.go
  plugins/outputs/nats/nats_test.go
  plugins/outputs/nats/sample.conf
  plugins/outputs/nats/testcases/js-config.conf
  plugins/outputs/nats/testcases/js-default.conf
  plugins/outputs/nats/testcases/js-no-stream.conf
  plugins/outputs/nats/testcases/js-subjects.conf
  plugins/outputs/nats/testcases/no-js.conf
Labels: feat, ready for final review, plugin/output

#14612 chore(internal.snmp): Rephrase error message is about translating OID
  internal/snmp/translate.go
Labels: area/snmp, ready for final review, chore

#14613 feat(inputs.smart): Add a "device_type" tag to differentiate disks behind a RAID controller
  plugins/inputs/smart/README.md
  plugins/inputs/smart/sample.conf
  plugins/inputs/smart/smart.go
  plugins/inputs/smart/smart_test.go
Labels: feat, area/smart, ready for final review, plugin/input

#14519 fix(outputs.iotdb): Handle paths that contain illegal characters
  plugins/outputs/iotdb/README.md
  plugins/outputs/iotdb/iotdb.go
  plugins/outputs/iotdb/iotdb_test.go
  plugins/outputs/iotdb/sample.conf
Labels: fix, area/iot, ready for final review, plugin/output

#14615 chore: Update incus nightly image
  .circleci/config.yml
Labels: chore

#14623 chore: Make directory before saving key
  scripts/install_incus.sh
Labels: chore

#13739 feat(outputs): Add Zabbix plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/outputs/all/zabbix.go
  plugins/outputs/zabbix/README.md
  plugins/outputs/zabbix/autoregister.go
  plugins/outputs/zabbix/autoregister_test.go
  plugins/outputs/zabbix/lld.go
  plugins/outputs/zabbix/lld_test.go
  plugins/outputs/zabbix/sample.conf
  plugins/outputs/zabbix/zabbix.go
  plugins/outputs/zabbix/zabbix_test.go
Labels: feat, new plugin, ready for final review, plugin/output

#14620 docs(inputs.mysql): Add section on how to convert string to numeric
  plugins/inputs/mysql/README.md
Labels: docs, area/mysql, ready for final review, plugin/input

#14621 docs(config): Add comment about single vs double quotes
  docs/CONFIGURATION.md
Labels: docs, area/configuration, ready for final review

#14622 docs(inputs.snmp): Clarify the deprecation of agent tag setting
  plugins/inputs/snmp/README.md
  plugins/inputs/snmp/sample.conf
  plugins/inputs/snmp/snmp.go
Labels: docs, area/snmp, ready for final review, plugin/input

#14626 chore: Drop windows lint gogc value to 1
  .circleci/config.yml
Labels: ready for final review, chore

#14627 fix(common.encoding): Remove locally-defined errors and use upstream ones
  plugins/common/encoding/decoder_reader.go
Labels: fix, error handling, ready for final review

#14624 docs: Add notes about TOML
  docs/TOML.md
Labels: docs, ready for final review

#14638 chore: Disable IPv6 on incus nightly
  scripts/install_incus.sh
Labels: chore

#14637 docs: Resolve table column count lint issues
  plugins/aggregators/derivative/README.md
  plugins/inputs/http_response/README.md
Labels: docs, ready for final review

#14625 feat(inputs.net): Add speed metric
  plugins/inputs/net/README.md
  plugins/inputs/net/net.go
  plugins/inputs/net/net_test.go
  plugins/inputs/net/testdata/general/sys/class/net/eth0/speed
  plugins/inputs/net/testdata/general/sys/class/net/eth1/speed
Labels: feat, ready for final review, plugin/input

#14639 chore(linters): Speed up golangci-lint runs for non-Linux OSes
  .circleci/config.yml
  Makefile
Labels: ready for final review, chore, linter

#14652 chore: Disable firewall during nightly package tests, use 2204
  .circleci/config.yml
  scripts/install_incus.sh
  tools/package_incus_test/main.go
Labels: fix

#14655 fix(processors.parser): Drop original tracking metrics
  plugins/processors/parser/parser.go
  plugins/processors/parser/parser_test.go
Labels: fix, ready for final review, plugin/parser, plugin/processor

#14656 chore(inputs.temp): Convert warning on missing sensors to debug message
  plugins/inputs/temp/temp_linux.go
Labels: area/system, ready for final review, plugin/input, chore

#14474 feat(serializers): Add binary serializer
  plugins/serializers/all/binary.go
  plugins/serializers/binary/README.md
  plugins/serializers/binary/binary.go
  plugins/serializers/binary/binary_test.go
  plugins/serializers/binary/entry.go
  plugins/serializers/binary/entry_test.go
  plugins/serializers/binary/type_conversions.go
Labels: feat, ready for final review, plugin/serializer

#14651 chore(deps): Bump all AWS deps
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#14654 fix(rpm): Ensure telegraf is installed after useradd
  Makefile
  tools/package_incus_test/container.go
  tools/package_incus_test/main.go
Labels: area/packaging, fix, ready for final review
