Repository influxdata/telegraf, pull requests merged in 2025-07, with the labels that each got.

#17256 chore(deps): Bump github.com/lxc/incus/v6 from 6.13.0 to 6.14.0
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#17244 feat(output.nats): Allow disabling stream creation for externally managed streams
  plugins/outputs/nats/README.md
  plugins/outputs/nats/nats.go
  plugins/outputs/nats/nats_test.go
  plugins/outputs/nats/sample.conf
Labels: feat, ready for final review, plugin/output

#17254 test(testutil): Performance and code quality improvements on file
  testutil/file.go
Labels: ready for final review, test

#17284 fix(disk-buffer): Expire metric tracking information in the right place
  metric/deserialize.go
  metric/tracking.go
  models/buffer_disk_test.go
Labels: fix, area/agent, ready for final review

#17249 feat(outputs.sql): Allow sending batches of metrics in transactions
  plugins/outputs/sql/README.md
  plugins/outputs/sql/sample.conf
  plugins/outputs/sql/sql.go
  plugins/outputs/sql/sql_test.go
  plugins/outputs/sql/sqlite_test.go
Labels: feat, ready for final review, plugin/output, area/sql

#17278 fix(inputs.gnmi): Handle base64 encoded IEEE-754 floats correctly
  plugins/inputs/gnmi/testcases/issue_17154/expected.out
  plugins/inputs/gnmi/testcases/issue_17154/responses.json
  plugins/inputs/gnmi/testcases/issue_17154/telegraf.conf
  plugins/inputs/gnmi/update_fields.go
Labels: fix, area/gnmi, ready for final review, plugin/input

#17291 fix(outputs.nats): Avoid initializing Jetstream unconditionally
  plugins/outputs/nats/nats.go
Labels: fix, ready for final review, plugin/output

#17276 test(testutil): Performance and code quality improvements on container
  testutil/container.go
Labels: ready for final review, test

#17305 docs: Improve wording
  plugins/inputs/cpu/README.md
  plugins/inputs/docker/README.md
  plugins/inputs/docker/sample.conf
  plugins/inputs/docker_log/README.md
  plugins/inputs/dovecot/README.md
Labels: docs, ready for final review

#17292 fix(processors.snmp_lookup): Avoid re-enqueing updates after plugin stopped
  plugins/processors/snmp_lookup/lookup_test.go
  plugins/processors/snmp_lookup/store.go
Labels: fix, ready for final review, plugin/processor

#17302 test(outputs.stackdriver): Cleanup tests
  plugins/outputs/stackdriver/stackdriver_test.go
Labels: ready for final review, plugin/output, test

#17293 fix(parsers.json_v2): Respect string type for objects and arrays
  plugins/parsers/json_v2/parser.go
  plugins/parsers/json_v2/parser_test.go
  plugins/parsers/json_v2/testdata/string_type_objects/expected.out
  plugins/parsers/json_v2/testdata/string_type_objects/input.json
  plugins/parsers/json_v2/testdata/string_type_objects/telegraf.conf
Labels: fix, area/json, ready for final review, plugin/parser

#17312 feat(inputs.internal): Allow to collect statistics per plugin instance
  metric.go
  metric/metric.go
  models/buffer.go
  models/running_aggregator.go
  models/running_input.go
  models/running_output.go
  models/running_output_test.go
  models/running_processor.go
  plugins/inputs/internal/README.md
  plugins/inputs/internal/internal.go
  plugins/inputs/internal/internal_test.go
  plugins/inputs/internal/sample.conf
  selfstat/selfstat.go
Labels: feat, ready for final review, plugin/input

#17339 chore(inputs.internal): Replace multiple string operations with single replacer
  plugins/inputs/internal/internal.go
Labels: ready for final review, plugin/input, chore

#16884 docs(specs): Labels and Selectors for Plugin Enablement
  docs/specs/tsd-010-labels-and-selectors.md
Labels: docs, ready for final review, specification

#17351 chore(CI): Update milestone action
  .github/workflows/milestones.yml
Labels: chore

#17362 docs(inputs.vsphere): Remove deprecated option
  plugins/inputs/vsphere/README.md
Labels: docs, area/vsphere, ready for final review, plugin/input

#17361 docs(inputs.ntpq): Remove deprecated option
  plugins/inputs/ntpq/README.md
  plugins/inputs/ntpq/sample.conf
Labels: docs, ready for final review, plugin/input

#17380 chore: Update Go to 1.24.5
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore
