Repository influxdata/telegraf, pull requests merged in 2025-04, with the labels that each got.

#16544 feat(outputs.sql): Add option to automate table schema updates
  plugins/outputs/sql/README.md
  plugins/outputs/sql/sample.conf
  plugins/outputs/sql/sql.go
  plugins/outputs/sql/sql_test.go
  plugins/outputs/sql/sqlite_test.go
Labels: feat, ready for final review, plugin/output, area/sql

#16702 chore(docs): Add missing darwin-only dependency licenses
  docs/LICENSE_OF_DEPENDENCIES.md
Labels: ready for final review, chore

#16717 feat(processors.defaults): Add support for specifying default tags
  plugins/processors/defaults/README.md
  plugins/processors/defaults/defaults.go
  plugins/processors/defaults/defaults_test.go
  plugins/processors/defaults/sample.conf
Labels: feat, ready for final review, plugin/processor

#16734 chore: Increase dependabot open PRs limit to 25
  .github/dependabot.yml
Labels: chore

#16668 chore(outputs.zabbix): Cleanup unit-tests
  plugins/outputs/zabbix/testcases/receive/expected.out
  plugins/outputs/zabbix/testcases/receive/input.influx
  plugins/outputs/zabbix/testcases/receive/telegraf.conf
  plugins/outputs/zabbix/zabbix_test.go
Labels: ready for final review, plugin/output, chore

#16692 docs(inputs): Add plugin metadata and update description for n*
  plugins/inputs/nats/README.md
  plugins/inputs/nats_consumer/README.md
  plugins/inputs/neoom_beaam/README.md
  plugins/inputs/neptune_apex/README.md
  plugins/inputs/net/README.md
  plugins/inputs/net_response/README.md
  plugins/inputs/netflow/README.md
  plugins/inputs/netstat/README.md
  plugins/inputs/nfsclient/README.md
  plugins/inputs/nginx/README.md
  plugins/inputs/nginx_plus/README.md
  plugins/inputs/nginx_plus_api/README.md
  plugins/inputs/nginx_sts/README.md
  plugins/inputs/nginx_upstream_check/README.md
  plugins/inputs/nginx_vts/README.md
  plugins/inputs/nomad/README.md
  plugins/inputs/nsd/README.md
  plugins/inputs/nsdp/README.md
  plugins/inputs/nsq/README.md
  plugins/inputs/nsq_consumer/README.md
  plugins/inputs/nstat/README.md
  plugins/inputs/ntpq/README.md
  plugins/inputs/nvidia_smi/README.md
Labels: docs, ready for final review, plugin/input

#16693 test(outputs.influxdb_v2): Add benchmarks
  plugins/outputs/influxdb_v2/influxdb_v2_test.go
Labels: area/influxdb, ready for final review, plugin/output, test

#16700 feat(inputs.whois): Support IDN domains
  plugins/inputs/whois/testcases/invalid_domain/expected.err
  plugins/inputs/whois/testcases/invalid_domain/telegraf.conf
  plugins/inputs/whois/testcases/valid_idn_domain/expected.out
  plugins/inputs/whois/testcases/valid_idn_domain/input_münchen.de.txt
  plugins/inputs/whois/testcases/valid_idn_domain/input_xn--mnchn-kva.de.txt
  plugins/inputs/whois/testcases/valid_idn_domain/telegraf.conf
  plugins/inputs/whois/whois.go
Labels: feat, ready for final review, plugin/input

#16724 chore(deps): Bump github.com/vmware/govmomi from v0.45.1 to v0.49.0
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#16742 chore: Rework check-deps script for other os+arch combos
  docs/LICENSE_OF_DEPENDENCIES.md
  scripts/check-deps.sh
Labels: ready for final review, chore

#16749 chore: Increase dependabot PR limit for Go dependencies
  .github/dependabot.yml
Labels: ready for final review, chore

#16721 chore: Fix linter findings for `revive:exported` in `plugins/inputs/system`
  plugins/common/psutil/mock_ps.go
  plugins/common/psutil/ps.go
  plugins/inputs/conntrack/conntrack.go
  plugins/inputs/conntrack/conntrack_test.go
  plugins/inputs/cpu/cpu.go
  plugins/inputs/cpu/cpu_test.go
  plugins/inputs/disk/disk.go
  plugins/inputs/disk/disk_test.go
  plugins/inputs/diskio/diskio.go
  plugins/inputs/diskio/diskio_test.go
  plugins/inputs/mem/mem.go
  plugins/inputs/mem/mem_test.go
  plugins/inputs/net/net.go
  plugins/inputs/net/net_test.go
  plugins/inputs/netstat/netstat.go
  plugins/inputs/netstat/netstat_test.go
  plugins/inputs/swap/swap.go
  plugins/inputs/swap/swap_test.go
  plugins/inputs/system/system.go
Labels: ready for final review, chore, linter

#16523 chore(outputs.azure_data_explorer): Move code to common in preparation of new plugin
  plugins/common/adx/adx.go
  plugins/common/adx/adx_test.go
  plugins/outputs/azure_data_explorer/azure_data_explorer.go
  plugins/outputs/azure_data_explorer/azure_data_explorer_test.go
Labels: area/azure, ready for final review, plugin/output, chore

#16609 chore(inputs.azure_storage_queue): Switch to maintained library
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  plugins/inputs/azure_storage_queue/README.md
  plugins/inputs/azure_storage_queue/azure_storage_queue.go
  plugins/inputs/azure_storage_queue/azure_storage_queue_test.go
  plugins/inputs/azure_storage_queue/sample.conf
Labels: ready for final review, plugin/input, chore

#16694 test(outputs.influxdb): Add benchmarks
  plugins/outputs/influxdb/influxdb_test.go
Labels: area/influxdb, ready for final review, plugin/output, test

#16211 feat(outputs): Add inlong output plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/outputs/all/inlong.go
  plugins/outputs/inlong/README.md
  plugins/outputs/inlong/inlong.go
  plugins/outputs/inlong/inlong_test.go
  plugins/outputs/inlong/sample.conf
Labels: feat, new plugin, ready for final review, plugin/output

#16646 feat(outputs.health): Add max time between metrics check
  plugins/outputs/health/README.md
  plugins/outputs/health/health.go
  plugins/outputs/health/health_test.go
  plugins/outputs/health/sample.conf
Labels: feat, ready for final review, plugin/output

#16582 feat(outputs.nats): Allow asynchronous publishing for Jetstream
  plugins/outputs/nats/README.md
  plugins/outputs/nats/nats.go
  plugins/outputs/nats/nats_test.go
  plugins/outputs/nats/sample.conf
  plugins/outputs/nats/testcases/js-async-pub.conf
Labels: feat, ready for final review, plugin/output

#16778 docs(parsers.json_v2): Fix wording
  plugins/parsers/json_v2/README.md
Labels: docs, area/json, ready for final review, plugin/parser

#16532 feat(inputs.opcua_listener): Allow to subscribe to OPCUA events
  plugins/common/opcua/input/input_client.go
  plugins/inputs/opcua_listener/README.md
  plugins/inputs/opcua_listener/opcua_listener.go
  plugins/inputs/opcua_listener/opcua_listener_test.go
  plugins/inputs/opcua_listener/sample.conf
  plugins/inputs/opcua_listener/subscribe_client.go
Labels: feat, area/opcua, ready for final review, plugin/input

#16782 fix(inputs.win_wmi): Replace hard-coded class-name with correct config setting
  plugins/inputs/win_wmi/method.go
Labels: fix, ready for final review, plugin/input

#16781 fix(inputs.win_wmi): Restrict threading model to APARTMENTTHREADED
  plugins/inputs/win_wmi/method.go
Labels: fix, ready for final review, plugin/input

#16812 fix(inputs.cloudwatch): Handle metric includes/excludes correctly to prevent panic
  plugins/inputs/cloudwatch/cloudwatch.go
Labels: fix, area/aws, ready for final review, plugin/input

#16816 chore(deps): Bump golangci-lint from v2.0.2 to v2.1.2
  .circleci/config.yml
  .golangci.yml
  Makefile
  migrations/global_agent/migration_test.go
Labels: ready for final review, chore, linter

#16148 feat(common.shim): Add batch to shim
  plugins/common/shim/goshim.go
  plugins/common/shim/output.go
  plugins/common/shim/output_test.go
Labels: feat, external plugin, plugin/output

#16524 feat(common.kafka): Add AWS-MSK-IAM SASL authentication
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/common/kafka/sasl.go
  plugins/common/kafka/sasl_aws_iam_msk.go
  plugins/common/kafka/sasl_oauth_file.go
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kafka_consumer/sample.conf
  plugins/outputs/kafka/README.md
  plugins/outputs/kafka/sample.conf
Labels: feat, area/kafka, ready for final review

#16810 chore(inputs.snmp_trap): Cleanup code
  plugins/inputs/snmp_trap/logger.go
  plugins/inputs/snmp_trap/snmp_trap.go
  plugins/inputs/snmp_trap/snmp_trap_test.go
Labels: ready for final review, plugin/input, chore

#16869 docs(outputs.influxdb_v2): Use correct unit for rate_limit example
  plugins/outputs/influxdb_v2/README.md
  plugins/outputs/influxdb_v2/sample.conf
Labels: docs, area/influxdb, ready for final review, plugin/output

#16867 feat(common.ratelimiter): Implement means to reserve memory for concurrent use
  plugins/common/ratelimiter/limiters.go
Labels: feat, ready for final review

#16857 fix(outputs.quix): Allow empty certificate for new cloud managed instances
  plugins/outputs/quix/quix.go
Labels: fix, ready for final review, plugin/output

#16697 fix(agent): Correctly truncate the disk buffer
  models/buffer_disk.go
  models/buffer_disk_test.go
Labels: fix, area/aws, area/agent, ready for final review

#16817 chore(linters): Configure `revive:var-naming` and fix its findings
  .golangci.yml
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_util.go
  plugins/inputs/docker_log/docker_log.go
  plugins/inputs/eventhub_consumer/eventhub_consumer.go
  plugins/inputs/kube_inventory/daemonset.go
  plugins/inputs/kube_inventory/endpoint.go
  plugins/inputs/kube_inventory/ingress.go
  plugins/inputs/kube_inventory/pod.go
  plugins/inputs/kube_inventory/service.go
  plugins/inputs/mongodb/mongodb.go
  plugins/inputs/mongodb/mongodb_data.go
  plugins/inputs/mongodb/mongodb_server.go
  plugins/inputs/mongodb/mongostat.go
  plugins/inputs/rabbitmq/rabbitmq.go
  plugins/inputs/ras/ras.go
  plugins/inputs/ras/ras_test.go
  plugins/inputs/ravendb/ravendb.go
  plugins/inputs/vsphere/endpoint.go
  plugins/outputs/timestream/timestream_test.go
  plugins/parsers/grok/parser.go
  plugins/parsers/prometheusremotewrite/parser.go
Labels: ready for final review, chore, linter

#16911 fix(inputs.lustre2): getLustreProcStats skips empty files
  plugins/inputs/lustre2/lustre2.go
Labels: fix, ready for final review, plugin/input

#16881 chore(linter): Address findings for `staticcheck->QF1001` - Apply De Morgan’s law
  cmd/telegraf/telegraf.go
  plugins/common/adx/adx.go
  plugins/inputs/fluentd/fluentd.go
  plugins/inputs/ipset/ipset.go
  plugins/inputs/opensearch_query/aggregation.response.go
  plugins/inputs/vsphere/endpoint.go
  plugins/outputs/graphite/graphite.go
  plugins/outputs/signalfx/signalfx_test.go
  plugins/parsers/xpath/parser.go
  tools/license_checker/whitelist.go
Labels: ready for final review, chore, linter
