Repository influxdata/telegraf, pull requests merged in 2025-02, with the labels that each got.

#16454 fix(service): Set address to prevent orphaned dbus-session processes
  scripts/init.sh
Labels: fix, ready for final review

#16448 fix(outputs.azure_monitor): Prevent infinite send loop for outdated metrics
  plugins/outputs/azure_monitor/README.md
  plugins/outputs/azure_monitor/azure_monitor.go
  plugins/outputs/azure_monitor/azure_monitor_test.go
  plugins/outputs/azure_monitor/sample.conf
  plugins/outputs/azure_monitor/types.go
Labels: fix, area/azure, ready for final review, plugin/output

#16336 feat(inputs.infiniband): Add support for RDMA counters
  plugins/inputs/infiniband/README.md
  plugins/inputs/infiniband/infiniband.go
  plugins/inputs/infiniband/infiniband_linux.go
  plugins/inputs/infiniband/infiniband_test.go
  plugins/inputs/infiniband/sample.conf
Labels: feat, area/network, ready for final review, plugin/input

#16214 feat(processors.converter): Add support for base64 encoded IEEE floats
  plugins/processors/converter/README.md
  plugins/processors/converter/converter.go
  plugins/processors/converter/converter_test.go
  plugins/processors/converter/sample.conf
Labels: feat, ready for final review, plugin/processor

#16477 fix(agent): Avoid panic by checking for skip_processors_after_aggregators
  cmd/telegraf/cmd_config.go
Labels: fix, area/agent, ready for final review

#16423 chore(deps): Update ClickHouse SQL driver to v2
  CHANGELOG.md
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/sql/drivers.go
  plugins/outputs/sql/README.md
  plugins/outputs/sql/sql.go
  plugins/outputs/sql/sql_test.go
Labels: ready for final review, dependencies, chore

#16482 chore(deps): Fix apache arrow dependency, update to v18.1.0
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/sql/drivers.go
  plugins/outputs/parquet/README.md
  plugins/outputs/parquet/parquet.go
  plugins/outputs/parquet/parquet_test.go
  plugins/parsers/parquet/columns.go
  plugins/parsers/parquet/parser.go
Labels: ready for final review, dependencies, chore

#16485 chore(inputs): Fix line-length in READMEs for `t` to `z`
  plugins/inputs/tengine/README.md
  plugins/inputs/varnish/README.md
  plugins/inputs/vsphere/METRICS.md
  plugins/inputs/vsphere/README.md
  plugins/inputs/webhooks/filestack/README.md
  plugins/inputs/webhooks/mandrill/README.md
  plugins/inputs/webhooks/papertrail/README.md
  plugins/inputs/webhooks/rollbar/README.md
  plugins/inputs/win_perf_counters/README.md
  plugins/inputs/wireguard/README.md
  plugins/inputs/wireless/README.md
  plugins/inputs/x509_cert/README.md
  plugins/inputs/zipkin/README.md
  plugins/inputs/zipkin/sample.conf
Labels: ready for final review, plugin/input, chore

#16462 chore(outputs.sql): Update ClickHouse Docker image for integration test
  plugins/outputs/sql/sql_test.go
  plugins/outputs/sql/testdata/clickhouse/enable_stdout_log.xml
Labels: ready for final review, plugin/output, area/sql, chore

#16488 fix: Correct version number in build_version.txt for 1.33 releases
  build_version.txt
Labels: fix

#16489 fix(agent): Set `godebug x509negativeserial=1` as a workaround
  go.mod
Labels: fix, area/agent, ready for final review, go

#16491 feat(outputs.mqtt): Add sprig for topic name generator for homie layout
  plugins/outputs/mqtt/README.md
  plugins/outputs/mqtt/homie.go
Labels: feat, area/mqtt, ready for final review, plugin/output

#16497 feat(processors.template): Add sprig function for templates
  plugins/processors/template/README.md
  plugins/processors/template/template.go
  plugins/processors/template/template_test.go
Labels: feat, ready for final review, plugin/processor

#16480 feat(inputs.gnmi): Add support for "depth" extension
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/sample.conf
  plugins/inputs/gnmi/sample.conf.in
Labels: feat, area/gnmi, ready for final review, plugin/input

#16511 fix(inputs.proxmox): Allow search domain to be empty
  plugins/inputs/proxmox/README.md
  plugins/inputs/proxmox/proxmox.go
  plugins/inputs/proxmox/sample.conf
Labels: fix, ready for final review, plugin/input

#16507 fix(inputs.gnmi): Allow to disable using first namespace as origin
  CHANGELOG.md
  plugins/inputs/gnmi/README.md
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/gnmi_test.go
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/path.go
  plugins/inputs/gnmi/sample.conf
  plugins/inputs/gnmi/sample.conf.in
  plugins/inputs/gnmi/testcases/issue_16476/expected.out
  plugins/inputs/gnmi/testcases/issue_16476/responses.json
  plugins/inputs/gnmi/testcases/issue_16476/telegraf.conf
  plugins/inputs/gnmi/update_fields.go
Labels: fix, area/gnmi, ready for final review, plugin/input

#16530 fix(internal): Fix plural acronyms in SnakeCase function
  internal/internal.go
  internal/internal_test.go
Labels: fix, area/agent

#16478 chore(outputs.event_hubs): Switch to maintained library
  .circleci/config.yml
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/outputs/event_hubs/README.md
  plugins/outputs/event_hubs/event_hubs.go
  plugins/outputs/event_hubs/event_hubs_test.go
  plugins/outputs/event_hubs/sample.conf
  plugins/outputs/event_hubs/testdata/Config.json
  testutil/container.go
Labels: area/azure, ready for final review, plugin/output, chore

#16539 fix(logging): Handle closing correctly and fix tests
  logger/event_logger.go
  logger/event_logger_test.go
  logger/logger.go
  logger/logger_test.go
  logger/structured_logger.go
  logger/structured_logger_test.go
  logger/text_logger.go
  logger/text_logger_test.go
Labels: fix, area/logging, ready for final review

#16535 fix(processors.execd): Detect line-protocol parser correctly
  plugins/processors/execd/execd.go
  plugins/processors/execd/execd_test.go
Labels: fix, area/execd, ready for final review, plugin/processor

#16546 fix(agent): Add authorization and user-agent when watching remote configs
  cmd/telegraf/telegraf.go
Labels: fix, area/agent, ready for final review

#16534 chore(deps): Bump github.com/vishvananda/netlink from 1.3.0 to 1.3.1-0.20250221194427-0af32151e72b
  go.mod
  go.sum
Labels: area/procstat, ready for final review, plugin/input, dependencies, chore

#16549 chore: Update go to v1.24.0
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  .golangci.yml
  Makefile
  config/config_test.go
  go.mod
  plugins/inputs/beanstalkd/beanstalkd.go
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore, go

#16543 test(outputs.sql): Fix integration tests
  plugins/outputs/sql/sql_test.go
  plugins/outputs/sql/testdata/mariadb/expected.sql
  plugins/outputs/sql/testdata/mariadb/expected_metric_one.sql
  plugins/outputs/sql/testdata/mariadb/expected_metric_three.sql
  plugins/outputs/sql/testdata/mariadb/expected_metric_two.sql
Labels: ready for final review, plugin/output, area/sql, test
