Repository influxdata/telegraf, pull requests merged in 2025-09, with the labels that each got.

#17551 fix(inputs.s7comm): Use correct value for string length with 'extra' parameter
  plugins/inputs/s7comm/s7comm.go
  plugins/inputs/s7comm/s7comm_test.go
Labels: fix, ready for final review, plugin/input

#17543 feat(inputs.syslog): Allow limiting message size in octet counting mode
  plugins/inputs/syslog/README.md
  plugins/inputs/syslog/sample.conf
  plugins/inputs/syslog/sample.conf.in
  plugins/inputs/syslog/syslog.go
  plugins/inputs/syslog/testcases/octet_counting_maxlength_ok/expected.out
  plugins/inputs/syslog/testcases/octet_counting_maxlength_ok/input.txt
  plugins/inputs/syslog/testcases/octet_counting_maxlength_ok/telegraf.conf
Labels: feat, area/syslog, ready for final review, plugin/input

#17411 fix(inputs.diskio): Handle counter wrapping in io fields
  plugins/inputs/diskio/diskio.go
  plugins/inputs/diskio/diskio_test.go
Labels: fix, ready for final review, plugin/input

#17553 chore(outputs.kafka): Cleanup code
  plugins/outputs/kafka/README.md
  plugins/outputs/kafka/kafka.go
  plugins/outputs/kafka/kafka_test.go
  plugins/outputs/kafka/sample.conf
Labels: area/kafka, plugin/output, chore

#17554 chore(selfstat): Add functions to unregister stats
  selfstat/collector.go
  selfstat/selfstat.go
  selfstat/stat.go
  selfstat/timingStat.go
Labels: ready for final review, chore

#17563 chore(deps): Bump github.com/facebook/time to latest
  go.mod
  go.sum
  plugins/inputs/chrony/chrony.go
Labels: ready for final review, dependencies, chore

#16705 feat(agent): Introduce labels and selectors to enable and disable plugins
  cmd/telegraf/main.go
  config/config.go
  config/plugin_selector.go
  config/plugin_selector_test.go
Labels: feat, area/agent, ready for final review

#17368 feat(inputs.turbostat): Add plugin
  plugins/inputs/all/turbostat.go
  plugins/inputs/turbostat/README.md
  plugins/inputs/turbostat/sample.conf
  plugins/inputs/turbostat/testcases/amd-r7-9700x/expected.out
  plugins/inputs/turbostat/testcases/amd-r7-9700x/input.txt
  plugins/inputs/turbostat/testcases/amd-r7-9700x/telegraf.conf
  plugins/inputs/turbostat/testcases/intel-unknown/expected.out
  plugins/inputs/turbostat/testcases/intel-unknown/input.txt
  plugins/inputs/turbostat/testcases/intel-unknown/telegraf.conf
  plugins/inputs/turbostat/turbostat.go
  plugins/inputs/turbostat/turbostat_notamd64linux.go
  plugins/inputs/turbostat/turbostat_test.go
Labels: feat, new plugin, ready for final review, plugin/input

#17566 fix(outputs): Retrigger batch-available-events only if at least one metric was written successfully
  models/running_output.go
  models/running_output_test.go
Labels: fix, ready for final review, plugin/output

#17568 chore: Update Go to 1.25.1
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore, go

#17572 test(inputs.syslog): Fix race condition in test for expected errors
  plugins/inputs/syslog/syslog_test.go
Labels: area/syslog, ready for final review, plugin/input, test

#17548 feat(outputs.influxdb): Add internal statistics for written bytes
  plugins/outputs/influxdb/http.go
  plugins/outputs/influxdb/http_test.go
  plugins/outputs/influxdb/influxdb.go
  plugins/outputs/influxdb/influxdb_test.go
  plugins/outputs/influxdb/udp.go
  plugins/outputs/influxdb/udp_test.go
Labels: feat, area/influxdb, ready for final review, plugin/output

#17605 fix(outputs.influxdb): Fix crash on init
  plugins/outputs/influxdb/http_test.go
  plugins/outputs/influxdb/influxdb.go
  plugins/outputs/influxdb/influxdb_test.go
Labels: area/influxdb, fix, plugin/output

#17576 feat(processors.execd): Add log prefixing
  plugins/processors/execd/execd.go
Labels: feat, area/execd, ready for final review, plugin/processor

#17633 feat(inputs.rabbitmq): Add type tag to queues
  plugins/inputs/rabbitmq/README.md
  plugins/inputs/rabbitmq/rabbitmq.go
  plugins/inputs/rabbitmq/rabbitmq_test.go
  plugins/inputs/rabbitmq/sample.conf
  plugins/inputs/rabbitmq/testdata/set1/overview.json
  plugins/inputs/rabbitmq/testdata/set1/queues.json
  plugins/inputs/rabbitmq/testdata/set2/overview.json
  plugins/inputs/rabbitmq/testdata/set2/queues.json
Labels: feat, area/rabbitmq, ready for final review, plugin/input

#17707 chore(deps): Remove collectd replacement
  go.mod
  go.sum
Labels: chore

#17702 docs(parsers): Fix line-length in READMEs
  plugins/parsers/collectd/README.md
  plugins/parsers/grok/README.md
  plugins/parsers/json_v2/README.md
  plugins/parsers/prometheusremotewrite/README.md
  plugins/parsers/wavefront/README.md
Labels: docs, ready for final review
