Repository influxdata/telegraf, pull requests merged in 2025-08, with the labels that each got.

#17413 fix(inputs.gnmi): handle empty updates in gnmi notification response
  plugins/inputs/gnmi/handler.go
  plugins/inputs/gnmi/testcases/issue_17412/expected.out
  plugins/inputs/gnmi/testcases/issue_17412/responses.json
  plugins/inputs/gnmi/testcases/issue_17412/telegraf.conf
Labels: fix, area/gnmi, ready for final review, plugin/input

#17078 feat(processors.round): Add plugin
  go.mod
  plugins/processors/all/round.go
  plugins/processors/round/README.md
  plugins/processors/round/round.go
  plugins/processors/round/round_test.go
  plugins/processors/round/sample.conf
Labels: feat, new plugin, ready for final review, plugin/processor

#17348 docs(outputs.microsoft_fabric): Changes as per Fabric
  plugins/outputs/microsoft_fabric/README.md
  plugins/outputs/microsoft_fabric/sample.conf
Labels: docs, ready for final review, plugin/output

#17410 chore(deps): Migrate from cloud.google.com/go/pubsub to v2
  go.mod
  go.sum
  plugins/inputs/cloud_pubsub/README.md
  plugins/inputs/cloud_pubsub/cloud_pubsub.go
  plugins/inputs/cloud_pubsub/sample.conf
  plugins/inputs/cloud_pubsub/subscription_gcp.go
  plugins/outputs/cloud_pubsub/README.md
  plugins/outputs/cloud_pubsub/cloud_pubsub.go
  plugins/outputs/cloud_pubsub/cloud_pubsub_test.go
  plugins/outputs/cloud_pubsub/sample.conf
  plugins/outputs/cloud_pubsub/topic_gcp.go
  plugins/outputs/cloud_pubsub/topic_stubbed.go
Labels: dependencies, chore

#17365 feat(plugins.snmp): Allow debug logging in gosnmp
  internal/snmp/config.go
  internal/snmp/wrapper.go
  plugins/inputs/snmp/snmp.go
Labels: feat, area/snmp, ready for final review

#17451 fix(agent): Update help message for CLI flag --test
  cmd/telegraf/main.go
Labels: fix, area/agent, ready for final review

#17448 chore(deps): Fix collectd dependency not resolving
  go.mod
  go.sum
Labels: ready for final review, chore

#17213 feat(outputs.nats): Allow providing a subject layout
  plugins/outputs/nats/README.md
  plugins/outputs/nats/nats.go
  plugins/outputs/nats/nats_test.go
  plugins/outputs/nats/sample.conf
  plugins/outputs/nats/testcases/js-layout-nosub.conf
  plugins/outputs/nats/testcases/js-layout.conf
Labels: feat, ready for final review, plugin/output

#17501 chore: Update to Go 1.25.0
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  .golangci.yml
  Makefile
  go.mod
  plugins/outputs/instrumental/instrumental.go
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore, go

#17344 docs(specs): Add specification for collecting plugin-internal statistics
  docs/specs/tsd-011-internal-plugin-statistics.md
Labels: docs, ready for final review, specification
