Repository influxdata/telegraf, pull requests merged in 2025-05, with the labels that each got.

#16949 test(inputs.jolokia2_agent): Add missing field for new Artemis version
  plugins/inputs/jolokia2_agent/jolokia2_agent_test.go
Labels: ready for final review, plugin/input, test

#16868 fix(common.ratelimiter): Only grow the buffer but never shrink
  plugins/common/ratelimiter/serializers.go
Labels: fix, ready for final review

#16560 chore(outputs.mqtt): Rework templating to use TemplateMetric
  plugins/outputs/mqtt/README.md
  plugins/outputs/mqtt/homie.go
  plugins/outputs/mqtt/mqtt.go
  plugins/outputs/mqtt/mqtt_test.go
  plugins/outputs/mqtt/sample.conf
  plugins/outputs/mqtt/topic_name_generator.go
Labels: area/mqtt, ready for final review, plugin/output, chore

#16829 chore: Update go to 1.24.2
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: chore

#16976 docs: fill the missed symbol \ in WINDOWS_SERVICE.md
  docs/WINDOWS_SERVICE.md
Labels: platform/windows, docs, ready for final review

#16730 chore(inputs.sqlserver): Migrate Azure AD Authentication from ADAL to MSAL
  plugins/inputs/sqlserver/README.md
  plugins/inputs/sqlserver/azuretoken.go
  plugins/inputs/sqlserver/sample.conf
  plugins/inputs/sqlserver/sqlserver.go
Labels: area/sqlserver, plugin/input, chore

#16878 fix(parsers.json_v2): Handle measurements with multiple objects correctly
  plugins/parsers/json_v2/parser.go
  plugins/parsers/json_v2/testdata/object_multiple/expected.out
  plugins/parsers/json_v2/testdata/object_multiple/input.json
  plugins/parsers/json_v2/testdata/object_multiple/telegraf.conf
Labels: fix, area/json, ready for final review, plugin/parser

#16494 feat(serializer.prometheusremotewrite): Allow sending native histograms
  plugins/serializers/prometheusremotewrite/prometheusremotewrite.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite_test.go
Labels: feat, area/prometheus, ready for final review, plugin/serializer

#16780 feat(inputs.mavlink): Add plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/mavlink.go
  plugins/inputs/mavlink/README.md
  plugins/inputs/mavlink/mavlink.go
  plugins/inputs/mavlink/mavlink_test.go
  plugins/inputs/mavlink/sample.conf
Labels: feat, new plugin, ready for final review, plugin/input

#16984 docs: Fixed minor typo
  docs/includes/service_input.md
  plugins/inputs/amqp_consumer/README.md
  plugins/inputs/cisco_telemetry_mdt/README.md
  plugins/inputs/cloud_pubsub/README.md
  plugins/inputs/cloud_pubsub_push/README.md
  plugins/inputs/cloudwatch_metric_streams/README.md
  plugins/inputs/eventhub_consumer/README.md
  plugins/inputs/execd/README.md
  plugins/inputs/firehose/README.md
  plugins/inputs/gnmi/README.md
  plugins/inputs/http_listener_v2/README.md
  plugins/inputs/influxdb_listener/README.md
  plugins/inputs/influxdb_v2_listener/README.md
  plugins/inputs/intel_rdt/README.md
  plugins/inputs/jti_openconfig_telemetry/README.md
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kinesis_consumer/README.md
  plugins/inputs/knx_listener/README.md
  plugins/inputs/lanz/README.md
  plugins/inputs/logparser/README.md
  plugins/inputs/mqtt_consumer/README.md
  plugins/inputs/nats_consumer/README.md
  plugins/inputs/netflow/README.md
  plugins/inputs/nsq_consumer/README.md
  plugins/inputs/opcua_listener/README.md
  plugins/inputs/opentelemetry/README.md
  plugins/inputs/riemann_listener/README.md
  plugins/inputs/sflow/README.md
  plugins/inputs/socket_listener/README.md
  plugins/inputs/statsd/README.md
  plugins/inputs/suricata/README.md
  plugins/inputs/syslog/README.md
  plugins/inputs/tail/README.md
  plugins/inputs/webhooks/README.md
  plugins/inputs/zipkin/README.md
Labels: docs, ready for final review

#16859 docs: Document `probe` as an option for the startup-error-behavior
  docs/includes/startup_error_behavior.md
  plugins/inputs/amqp_consumer/README.md
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/mqtt_consumer/README.md
  plugins/inputs/nvidia_smi/README.md
  plugins/inputs/s7comm/README.md
  plugins/outputs/cratedb/README.md
  plugins/outputs/kafka/README.md
  plugins/outputs/postgresql/README.md
  plugins/outputs/syslog/README.md
Labels: docs, ready for final review

#16982 chore(linters): Enable `ST1005`, `ST1013`, `ST1016`, `ST1017`, `QF1002` checks for `staticcheck`
  .golangci.yml
  config/config.go
  config/config_test.go
  plugins/inputs/burrow/burrow_test.go
  plugins/inputs/cgroup/cgroup_linux.go
  plugins/inputs/monit/monit_test.go
  plugins/inputs/phpfpm/fcgi_client.go
  plugins/inputs/redfish/redfish_test.go
  plugins/outputs/bigquery/bigquery.go
  plugins/outputs/sumologic/sumologic_test.go
  plugins/serializers/prometheus/convert.go
  tools/update_goversion/main.go
Labels: ready for final review, chore, linter

#16629 feat(processors.cumulative_sum): Add plugin
  plugins/processors/all/cumulative_sum.go
  plugins/processors/cumulative_sum/README.md
  plugins/processors/cumulative_sum/cumulative_sum.go
  plugins/processors/cumulative_sum/cumulative_sum_test.go
  plugins/processors/cumulative_sum/sample.conf
Labels: feat, ready for final review, plugin/aggregator, plugin/processor

#16883 chore(inputs): Enable `revive:exported`
  .golangci.yml
  plugins/inputs/amqp_consumer/amqp_consumer.go
  plugins/inputs/clickhouse/clickhouse.go
  plugins/inputs/cloud_pubsub/cloud_pubsub.go
  plugins/inputs/cloud_pubsub/subscription_gcp.go
  plugins/inputs/cloud_pubsub/subscription_stub_test.go
  plugins/inputs/cpu/cpu.go
  plugins/inputs/cpu/cpu_test.go
  plugins/inputs/ctrlx_datalayer/ctrlx_datalayer.go
  plugins/inputs/docker/client.go
  plugins/inputs/docker/docker.go
  plugins/inputs/docker_log/client.go
  plugins/inputs/dpdk/dpdk.go
  plugins/inputs/filecount/filesystem_helpers_notwindows_test.go
  plugins/inputs/github/github.go
  plugins/inputs/http_response/http_response.go
  plugins/inputs/huebridge/bridge.go
  plugins/inputs/huebridge/huebridge.go
  plugins/inputs/huebridge/huebridge_test.go
  plugins/inputs/influxdb_v2_listener/influxdb_v2_listener.go
  plugins/inputs/intel_powerstat/intel_powerstat.go
  plugins/inputs/internet_speed/internet_speed.go
  plugins/inputs/ipvs/ipvs.go
  plugins/inputs/kinesis_consumer/logging.go
  plugins/inputs/knx_listener/knx_dummy_interface.go
  plugins/inputs/kube_inventory/kube_inventory.go
  plugins/inputs/mysql/v1/mysql.go
  plugins/inputs/mysql/v2/convert.go
  plugins/inputs/nsq_consumer/nsq_consumer.go
  plugins/inputs/nvidia_smi/nvidia_smi.go
  plugins/inputs/opcua/opcua.go
  plugins/inputs/opensearch_query/aggregation.go
  plugins/inputs/opensearch_query/aggregation.response.go
  plugins/inputs/opensearch_query/query.go
  plugins/inputs/opentelemetry/grpc_service_profile.go
  plugins/inputs/opentelemetry/grpc_services.go
  plugins/inputs/opentelemetry/logger.go
  plugins/inputs/opentelemetry/writer.go
  plugins/inputs/phpfpm/child.go
  plugins/inputs/phpfpm/fcgi.go
  plugins/inputs/puppetagent/puppetagent.go
  plugins/inputs/registry.go
  plugins/inputs/snmp_trap/logger.go
  plugins/inputs/statsd/statsd.go
  plugins/inputs/systemd_units/systemd_units.go
  plugins/inputs/unbound/unbound.go
  plugins/inputs/varnish/varnish.go
  plugins/inputs/vault/vault.go
  plugins/inputs/zipkin/codec/codec.go
  plugins/inputs/zipkin/codec/jsonV1/jsonV1.go
  plugins/inputs/zipkin/codec/thrift/thrift.go
Labels: ready for final review, plugin/input, chore, linter

#16879 fix(inputs.tail): Prevent leaking file descriptors
  plugins/inputs/tail/tail.go
  plugins/inputs/tail/tail_test.go
Labels: area/tail, fix, ready for final review, plugin/input

#16815 fix(inputs.win_eventlog): Handle large events to avoid they get dropped silently
  plugins/inputs/win_eventlog/README.md
  plugins/inputs/win_eventlog/sample.conf
  plugins/inputs/win_eventlog/win_eventlog.go
  plugins/inputs/win_eventlog/zsyscall_windows.go
Labels: area/windows, fix, ready for final review, plugin/input

#16865 chore(serializers.prometheusremotewrite): Changed log level for dropped series to warning
  plugins/serializers/prometheusremotewrite/prometheusremotewrite.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite_test.go
Labels: area/prometheus, ready for final review, plugin/serializer, chore

#16987 chore(deps): Bump github.com/creack/goselect from 0.1.2 to 0.1.3
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#16853 chore(deps): Switch to maintained azure testcontainer module
  go.mod
  go.sum
  plugins/inputs/azure_storage_queue/azure_storage_queue_test.go
  plugins/outputs/event_hubs/event_hubs_test.go
Labels: area/azure, ready for final review, dependencies, chore

#16999 feat(inputs.s7comm): Add support for LREAL and LINT data types
  plugins/inputs/s7comm/README.md
  plugins/inputs/s7comm/s7comm.go
  plugins/inputs/s7comm/s7comm_test.go
  plugins/inputs/s7comm/sample.conf
  plugins/inputs/s7comm/type_conversions.go
Labels: feat, ready for final review, plugin/input

#16854 fix(inputs.opcua): Handle session invalidation between gather cycles
  plugins/inputs/opcua/README.md
  plugins/inputs/opcua/opcua.go
  plugins/inputs/opcua/opcua_test.go
  plugins/inputs/opcua/read_client.go
  plugins/inputs/opcua/sample.conf
Labels: fix, area/opcua, ready for final review, plugin/input

#16882 feat(inputs.prometheus): Add HTTP service discovery support
  plugins/inputs/prometheus/README.md
  plugins/inputs/prometheus/http_service_discovery.go
  plugins/inputs/prometheus/http_service_discovery_test.go
  plugins/inputs/prometheus/prometheus.go
  plugins/inputs/prometheus/sample.conf
  plugins/inputs/prometheus/testcases/service_discovery/http-services.json
  plugins/inputs/prometheus/testcases/service_discovery/telegraf.conf
Labels: feat, area/prometheus, ready for final review, plugin/input

#17013 chore(deps): Bump github.com/ebitengine/purego from 0.8.2 to 0.8.3
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#17009 fix(inputs.cloudwatch): Restore filtering to match all dimensions
  plugins/inputs/cloudwatch/cloudwatch.go
  plugins/inputs/cloudwatch/cloudwatch_test.go
  plugins/inputs/cloudwatch/utils.go
Labels: fix, ready for final review, plugin/input

#17005 chore: Update go to 1.24.3
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore, go

#17021 fix(inputs.opcua): Fix type mismatch in unit test
  plugins/inputs/opcua/opcua_test.go
Labels: fix, area/opcua, plugin/input

#16980 docs(inputs): Add plugin metadata and update description for o*
  plugins/inputs/opcua/README.md
  plugins/inputs/opcua_listener/README.md
  plugins/inputs/openldap/README.md
  plugins/inputs/openntpd/README.md
  plugins/inputs/opensearch_query/README.md
  plugins/inputs/opensmtpd/README.md
  plugins/inputs/openstack/README.md
  plugins/inputs/opentelemetry/README.md
  plugins/inputs/openweathermap/README.md
Labels: docs, ready for final review

#17045 docs(inputs): Add plugin metadata and update description for p*
  plugins/inputs/p4runtime/README.md
  plugins/inputs/passenger/README.md
  plugins/inputs/pf/README.md
  plugins/inputs/pgbouncer/README.md
  plugins/inputs/phpfpm/README.md
  plugins/inputs/ping/README.md
  plugins/inputs/postfix/README.md
  plugins/inputs/postgresql/README.md
  plugins/inputs/postgresql_extensible/README.md
  plugins/inputs/powerdns/README.md
  plugins/inputs/powerdns_recursor/README.md
  plugins/inputs/processes/README.md
  plugins/inputs/procstat/README.md
  plugins/inputs/prometheus/README.md
  plugins/inputs/proxmox/README.md
  plugins/inputs/puppetagent/README.md
Labels: docs, plugin/input

#17019 test(testutil): Simplify certificate reading
  testutil/tls.go
Labels: test

#17018 chore: Fix linter findings for `revive:exported` in `plugins/aggregators`
  .golangci.yml
  plugins/aggregators/basicstats/basicstats.go
  plugins/aggregators/basicstats/basicstats_test.go
  plugins/aggregators/derivative/derivative.go
  plugins/aggregators/derivative/derivative_test.go
  plugins/aggregators/final/final.go
  plugins/aggregators/final/final_test.go
  plugins/aggregators/histogram/histogram.go
  plugins/aggregators/histogram/histogram_test.go
  plugins/aggregators/minmax/minmax.go
  plugins/aggregators/minmax/minmax_test.go
  plugins/aggregators/quantile/algorithms.go
  plugins/aggregators/quantile/quantile.go
  plugins/aggregators/registry.go
  plugins/aggregators/starlark/starlark.go
  plugins/aggregators/valuecounter/valuecounter.go
  plugins/aggregators/valuecounter/valuecounter_test.go
Labels: ready for final review, chore, linter

#17017 chore: Fix linter findings for `revive:exported` in `plugins/secretstores`
  .golangci.yml
  plugins/secretstores/docker/docker.go
  plugins/secretstores/http/aes.go
  plugins/secretstores/http/aes_test.go
  plugins/secretstores/http/decryption.go
  plugins/secretstores/http/decryption_test.go
  plugins/secretstores/http/http.go
  plugins/secretstores/http/http_test.go
  plugins/secretstores/http/key_derivation.go
  plugins/secretstores/http/key_derivation_test.go
  plugins/secretstores/jose/jose.go
  plugins/secretstores/oauth2/oauth2.go
  plugins/secretstores/oauth2/oauth2_test.go
  plugins/secretstores/os/os.go
  plugins/secretstores/systemd/systemd.go
Labels: ready for final review, chore, linter

#17022 test(testutil): Improve performance and code quality
  testutil/testutil.go
  testutil/testutil_test.go
Labels: ready for final review, test
