Repository influxdata/telegraf, pull requests merged in 2025-03, with the labels that each got.

#16566 feat(outputs.prometheus_client): Allow adding custom headers
  plugins/outputs/prometheus_client/README.md
  plugins/outputs/prometheus_client/prometheus_client.go
  plugins/outputs/prometheus_client/sample.conf
Labels: feat, area/prometheus, ready for final review, plugin/output

#16559 test(outputs.prometheus_client): Add tests for content-type header
  plugins/inputs/prometheus/README.md
  plugins/inputs/prometheus/sample.conf
  plugins/outputs/prometheus_client/prometheus_client_test.go
  plugins/outputs/prometheus_client/prometheus_client_v1_test.go
Labels: area/prometheus, ready for final review, plugin/output, test

#16464 chore(outputs.sql): Adapt default templates for ClickHouse
  plugins/outputs/sql/README.md
  plugins/outputs/sql/sample.conf
  plugins/outputs/sql/sql.go
  plugins/outputs/sql/sql_test.go
  plugins/outputs/sql/sqlite_test.go
Labels: ready for final review, plugin/output, area/sql, chore

#16572 chore(inputs.vsphere): Improve metric collection error logging
  plugins/inputs/vsphere/endpoint.go
Labels: area/vsphere, ready for final review, plugin/input, chore

#16557 fix(serializers.prometheus): Use legacy validation for metric name
  plugins/serializers/prometheus/convert.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite_test.go
Labels: area/prometheus, fix, ready for final review, plugin/serializer

#16555 fix(outputs.opensearch): Use correct pipeline name while creating bulk-indexers
  plugins/outputs/opensearch/opensearch.go
Labels: fix, ready for final review, plugin/output

#16570 feat(outputs.nats): Use Jetstream publisher when using Jetstream
  plugins/outputs/nats/nats.go
Labels: feat, ready for final review, plugin/output

#16580 fix(inputs.net): Skip checks in containerized environments
  plugins/inputs/net/net.go
Labels: fix, plugin/input

#16332 chore(inputs.kinesis_consumer): Replace consumer library by own implementation
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/kinesis_consumer/README.md
  plugins/inputs/kinesis_consumer/consumer.go
  plugins/inputs/kinesis_consumer/kinesis_consumer.go
  plugins/inputs/kinesis_consumer/kinesis_consumer_test.go
  plugins/inputs/kinesis_consumer/noop_store.go
  plugins/inputs/kinesis_consumer/sample.conf
  plugins/inputs/kinesis_consumer/store.go
Labels: area/aws, ready for final review, plugin/input, chore

#16586 docs: Fix issues for existing metadata
  plugins/aggregators/basicstats/README.md
  plugins/aggregators/derivative/README.md
  plugins/aggregators/final/README.md
  plugins/aggregators/histogram/README.md
  plugins/aggregators/merge/README.md
  plugins/aggregators/minmax/README.md
  plugins/aggregators/quantile/README.md
  plugins/aggregators/starlark/README.md
  plugins/aggregators/valuecounter/README.md
  plugins/inputs/dpdk/README.md
  plugins/inputs/ethtool/README.md
  plugins/inputs/example/README.md
  plugins/inputs/fail2ban/README.md
  plugins/inputs/influxdb/README.md
  plugins/inputs/influxdb_listener/README.md
  plugins/inputs/influxdb_v2_listener/README.md
  plugins/outputs/amon/README.md
  plugins/outputs/event_hubs/README.md
  plugins/outputs/graylog/README.md
  plugins/outputs/socket_writer/README.md
Labels: docs, ready for final review

#16501 feat(inputs.exec): Allow to get untruncated errors in debug mode
  plugins/inputs/exec/exec.go
  plugins/inputs/exec/exec_test.go
  plugins/inputs/exec/run_notwindows.go
  plugins/inputs/exec/run_windows.go
Labels: feat, area/exec, ready for final review, plugin/input

#16542 fix(inputs.gnmi): Handle path elements without name but with keys correctly
  plugins/inputs/gnmi/path.go
  plugins/inputs/gnmi/testcases/issue_16515/expected.out
  plugins/inputs/gnmi/testcases/issue_16515/responses.json
  plugins/inputs/gnmi/testcases/issue_16515/telegraf.conf
Labels: fix, area/gnmi, ready for final review, plugin/input

#16493 feat(parser.prometheusremotewrite): Add dense metric version to better support histograms
  go.mod
  plugins/parsers/prometheusremotewrite/README.md
  plugins/parsers/prometheusremotewrite/metric_v1.go
  plugins/parsers/prometheusremotewrite/metric_v2.go
  plugins/parsers/prometheusremotewrite/parser.go
  plugins/parsers/prometheusremotewrite/parser_test.go
  plugins/parsers/prometheusremotewrite/testcases/benchmark/expected_v1.out
  plugins/parsers/prometheusremotewrite/testcases/benchmark/expected_v2.out
  plugins/parsers/prometheusremotewrite/testcases/benchmark/input.json
  plugins/parsers/prometheusremotewrite/testcases/benchmark/telegraf.conf
  plugins/parsers/prometheusremotewrite/testcases/default_tags/expected_v1.out
  plugins/parsers/prometheusremotewrite/testcases/default_tags/expected_v2.out
  plugins/parsers/prometheusremotewrite/testcases/default_tags/input.json
  plugins/parsers/prometheusremotewrite/testcases/default_tags/telegraf.conf
  plugins/parsers/prometheusremotewrite/testcases/float_histogram/expected_v1.out
  plugins/parsers/prometheusremotewrite/testcases/float_histogram/expected_v2.out
  plugins/parsers/prometheusremotewrite/testcases/float_histogram/input.json
  plugins/parsers/prometheusremotewrite/testcases/float_histogram/telegraf.conf
  plugins/parsers/prometheusremotewrite/testcases/int_histogram/expected_v1.out
  plugins/parsers/prometheusremotewrite/testcases/int_histogram/expected_v2.out
  plugins/parsers/prometheusremotewrite/testcases/int_histogram/input.json
  plugins/parsers/prometheusremotewrite/testcases/int_histogram/telegraf.conf
  plugins/parsers/prometheusremotewrite/testcases/simple/expected_v1.out
  plugins/parsers/prometheusremotewrite/testcases/simple/expected_v2.out
  plugins/parsers/prometheusremotewrite/testcases/simple/input.json
  plugins/parsers/prometheusremotewrite/testcases/simple/telegraf.conf
  testutil/metric.go
Labels: feat, area/prometheus, ready for final review, plugin/parser

#16592 chore(inputs.mongodb): Remove superfluous check
  plugins/inputs/mongodb/mongodb_server.go
Labels: area/mongodb, ready for final review, plugin/input, chore

#16105 feat(inputs.procstat): Add child level tag
  plugins/inputs/procstat/README.md
  plugins/inputs/procstat/filter.go
  plugins/inputs/procstat/procstat.go
  plugins/inputs/procstat/sample.conf
Labels: feat, area/procstat, ready for final review, plugin/input

#16337 feat(inputs.cloudwatch): Allow wildcards for namespaces
  plugins/inputs/cloudwatch/README.md
  plugins/inputs/cloudwatch/cloudwatch.go
  plugins/inputs/cloudwatch/cloudwatch_test.go
  plugins/inputs/cloudwatch/sample.conf
  plugins/inputs/cloudwatch/utils.go
Labels: feat, area/aws, ready for final review, plugin/input

#16352 feat(inputs.huebridge): Add plugin
  EXTERNAL_PLUGINS.md
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/huebridge.go
  plugins/inputs/huebridge/README.md
  plugins/inputs/huebridge/bridge.go
  plugins/inputs/huebridge/huebridge.go
  plugins/inputs/huebridge/huebridge_test.go
  plugins/inputs/huebridge/sample.conf
  plugins/inputs/huebridge/testdata/conf/huebridge.conf
  plugins/inputs/huebridge/testdata/metrics/huebridge.txt
Labels: feat, new plugin, ready for final review, plugin/input

#16595 chore: Update go to v1.24.1
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore, go

#16508 feat(inputs.x509_cert): Add support for JKS and PKCS#12 keystores
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/x509_cert/README.md
  plugins/inputs/x509_cert/java_key_store.go
  plugins/inputs/x509_cert/java_key_store_test.go
  plugins/inputs/x509_cert/sample.conf
  plugins/inputs/x509_cert/x509_cert.go
Labels: feat, ready for final review, plugin/input

#16456 chore(linters): Enable `usetesting` linter
  .golangci.yml
  agent/agent_test.go
  config/config_test.go
  plugins/common/cookie/cookie_test.go
  plugins/inputs/amqp_consumer/amqp_consumer_test.go
  plugins/inputs/apcupsd/apcupsd_test.go
  plugins/inputs/bcache/bcache_test.go
  plugins/inputs/cisco_telemetry_mdt/cisco_telemetry_mdt_test.go
  plugins/inputs/cloud_pubsub_push/cloud_pubsub_push_test.go
  plugins/inputs/conntrack/conntrack_test.go
  plugins/inputs/dcos/client_test.go
  plugins/inputs/dpdk/dpdk_test.go
  plugins/inputs/elasticsearch_query/elasticsearch_query_test.go
  plugins/inputs/execd/shim/shim_posix_test.go
  plugins/inputs/haproxy/haproxy_test.go
  plugins/inputs/http/http_test.go
  plugins/inputs/http_listener_v2/http_listener_v2_test.go
  plugins/inputs/intel_baseband/intel_baseband_test.go
  plugins/inputs/intel_dlb/intel_dlb_test.go
  plugins/inputs/kafka_consumer/kafka_consumer_test.go
  plugins/inputs/kernel_vmstat/kernel_vmstat_test.go
  plugins/inputs/leofs/leofs_test.go
  plugins/inputs/logparser/logparser_test.go
  plugins/inputs/lustre2/lustre2_test.go
  plugins/inputs/opcua_listener/opcua_listener_test.go
  plugins/inputs/opensearch_query/opensearch_query_test.go
  plugins/inputs/opentelemetry/opentelemetry_test.go
  plugins/inputs/powerdns/powerdns_linux_test.go
  plugins/inputs/procstat/native_finder_test.go
  plugins/inputs/radius/radius_test.go
  plugins/inputs/redis_sentinel/redis_sentinel_test.go
  plugins/inputs/socket_listener/socket_listener_test.go
  plugins/inputs/tail/tail_test.go
  plugins/inputs/upsd/upsd_test.go
  plugins/inputs/vsphere/vsphere_test.go
  plugins/inputs/x509_cert/x509_cert_test.go
  plugins/inputs/zfs/zfs_linux_test.go
  plugins/outputs/azure_data_explorer/azure_data_explorer_test.go
  plugins/outputs/elasticsearch/elasticsearch_test.go
  plugins/outputs/event_hubs/event_hubs_test.go
  plugins/outputs/influxdb/http_test.go
  plugins/outputs/influxdb/udp_test.go
  plugins/outputs/kafka/kafka_test.go
  plugins/outputs/nats/nats_test.go
  plugins/outputs/opensearch/opensearch_v1_test.go
  plugins/outputs/opensearch/opensearch_v2_test.go
  plugins/outputs/opentelemetry/opentelemetry_test.go
  plugins/outputs/postgresql/postgresql_test.go
  plugins/outputs/quix/quix_test.go
  plugins/outputs/redistimeseries/redistimeseries_test.go
  plugins/outputs/remotefile/remotefile_test.go
  plugins/outputs/stackdriver/stackdriver_test.go
  plugins/parsers/collectd/parser_test.go
  plugins/processors/reverse_dns/rdnscache_test.go
  plugins/secretstores/jose/jose_test.go
Labels: ready for final review, chore, linter

#16606 fix(inputs.huebridge): Cleanup and fix linter issues
  docs/LICENSE_OF_DEPENDENCIES.md
  plugins/inputs/huebridge/README.md
  plugins/inputs/huebridge/bridge.go
  plugins/inputs/huebridge/huebridge.go
  plugins/inputs/huebridge/huebridge_test.go
Labels: fix, ready for final review, plugin/input

#16608 chore(parsers.xpath): Migrate away from deprecated protoreflect functions
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/parsers/xpath/protocolbuffer_document.go
Labels: ready for final review, plugin/parser, chore

#16540 docs(aggregators): Document default settings for period, delay and grace
  docs/CONFIGURATION.md
  plugins/aggregators/merge/README.md
  plugins/aggregators/merge/sample.conf
Labels: docs, ready for final review, plugin/aggregator

#16622 chore(licenses): Fix link and whitelist package
  docs/LICENSE_OF_DEPENDENCIES.md
  tools/license_checker/data/whitelist
Labels: ready for final review, chore

#16624 chore(sql): Cleanup code
  plugins/inputs/sql/sql.go
  plugins/inputs/sql/sql_test.go
  plugins/outputs/sql/README.md
  plugins/outputs/sql/sample.conf
  plugins/outputs/sql/sql.go
  plugins/outputs/sql/sql_test.go
  plugins/outputs/sql/sqlite_test.go
  testutil/testutil.go
Labels: ready for final review, plugin/input, plugin/output, area/sql, chore

#16628 fix(outputs.influxdb_v2): Use dynamic token secret
  plugins/outputs/influxdb_v2/http.go
  plugins/outputs/influxdb_v2/influxdb_v2_test.go
Labels: area/influxdb, fix, ready for final review, plugin/output

#16390 feat(inputs.fritzbox): Add plugin
  EXTERNAL_PLUGINS.md
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/fritzbox.go
  plugins/inputs/fritzbox/README.md
  plugins/inputs/fritzbox/fritzbox.go
  plugins/inputs/fritzbox/fritzbox_test.go
  plugins/inputs/fritzbox/sample.conf
  plugins/inputs/fritzbox/testdata/conf/invalid_collect.conf
  plugins/inputs/fritzbox/testdata/conf/invalid_urls.conf
  plugins/inputs/fritzbox/testdata/conf/valid.conf
  plugins/inputs/fritzbox/testdata/testcases/device/expected.out
  plugins/inputs/fritzbox/testdata/testcases/device/mock/deviceinfo/response.xml
  plugins/inputs/fritzbox/testdata/testcases/device/mock/dummySCPD.xml
  plugins/inputs/fritzbox/testdata/testcases/device/mock/tr64desc.xml
  plugins/inputs/fritzbox/testdata/testcases/device/telegraf.conf
  plugins/inputs/fritzbox/testdata/testcases/dsl/expected.out
  plugins/inputs/fritzbox/testdata/testcases/dsl/mock/dummySCPD.xml
  plugins/inputs/fritzbox/testdata/testcases/dsl/mock/tr64desc.xml
  plugins/inputs/fritzbox/testdata/testcases/dsl/mock/wandslifconfig/response.xml
  plugins/inputs/fritzbox/testdata/testcases/dsl/telegraf.conf
  plugins/inputs/fritzbox/testdata/testcases/hosts/expected.out
  plugins/inputs/fritzbox/testdata/testcases/hosts/mock/dummySCPD.xml
  plugins/inputs/fritzbox/testdata/testcases/hosts/mock/hosts/response.xml
  plugins/inputs/fritzbox/testdata/testcases/hosts/mock/meshlist.json
  plugins/inputs/fritzbox/testdata/testcases/hosts/mock/tr64desc.xml
  plugins/inputs/fritzbox/testdata/testcases/hosts/telegraf.conf
  plugins/inputs/fritzbox/testdata/testcases/ppp/expected.out
  plugins/inputs/fritzbox/testdata/testcases/ppp/mock/dummySCPD.xml
  plugins/inputs/fritzbox/testdata/testcases/ppp/mock/tr64desc.xml
  plugins/inputs/fritzbox/testdata/testcases/ppp/mock/wanpppconn/response.xml
  plugins/inputs/fritzbox/testdata/testcases/ppp/telegraf.conf
  plugins/inputs/fritzbox/testdata/testcases/wan/expected.out
  plugins/inputs/fritzbox/testdata/testcases/wan/mock/WANCommonIFC1/response.xml
  plugins/inputs/fritzbox/testdata/testcases/wan/mock/dummySCPD.xml
  plugins/inputs/fritzbox/testdata/testcases/wan/mock/igddesc.xml
  plugins/inputs/fritzbox/testdata/testcases/wan/mock/tr64desc.xml
  plugins/inputs/fritzbox/testdata/testcases/wan/mock/wancommonifconfig/response.xml
  plugins/inputs/fritzbox/testdata/testcases/wan/telegraf.conf
  plugins/inputs/fritzbox/testdata/testcases/wlan/expected.out
  plugins/inputs/fritzbox/testdata/testcases/wlan/mock/dummySCPD.xml
  plugins/inputs/fritzbox/testdata/testcases/wlan/mock/tr64desc.xml
  plugins/inputs/fritzbox/testdata/testcases/wlan/mock/wlanconfig/response.xml
  plugins/inputs/fritzbox/testdata/testcases/wlan/telegraf.conf
Labels: feat, new plugin, plugin/input

#16639 chore(deps): Bump golang.org/x/oauth2 from 0.26.0 to 0.28.0
  go.mod
  go.sum
Labels: ready for final review, chore

#16659 chore(deps): Bump tj-actions/changed-files from v45 to v46.0.1
  .github/workflows/readme-linter.yml
Labels: dependencies, chore

#16583 feat(outputs.stackdriver): Ensure quota is charged to configured project
  plugins/outputs/stackdriver/README.md
  plugins/outputs/stackdriver/sample.conf
  plugins/outputs/stackdriver/stackdriver.go
Labels: feat, area/gcp, plugin/output

#16664 chore(inputs.fritzbox): Fix linter issues
  plugins/inputs/fritzbox/fritzbox.go
  plugins/inputs/fritzbox/fritzbox_test.go
Labels: ready for final review, plugin/input, chore

#16643 fix(inputs.tail): Use correct initial_read_offset persistent offset naming in the code
  plugins/inputs/tail/tail.go
  plugins/inputs/tail/tail_test.go
Labels: area/tail, fix, ready for final review, plugin/input

#16640 chore(deps): Bump golang.org/x/crypto from 0.35.0 to 0.36.0
  go.mod
  go.sum
Labels: ready for final review, dependencies, chore

#16638 fix(agent): Condense plugin source information table when multiple plugins in same file
  config/plugin_printer.go
Labels: fix, area/agent, ready for final review

#16625 fix(outputs.sql): Allow to disable timestamp column
  plugins/outputs/sql/README.md
  plugins/outputs/sql/sample.conf
  plugins/outputs/sql/sql.go
  plugins/outputs/sql/sql_test.go
  plugins/outputs/sql/sqlite_test.go
  plugins/outputs/sql/testdata/mariadb_no_timestamp/expected_metric_one.sql
  plugins/outputs/sql/testdata/mariadb_no_timestamp/expected_metric_three.sql
  plugins/outputs/sql/testdata/mariadb_no_timestamp/expected_metric_two.sql
  plugins/outputs/sql/testdata/mariadb_no_timestamp/initdb/script.sql
Labels: fix, ready for final review, plugin/output, area/sql

#16675 test: Update fedora image for nightly test
  tools/package_incus_test/main.go
Labels: test

#16682 fix(secrets): Make "insufficient lockable memory" warning work on BSDs
  cmd/telegraf/telegraf_posix.go
Labels: fix, ready for final review, plugin/secretstores

#16593 docs(inputs): Add plugin metadata and update description for j* to m*
  plugins/inputs/jenkins/README.md
  plugins/inputs/jolokia2_agent/README.md
  plugins/inputs/jolokia2_proxy/README.md
  plugins/inputs/jti_openconfig_telemetry/README.md
  plugins/inputs/kafka_consumer/README.md
  plugins/inputs/kapacitor/README.md
  plugins/inputs/kernel/README.md
  plugins/inputs/kernel_vmstat/README.md
  plugins/inputs/kibana/README.md
  plugins/inputs/kibana/sample.conf
  plugins/inputs/kinesis_consumer/README.md
  plugins/inputs/knx_listener/README.md
  plugins/inputs/kube_inventory/README.md
  plugins/inputs/kubernetes/README.md
  plugins/inputs/lanz/README.md
  plugins/inputs/ldap/README.md
  plugins/inputs/leofs/README.md
  plugins/inputs/libvirt/README.md
  plugins/inputs/linux_cpu/README.md
  plugins/inputs/linux_sysctl_fs/README.md
  plugins/inputs/logparser/README.md
  plugins/inputs/logstash/README.md
  plugins/inputs/logstash/sample.conf
  plugins/inputs/lustre2/README.md
  plugins/inputs/lvm/README.md
  plugins/inputs/mailchimp/README.md
  plugins/inputs/marklogic/README.md
  plugins/inputs/mcrouter/README.md
  plugins/inputs/mdstat/README.md
  plugins/inputs/mem/README.md
  plugins/inputs/memcached/README.md
  plugins/inputs/mesos/README.md
  plugins/inputs/minecraft/README.md
  plugins/inputs/mock/README.md
  plugins/inputs/modbus/README.md
  plugins/inputs/mongodb/README.md
  plugins/inputs/monit/README.md
  plugins/inputs/mqtt_consumer/README.md
  plugins/inputs/multifile/README.md
  plugins/inputs/mysql/README.md
Labels: docs, plugin/input

#16677 chore: Fix issues in issue templates
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
  .github/ISSUE_TEMPLATE/SUPPORT.yml
Labels: ready for final review, chore

#16030 feat(processors.enum): Allow mapping to be applied to multiple fields
  plugins/processors/enum/README.md
  plugins/processors/enum/enum.go
  plugins/processors/enum/enum_test.go
  plugins/processors/enum/sample.conf
Labels: feat, ready for final review, plugin/processor

#16375 fix(aggregators): Handle time drift when calculating aggregation windows
  models/running_aggregator.go
Labels: fix, ready for final review, plugin/aggregator

#16597 feat(outputs.http): Include body sample in non-retryable error logs
  plugins/outputs/http/http.go
Labels: feat, ready for final review, plugin/output

#16509 feat(inputs.whois): Add plugin
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  plugins/inputs/all/whois.go
  plugins/inputs/whois/README.md
  plugins/inputs/whois/sample.conf
  plugins/inputs/whois/testcases/domain_typo/expected.err
  plugins/inputs/whois/testcases/domain_typo/telegraf.conf
  plugins/inputs/whois/testcases/invalid_domain/expected.out
  plugins/inputs/whois/testcases/invalid_domain/input_invalid-domain.xyz.txt
  plugins/inputs/whois/testcases/invalid_domain/telegraf.conf
  plugins/inputs/whois/testcases/multiple_domains/expected.out
  plugins/inputs/whois/testcases/multiple_domains/input_example.com.txt
  plugins/inputs/whois/testcases/multiple_domains/input_test.com.txt
  plugins/inputs/whois/testcases/multiple_domains/telegraf.conf
  plugins/inputs/whois/testcases/valid_domain/expected.out
  plugins/inputs/whois/testcases/valid_domain/input_example.com.txt
  plugins/inputs/whois/testcases/valid_domain/telegraf.conf
  plugins/inputs/whois/whois.go
  plugins/inputs/whois/whois_test.go
Labels: feat, new plugin, ready for final review, plugin/input

#16587 chore(tools): Add metadata check to README linter
  tools/readme_linter/assert.go
  tools/readme_linter/main.go
  tools/readme_linter/rules.go
Labels: ready for final review, chore, linter

#16648 chore(inputs.snmp_trap): Cleanup testing
  plugins/inputs/snmp_trap/snmp_trap_test.go
Labels: ready for final review, plugin/input, chore

#16683 chore(deps): Bump golangci-lint from v1.64.5 to v2.0.2
  .circleci/config.yml
  .golangci.yml
  Makefile
  config/config_test.go
  internal/internal_test.go
  internal/templating/engine_test.go
  migrations/global_agent/migration_test.go
  plugins/aggregators/histogram/histogram_test.go
  plugins/common/jolokia2/gatherer_test.go
  plugins/common/shim/goshim.go
  plugins/inputs/amd_rocm_smi/amd_rocm_smi_test.go
  plugins/inputs/clickhouse/clickhouse_test.go
  plugins/inputs/cpu/cpu_test.go
  plugins/inputs/dpdk/dpdk_connector_test.go
  plugins/inputs/dpdk/dpdk_test.go
  plugins/inputs/dpdk/dpdk_utils_test.go
  plugins/inputs/execd/execd_test.go
  plugins/inputs/intel_baseband/utils_test.go
  plugins/inputs/intel_dlb/intel_dlb_test.go
  plugins/inputs/intel_powerstat/intel_powerstat_test.go
  plugins/inputs/intel_rdt/intel_rdt_test.go
  plugins/inputs/intel_rdt/publisher_test.go
  plugins/inputs/internal/internal_test.go
  plugins/inputs/lanz/lanz.go
  plugins/inputs/mesos/mesos_test.go
  plugins/inputs/mock/mock_test.go
  plugins/inputs/modbus/modbus_test.go
  plugins/inputs/nsq_consumer/nsq_consumer_test.go
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
  plugins/inputs/prometheus/kubernetes_test.go
  plugins/inputs/stackdriver/stackdriver_test.go
  plugins/inputs/statsd/statsd_test.go
  plugins/inputs/varnish/varnish_test.go
  plugins/inputs/win_perf_counters/win_perf_counters_integration_test.go
  plugins/outputs/amqp/amqp_test.go
  plugins/outputs/cloudwatch/cloudwatch_test.go
  plugins/outputs/elasticsearch/elasticsearch_test.go
  plugins/outputs/influxdb/http_test.go
  plugins/outputs/kinesis/kinesis_test.go
  plugins/outputs/stackdriver/stackdriver_test.go
  plugins/outputs/timestream/timestream_test.go
  plugins/outputs/wavefront/wavefront_test.go
  plugins/outputs/zabbix/autoregister_test.go
  plugins/parsers/collectd/parser_test.go
  plugins/parsers/influx/influx_upstream/parser_test.go
  plugins/parsers/influx/parser_test.go
  plugins/parsers/json_v2/parser_test.go
  plugins/parsers/nagios/parser_test.go
  plugins/serializers/graphite/graphite_test.go
  testutil/accumulator.go
Labels: ready for final review, chore, linter
