Repository influxdata/telegraf, pull requests merged in 2025-01, with the labels that each got.

#16384 chore(inputs.syslog): Fix testcase timestamp hardcoding 2024
  plugins/inputs/syslog/testcases/rfc3164_best_effort_udp/expected.out
  plugins/inputs/syslog/testcases/rfc3164_strict_udp/expected.out
Labels: area/syslog, plugin/input, chore

#16383 fix(outputs.influxdb_v2): Allow overriding auth and agent headers
  plugins/outputs/influxdb_v2/http.go
  plugins/outputs/influxdb_v2/http_test.go
Labels: area/influxdb, fix, plugin/output

#16377 fix(inputs.intel_powerstat): Fix option removal version
  plugins/inputs/intel_powerstat/intel_powerstat.go
Labels: fix, plugin/input

#16388 fix(outputs.influxdb_v2): Fix panic and API error handling
  plugins/outputs/influxdb_v2/http.go
  plugins/outputs/influxdb_v2/influxdb_v2.go
  plugins/outputs/influxdb_v2/influxdb_v2_test.go
Labels: area/influxdb, fix, ready for final review, plugin/output

#16339 chore: Fix linter findings for `revive:unused-receiver` in `plugins/`: `aggregators`, `common`, `parsers`, `processors`, `secretstores` and `serializers`
  plugins/aggregators/final/final.go
  plugins/aggregators/histogram/histogram.go
  plugins/common/jolokia2/gatherer.go
  plugins/common/kafka/logger.go
  plugins/common/logrus/hook.go
  plugins/common/mqtt/mqtt_v5.go
  plugins/common/shim/config_test.go
  plugins/common/shim/goshim.go
  plugins/common/shim/goshim_test.go
  plugins/common/shim/input_test.go
  plugins/common/shim/output_test.go
  plugins/common/shim/processor_test.go
  plugins/common/starlark/field_dict.go
  plugins/common/starlark/metric.go
  plugins/common/starlark/tag_dict.go
  plugins/parsers/dropwizard/parser.go
  plugins/parsers/form_urlencoded/parser.go
  plugins/parsers/graphite/config.go
  plugins/parsers/influx/machine_test.go
  plugins/parsers/json_v2/parser.go
  plugins/parsers/wavefront/element.go
  plugins/parsers/xpath/cbor_document.go
  plugins/parsers/xpath/json_document.go
  plugins/parsers/xpath/msgpack_document.go
  plugins/parsers/xpath/protocolbuffer_document.go
  plugins/parsers/xpath/xml_document.go
  plugins/processors/filepath/filepath.go
  plugins/processors/ifname/ifname.go
  plugins/processors/ifname/ifname_test.go
  plugins/processors/parser/parser.go
  plugins/processors/port_name/port_name.go
  plugins/processors/reverse_dns/rdnscache_test.go
  plugins/processors/snmp_lookup/lookup_test.go
  plugins/processors/starlark/starlark.go
  plugins/processors/streamingprocessor.go
  plugins/secretstores/docker/docker.go
  plugins/secretstores/http/http.go
  plugins/secretstores/oauth2/oauth2.go
  plugins/secretstores/systemd/systemd.go
  plugins/serializers/binary/entry.go
  plugins/serializers/binary/type_conversions.go
  plugins/serializers/msgpack/msgpack.go
  plugins/serializers/nowmetric/nowmetric.go
Labels: ready for final review, chore, linter

#16360 chore(deps): Bump golangci-lint from v1.62.2 to v1.63.4
  .circleci/config.yml
  .golangci.yml
  Makefile
  plugins/inputs/prometheus/prometheus.go
Labels: ready for final review, chore, linter

#16338 chore: Fix linter findings for `revive:unused-receiver` in `plugins/outputs`
  plugins/outputs/amon/amon.go
  plugins/outputs/amqp/amqp.go
  plugins/outputs/application_insights/diagnostic_message_subscriber.go
  plugins/outputs/azure_data_explorer/azure_data_explorer_test.go
  plugins/outputs/bigquery/bigquery.go
  plugins/outputs/clarify/clarify.go
  plugins/outputs/cloud_pubsub/topic_stubbed.go
  plugins/outputs/cloudwatch_logs/cloudwatch_logs.go
  plugins/outputs/cloudwatch_logs/cloudwatch_logs_test.go
  plugins/outputs/datadog/datadog.go
  plugins/outputs/discard/discard.go
  plugins/outputs/dynatrace/dynatrace.go
  plugins/outputs/dynatrace/dynatrace_test.go
  plugins/outputs/elasticsearch/elasticsearch.go
  plugins/outputs/elasticsearch/elasticsearch_test.go
  plugins/outputs/event_hubs/event_hubs.go
  plugins/outputs/exec/exec.go
  plugins/outputs/exec/exec_test.go
  plugins/outputs/graylog/graylog.go
  plugins/outputs/influxdb/http.go
  plugins/outputs/influxdb/udp.go
  plugins/outputs/kafka/kafka_test.go
  plugins/outputs/kinesis/kinesis.go
  plugins/outputs/librato/librato.go
  plugins/outputs/logzio/logzio.go
  plugins/outputs/logzio/logzio_test.go
  plugins/outputs/nebius_cloud_monitoring/nebius_cloud_monitoring.go
  plugins/outputs/opentsdb/opentsdb.go
  plugins/outputs/parquet/parquet.go
  plugins/outputs/postgresql/postgresql.go
  plugins/outputs/postgresql/table_manager.go
  plugins/outputs/postgresql/table_source.go
  plugins/outputs/prometheus_client/prometheus_client.go
  plugins/outputs/prometheus_client/v1/collector.go
  plugins/outputs/prometheus_client/v2/collector.go
  plugins/outputs/redistimeseries/redistimeseries.go
  plugins/outputs/signalfx/signalfx_test.go
  plugins/outputs/stackdriver/stackdriver.go
  plugins/outputs/stackdriver/stackdriver_test.go
  plugins/outputs/stomp/stomp.go
  plugins/outputs/sumologic/sumologic.go
  plugins/outputs/timestream/timestream.go
  plugins/outputs/timestream/timestream_test.go
  plugins/outputs/warp10/warp10.go
  plugins/outputs/warp10/warp10_test.go
  plugins/outputs/websocket/websocket_test.go
  plugins/outputs/zabbix/zabbix.go
Labels: ready for final review, chore, linter

#16340 chore: Fix linter findings for `revive:unused-receiver` in `agent`, `cmd`, `config`, `internal`, `metric`, `migrations`, `models`, `testutils` and `tools`
  agent/accumulator_test.go
  agent/agent.go
  cmd/telegraf/main_test.go
  cmd/telegraf/telegraf.go
  config/config.go
  config/config_test.go
  config/deprecation.go
  config/secret_protected.go
  config/secret_test.go
  config/secret_unprotected.go
  internal/snmp/translator_gosmi.go
  internal/snmp/translator_netsnmp.go
  internal/snmp/wrapper_test.go
  metric/metric.go
  migrations/general_metricfilter/migration_test.go
  models/buffer.go
  models/buffer_mem.go
  models/running_aggregator_test.go
  models/running_input.go
  models/running_input_test.go
  models/running_output.go
  models/running_processor.go
  models/running_processor_test.go
  testutil/accumulator.go
  testutil/capturelog.go
  testutil/tls.go
  tools/package_incus_test/incus.go
Labels: ready for final review, chore, linter

#16363 chore: Fix linter findings for `revive:exported` in `plugins/inputs/s*`
  plugins/inputs/s7comm/s7comm.go
  plugins/inputs/s7comm/s7comm_test.go
  plugins/inputs/salesforce/salesforce.go
  plugins/inputs/salesforce/salesforce_test.go
  plugins/inputs/sensors/sensors.go
  plugins/inputs/sensors/sensors_notlinux.go
  plugins/inputs/sensors/sensors_test.go
  plugins/inputs/sflow/binaryio/minreader.go
  plugins/inputs/sflow/decoder_test.go
  plugins/inputs/sflow/metricencoder.go
  plugins/inputs/sflow/packetdecoder.go
  plugins/inputs/sflow/packetdecoder_test.go
  plugins/inputs/sflow/sflow.go
  plugins/inputs/sflow/sflow_test.go
  plugins/inputs/sflow/types.go
  plugins/inputs/sflow/types_test.go
  plugins/inputs/slab/slab.go
  plugins/inputs/slab/slab_notlinux.go
  plugins/inputs/slab/slab_test.go
  plugins/inputs/slurm/slurm.go
  plugins/inputs/smart/smart.go
  plugins/inputs/smartctl/smartctl_test.go
  plugins/inputs/snmp/snmp.go
  plugins/inputs/snmp/snmp_test.go
  plugins/inputs/snmp_trap/netsnmp.go
  plugins/inputs/snmp_trap/snmp_trap.go
  plugins/inputs/socket_listener/socket_listener.go
  plugins/inputs/socketstat/socketstat.go
  plugins/inputs/socketstat/socketstat_windows.go
  plugins/inputs/solr/solr.go
  plugins/inputs/sql/sql.go
  plugins/inputs/sql/sql_test.go
  plugins/inputs/sqlserver/sqlserver.go
  plugins/inputs/sqlserver/sqlserver_test.go
  plugins/inputs/stackdriver/stackdriver.go
  plugins/inputs/stackdriver/stackdriver_test.go
  plugins/inputs/statsd/datadog_test.go
  plugins/inputs/statsd/running_stats.go
  plugins/inputs/statsd/running_stats_test.go
  plugins/inputs/statsd/statsd.go
  plugins/inputs/statsd/statsd_test.go
  plugins/inputs/supervisor/supervisor.go
  plugins/inputs/suricata/suricata.go
  plugins/inputs/swap/swap.go
  plugins/inputs/swap/swap_test.go
  plugins/inputs/synproxy/synproxy.go
  plugins/inputs/synproxy/synproxy_linux.go
  plugins/inputs/synproxy/synproxy_notlinux.go
  plugins/inputs/syslog/syslog.go
  plugins/inputs/sysstat/sysstat.go
  plugins/inputs/sysstat/sysstat_notlinux.go
  plugins/inputs/systemd_units/systemd_units.go
  plugins/inputs/systemd_units/systemd_units_linux.go
  plugins/inputs/systemd_units/systemd_units_notlinux.go
Labels: ready for final review, chore, linter

#16330 docs(inputs.sql): Add protocol to DSN
  plugins/inputs/sql/README.md
  plugins/inputs/sql/sample.conf
Labels: docs, ready for final review, plugin/input, area/sql

#16066 feat(inputs.proxmox): Allow to add VM-id and status as tag
  plugins/inputs/proxmox/README.md
  plugins/inputs/proxmox/proxmox.go
  plugins/inputs/proxmox/proxmox_test.go
  plugins/inputs/proxmox/sample.conf
  plugins/inputs/proxmox/structs.go
Labels: feat, ready for final review, plugin/input

#16341 chore: Fix linter findings for `revive:exported` in `plugins/inputs/r*`
  plugins/inputs/radius/radius.go
  plugins/inputs/raindrops/raindrops.go
  plugins/inputs/ras/ras.go
  plugins/inputs/ras/ras_notlinux.go
  plugins/inputs/ras/ras_test.go
  plugins/inputs/ravendb/ravendb.go
  plugins/inputs/redfish/redfish.go
  plugins/inputs/redis/redis.go
  plugins/inputs/redis/redis_test.go
  plugins/inputs/redis_sentinel/redis_sentinel.go
  plugins/inputs/rethinkdb/rethinkdb.go
  plugins/inputs/rethinkdb/rethinkdb_data.go
  plugins/inputs/rethinkdb/rethinkdb_data_test.go
  plugins/inputs/rethinkdb/rethinkdb_server.go
  plugins/inputs/rethinkdb/rethinkdb_server_test.go
  plugins/inputs/rethinkdb/rethinkdb_test.go
  plugins/inputs/riak/riak.go
  plugins/inputs/riak/riak_test.go
  plugins/inputs/riemann_listener/riemann_listener.go
Labels: ready for final review, chore, linter

#16403 fix(inputs.netflow): Ensure type consistency for sFlow's IP version field
  CHANGELOG.md
  plugins/inputs/netflow/sflow_v5.go
  plugins/inputs/netflow/testcases/sflow_issue_15918/expected.out
  plugins/inputs/netflow/type_conversion.go
Labels: fix, ready for final review, plugin/input

#16408 chore: Fix linter findings for `revive:exported` in `plugins/inputs/[t-v]*`
  plugins/inputs/tacacs/tacacs.go
  plugins/inputs/tail/multiline.go
  plugins/inputs/tail/multiline_test.go
  plugins/inputs/tail/tail.go
  plugins/inputs/tail/tail_solaris.go
  plugins/inputs/tail/tail_test.go
  plugins/inputs/teamspeak/teamspeak.go
  plugins/inputs/temp/temp_linux.go
  plugins/inputs/tengine/tengine.go
  plugins/inputs/tomcat/tomcat.go
  plugins/inputs/trig/trig.go
  plugins/inputs/twemproxy/twemproxy.go
  plugins/inputs/unbound/unbound.go
  plugins/inputs/unbound/unbound_test.go
  plugins/inputs/upsd/upsd.go
  plugins/inputs/upsd/upsd_test.go
  plugins/inputs/uwsgi/uwsgi.go
  plugins/inputs/vault/vault.go
  plugins/inputs/vault/vault_metrics.go
  plugins/inputs/vsphere/client.go
  plugins/inputs/vsphere/endpoint.go
  plugins/inputs/vsphere/finder.go
  plugins/inputs/vsphere/selfhealth.go
  plugins/inputs/vsphere/throttled_exec.go
  plugins/inputs/vsphere/tscache.go
  plugins/inputs/vsphere/vsan.go
  plugins/inputs/vsphere/vsphere.go
  plugins/inputs/vsphere/vsphere_test.go
Labels: ready for final review, chore, linter

#16333 feat(agent): Add support for input probing
  agent/agent.go
  models/running_input.go
  models/running_input_test.go
  plugin.go
Labels: feat, area/aws, ready for final review, plugin/input

#15988 feat(inputs.firehose): Add new plugin
  plugins/inputs/all/firehose.go
  plugins/inputs/firehose/README.md
  plugins/inputs/firehose/firehose.go
  plugins/inputs/firehose/firehose_request_test.go
  plugins/inputs/firehose/firehose_test.go
  plugins/inputs/firehose/message.go
  plugins/inputs/firehose/sample.conf
  plugins/inputs/firehose/testcases/common-attributes/body.json
  plugins/inputs/firehose/testcases/common-attributes/expected.out
  plugins/inputs/firehose/testcases/common-attributes/headers.json
  plugins/inputs/firehose/testcases/common-attributes/telegraf.conf
Labels: feat, ready for final review, plugin/input

#16270 feat(agent): Print plugins source information
  cmd/telegraf/main.go
  cmd/telegraf/telegraf.go
  config/config.go
  config/config_test.go
  config/plugin_printer.go
  config/secret_test.go
  config/types_test.go
  docs/LICENSE_OF_DEPENDENCIES.md
  go.mod
  go.sum
  migrations/general_metricfilter/migration_test.go
  migrations/global_agent/migration_test.go
  migrations/inputs_cassandra/migration_test.go
  migrations/inputs_disk/migration_test.go
  migrations/inputs_gnmi/migration_test.go
  migrations/inputs_httpjson/migration_test.go
  migrations/inputs_io/migration_test.go
  migrations/inputs_jolokia/migration_test.go
  migrations/inputs_mqtt_consumer/migration_test.go
  migrations/inputs_nats_consumer/migration_test.go
  migrations/inputs_procstat/migration_test.go
  migrations/inputs_sflow/migration_test.go
  migrations/inputs_tcp_listener/migration_test.go
  migrations/inputs_udp_listener/migration_test.go
  migrations/outputs_influxdb/migration_test.go
  migrations/outputs_riemann_legacy/migration_test.go
  models/running_aggregator.go
  models/running_input.go
  models/running_output.go
  models/running_processor.go
  plugins/inputs/exec/exec_test.go
  plugins/inputs/execd/execd_test.go
  plugins/inputs/opcua/opcua_test.go
  plugins/inputs/opcua_listener/opcua_listener_test.go
  plugins/outputs/sumologic/sumologic_test.go
  plugins/processors/snmp_lookup/lookup_test.go
  plugins/processors/starlark/starlark_test.go
Labels: feat, area/agent, ready for final review

#16419 chore(inputs.statsd): Refactor internal stats into their own struct
  plugins/inputs/statsd/statsd.go
  plugins/inputs/statsd/statsd_test.go
Labels: area/statsd, ready for final review, plugin/input, chore

#16411 chore: Fix linter findings for `revive:exported` in `plugins/inputs/webhooks/*`
  plugins/inputs/webhooks/artifactory/artifactory_webhook.go
  plugins/inputs/webhooks/artifactory/artifactory_webhook_mock_json_test.go
  plugins/inputs/webhooks/artifactory/artifactory_webhook_models.go
  plugins/inputs/webhooks/artifactory/artifactory_webhook_test.go
  plugins/inputs/webhooks/filestack/filestack_webhooks.go
  plugins/inputs/webhooks/filestack/filestack_webhooks_events.go
  plugins/inputs/webhooks/filestack/filestack_webhooks_test.go
  plugins/inputs/webhooks/github/github_webhooks.go
  plugins/inputs/webhooks/github/github_webhooks_mock_json_test.go
  plugins/inputs/webhooks/github/github_webhooks_models.go
  plugins/inputs/webhooks/github/github_webhooks_test.go
  plugins/inputs/webhooks/mandrill/mandrill_webhooks.go
  plugins/inputs/webhooks/mandrill/mandrill_webhooks_events.go
  plugins/inputs/webhooks/mandrill/mandrill_webhooks_test.go
  plugins/inputs/webhooks/papertrail/papertrail_test.go
  plugins/inputs/webhooks/papertrail/papertrail_webhooks.go
  plugins/inputs/webhooks/papertrail/papertrail_webhooks_models.go
  plugins/inputs/webhooks/particle/particle_webhooks.go
  plugins/inputs/webhooks/particle/particle_webhooks_test.go
  plugins/inputs/webhooks/rollbar/rollbar_webhooks.go
  plugins/inputs/webhooks/rollbar/rollbar_webhooks_events.go
  plugins/inputs/webhooks/rollbar/rollbar_webhooks_events_json_test.go
  plugins/inputs/webhooks/rollbar/rollbar_webhooks_test.go
  plugins/inputs/webhooks/webhooks.go
  plugins/inputs/webhooks/webhooks_test.go
Labels: ready for final review, chore, linter

#16424 test(models): Consolidate mock input implementations
  models/running_input_test.go
Labels: ready for final review, test

#16427 chore: Fix linter findings for `revive:exported` in `plugins/inputs/win*`
  plugins/inputs/win_eventlog/event.go
  plugins/inputs/win_eventlog/syscall_windows.go
  plugins/inputs/win_eventlog/util.go
  plugins/inputs/win_eventlog/util_test.go
  plugins/inputs/win_eventlog/win_eventlog.go
  plugins/inputs/win_eventlog/win_eventlog_notwindows.go
  plugins/inputs/win_eventlog/win_eventlog_test.go
  plugins/inputs/win_eventlog/zsyscall_windows.go
  plugins/inputs/win_perf_counters/pdh.go
  plugins/inputs/win_perf_counters/pdh_386.go
  plugins/inputs/win_perf_counters/pdh_amd64.go
  plugins/inputs/win_perf_counters/pdh_arm64.go
  plugins/inputs/win_perf_counters/performance_query.go
  plugins/inputs/win_perf_counters/win_perf_counters.go
  plugins/inputs/win_perf_counters/win_perf_counters_integration_test.go
  plugins/inputs/win_perf_counters/win_perf_counters_notwindows.go
  plugins/inputs/win_perf_counters/win_perf_counters_test.go
  plugins/inputs/win_services/win_services.go
  plugins/inputs/win_services/win_services_integration_test.go
  plugins/inputs/win_services/win_services_notwindows.go
  plugins/inputs/win_services/win_services_test.go
  plugins/inputs/win_wmi/method.go
  plugins/inputs/win_wmi/query.go
  plugins/inputs/win_wmi/win_wmi.go
  plugins/inputs/win_wmi/win_wmi_notwindows.go
  plugins/inputs/win_wmi/win_wmi_test.go
Labels: ready for final review, chore, linter

#16342 feat(input.tail): Add `initial_read_offset` config for controlling read behavior
  plugins/inputs/tail/README.md
  plugins/inputs/tail/sample.conf
  plugins/inputs/tail/tail.go
  plugins/inputs/tail/tail_test.go
Labels: feat, area/tail, ready for final review, plugin/input

#16436 chore: Update go to v1.23.5
  .circleci/config.yml
  .github/workflows/readme-linter.yml
  Makefile
  scripts/ci.docker
  scripts/installgo_linux.sh
  scripts/installgo_mac.sh
  scripts/installgo_windows.sh
Labels: ready for final review, chore, go

#16305 feat(inputs.nvidia_smi): Implement probing
  plugins/inputs/nvidia_smi/nvidia_smi.go
  plugins/inputs/nvidia_smi/nvidia_smi_test.go
Labels: feat, ready for final review, plugin/input

#16434 docs(processors.filter): Correct tag specification in rule example
  plugins/processors/filter/README.md
Labels: docs, ready for final review, plugin/processor

#16444 docs(inputs.dovecot): Document plugin not working for version 2.4+
  plugins/inputs/dovecot/README.md
  plugins/inputs/dovecot/dovecot_test.go
  testutil/container.go
Labels: docs, ready for final review, plugin/input

#16453 chore(deps): Bump github.com/prometheus/common from 0.61.0 to 0.62.0
  go.mod
  go.sum
  plugins/serializers/prometheus/convert.go
  plugins/serializers/prometheusremotewrite/prometheusremotewrite_test.go
Labels: ready for final review, dependencies, chore
