Repository influxdata/telegraf, pull requests merged in 2025-10, with the labels that each got.

#17737 docs(plugins): Fix remaining line-length in plugin READMEs
  plugins/common/shim/README.md
  plugins/inputs/opentelemetry/README.md
  plugins/inputs/rabbitmq/README.md
Labels: docs, ready for final review

#17738 fix(secretstores.systemd): Handle dash version separator correctly
  plugins/secretstores/systemd/systemd.go
Labels: fix, ready for final review, plugin/secretstores

#17761 feat(inputs.gnmi): Remove deprecated options
  plugins/inputs/gnmi/gnmi.go
  plugins/inputs/gnmi/gnmi_test.go
  plugins/inputs/gnmi/testcases/issue_11778_tag_only/expected.out
  plugins/inputs/gnmi/testcases/issue_11778_tag_only/responses.json
  plugins/inputs/gnmi/testcases/issue_11778_tag_only/telegraf.conf
  plugins/inputs/gnmi/testcases/tagging_name_based_old/expected.out
  plugins/inputs/gnmi/testcases/tagging_name_based_old/responses.json
  plugins/inputs/gnmi/testcases/tagging_name_based_old/telegraf.conf
Labels: feat, area/gnmi, ready for final review, plugin/input

#17753 feat(config): Remove deprecated options
  config/config.go
Labels: feat, ready for final review

#17751 feat(inputs.zookeeper): Remove deprecated option
  plugins/inputs/zookeeper/README.md
  plugins/inputs/zookeeper/sample.conf
  plugins/inputs/zookeeper/sample.conf.in
  plugins/inputs/zookeeper/zookeeper.go
  plugins/inputs/zookeeper/zookeeper_test.go
Labels: feat, ready for final review, plugin/input

#17743 feat(inputs.modbus): Remove deprecated plugin option value
  plugins/inputs/modbus/README.md
  plugins/inputs/modbus/configuration_register.go
  plugins/inputs/modbus/configuration_register_test.go
  plugins/inputs/modbus/configuration_request.go
  plugins/inputs/modbus/configuration_request_test.go
  plugins/inputs/modbus/request.go
Labels: feat, area/modbus, ready for final review, plugin/input

#17752 feat(inputs.opcua): Remove deprecated options
  plugins/common/opcua/input/input_client.go
  plugins/common/opcua/input/input_client_test.go
  plugins/inputs/opcua/opcua_test.go
  plugins/inputs/opcua_listener/opcua_listener_test.go
Labels: feat, area/opcua, ready for final review, plugin/input

#17763 feat(inputs.win_perf_counters): Remove deprecated options
  plugins/inputs/win_perf_counters/README.md
  plugins/inputs/win_perf_counters/win_perf_counters.go
Labels: feat, ready for final review, plugin/input

#17573 fix(parsers.csv): Support concurrent usage
  plugins/inputs/file/file_test.go
  plugins/parsers/csv/parser.go
  plugins/parsers/csv/parser_test.go
Labels: fix, ready for final review, plugin/parser, area/csv
